<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Redirect</title>
    <f:metadata>
        <f:viewAction action="/secured/home.xhtml?faces-redirect=true" />
    </f:metadata>
    <h:outputStylesheet library="css" name="customStyle.css" />
</h:head>

<h:body>

</h:body>
</html>
