<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Unsecured</title>
    <h:outputStylesheet library="css" name="customStyle.css" />
</h:head>

<h:body>

    <p:panel header="Unsecured">
        <p>This page is not secured and can be used to display
            information to users that do not have login credentials.</p>
    </p:panel>

    <ui:include src="/WEB-INF/template/links.xhtml" />

</h:body>
</html>
