/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_1.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.preload1 {background: url(blank_over.gif);}
.preload2 {background: url(blank_overa.gif);}

#nav {padding:0 0 0 70px; margin:43px 0 0 0; list-style:none; background:#ccccff; position:relative; z-index:5000000000000; }
#nav li.top {display:block; float:left;}
#nav li a.top_link {display:block; float:left; line-height:27px; color:white; text-decoration:none; font-size:11px; font-weight:bold; padding:0 ; width:110px; text-align: center; cursor:pointer;background: url(blank.gif);
border: solid black 0.5px;
border-bottom-width: 0px;}
#nav li a.top_link span {float:left; display:block; width:110px; background:url(blank.gif) right top;}
#nav li a.top_link span.down {float:left; display:block;  background:url(blanka.gif) no-repeat right top; width:110px}
#nav li a.top_link:hover {color:#fff; background: url(blank_over.gif) no-repeat;}
#nav li a.top_link:hover span {background:url(blank_over.gif) no-repeat right top;}
#nav li a.top_link:hover span.down {background:url(blank_overa.gif) no-repeat right top;}

#nav li:hover > a.top_link {color:#fff; background: url(blank_over.gif) no-repeat;}
#nav li:hover > a.top_link span {background:url(blank_over.gif) no-repeat right top;}
#nav li:hover > a.top_link span.down {background:url(blank_overa.gif) no-repeat right top; width:110px}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
#nav ul, 
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover ul.sub
{left:0; top:25px; background: #ccccff; padding:3px; border:none; width:110px; height:auto; z-index:30000000000000000;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:90px; font-weight:normal;}
#nav li:hover ul.sub li a
{display:block; font-size:11px; height:20px; width:110px; line-height:20px; text-indent:5px; color:#000; text-decoration:none;}
#nav li ul.sub li a.fly
{background:#ccccff url(arrow.gif)100px 7px  no-repeat;}
#nav li:hover ul.sub li a:hover 
{background:#104170 100px 7px ; color:#fff; }
#nav li:hover ul.sub li a.fly:hover
{background:#104170 url(arrow_over.gif) 100px 7px no-repeat; color:#fff;}

#nav li:hover ul li:hover > a.fly {background:#104170 url(arrow_over.gif) 110px 7px no-repeat; color:#fff;}

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul
{left:110px; top:2px; background: #ccccff; padding:3px; border:none; white-space:nowrap; width:120px; z-index:40000000000; height:auto;}
