.menu {font-family: arial, sans-serif; position:relative; font-size:11px; z-index:1000000; display: table-cell; vertical-align: bottom; height: 72px}
.menu ul li a, .menu ul li a:visited {padding:5px 0 0 0;display:block; text-decoration:none; color:#000;width:106px; height:23px; text-align:center; color:#fff;  background:url(images/header.png); line-height:20px; font-size:11px; overflow:hidden;}
.menu ul {padding:0; margin:0; list-style: none;}
.menu ul li {float:left; position:relative; margin: 0 0 2px 0}
.menu ul li ul {display: none; margin: 7px 0 0 0}

/* specific to non IE browsers */

.menu ul li:hover ul {display:block; position:absolute; top:21px; left:0; width:105px;}

.menu ul li:hover ul li ul {display: none;}
.menu ul li:hover ul li a {display:block; background:#cde8fb; color:#000;}
.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
.menu ul li:hover ul li:hover ul.left {left:-105px;}