<?xml version="1.0" encoding="UTF-8"?>
<jasperReport xmlns="http://jasperreports.sourceforge.net/jasperreports" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://jasperreports.sourceforge.net/jasperreports http://jasperreports.sourceforge.net/xsd/jasperreport.xsd" name="e.visionTemp" pageWidth="842" pageHeight="595" orientation="Landscape" columnWidth="802" leftMargin="10" rightMargin="10" topMargin="10" bottomMargin="10">
	<property name="ireport.zoom" value="0.75"/>
	<property name="ireport.x" value="0"/>
	<property name="ireport.y" value="0"/>
	<style name="Column header"/>
	<style name="Title"/>
	<parameter name="user" class="java.lang.String">
		<defaultValueExpression><![CDATA[]]></defaultValueExpression>
	</parameter>
	<parameter name="title" class="java.lang.String">
		<defaultValueExpression><![CDATA["Matched Transaction"]]></defaultValueExpression>
	</parameter>
	<parameter name="params" class="java.lang.String"/>
	<parameter name="customer" class="java.lang.String"/>
	<queryString>
		<![CDATA[]]>
	</queryString>
	#foreach ($field in $fieldList)
		<field name="$field.name" class="$field.clazzName"></field>
	#end
	<group name="Atm" isStartNewPage="true">
	<groupExpression><![CDATA[$ATM]]></groupExpression>
	
	<groupHeader>
			<band>
				
		
	     </band>
		</groupHeader>
	</group>
	<pageHeader>
		<band height="95" >
			<textField>
				<reportElement x="726" y="42" width="100" height="20"/>
				<textElement>
					<font fontName="Arial" isBold="false"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[$user]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement x="672" y="2" width="31" height="20"/>
				<textElement>
					<font fontName="Arial Black" isBold="true"/>
				</textElement>
				<text><![CDATA[Date]]></text>
			</staticText>
			<textField pattern="dd/MM/yyyy HH:mm">
				<reportElement style="Column header" x="670" y="22" width="156" height="20"/>
				<textElement>
					<font size="10" isBold="false"/>
				</textElement>
				<textFieldExpression class="java.util.Date"><![CDATA[new java.util.Date()]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement x="723" y="2" width="31" height="20"/>
				<textElement>
					<font fontName="Arial Black" isBold="true"/>
				</textElement>
				<text><![CDATA[Hour]]></text>
			</staticText>
			<staticText>
				<reportElement x="670" y="42" width="86" height="20"/>
				<textElement>
					<font fontName="Arial" isBold="true"/>
				</textElement>
				<text><![CDATA[printed By:]]></text>
			</staticText>
			
			<line>
				<reportElement x="190" y="-1" width="1" height="77"/>
				<graphicElement>
					<pen lineWidth="4.0" lineColor="#666666"/>
				</graphicElement>
			</line>
			<textField>
				<reportElement x="210" y="1" width="342" height="41" forecolor="#666666"/>
				<textElement>
					<font size="18"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[$title]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement x="210" y="30" width="378" height="53"/>
				<textElement textAlignment="Left">
					<font size="12" isBold="false"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[$params]]></textFieldExpression>
			</textField>
			<image>
				<reportElement x="37" y="1" width="108" height="50"/>
				<imageExpression class="java.lang.String"><![CDATA["c:\\BingoReports\\ATM_logo_report.png"]]></imageExpression>
			</image>
			<staticText>
				<reportElement x="671" y="58" width="53" height="17"/>
				<textElement>
					<font fontName="Arial" isBold="true"/>
				</textElement>
				<text><![CDATA[license to:]]></text>
			</staticText>
			<textField>
				<reportElement x="724" y="58" width="103" height="37"/>
				<textElement>
					<font fontName="Arial"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[$customer]]></textFieldExpression>
			</textField>
		</band>
	</pageHeader>
	<columnHeader>
		<band height="65">
		
		<textField isBlankWhenNull="true">
				<reportElement x="224" y="3" width="52" height="18"/>
				<textElement verticalAlignment="Middle">
					<font size="8"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[$NAME]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement mode="Transparent" x="180" y="3" width="32" height="19" isPrintInFirstWholeBand="true" forecolor="#339900" backcolor="#FFFFFF"/>
				<textElement textAlignment="Center" verticalAlignment="Middle">
					<font size="8" isBold="true"/>
				</textElement>
				<text><![CDATA[Name]]></text>
			</staticText>
		
			<textField isBlankWhenNull="true">
					<reportElement x="37" y="3" width="52" height="19"/>
					<textElement verticalAlignment="Middle">
						<font size="8"/>
					</textElement>
					<textFieldExpression class="java.lang.String"><![CDATA[$ATM]]></textFieldExpression>
				</textField>
				<staticText>
					<reportElement mode="Transparent" x="0" y="17" width="17" height="41" isPrintInFirstWholeBand="true" forecolor="#009900" backcolor="#FFFFFF"/>
					<textElement textAlignment="Center" verticalAlignment="Middle">
						<font size="8" isBold="true"/>
					</textElement>
					<text><![CDATA[Side]]></text>
				</staticText>
				<staticText>
					<reportElement mode="Transparent" x="2" y="3" width="35" height="19" isPrintInFirstWholeBand="true" forecolor="#339900" backcolor="#FFFFFF"/>
					<textElement textAlignment="Center" verticalAlignment="Middle">
						<font size="8" isBold="true"/>
					</textElement>
					<text><![CDATA[ATM ID]]></text>
				</staticText>
				<textField isBlankWhenNull="true">
					<reportElement x="127" y="3" width="100" height="18"/>
					<textElement verticalAlignment="Middle">
						<font size="8"/>
					</textElement>
					<textFieldExpression class="java.lang.String"><![CDATA[$UNIT]]></textFieldExpression>
				</textField>
				<staticText>
					<reportElement mode="Transparent" x="89" y="3" width="38" height="18" isPrintInFirstWholeBand="true" forecolor="#339900" backcolor="#FFFFFF"/>
					<textElement textAlignment="Center" verticalAlignment="Middle">
						<font size="8" isBold="true"/>
					</textElement>
					<text><![CDATA[Unit]]></text>
				</staticText>
				<staticText>
					<reportElement mode="Transparent" x="295" y="3" width="44" height="19" isPrintInFirstWholeBand="true" forecolor="#339900" backcolor="#FFFFFF"/>
					<textElement textAlignment="Center" verticalAlignment="Middle">
						<font size="8" isBold="true"/>
					</textElement>
					<text><![CDATA[Currency]]></text>
				</staticText>
				<textField isBlankWhenNull="true">
					<reportElement x="339" y="3" width="44" height="19"/>
					<textElement textAlignment="Center" verticalAlignment="Middle">
						<font size="8"/>
					</textElement>
					<textFieldExpression class="java.lang.String"><![CDATA[$CURRENCY]]></textFieldExpression>
				</textField>
				
				#set( $x = 17 )
                    
		#foreach ($column in $columnList)
			<staticText>
				<reportElement mode="Transparent" x="$x" y="17" width="$column.width" height="41" isPrintInFirstWholeBand="true" forecolor="#339900" backcolor="#FFFFFF"/>
				<textElement textAlignment="Center" verticalAlignment="Middle">
					<font isBold="true" size="8"/>
				</textElement>
				<text>
					<![CDATA[$column.header]]>
				</text>
			</staticText>
			#set( $x = $x + $column.width )
		#end
		</band>
	</columnHeader>
	<detail>
		<band height="31">
			<textField isBlankWhenNull="true">
				<reportElement x="2" y="1" width="17" height="15"/>
				<textElement>
					<font size="8"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[$RECORDTYPE]]></textFieldExpression>
			</textField>
			
			
		#set( $x = 19 )
                       
		#foreach ($column in $columnList)
		   #if ($column.clazzType == "java.sql.Timestamp")
			<textField pattern = "dd.MM.yyyy HH:mm:ss" isBlankWhenNull="true">
				<reportElement x="$x" y="0" width="$column.width" height="15"/>
				<textElement textAlignment="Center" verticalAlignment="Middle">
				<font size="8"/>
				</textElement>
				<textFieldExpression class="$column.clazzType">
					<![CDATA[$column.expression]]>
				</textFieldExpression>
			</textField>
			#else
			<textField isBlankWhenNull="true">
				<reportElement x="$x" y="0" width="$column.width" height="15"/>
				<textElement textAlignment="Center" verticalAlignment="Middle">
				<font size="8"/>
				</textElement>
				<textFieldExpression class="$column.clazzType">
					<![CDATA[$column.expression]]>
				</textFieldExpression>
			</textField>
			#end
			#set( $x = $x + $column.width )
		#end
			<line>
				<reportElement x="26" y="23" width="766" height="1"/>
			</line>
		</band>
	</detail>
	<columnFooter>
		<band />
	</columnFooter>
	
	<pageFooter>
		<band height="28">
			<line>
				<reportElement x="736" y="2" width="85" height="1"/>
				<graphicElement>
					<pen lineWidth="4.0" lineColor="#FF0000"/>
				</graphicElement>
			</line>
			<line>
				<reportElement x="0" y="2" width="736" height="1"/>
				<graphicElement>
					<pen lineWidth="4.0" lineColor="#669900"/>
				</graphicElement>
			</line>
			<rectangle>
				<reportElement x="0" y="5" width="821" height="22" backcolor="#666666"/>
				<graphicElement>
					<pen lineWidth="1.0"/>
				</graphicElement>
			</rectangle>
			<textField evaluationTime="Report">
				<reportElement style="Column header" x="773" y="8" width="40" height="17" forecolor="#FFFFFF"/>
				<textElement>
					<font size="10" isBold="false"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA[" " + $PAGE_NUMBER]]></textFieldExpression>
			</textField>
			<textField>
				<reportElement style="Column header" x="693" y="8" width="80" height="17" forecolor="#FFFFFF"/>
				<textElement textAlignment="Right">
					<font size="10" isBold="false"/>
				</textElement>
				<textFieldExpression class="java.lang.String"><![CDATA["Page "+$PAGE_NUMBER+" of"]]></textFieldExpression>
			</textField>
			<staticText>
				<reportElement x="217" y="6" width="342" height="20" forecolor="#FFFFFF"/>
				<textElement textAlignment="Center"/>
				<text><![CDATA[Copyright  2012 eVision Financial Compliance Unit]]></text>
			</staticText>
		</band>
	</pageFooter>
</jasperReport>

