<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Bingo Log</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="Bingo Log" id="contentPanel">
                <div align="center" style="width:100%">
                    <p:fieldset style="line-height: 35px; margin-top: 15px">
                        <h:panelGrid columns="15" >
                            <h:outputText value="*Date from" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoLogClient.fromDate}" />

                            <p style="width: 70px" />

                            <h:outputText value="*Date to" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoLogClient.toDate}" />

                            <p style="width: 70px" />

                            <h:outputText value="User" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{BingoLogClient.userId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{BingoLogClient.userList}" var="ms" itemLabel="#{ms.userName}" itemValue="#{ms.userId}" />
                            </h:selectOneMenu>
                            <p style="width: 70px" />

                            <h:outputText value="Profile" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{BingoLogClient.profileId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{BingoLogClient.profileList}" var="ms1" itemLabel="#{ms1.profileName}" itemValue="#{ms1.profileId}" />
                            </h:selectOneMenu>

                        </h:panelGrid>
                        <div align="right">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 47%; font-weight: bold">
                                
                                <h:outputText value="#{BingoLogClient.message}" id="display" />
                            </div>
                            <h:panelGrid columns="4">
                                <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                    <f:facet name="start">
                                        <h:graphicImage value="../images/ajaxloading.gif" />
                                    </f:facet>
                                    <f:facet name="complete">
                                        <h:outputText value="" />
                                    </f:facet>
                                </p:ajaxStatus>
                                <p:commandButton  update="mat_typ_dt,display" value="Search"  actionListener="#{BingoLogClient.doSearch}" />
                                <p style="width:10px" />
                            </h:panelGrid>
                        </div>
                    </p:fieldset>
                </div>
                <br />
                <p:dataTable   id="mat_typ_dt" paginator="true" rows="10"  value="#{BingoLogClient.logList}" var="ms2">
                    <f:facet name="header">
                        <h:outputText value="Log"/>
                    </f:facet>
                    <p:column headerText="Action Date">
                        <h:outputText value="#{ms2.actionDate}"/>
                    </p:column>

                    <p:column headerText="IP Address">
                        <h:outputText  value="#{ms2.ipAddress}"/>
                    </p:column>

                    <p:column headerText="Action">
                        <h:outputText  value="#{ms2.action}"/>
                    </p:column>

                    <p:column headerText="User">
                        <h:selectOneMenu value="#{ms2.userId}" disabled="true"  >
                            <f:selectItems value="#{BingoLogClient.userList}" var="c" itemLabel="#{c.userName}" itemValue="#{c.userId}" />
                        </h:selectOneMenu>
                    </p:column>
                </p:dataTable><br/>
            </p:panel>
            <!-- Confrim Dialogs -->

<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoLogClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>

