
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
 
        <title>Block Reason</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form >

            <p:panel header="Block Status">
                <h:panelGrid columns="3">
                    <h:outputText value="Total Records: "  />
                    <p style="width:10px" />
                    <h:outputText value="#{BlockReasonClient.listSize}" />
                </h:panelGrid>
                <br style="line-height: 3px" />
                <p:dataTable id="blockReason" value="#{BlockReasonClient.brList}" var="ms">
                    
                    <p:column headerText="*English Version">
                        <p:inputText value="#{ms.reasonName}" style="text-align: center"  />
                    </p:column>
                    <p:column headerText="*Arabic Version">
                        <p:inputText value="#{ms.reasonAName}" style="text-align: center"  />
                    </p:column>



                    <p:column headerText="Action">
                        <p:commandLink   onclick="confirmation.show()"  actionListener="#{BlockReasonClient.fillDel}"  update="display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms}"/>

                        </p:commandLink> &nbsp;
                        <p:commandLink  actionListener="#{BlockReasonClient.fillUp}" onclick="confirmation1.show();"  update="display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>


                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px" >
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{BlockReasonClient.message}" id="display" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{BlockReasonClient.AddBlockReason}" accesskey="u"    update="blockReason"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{BlockReasonClient.showAdd}" /></p:commandLink>

                                <p:commandLink actionListener="#{BlockReasonClient.ConfirmBlockReason}"  update="blockReason" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{BlockReasonClient.showConfirm}"/></p:commandLink>
                            </div>

                        </div>
                    </f:facet>
                    
                </p:dataTable><br/>
            </p:panel>

            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{BlockReasonClient.deleteBlockReason}" update="blockReason" />
                <p:commandButton value="No" actionListener="#{BlockReasonClient.resetVars}" onclick="confirmation.hide()" update="blockReason" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                 actionListener="#{BlockReasonClient.updateBlockReason}" update="blockReason" />
                <p:commandButton value="No" actionListener="#{BlockReasonClient.resetVars}" onclick="confirmation1.hide()" update="blockReason" />

            </p:confirmDialog>
<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BlockReasonClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>