<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Block Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="Block Users" >
                <div align="center" >
                    <div align="left" style="width:795px">
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText value="#{BlockUserClient.listSize}" />
                        </h:panelGrid>
                        <br style="line-height: 3px" />
                    </div>
                    <p:dataTable id="blockUsers" value="#{BlockUserClient.buList}" var="ms" style="width:800px">
                        <f:facet name="header">
                            <h:outputText value="Users"/>
                        </f:facet>
                        <p:column headerText="User" style="width:350px">
                            <h:outputText value="#{ms.userName}" />
                        </p:column>


                        <p:column headerText="" style="width:350px">
                            <p:commandButton value="Block user" style="text-align: center; width:100px"  oncomplete="confirmation.show();" actionListener="#{BlockUserClient.fillBlockedUser}">
                                <f:attribute value="#{ms}" name="blockedUser" />
                            </p:commandButton>
                        </p:column>

                         <f:facet name="footer">
                          
                        </f:facet>
                    </p:dataTable><br/>
                </div>
            </p:panel>

            <p:dialog widgetVar="confirmation"  id="confirmation" resizable="false">
                <h:outputText value="Reason" /> <br /><br />
                <h:selectOneMenu value="#{BlockUserClient.myInt}">
                    <f:selectItems value="#{BlockUserClient.reasonList}" var="c" itemLabel="#{c.reasonName}" itemValue="#{c.reasonId}"/>
                </h:selectOneMenu><br /><br />
                <p:commandButton value="Block" type="sumbit" onclick="confirmation.hide()" update="blockUsers"  actionListener="#{BlockUserClient.blockUser}" /> &nbsp;

                <p:commandButton value="No"  onclick="confirmation.hide()" />
            </p:dialog>
<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BlockUserClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>