<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Branch</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <script>
            function resetDialog() {
                document.getElementById("form1:ename").value = "";
                document.getElementById("form1:aname").value = "";
                document.getElementById("form1:uname").value = "";
                document.getElementById("form1:disputeb").value = false;
                document.getElementById("form1:holidayb").value = false;
                document.getElementById("form1:emrholidayb").value = false;
                document.getElementById("form1:newatmb").value = false;
                document.getElementById('form1:shifts').getElementsByTagName('option')[8].selected = 'selected';
            }
        </script>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <table style="width:100%"><tr><td>
                        <p:panel header="Branch Management" >

                            <h:panelGrid columns="3">
                                <h:outputText value="Total Records: " />
                                <p style="width:10px" />
                                <h:outputText value="#{BranchClient.listSize}" />
                            </h:panelGrid>
                            <br style="line-height: 3px" />
                            <p:dataTable id="blockReason" value="#{BranchClient.brList}" var="ms" paginator="true" rows="9">
                                <f:facet name="header">
                                    <h:outputText value="Branch"/>
                                </f:facet>
                                <p:column headerText="Name">
                                    <h:inputText value="#{ms.name}" style="text-align: center"  />
                                </p:column>
                              

                                <p:column headerText="Action" >
                                    <div align="center">
                                        <p:commandLink   onclick="confirmation.show()"  actionListener="#{BranchClient.fillDel}"  update=":form1:growl1"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                            <f:attribute name="removedRow" value="#{ms}"/>
                                        </p:commandLink>
                                    </div>
                                </p:column>

                                <f:facet name="footer">

                                    <div align="center" style="height: 20px" >
                                       
                                        <div style="float: right" >
                                            <p:commandLink  actionListener="#{BranchClient.saveAll}" update=":form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" />
                                            </p:commandLink>
                                            <p:commandLink   oncomplete ="insertDlg.show()"  ><h:graphicImage url="images/icons/newmessage.png" title="add"/></p:commandLink>
                                        </div>
                                    </div>
                                </f:facet>
                            </p:dataTable>


                            <p:dialog widgetVar="insertDlg"  id="insertDlgId"   rendered="true" draggable="false" resizable="false" modal="true" header="Add new Branch">
                                <h:panelGrid columns="3" style="line-height: 30px" id="data">
                                    <h:outputText value="*English Name" />
                                    <p style="width:10px" />
                                    <h:inputText value="#{BranchClient.name}" id="ename" />

                                

                                </h:panelGrid>
                    

                                <div  style="margin: 10px 0; color: red; font-weight: bold; float: left">
                                    <h:outputText  id="msg"/>
                                </div>
                                <div style="float:right">
                                    
                                    <p:commandButton update=":form1:growl1,blockReason,msg,insertDlgId" oncomplete="insertDlg.hide()" value="Confirm" actionListener="#{BranchClient.confirmInsert}" />
                                </div>

                            </p:dialog>
                            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                                 actionListener="#{BranchClient.deleteBlockReason}" update=":form1:growl1,blockReason" />
                                <p:commandButton value="No"  onclick="confirmation.hide()" update=":form1:growl1,blockReason" />
                            </p:confirmDialog>

                            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                                 actionListener="#{BranchClient.updateBlockReason}" update=":form1:growl1,blockReason" />
                                <p:commandButton value="No" onclick="confirmation1.hide()" update=":form1:growl1,blockReason" />


                            </p:confirmDialog>
                            <div align="right">
                                <h:panelGrid columns="2">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                        <f:facet name="start">
                                            <h:graphicImage value="images/ajaxloading.gif" />
                                        </f:facet>
                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                </h:panelGrid>
                            </div>
                        </p:panel>
                    </td></tr></table>


        </h:form>

    </h:body>
</html>