 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Cash Managment Log</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form">

            <p:panel header="Cash Managment Log" >
                <h:panelGrid  rendered="#{cashManagmentLogView.searchPriv()}" columns="10" >
                    <h:outputText value="Date From:"/>
                    <p style="width: 40px" />
                    <p:calendar  disabled="#{cashManagmentLogView.datesPriv()}" value="#{cashManagmentLogView.fromDate}" pattern="dd.MM.yyyy HH:mm:ss"/>
                    <h:outputText value="Date To:"/>
                    <p style="width: 40px" />
                    <p:calendar disabled="#{cashManagmentLogView.datesPriv()}" value="#{cashManagmentLogView.toDate}" pattern="dd.MM.yyyy HH:mm:ss"/>
                    <p style="width: 40px" />
                    <h:outputText value="User ID:"/>
                    <p style="width: 40px" />
                    <p:selectOneMenu id="console87"  value="#{cashManagmentLogView.userID}" >
                        <f:selectItem itemLabel="All" itemValue="0" />
                        <f:selectItems value="#{cashManagmentLogView.usersList}" var="kk" itemLabel="#{kk.userName}" itemValue="#{kk.userId}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <div align="right">
                    <h:panelGrid columns="2" >
                        <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                            <f:facet name="start">
                                <h:graphicImage value="../images/ajaxloading.gif" />
                            </f:facet>
                            <f:facet name="complete">
                                <h:outputText value="" />
                            </f:facet>
                        </p:ajaxStatus>
                        <p:commandButton rendered="#{cashManagmentLogView.searchPriv()}" update=":form:singleDT" actionListener="#{cashManagmentLogView.searchrecords()}" oncomplete="window.scrollTo(0, document.body.scrollHeight);"    value="Entry" icon="fa fa-search  Fs16 white"/>
                    </h:panelGrid>
                </div>

                <p:separator />

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>

                <p:dataTable id="singleDT" style="width: 98%;text-align: left" var="car" value="#{cashManagmentLogView.recordsList}" 
                             rows="10"  paginator="true" emptyMessage="No Log found with given criteria">
                    <f:facet name="header">
                        Cash Managment Log Count: #{cashManagmentLogView.listcount} 
                    </f:facet>
                    <p:column headerText="User" sortBy="#{car.userName}" >
                        <h:outputText value="#{car.userName}" />
                    </p:column>

                    <p:column headerText="Date" sortBy="#{car.actionDate}" >
                        <h:outputText value="#{car.actionDate}" />
                    </p:column>

                    <p:column headerText="IP Address" sortBy="#{car.ipAddress}" >
                        <h:outputText value="#{car.ipAddress}" />
                    </p:column>

                    <p:column headerText="Action" sortBy="#{car.action}" >
                        <h:outputText value="#{car.action}" />
                    </p:column>
                </p:dataTable>
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="singleDT" fileName="cashManagmentLogExcel" />  
                        </h:commandLink>
                        <p:commandLink ajax="false" actionListener="#{cashManagmentLogView.printreportPDF()}"  >
                            <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                            <p:fileDownload value="#{cashManagmentLogView.download}" />
                        </p:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/csv.png"  title="cashManagmentLogCSV"  />
                            <p:dataExporter type="csv" target="singleDT" fileName="cashManagmentLogCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/xml.png"  title="cashManagmentLogXML"  />
                            <p:dataExporter type="xml" target="singleDT" fileName="cashManagmentLogXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
            </p:panel>
        </h:form>

    </h:body>
</html>
