 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Change Password</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

        <script type='text/javascript'>
            function newWindow(){
                top.location.href = 'Login.xhtml';
            };
        </script>
    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="">
                <div align="center" style="width:100%; padding:  100px 0">
                    <p:panel header="Change Password" style="width:400px; text-align: left">
                        <br />
                        <h:panelGrid columns="3"  style="width:350px" >



                            <h:outputText value="Old Password" />
                            <p style="width:10px" />
                            <h:inputSecret value="#{ChangePassFroBranchClient.oldPass}" />

                            <h:outputText value="New Password" />
                            <p style="width:10px" />
                            <h:inputSecret value="#{ChangePassFroBranchClient.newPass}" />

                            <h:outputText value="Confirmation Password" />
                            <p style="width:10px" />
                            <h:inputSecret value="#{ChangePassFroBranchClient.confPass}" />
                        </h:panelGrid><br />
                        <div style="width:100%">
                            <div style="float:left;color:red; width: 140px; font-weight: bold">
                                <h:outputText value="#{ChangePassFroBranchClient.message}" id="display" /></div>
                            <div align="right">
                                <p:commandButton value="Save" actionListener="#{ChangePassFroBranchClient.save}" update="idleDialog,display" />
                            </div>
                        </div>
                        <br/>
                    </p:panel>
                    <p:dialog header="redirect" visible="#{ChangePassFroBranchClient.dialogFlag}" resizable="false" closable="false" draggable="false" id="idleDialog"
                              widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor"  >
                        <p><a  href="javascript: newWindow()" style="color:blue">click here</a> to relogin</p>
                    </p:dialog>
                </div>
            </p:panel>
            
        </h:form>

    </h:body>
</html>