 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="X-Frame-Options" content="sameorgin" />

        <!--<meta http-equiv="X-Frame-Options" content="sameorgin" />-->
        <title>Change Password</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>


    </h:head>
    <h:body style="background: none" >
        <h:form id="lalala" >
            <p:panel header="">
                <div align="center" style="width:100%; padding:  100px 0">
                    <p:panel header="Change Password" style="width:400px; text-align: left">
                        <br />
                        <p:growl id="growl1"  autoUpdate="true" />
                        <h:panelGrid columns="3"  style="width:350px" >

                            <h:outputText value="Old Password" />
                            <p style="width:10px" />
                            <p:password value="#{ChangePassFroUserClient.oldPass}" />

                            <h:outputText value="New Password" />
                            <p style="width:10px" />
                            <p:password  value="#{ChangePassFroUserClient.newPass}" />

                            <h:outputText value="Confirmation Password" />
                            <p style="width:10px" />
                            <p:password value="#{ChangePassFroUserClient.confPass}" />
                        </h:panelGrid><br />
                        <div style="width:100%">
                           
                            <div align="right">
                                <p:commandButton value="Save" actionListener="#{ChangePassFroUserClient.save}" update=":lalala:growl1,idleDialog3" />
                            </div>
                        </div>
                        <br/>
                    </p:panel>
                    <p:dialog header="Completed"  visible="#{ChangePassFroUserClient.dialogFlag}"    resizable="false" closable="false" draggable="false"
                              widgetVar="idleDialog3" id="idleDialog3" modal="true" width="300" styleClass="dialogMonitor" >
                        <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
                    </p:dialog>
                </div>
            </p:panel>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ChangePassFroUserClient.onIdle}" />
            </p:idleMonitor>



            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>