<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Corrective Entry Log</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
            #ui-datepicker-div{
                display: none;
}
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="" id="contentPanel">
                <div align="center" style="width:100%">
                    <p:fieldset style="line-height: 35px; margin-top: 15px">
                        <h:panelGrid columns="11" >
                            <h:outputText value="Date from" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{CorrevtiveEntryClient.fromDate}" />

                            <p style="width: 70px" />

                            <h:outputText value="Date to" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{CorrevtiveEntryClient.toDate}" />

                            <p style="width: 70px" />

                            <h:outputText value="ATM ID" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{CorrevtiveEntryClient.atmId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{CorrevtiveEntryClient.atmList}" var="ms" itemLabel="#{ms.applicationId}" itemValue="#{ms.applicationId}" />
                            </h:selectOneMenu>


                            <h:outputText value="Corrective Entry" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{CorrevtiveEntryClient.userId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{CorrevtiveEntryClient.userList}" var="ms3" itemLabel="#{ms3.userName}" itemValue="#{ms3.userId}" />
                            </h:selectOneMenu>

                            <p style="width: 70px" />

                            <h:outputText value="Operation" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{CorrevtiveEntryClient.operationId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItem itemValue="1" itemLabel="Settled" />
                                <f:selectItem itemValue="2" itemLabel="Not Settled" />
                            </h:selectOneMenu>
                            <div align="right">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 47%; font-weight: bold">
                                <h:outputText value="#{CorrevtiveEntryClient.message}" id="display" />
                            </div>
                            <h:panelGrid columns="4">
                                <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                    <f:facet name="start">
                                        <h:graphicImage value="../images/ajaxloading.gif" />
                                    </f:facet>
                                    <f:facet name="complete">
                                        <h:outputText value="" />
                                    </f:facet>
                                </p:ajaxStatus>
                                <p:commandButton  update="mat_typ_dt,display" value="Search"  actionListener="#{CorrevtiveEntryClient.retrieveCorretive}" />
                                <p style="width:10px" />
                            </h:panelGrid>
                        </div>
                        </h:panelGrid>
                        
                    </p:fieldset>
                </div>
                <br />
                <p:dataTable   id="mat_typ_dt" paginator="true" rows="10"  value="#{CorrevtiveEntryClient.correctiveList}" var="ms2">
                    <f:facet name="header">
                        <h:outputText value="Corrective Entry Log"/>
                    </f:facet>
                    <p:column headerText="Corrective Entry Date">
                        <h:outputText value="#{ms2.corrective_date}"/>
                    </p:column>

                    <p:column headerText="Transactions Date">
                        <h:outputText value="#{ms2.transactionDate}"/>
                    </p:column>

                    <p:column headerText="Currency">
                        <h:outputText value="#{ms2.currency}"/>
                    </p:column>


                    <p:column headerText="Card no.">
                        <h:outputText  value="#{ms2.cardNo}"/>
                    </p:column>

                    <p:column headerText="Transaction Sequence">
                        <h:outputText  value="#{ms2.transactionSequence}"/>
                    </p:column>

                    <p:column headerText="Amount">
                        <h:outputText  value="#{ms2.amount}"/>
                    </p:column>

                    <p:column headerText="Response Code">
                        <h:outputText  value="#{ms2.responseCode}"/>
                    </p:column>

                    <p:column headerText="Corrective Entry User">
                        <h:selectOneMenu value="#{ms2.correctiveUser}" disabled="true"  >
                            <f:selectItems value="#{CorrevtiveEntryClient.userList}" var="c" itemLabel="#{c.userName}" itemValue="#{c.userId}" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column headerText="Matching type">
                        <h:selectOneMenu value="#{ms2.matchingType}" disabled="true"  >
                            <f:selectItem itemValue="1" itemLabel="Journal-Switch" />
                            <f:selectItem itemValue="2" itemLabel="Switch-Host" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column headerText="Record type">
                        <h:selectOneMenu value="#{ms2.recordType}" disabled="true"  >
                            <f:selectItem itemValue="1" itemLabel="Journal" />
                            <f:selectItem itemValue="2" itemLabel="Switch" />
                            <f:selectItem itemValue="3" itemLabel="Host" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column headerText="Status">
                        <h:outputText  value="#{ms2.correctiveState==1?'I':'O'}" />
                    </p:column>


                    <f:facet name="footer">
                    </f:facet>
                </p:dataTable><br/>
            </p:panel>
            <!-- Confrim Dialogs -->
<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{CorrevtiveEntryClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>

        </h:form>
    </h:body>
</html>

