<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Currency Def</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">

            <p:panel header="Currencies" id="content">
                <p:dataTable id="mat_typ_dt"  value="#{CurrencyDefinition.cdList}" var="ms"
                             rowKey="#{ms.id}"     selectionMode="single"  selection="#{CurrencyDefinition.selectedMT}" paginator="true" rows="7">
                    <p:ajax event="rowSelect" listener="#{CurrencyDefinition.onRowSelect1}" update=":form1:content"   />
                    <p:ajax event="rowUnselect" listener="#{CurrencyDefinition.onRowUnSelect1}" update=":form1:content"/>

                    <f:facet name="header">
                        <h:outputText value="Currencies"/>
                    </f:facet>
                    <p:column headerText="*Name">
                        <h:inputText value="#{ms.name}"/>
                    </p:column>

                    <p:column headerText="Symbol">
                        <h:inputText value="#{ms.symbol}"/>
                    </p:column>
                    
                    <p:column headerText="Default">
                        <p:selectBooleanCheckbox value="#{ms.defcurr}"/>
                    </p:column>


                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation.show();" actionListener="#{CurrencyDefinition.fillDelete}" update="display2,mat_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms}"/>

                        </p:commandLink> &nbsp;
                        <p:commandLink  update="display2,mat_typ_dt" actionListener="#{CurrencyDefinition.fillUpdate}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>

                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{CurrencyDefinition.message}" id="display2" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{CurrencyDefinition.addTimeShift}"    update="mat_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{CurrencyDefinition.showAdd}" /></p:commandLink>
                                <p:commandLink actionListener="#{CurrencyDefinition.confirmAdd}"  update="mat_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{CurrencyDefinition.showConfirm}" /></p:commandLink>
                            </div>

                        </div>
                    </f:facet>
                </p:dataTable><br/>


                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{CurrencyDefinition.deleteRecord}" update="mat_typ_dt,mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation.hide()" update="mat_typ_dt,mach_typ_dt" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{CurrencyDefinition.updateRecord}" update="mat_typ_dt,mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" update="mat_typ_dt,mach_typ_dt" />
                </p:confirmDialog>

                <div align="center">

                    <p:dataTable id="mach_typ_dt" value="#{CurrencyDefinition.cdDetailsList}" style="width:600px" var="ms1" >
                        <f:facet name="header">
                            <h:outputText value="Abbreviation"/>
                        </f:facet>

                        <p:column headerText="*Abbreviation"  >
                            <h:inputText  value="#{ms1.abbreviation}" style="width:350px"/>
                        </p:column>

                        <p:column headerText="Default">
                            <p:selectBooleanCheckbox value="#{ms1.defcurr}"/>
                    </p:column>

                        <p:column id="opt" headerText="Action">
                            <p:commandLink  onclick="confirmation3.show();" actionListener="#{CurrencyDefinition.fillDelete1}" update="display3,mach_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow1" value="#{ms1}"/>
                            </p:commandLink>

                            <p:commandLink  update="display3,mach_typ_dt" actionListener="#{CurrencyDefinition.fillUpdate1}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow1" value="#{ms1}" />
                            </p:commandLink>
                        </p:column>

                        <f:facet name="footer">
                            <div align="center" style="height: 20px">
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{CurrencyDefinition.message1}" id="display3" />
                                </div>
                                <div style="float: right">
                                    <p:commandLink actionListener="#{CurrencyDefinition.addTimeShift1}"    update="mach_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{CurrencyDefinition.showAdd1}" /></p:commandLink>
                                    <p:commandLink actionListener="#{CurrencyDefinition.confirmAdd1}"  update="mach_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{CurrencyDefinition.showConfirm1}" /></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </p:dataTable><br/>

                </div>
                <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to delete?" id="confirmation3">
                    <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                     actionListener="#{CurrencyDefinition.deleteRecord1}" update="content" />
                    <p:commandButton value="No" onclick="confirmation3.hide()" update="content" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{CurrencyDefinition.updateRecord1}" update="content" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update="content" />
                </p:confirmDialog>
            </p:panel>

            <!-- Confrim Dialogs -->
<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{CurrencyDefinition.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>

        </h:form>
    </h:body>
</html>

