<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>File view</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>


        <script language="JavaScript">
            function ShowSelectionxx1()
            {

                var textComponent = document.getElementById('form1:filetext');
                var textComponent1 = document.getElementById('form1:filetext1');

                var selectedText;
                // Mozilla version
                if (textComponent.selectionStart != undefined)
                {
                    var startPos = textComponent.selectionStart;
                    var endPos = textComponent.selectionEnd;
                    selectedText = textComponent.value.substring(startPos, endPos)
                }

                textComponent1.value = selectedText;
                textComponent.value = selectedText;

            }

        </script>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:dialog closable="true" widgetVar="fileDlg"  draggable="false" modal="true" resizable="false" width="500" height="350">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <h:commandLink onclick="ShowSelectionxx1();
                                       " actionListener="#{FileViewClient.printFile}" target="_blank"><p:graphicImage url="images/icons/print1.gif" title="Print selected" /></h:commandLink>
                    </h:panelGrid>
                </f:facet>
                <h:inputTextarea readonly="true" value="#{FileViewClient.transfile}" id="filetext"  style="white-space: pre ; overflow: auto; height: 300px " />
                <h:inputHidden id="filetext1" value="#{FileViewClient.hiddenText}" />
            </p:dialog>
            <p:panel header="File view"  id="contentPanel">
                <p:fieldset style="width: 90%">

                    <h:panelGrid columns="7" style="width: 90%">
                        <h:outputText value="Loading Date :"  style="font-weight: bold"/>
                        <h:outputText value="*From" />
                        <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{FileViewClient.loadingFrom}"/>
                        <h:outputText value="*To" />
                        <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{FileViewClient.loadingTo}"/>
                        <h:outputText value="*ATM ID" />
                        <p:autoComplete id="acMaxResults" maxResults="5"  value="#{FileViewClient.texttocomp}"
                                        completeMethod="#{FileViewClient.complete}"/>
                        <br  style="line-height: 40px"/>
                        <h:outputText value="Card No." />
                        <h:inputText value="#{FileViewClient.cardno}" />
                        <h:outputText value="Sequence" />
                        <h:inputText value="#{FileViewClient.sequence}" />
                        <h:outputText />
                        <h:outputText />
                       
                    </h:panelGrid>

                    <div align="right">
                        <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 47%; font-weight: bold">
                            <h:outputText value="#{FileViewClient.message}" id="display" />
                        </div>
                         <p:commandButton  id="searchBtn"  update="mat_typ_dt, display" value="Search" actionListener="#{FileViewClient.dosearch}" />
                    </div>
                </p:fieldset>

                <br />
                <h:panelGrid columns="3" style="width:100%">
                    <p:dataTable widgetVar="repTable"  id="mat_typ_dt" paginator="true" rows="7" value="#{FileViewClient.atmFileList}" var="ms"  >

                        <f:facet name="header">
                            <h:outputText value="File view"/>
                        </f:facet>
                        <p:column headerText="ATM ID">
                            <h:outputText  value="#{ms.id}" />
                        </p:column>

                        <p:column headerText="Loading from">
                            <h:outputText value="#{ms.loadingDate}"/>
                        </p:column>

                        <p:column headerText="File name">
                            <h:outputText value="#{ms.name}" />
                        </p:column>

                        <p:column headerText="Number of trans.">
                            <h:outputText value="#{ms.numberOfTransaction}" />
                        </p:column>

                        <p:column>
                            <p:commandButton value="File" actionListener="#{FileViewClient.getFiletransaction}" update=":form1:filetext" style="width:50px" oncomplete="fileDlg.show(), transDlg.hide()" >
                                <f:attribute name="textfile"  value="#{ms}"/>
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>
                </h:panelGrid>

            </p:panel>



            <!-- Confrim Dialogs -->
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{FileViewClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>

        </h:form>
    </h:body>
</html>

