<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Job Monitor</title>
        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->
        <p:resources/>
        <script type="text/javascript">
   var chartStyle = {
       border: {color: 0x96acb4, size: 12},
       background: {
           image : "../design/bg.jpg"
       },
       font: {name: "Tahoma", size: 12, color: 0x586b71},
       dataTip:
       {
           border: {color: 0x2e434d, size: 2},
           font: {name: "Tahoma", size: 12, color: 0x586b71}
       },
       xAxis:
       {
           color: 0x2e434d
       },
       yAxis:
       {
           color: 0x2e434d,
           majorTicks: {color: 0x2e434d, length: 4},
           minorTicks: {color: 0x2e434d, length: 2},
           majorGridLines: {size: 0}
       }
   };

   var down =
       {
           image: "images/column.png",
           mode: "no-repeat",
           color: 0x9a92fc,
           size: 35
       };

   var running =
   {
       image: "images/column.png",
       mode: "no-repeat",
       color: 0xfb6c6c,
       size: 35
   };

   var standby =
   {
       image: "images/column.png",
       mode: "no-repeat",
       color: 0xfb6c6c,
       size: 35
   };

   var broken =
   {
       image: "images/column.png",
       mode: "no-repeat",
       color: 0xfb6c6c,
       size: 35
   };
        </script>
        <style>
            .graph{
                margin: 200px 0 0 0
            }
            #tbl td{
                text-align: center;
                border:0.5px solid silver
            }
        </style>
    </h:head>

    <h:body style="background: none" >
        <f:view>
            <h:form>
                <p:panel id="tbl_panel" header="Job Monitor" style="height: 250px">
                    <div align="center" style=" width: 100%">
                        <div id="tbl" style="float: left">
                            <table  align="center" style="line-height: 40px; background-color: #F0F0F0; border: solid 1px black " >
                                <tr>
                                    <td width="130"></td>
                                    <td width="130"><p>Pending Journal </p></td>
                                    <td width="130"><p>Pending Switch </p></td>
                                    <td width="130"><p>Pending Host </p></td>
                                </tr>
                                <tr>
                                    <td width="130">Loading</td>
                                    <td width="130"><h:outputText value="#{JobMonitorClient.lmDTO.pendingJournals}"/></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.lmDTO.pendingSwitch}" /></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.lmDTO.pendingHost}"/></td> </tr>

                                <tr>
                                    <td width="130">Validation</td>
                                    <td width="130"><h:outputText value="#{JobMonitorClient.vmDTO.pendingJournals}"/></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.vmDTO.pendingSwitch}" /></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.vmDTO.pendingHost}"/></td> </tr>

                                <tr>
                                    <td width="130">Matching</td>
                                    <td width="130"><h:outputText value="#{JobMonitorClient.mmDTO.pendingJournals}"/></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.mmDTO.pendingSwitch}" /></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.mmDTO.pendingHost}"/></td> </tr>
                                <tr>
                                    <td width="130">Errors</td>
                                    <td width="130"><h:outputText value="#{JobMonitorClient.emDTO.pendingJournals}"/></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.emDTO.pendingSwitch}" /></td>
                                    <td width="130"><h:outputText  value="#{JobMonitorClient.emDTO.pendingHost}"/></td> </tr>



                            </table>
                        </div>
                        <div  style="line-height: 20px; float: right; margin: 0 500px 0 0" >
                            <div>
                                <h:outputText value="Active Files" /><br />
                                <p:inputText disabled="true" value="#{JobMonitorClient.activeFile}" /></div><br />
                            <div>
                                <h:outputText value="File to backup" /><br />
                                <p:inputText disabled="true"  value="#{JobMonitorClient.fileToBackup}"/>
                            </div><br style="line-height: 10px"/>
                            <div>
                                <p:commandButton value="Rematch" actionListener="#{JobMonitorClient.rematchChart    }" />
                            </div>
                        </div>
                    </div>


                </p:panel> <br/>
                <div align="center">
                    <p:dataTable id="loadValues" var="ms1"  value="#{JobMonitorClient.dynamicRG}" style="width:831px;margin:0 0 0 59px" >
                        <p:columns var="columnIndex" value="#{JobMonitorClient.columnHeaders}" columnIndexVar="col">
                            <f:facet name="header">
                                <h:outputText value="#{columnIndex}" />
                            </f:facet>

                            <h:outputText value="Stand by: #{ms1[col].countStandBy}" style="text-align: left"/><br/>
                            <h:outputText value="Down: #{ms1[col].countDown}" style="text-align: left"/><br/>
                            <h:outputText value="Broken: #{ms1[col].coutnBroken}" style="text-align: left"/><br/>

                        </p:columns>
                    </p:dataTable><br />
                    <table width="875" align="center" style="margin:0 0 0 220px;  "  >
                        <tr>
                            <td>
                                <h:selectBooleanCheckbox value="#{JobMonitorClient.check}" valueChangeListener="#{JobMonitorClient.checkChange}" >
                                    <p:ajax update="loadValues"/>
                                </h:selectBooleanCheckbox>
                            </td>
                            <td>
                                <h:selectBooleanCheckbox value="#{JobMonitorClient.check1}" valueChangeListener="#{JobMonitorClient.checkChange1}">
                                    <p:ajax update="loadValues"/>
                                </h:selectBooleanCheckbox>
                            </td>
                            <td>
                                <h:selectBooleanCheckbox value="#{JobMonitorClient.check2}" valueChangeListener="#{JobMonitorClient.checkChange2}">
                                    <p:ajax update="loadValues"/>
                                </h:selectBooleanCheckbox>
                            </td>
                            <td>
                                <h:selectBooleanCheckbox value="#{JobMonitorClient.check3}" valueChangeListener="#{JobMonitorClient.checkChange3}">
                                    <p:ajax update="loadValues"/>
                                </h:selectBooleanCheckbox>
                            </td>
                            <td>
                                <h:selectBooleanCheckbox value="#{JobMonitorClient.check4}" valueChangeListener="#{JobMonitorClient.checkChange4}">
                                    <p:ajax update="loadValues"/>
                                </h:selectBooleanCheckbox>
                            </td>
                        </tr>
                    </table>
                    <br/></div>
                <p:dataTable id="blockReason" value="#{JobMonitorClient.ftmDTO}" var="ftm">
                    <f:facet name="header">
                        <h:outputText value="Job Monitor"/>
                    </f:facet>
                    <p:column headerText="File Name">
                        <h:outputText value="#{ftm.fileName}" />
                    </p:column>
                    <p:column headerText="File Size">
                        <h:outputText value="#{ftm.fileSize}" />
                    </p:column>
                    <p:column headerText="File Type">
                        <h:outputText value="#{ftm.type}" />
                    </p:column>

                    <p:column headerText="Active">
                        <h:selectBooleanCheckbox value="true"  disabled="true" />
                    </p:column>
                </p:dataTable>

                <p:poll interval="3"    listener="#{JobMonitorClient.refreshValues}" update="loadValues,tbl_panel,blockReason" />
           <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{JobMonitorClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog> </h:form></f:view>
    </h:body>
</html>

