<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Dash Board</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <script type="text/javascript">
            var piechartStyle = {
                font: {name: "tahoma", size: 15},
                dataTip:
                        {
                            border: {color: 'black', size: 1},
                            font: {name: "tahoma", size: 11}
                        },
                legend:
                        {
                            display: "right",
                            spacing: 10
                        }
            };

            var typesSeriesStyle =
                    {
                        colors: [0xe32525, 0x24699d, 0x28c524]
                    };

        </script>
        <style>
            .ui-spinner-input{
                width:14px;
            }
            .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
                border:none
            }
            .chartClass{
                width:400px;
                height:300px;
            }
        </style>

    </h:head>
    <h:body style="background: none" >

        <h:form  id="form1">

            <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                <f:facet name="start">

                </f:facet>

                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus> 

            <p:dialog widgetVar="matchedDlg" dynamic="true" header="Transaction Details" modal="true" >
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="results" fileName="MissingJournalExcel" />  
                        </h:commandLink>
                        <h:commandLink target="_blank" type="submit"  actionListener="#{BingoStatClient.printDispute}" >
                            <p:graphicImage url="images/icons/pdf.png"  title="Print"  />
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/csv.png"  title="Export CSV"  />
                            <p:dataExporter type="csv" target="results" fileName="MissingJournalCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/xml.png"  title="Export XML"  />
                            <p:dataExporter type="xml" target="results" fileName="MissingJournalXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:dataTable id="matchedDetails" value="#{BingoStatClient.matchedRecords}" var="matchedData"  paginator="true" rows="10" >
                    <p:columns columnIndexVar="colIndex_match" var="column_match" value="#{BingoStatClient.coloumn}">
                        <f:facet name="header">
                            #{column_match.header}
                        </f:facet>
                        #{matchedData[column_match.property]}
                    </p:columns>
                </p:dataTable>
            </p:dialog>

            <p:dialog widgetVar="matchedTotalDlg" dynamic="true" header="Transaction Details" modal="true" >
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="results" fileName="MissingJournalExcel" />  
                        </h:commandLink>
                        <h:commandLink target="_blank" type="submit"  actionListener="#{BingoStatClient.printDispute}" >
                            <p:graphicImage url="images/icons/pdf.png"  title="Print"  />
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/csv.png"  title="Export CSV"  />
                            <p:dataExporter type="csv" target="results" fileName="MissingJournalCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/xml.png"  title="Export XML"  />
                            <p:dataExporter type="xml" target="results" fileName="MissingJournalXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:dataTable id="matchedTotalDetails" value="#{BingoStatClient.matchedRecords}" var="matchedTotalData"  paginator="true" rows="10" >
                    <p:columns columnIndexVar="colIndex_Totalmatch" var="column_Totalmatch" value="#{BingoStatClient.coloumn}">
                        <f:facet name="header">
                            #{column_Totalmatch.header}
                        </f:facet>
                        #{matchedTotalData[column_Totalmatch.property]}
                    </p:columns>
                </p:dataTable>
            </p:dialog>

            <p:dialog widgetVar="missingDlg" dynamic="true" header="Transaction Details" modal="true" >
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="results" fileName="MissingJournalExcel" />  
                        </h:commandLink>
                        <h:commandLink target="_blank" type="submit"  actionListener="#{BingoStatClient.printDispute}" >
                            <p:graphicImage url="images/icons/pdf.png"  title="Print"  />
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/csv.png"  title="Export CSV"  />
                            <p:dataExporter type="csv" target="results" fileName="MissingJournalCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/xml.png"  title="Export XML"  />
                            <p:dataExporter type="xml" target="results" fileName="MissingJournalXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:dataTable id="missingDetails" value="#{BingoStatClient.disputeRecords}" var="missingData"  paginator="true" rows="10" >
                    <p:columns columnIndexVar="colIndex_missing" var="column_missing" value="#{BingoStatClient.coloumn}">
                        <f:facet name="header">
                            #{column_missing.header}
                        </f:facet>
                        #{missingData[column_missing.property]}
                    </p:columns>
                </p:dataTable>
            </p:dialog>

            <p:dialog widgetVar="missingTotalDlg" dynamic="true" header="Transaction Details" modal="true" >
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="results" fileName="MissingJournalExcel" />  
                        </h:commandLink>
                        <h:commandLink target="_blank" type="submit"  actionListener="#{BingoStatClient.printDispute}" >
                            <p:graphicImage url="images/icons/pdf.png"  title="Print"  />
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/csv.png"  title="Export CSV"  />
                            <p:dataExporter type="csv" target="results" fileName="MissingJournalCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="images/icons/xml.png"  title="Export XML"  />
                            <p:dataExporter type="xml" target="results" fileName="MissingJournalXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:dataTable id="missingTotalDetails" value="#{BingoStatClient.disputeRecords}" var="missingTotalData"  paginator="true" rows="10" >
                    <p:columns columnIndexVar="colIndex_Totalmissing" var="column_Totalmissing" value="#{BingoStatClient.coloumn}">
                        <f:facet name="header">
                            #{column_Totalmissing.header}
                        </f:facet>
                        #{missingTotalData[column_Totalmissing.property]}
                    </p:columns>
                </p:dataTable>
            </p:dialog>   

            <p:panel  header="Transaction Statistics">
                <h:panelGrid columns="15" style="line-height:30px">
                    <h:outputText value="Date from" />
                    <p style="width:10px" />
                    <p:calendar value="#{BingoStatClient.searchparm.fromdate}" pattern="dd.MM.yyyy HH:mm:ss"/>

                    <p style="width:50px" />

                    <h:outputText value="Date from" />
                    <p style="width:10px" />
                    <p:calendar value="#{BingoStatClient.searchparm.todate}" pattern="dd.MM.yyyy HH:mm:ss"/>
                    
                    <p style="width:50px" />

                    <h:outputText value="Matching type" />
                    <p style="width:10px" />
                    <p:selectOneMenu value="#{BingoStatClient.searchparm.matchingtype}" >
                        <f:selectItems value="#{BingoStatClient.matchingtypelist}" var="matching" itemLabel="#{matching.name}" itemValue="#{matching.id}" />
                    </p:selectOneMenu>

                    <p style="width:50px" />

                    <h:outputText />
                    <h:outputText />
                    <p:commandButton value="Calculate"  actionListener="#{BingoStatClient.getstat}" update=":form1:data, :form1:contentTab"/>
                </h:panelGrid>
                <br />
                <p:tabView id="contentTab">
                    <p:ajax event="tabChange" listener="#{BingoStatClient.onTabChange}" update=":form1:data"/>  
                    <p:tab title="Journal" rendered="#{BingoStatClient.jrTab}">

                    </p:tab>
                    <p:tab title="Switch" rendered="#{BingoStatClient.swiTab}">

                    </p:tab>
                    <p:tab title="GL" rendered="#{BingoStatClient.glTab}">

                    </p:tab>
                </p:tabView>
                <p:dataTable id="data" value="#{BingoStatClient.statRecord}" var="dataList" 
                             paginator="true" rows="8">
                    <p:column headerText="ATM ID">  
                        #{dataList.applicationid}  
                        <f:facet name="footer">
                            <h:outputText value="#{BingoStatClient.statRecordCount.applicationidcount}" />
                        </f:facet>
                    </p:column>  

                    <p:column headerText="Matched">  
                        <p:commandButton  value="#{dataList.matched}" actionListener="#{BingoStatClient.matchedData}" update=":form1:matchedDetails" oncomplete="matchedDlg.show()" >
                            <f:attribute name="selectedMatched" value="#{dataList}" />
                        </p:commandButton>
                        <f:facet name="footer">
                            <p:commandButton value="#{BingoStatClient.statRecordCount.matchedcount}" actionListener="#{BingoStatClient.totalMatchedData}" update=":form1:matchedTotalDetails" oncomplete="matchedTotalDlg.show()" />
                        </f:facet>
                    </p:column>  

                    <p:column headerText="Missing side">  
                        <p:commandButton value="#{dataList.missingside}" actionListener="#{BingoStatClient.missingData}" update=":form1:missingDetails" oncomplete="missingDlg.show()" >
                            <f:attribute name="selectedMissing" value="#{dataList}" />
                        </p:commandButton>
                        <f:facet name="footer">
                            <p:commandButton value="#{BingoStatClient.statRecordCount.missingsidecount}" actionListener="#{BingoStatClient.totalmissingData}" update=":form1:missingTotalDetails" oncomplete="missingTotalDlg.show()" />
                        </f:facet>
                    </p:column>
                    <p:column headerText="Disputes">  
                        <p:commandButton value="#{dataList.disputes}" actionListener="#{BingoStatClient.disputeData}" update=":form1:missingDetails" oncomplete="missingDlg.show()" >
                            <f:attribute name="selectedDispute" value="#{dataList}" />
                        </p:commandButton>
                        <f:facet name="footer">
                            <p:commandButton value="#{BingoStatClient.statRecordCount.disputescount}" actionListener="#{BingoStatClient.totalDisputeData}" update=":form1:missingTotalDetails" oncomplete="missingTotalDlg.show()" />
                        </f:facet>
                    </p:column> 
                    <p:column headerText="Errors">  
                        <p:commandButton value="#{dataList.errors}" actionListener="#{BingoStatClient.errorsData}" update=":form1:missingDetails" oncomplete="missingDlg.show()" >
                            <f:attribute name="selectedError" value="#{dataList}" />
                        </p:commandButton>
                        <f:facet name="footer">
                            <p:commandButton value="#{BingoStatClient.statRecordCount.errorscount}" actionListener="#{BingoStatClient.totalerrorsData}" update=":form1:missingTotalDetails" oncomplete="missingTotalDlg.show()" />
                        </f:facet>
                    </p:column> 
                </p:dataTable>
            </p:panel>
             <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoStatClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>

