 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Login</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta name="sessionTimeout" http-equiv="refresh" content="50000" />
        <meta http-equiv="X-Frame-Options" content="deny" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

        <style>

            #header{
                position   : absolute;
                top        : 0;
                left       : 0;
                width      : 100%;
                height     : 100px;
            }
            #content {
                position   : absolute;
                top        : 135px;
                bottom     : 100px;
                left       : 0;
                width      : 100%;
            }

            #footer {
                position   : absolute;
                bottom     : 0;
                left       : 0;
                width      : 100%;
                height     : 30px;
            }

            td{
                border: none;
            }
            html{
                overflow:hidden
            }

        </style>
        <script>
            function showing() {

                document.getElementById('loading').style.visibility = 'visible';
                document.getElementById('dlg').style.display = 'block';
            }
        </script>
    </h:head>
    <h:body >


        <div id="header">
            <div>
                <h1 id="logo" >
                    <img src="images/logo2.png" alt="" width="124" />
                </h1>
            </div>

            <div id="header_buttons" align="right">

            </div><!-- end #header -->
        </div>

        <div id="content">

            <div id="login" style="margin: 158px 0">
                <div class="content-box">
                    <div class="content-box-header">
                        <h3>Login</h3>
                    </div>

                    <div class="content-box-content">

                        <div class="notification information">Please type your username and password to login.</div>

                        <h:form >

                            <h:panelGrid columns="3" style="border:none" >

                                <h:outputText value="* User Name" />
                                <p style="width:10px" />
                                <h:inputText id="username" value="#{LoginClient.userName}" required="true" requiredMessage="UserName is reqiured field" style="width:130px"/>

                                <h:outputText value="* Password" />
                                <p style="width:10px" />
                                <h:inputSecret id="password" value="#{LoginClient.password}" required="true" requiredMessage="Password is reqiured field" style="width:130px"/>

                            </h:panelGrid>
                            <p:ajaxStatus  style="width:16px;height:16px; margin: 0 0 0 0">
                                <f:facet name="start">
                                    <h:graphicImage value="images/ajaxloading.gif" />
                                </f:facet>
                                <f:facet name="complete">
                                    <h:outputText value="" />
                                </f:facet>
                            </p:ajaxStatus>
                            <div style=" padding-bottom: 10px; width: 100%; " align="right">
                                <h:commandButton  type="submit" action="#{LoginClient.validateLogin}" value="Login"  onclick="showing();"/>
                            </div>
                            <div style=" padding-bottom: 10px; width: 100%; text-align: center">
                                <p:messages  autoUpdate="true" />

                            </div>

                        </h:form>

                    </div>
                </div><!-- end .content-box -->
            </div><!-- end #login -->

        </div><!-- end #content -->

        <div id="footer">
            Copyright © 2017 eVision Financial Compliance Unit
        </div><!-- end #footer and #bokeh -->

    </h:body>
</html>

