<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <style id="antiClickjack">body{display:none;}</style>
        <script type="text/javascript">
            if (self === top) {
                var antiClickjack = document.getElementById("antiClickjack");
                antiClickjack.parentNode.removeChild(antiClickjack);
            } else {
                top.location = self.location;
            }
        </script>
        <title>ATM Bingo</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta http-equiv="X-Frame-Options" content="deny" />
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="./css/pro_drop_1/pro_drop_1.css" />

        <script src="css/pro_drop_1/stuHover.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->
        <script>
            window.onbeforeunload = browserClose;
            function browserClose() {
                document.getElementById("form1:testBtn").click();
            }
            function handleIFRAME(thestring) {

                var iframe = document.getElementById('iframe');

                iframe.src = thestring;
                iframe.reload();
                document.getElementById('iframe').contentDocument.location.reload(true);
            }
            function dlgShow() {
                loadDlg.show();
            }
            function dlgHide() {
                loadDlg.hide();
            }

            window.setTimeout("updateTime()", 0);// start immediately
            window.setInterval("updateTime()", 1000);// update every second
            function updateTime() {
                document.getElementById("theTimer").firstChild.nodeValue =
                        new Date().toTimeString().substring(0, 8);
            }

        </script>

        <script language="JavaScript">


            var time = null
            function move() {
                window.location = 'Login.xhtml'

            }
        </script>
        <p:resources/>
        <script LANGUAGE="JavaScript">

            function resizeIframeToFitContent(iframe) {
                // This function resizes an IFrame object
                // to fit its content.
                // The IFrame tag must have a unique ID attribute.
                document.getElementById("iframe").style.height =
                        document.getElementById("content").offsetHeight;
            }
        </script>

        <style type="text/css">


            .ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all{
                visibility: hidden;
            }

            .dialogMonitor{
                z-index: 4000000000;
            }
            html{
                overflow:hidden
            }
            #header{
                position   : absolute;
                top        : 0;
                left       : 0;
                width      : 100%;
                height     : 72px;
                z-index: 100
            }
            #content {
                position   : absolute;
                top        : 131px;
                bottom     : 38px;
                left       : 0;
                width      : 100%;
                z-index: 0
            }
            #content > iframe {
                position   : relative;
                width      : 100%;
                height     : 100%;
            }

            #footer {
                position   : absolute;
                bottom     : 0;
                left       : 0;
                width      : 100%;
                height     : 30px;
            }


        </style>

    </h:head>
    <body onload="antiClickjack" style=" background-color: transparent; width:97%; height:97%">
        <!-- #{MainClient} -->

        <h:form id="form1">
            
            <p:commandButton id="testBtn" value="test" actionListener="#{MainClient.testClick}" style="display: none" />
            <div id="header"  >
                <div style="width:124px; float:left; margin: -15px 0 0 0 ; position: relative; z-index: 300000 ">
                    <a href="DashBoard.xhtml" target="iframe"  title="Dash board" >
                        <h1 id="logo">
                            <img src="images/logo2.png" alt="" width="124"   style="z-index:-1; display:block" />
                        </h1>
                    </a>
                </div>

                <div id="header_buttons" align="right">
                    <div align="left" style="width:240px; margin:12px 0 0 0">
                        <h:panelGrid  columns="3" style=" color: white; line-height:4px; "  >
                            <p id="theTimer" style="font-size:13px">00:00:00</p>
                            <h:outputText value="" />
                            <h:outputText value="" />
                            <h:outputText value="Licensed to:" />
                            <p style="width:5px" />
                            <h:outputText value="#{MainClient.bankName}"  />
                        </h:panelGrid>
                        <h:panelGrid id="userognname" columns="5" style=" color: white; line-height:15px; "  >
                            <h:outputText value="Welcome" />
                            <p style="width:5px" />
                            <h:outputText value="#{MainClient.userName}"  />
                            <p style="width:64px" />
                            <p:commandLink  id="logout" oncomplete="move()"   value="logout" style="color: white" action ="#{MainClient.logout}"/>

                        </h:panelGrid>
                    </div>
                    <br style="line-height: 4px" />
                </div>
                <div >
                    <ul id="nav">
                        <h:outputText  value="#{MainClient.menuItems}" escape="false" />
                    </ul>
                </div>
            </div><!-- end #header -->
            <div align="center" id="content">
                <iframe  src="#{MainClient.iframeSrc}" name="iframe"  id="iframe"  marginheight="0"   style="height:100%; margin:10px 0 0 5px; width:99.5%; position: relative " align="center" frameborder="0">

                </iframe>
            </div>

            <div id="footer">
                <div >Copyright © 2017 eVision Financial Compliance Unit</div>
            </div><!-- end #footer -->
            
        </h:form>
    </body>
</html>

