<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Matching Setting</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        


        <p:resources/>

        <script type="text/javascript">
        function validate(evt) {
          if(evt.keyCode||evt.which==8){
              return true;
          }
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode( key );
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {

            if(theEvent.preventDefault) theEvent.preventDefault();
          }
        }


        </script>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">

            <p:panel header="Matching Rules" id="content">
                <div align="right">
                    <p:commandButton value="Refresh indexes"  onclick="refreshIndex.show()" />
                </div>
                <br />

                <p:confirmDialog widgetVar="refreshIndex" message="Refreshing indexes will take so long , are you sure you want to take this action?" id="refreshIndex">
                    <div align="right">
                        <p:commandButton value="Yes" onclick="refreshIndex.hide(), parent.dlgShow()" oncomplete="parent.dlgHide()"
                                         actionListener="#{MatchingSettingClient.RecreateIndex}"  />
                        <p:commandButton value="No" onclick="refreshIndex.hide()" />
                    </div>
                </p:confirmDialog>
                <p:dataTable id="mat_typ_dt"  value="#{MatchingSettingClient.matchingMTL}" var="ms" selectionMode="single"  rowKey="#{ms.id}">

                    <p:ajax event="rowSelect" listener="#{MatchingSettingClient.onRowSelect1}" update=":form1:content"   />
                    <p:ajax event="rowUnselect" listener="#{MatchingSettingClient.onRowUnSelect1}" update=":form1:content"/>
                    <f:facet name="header">
                        <h:outputText value="Matching Type"/>
                    </f:facet>
                    <p:column headerText="Side(1)">
                        <h:outputText value="#{ms.typ1}"/>
                    </p:column>
                    <p:column headerText="Side(2)">
                        <h:outputText value="#{ms.typ2}"/>
                    </p:column>

                    <p:column headerText="Active">
                        <h:selectBooleanCheckbox value="#{ms.activ}" valueChangeListener="#{MatchingSettingClient.mtActive}"/>
                    </p:column>

                    <p:column headerText="Action">
                        <p:commandLink update="display,:form1:content" actionListener="#{MatchingSettingClient.fillMatch}" onclick="confirmation_mat.show();" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateMatchingType" value="#{ms}" /></p:commandLink>
                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px">
                            <div style="margin: 5px 0 0 0; color: red; ">
                                <h:outputText value="#{MatchingSettingClient.message_mt}" id="display" />
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>

                <p:dataTable id="mach_typ_dt" value="#{MatchingSettingClient.matchingMTML}" var="ms1" selectionMode="single"  rowKey="#{ms1.machineType}"  selection="#{MatchingSettingClient.selectedATM}">

                    <p:ajax event="rowSelect" listener="#{MatchingSettingClient.onRowSelect2}" update=":form1:content"  />
                    <p:ajax event="rowUnselect" listener="#{MatchingSettingClient.onRowUnSelect2}" update=":form1:content"/>
                    <f:facet name="header">
                        <h:outputText value="Machine Type"/>
                    </f:facet>
                    <p:column headerText="Machine Type"  style="width:350px">
                        <h:selectOneMenu value="#{ms1.machineType}" style="width:170px"  valueChangeListener="#{MatchingSettingClient.getOldMachineType}">
                            <f:selectItems value="#{MatchingSettingClient.amtL}" var="myType"
                                           itemLabel="#{myType.name}" itemValue="#{myType.id}" />
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="Default">
                        <h:selectBooleanCheckbox value="#{ms1.defaultMatchSet}" valueChangeListener="#{MatchingSettingClient.defaultOld}"/>
                    </p:column>
                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation.show();" actionListener="#{MatchingSettingClient.fillAttr}" update=":form1:content"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms1}"/>

                        </p:commandLink> &nbsp;
                        <p:commandLink  update=":form1:content" actionListener="#{MatchingSettingClient.fillAttrUpdate}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms1}" /></p:commandLink>

                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{MatchingSettingClient.message}" id="display2" />
                            </div>
                            <div style="float: right">
                                <p:commandLink id="gtgt" actionListener="#{MatchingSettingClient.addMachineType}"    update=":form1:content,tete"  disabled="#{MatchingSettingClient.disableAdd}"    ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{MatchingSettingClient.showAdd}" /></p:commandLink>
                                <p:commandLink id="tete" actionListener="#{MatchingSettingClient.ConfirmedAdd}" update=":form1:content,gtgt"><h:graphicImage url="images/icons/succ.png" title="please confirm"  rendered="#{MatchingSettingClient.showConfirm}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>



                <p:dataTable id="mat_typ_set_dt" value="#{MatchingSettingClient.matchingMTSL}" var="ms2" rowKey="#{ms2.id}"  >
                    <f:facet name="header">
                        <h:outputText value="Matching Type Settings"/>
                    </f:facet>
                    <p:column headerText="Column">
                        <h:selectOneMenu value="#{ms2.columnId}" valueChangeListener="#{MatchingSettingClient.getOldColoumnID}" >
                            <f:selectItems value="#{MatchingSettingClient.fcdL}" var="myColoumn"
                                           itemLabel="#{myColoumn.name}" itemValue="#{myColoumn.id}" />
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="Part Setting">
                        <h:selectOneMenu value="#{ms2.partSetting}" valueChangeListener="#{MatchingSettingClient.getOldPartSetting}">
                            <f:selectItem itemLabel="Full" itemValue="1"/>
                            <f:selectItem itemLabel="From Start" itemValue="2"/>
                            <f:selectItem itemLabel="From End" itemValue="3"/>
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="Part Length">
                        <h:inputText onkeypress='validate(event)' value="#{ms2.partLength}" valueChangeListener="#{MatchingSettingClient.oldPartLenght}" />
                    </p:column>

                    <p:column headerText="Action">
                        <p:commandLink update=":form1:content" actionListener="#{MatchingSettingClient.fillAttrdel}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/cross.png" title="delete" />
                            <f:attribute name="removedMatching" value="#{ms2}" />
                        </p:commandLink> &nbsp;
                        <p:commandLink update=":form1:content" actionListener="#{MatchingSettingClient.fillAttrUp}" onclick="confirmation3.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateMatching" value="#{ms2}" /></p:commandLink>
                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{MatchingSettingClient.message_mtms}" id="display1" />
                            </div>
                            <div style="float: right">
                                <p:commandLink update="mat_typ_set_dt" actionListener="#{MatchingSettingClient.addMatchingSetting}" disabled="#{MatchingSettingClient.disableAddMatching}"><h:graphicImage url="images/icons/newmessage.png" title="add new row" rendered="#{MatchingSettingClient.showAddMatching}"  /></p:commandLink>
                                <p:commandLink update="mat_typ_set_dt" actionListener="#{MatchingSettingClient.confirmMatchingSetting}" ><h:graphicImage url="images/icons/succ.png" title="please confirm" rendered="#{MatchingSettingClient.showConfirmMatching}"  /></p:commandLink>
                            </div>
                            
                        </div>
                    </f:facet>

                </p:dataTable>


            </p:panel>

         
            <p:confirmDialog widgetVar="confirmation" message="Deleting this record  will affect other tables, are you sure?" id="confirmation" >
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{MatchingSettingClient.deleteMachineType}" update="mach_typ_dt" />
                <p:commandButton value="No" onclick="confirmation.hide()" type="button" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation1" message="Editing data will affect other tables, are you sure?" id="confirmation1" >
                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                 actionListener="#{MatchingSettingClient.updateMachineType}" update="mach_typ_dt" />
                <p:commandButton value="No" onclick="confirmation1.hide()" update="mach_typ_dt" actionListener="#{MatchingSettingClient.setOldValues}" />


            </p:confirmDialog>


            <p:confirmDialog widgetVar="confirmation2" message="Deleting this record  will affect other tables, are you sure?" id="confirmation2" >
                <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                 actionListener="#{MatchingSettingClient.deleteMatchingSetting}" update="mat_typ_set_dt" />
                <p:commandButton value="No" onclick="confirmation2.hide()" type="button" />


            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation3" message="Editing data will affect other tables, are you sure?" id="confirmation3" >
                <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                 actionListener="#{MatchingSettingClient.updateMatchingSetting}" update="mat_typ_set_dt" type="sumbit" />
                <p:commandButton value="No" onclick="confirmation3.hide()" update="mat_typ_set_dt" actionListener="#{MatchingSettingClient.setOldValuesMS}" />


            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation_mat" message="Editing data will affect other tables, are you sure?" id="confirmation_mat" >
                <p:commandButton value="Yes" onclick="confirmation_mat.hide()"
                                 actionListener="#{MatchingSettingClient.updateMatchingType}" update=":form1:content" />
                <p:commandButton value="No" onclick="confirmation_mat.hide()" update=":form1:content" actionListener="#{MatchingSettingClient.setOldActive}" />


            </p:confirmDialog>
   <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{MatchingSettingClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>

