 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Network Type Code Management</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form">
            <p:panel header="Network Type Code Management" >
                <h:panelGrid rendered="#{networkTypeCodeView.searchPriv()}" columns="7" >
                    <h:outputText value="Network ID:"/>
                    <p style="width: 40px" />
                    <p:selectOneMenu id="console3"  value="#{networkTypeCodeView.network}" >
                        <f:selectItem itemLabel="All" itemValue="0" />
                        <f:selectItems value="#{networkTypeCodeView.networkrecordsList}" var="kk" itemLabel="#{kk.name}" itemValue="#{kk.id}"/>
                    </p:selectOneMenu>
                    <p style="width: 40px" />
                    <h:outputText value="Network Code:"/>
                    <p style="width: 40px" />
                    <p:inputText value="#{networkTypeCodeView.code}" />
                </h:panelGrid>
                <div align="right">
                    <p:commandButton rendered="#{networkTypeCodeView.searchPriv()}"  update=":form:singleDT" actionListener="#{networkTypeCodeView.searchrecords()}" oncomplete="window.scrollTo(0, document.body.scrollHeight);"    value="search" icon="fa fa-search  Fs16 white"/>
                </div>
                <p:separator />

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>
                <p:dataTable id="singleDT" style="width: 98%;text-align: left" var="car" value="#{networkTypeCodeView.recordsList}" selectionMode="single" selection="#{networkTypeCodeView.selectedRecord}" rowKey="#{car.id}"
                             rows="10"  paginator="true" emptyMessage="No networks type found with given criteria">
                    <p:ajax event="rowSelect"  update=":form:carDetail" oncomplete="carDialog.show()" />
                    <f:facet name="header">
                        Networks Type Count: #{networkTypeCodeView.listcount} 
                    </f:facet>
                    <p:column headerText="Code" sortBy="#{car.code}" >
                        <h:outputText value="#{car.code}" />
                    </p:column>
                    <p:column headerText="Length" sortBy="#{car.length}" >
                        <h:outputText value="#{car.length}" />
                    </p:column>
                    <p:column headerText="Start Position" sortBy="#{car.startposition}" >
                        <h:outputText value="#{car.startposition}" />
                    </p:column>
                    <p:column headerText="Network" sortBy="#{car.networkvalue}" >
                        <h:outputText value="#{car.networkvalue}" />
                    </p:column>
                    <p:column headerText="Column" sortBy="#{car.columnvalue}" >
                        <h:outputText value="#{car.columnvalue}" />
                    </p:column>
                  
                    <f:facet name="footer">
                        <div align="center" style="height: 20px" >
                            <div style="float: right">
                                <p:commandLink rendered="#{networkTypeCodeView.insertPriv()}" actionListener="#{networkTypeCodeView.addRecord()}"  oncomplete="carDialog2.show()"   update=":form:carDetail2"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable>
                <p:separator />
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="singleDT" fileName="cashManagmentLogExcel" />  
                        </h:commandLink>
                        <p:commandLink ajax="false" actionListener="#{networkTypeCodeView.printreportPDF()}"  >
                            <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                            <p:fileDownload value="#{networkTypeCodeView.download}" />
                        </p:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/csv.png"  title="cashManagmentLogCSV"  />
                            <p:dataExporter type="csv" target="singleDT" fileName="cashManagmentLogCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/xml.png"  title="cashManagmentLogXML"  />
                            <p:dataExporter type="xml" target="singleDT" fileName="cashManagmentLogXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:dialog header="Network Type Update Operation" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty networkTypeCodeView.selectedRecord}">

                            <h:outputText value="Code" />
                            <p:inputText value="#{networkTypeCodeView.selectedRecord.code}" />

                            <h:outputText value="Column" />
                            <p:selectOneMenu id="console2" style="width: 130px" value="#{networkTypeCodeView.selectedRecord.columnid}" >
                                <f:selectItem itemLabel="UnAssigned" itemValue="" />
                                <f:selectItems value="#{networkTypeCodeView.columnList}" var="kk" itemLabel="#{kk.header}" itemValue="#{kk.id}"/>
                            </p:selectOneMenu>

                            <h:outputText value="Length" />
                            <p:inputMask id="number4" value="#{networkTypeCodeView.selectedRecord.length}" mask="9?9999"/>

                            <h:outputText value="Network" />
                            <p:selectOneMenu id="console1" style="width: 130px" value="#{networkTypeCodeView.selectedRecord.networkid}" >
                                <f:selectItem itemLabel="UnAssigned" itemValue="" />
                                <f:selectItems value="#{networkTypeCodeView.networkrecordsList}" var="kk" itemLabel="#{kk.name}" itemValue="#{kk.id}"/>
                            </p:selectOneMenu>

                            <h:outputText value="Start Position" />
                            <p:inputMask id="number3" value="#{networkTypeCodeView.selectedRecord.startposition}" mask="9?9999"/>

                            

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{networkTypeCodeView.updatePriv()}" actionListener="#{networkTypeCodeView.updateRecord()}"   oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="update" icon="fa fa-cloud-upload  Fs16 white"/>
                            <p:commandButton rendered="#{networkTypeCodeView.deletePriv()}" actionListener="#{networkTypeCodeView.deleteRecord()}" oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="delete" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
                <p:dialog header="Network Type Add Operation" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty networkTypeCodeView.newRecord}">

                            <h:outputText value="Code" />
                            <p:inputText value="#{networkTypeCodeView.newRecord.code}" />

                            <h:outputText value="Column" />
                            <p:selectOneMenu id="console4" style="width: 130px" value="#{networkTypeCodeView.newRecord.columnid}" >
                                <f:selectItem itemLabel="UnAssigned" itemValue="" />
                                <f:selectItems value="#{networkTypeCodeView.columnList}" var="kk" itemLabel="#{kk.header}" itemValue="#{kk.id}"/>
                            </p:selectOneMenu>

                            <h:outputText value="Length" />
                            <p:inputMask id="number" value="#{networkTypeCodeView.newRecord.length}" mask="9?9999"/>

                            <h:outputText value="Network" />
                            <p:selectOneMenu id="console" style="width: 130px"  value="#{networkTypeCodeView.newRecord.networkid}" >
                                <f:selectItem itemLabel="UnAssigned" itemValue="" />
                                <f:selectItems value="#{networkTypeCodeView.networkrecordsList}" var="kk" itemLabel="#{kk.name}" itemValue="#{kk.id}"/>
                            </p:selectOneMenu>

                            <h:outputText value="Start Position" />
                            <p:inputMask id="number2" value="#{networkTypeCodeView.newRecord.startposition}" mask="9?9999"/>

                         
                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{networkTypeCodeView.insertPriv()}" actionListener="#{networkTypeCodeView.saveRecord()}" oncomplete="carDialog2.hide()" update=":form:singleDT" value="save" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:panel>
        </h:form>

    </h:body>
</html>
