<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Network Setup</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <body style="background: none" >
        <h:form id="form1">
            <p:panel header="Network" id="content">
                <div align="center">
                    <p:dataTable style="width:600px" id="mat_typ_dt"  value="#{NetworkSetupClient.netList}" var="ms"
                                 selectionMode="single" selection="#{NetworkSetupClient.selectedNet}" rowKey="#{ms.groupId}">

                        <p:ajax event="rowSelect" listener="#{NetworkSetupClient.onRowSelect1}" update=":form1:content"   />
                        <p:ajax event="rowUnselect" listener="#{NetworkSetupClient.onRowUnSelect1}" update=":form1:content"/>

                        <f:facet name="header">
                            <h:outputText value="Network Setup"/>
                        </f:facet>

                        <p:column headerText="*Name">
                            <h:inputText value="#{ms.groupName}"/>
                        </p:column>

                        <p:column headerText="*Network">
                            <h:inputText value="#{ms.network}"/>
                        </p:column>

                        <p:column id="opt" headerText="Action">
                            <p:commandLink  oncomplete="confirmation.show();" actionListener="#{NetworkSetupClient.fillDelete}" update=":form1:content"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                            <p:commandLink  update=":form1:content" actionListener="#{NetworkSetupClient.fillUpdate}" oncomplete="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>

                        </p:column>

                        <f:facet name="footer">

                            <div align="center" style="height:20px" >
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{NetworkSetupClient.message}" id="display2" />
                                </div>

                                <div style="float:right" >
                                    <p:commandLink onclick="addpop.show()" ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{NetworkSetupClient.showAdd}" /></p:commandLink>
                                </div>

                            </div>
                        </f:facet>
                    </p:dataTable>
                </div>
                <p:dialog header="Add new group" widgetVar="addpop" id="addpop" closable="true" resizable="false" draggable="false" modal="true">
                    <h:panelGrid columns="3" style="line-height: 40px" >
                        <h:outputText value="Name" />
                        <p style="width:10px" />
                        <p:inputText value="#{NetworkSetupClient.groupName}" />

                        <h:outputText value="Network" />
                        <p style="width:10px" />
                        <p:inputText value="#{NetworkSetupClient.networkName}" />

                    </h:panelGrid>
                    <div align="right">
                        <p:commandButton value="Add" oncomplete="addpop.hide()"  actionListener="#{NetworkSetupClient.confrimRecord}"  update=":form1:mat_typ_dt"/>
                    </div>
                </p:dialog>

                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{NetworkSetupClient.deleteRecord}" update=":form1:content" />
                    <p:commandButton value="No" onclick="confirmation.hide()" update="mat_typ_dt" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{NetworkSetupClient.updateRecord}" update="mat_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" update="mat_typ_dt" />
                </p:confirmDialog>

                <p:dataTable id="mach_typ_dt" value="#{NetworkSetupClient.netDetailList}" var="ms1"  rowKey="#{ms1.groupId}">
                    <f:facet name="header">
                        <h:outputText value="Default"/>
                    </f:facet>

                    <p:column headerText="*Currency"  >
                        <h:selectOneMenu value="#{ms1.currency}" valueChangeListener="#{NetworkSetupClient.changeCurrency}" >
                            <f:selectItems value="#{NetworkSetupClient.currList}" var="curr" itemLabel="#{curr.name}" itemValue="#{curr.id}" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column headerText="*Rate"  >
                        <h:inputText  value="#{ms1.rate}" />
                    </p:column>

                    <p:column headerText="Rate Type"  >
                        <h:selectOneMenu value="#{ms1.rateType}" >
                            <f:selectItem itemLabel="Percentage" itemValue="1" />
                            <f:selectItem itemLabel="Fixed" itemValue="2" />
                        </h:selectOneMenu>

                    </p:column>

                    <p:column headerText="*Amount From"  >
                        <h:inputText  value="#{ms1.amountFrom}" />
                    </p:column>


                    <p:column headerText="*Amount To"  >
                        <h:inputText  value="#{ms1.amountTo}" />
                    </p:column>

                    <p:column headerText="Transaction Type"  >
                        <h:selectOneMenu value="#{ms1.transactionType}"   valueChangeListener="#{NetworkSetupClient.changeTransaction}" >
                            <f:selectItems value="#{NetworkSetupClient.transList}" var="trans" itemLabel="#{trans.name}" itemValue="#{trans.id}" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation3.show();" actionListener="#{NetworkSetupClient.fillDelete1}" update="display3,mach_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow1" value="#{ms1}"/>
                        </p:commandLink>

                        <p:commandLink  update="display3,mach_typ_dt" actionListener="#{NetworkSetupClient.fillUpdate1}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow1" value="#{ms1}" />
                        </p:commandLink>
                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{NetworkSetupClient.messageDetails}" id="display3" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{NetworkSetupClient.addDetailRecord}"    update="mach_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{NetworkSetupClient.showAddDetail}" /></p:commandLink>
                                <p:commandLink actionListener="#{NetworkSetupClient.confirmDetailRecord}"  update="mach_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{NetworkSetupClient.showConfirmDetail}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to delete?" id="confirmation3">
                    <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                     actionListener="#{NetworkSetupClient.deleteRecord1}" update="mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation3.hide()" update="mach_typ_dt" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{NetworkSetupClient.updateRecord1}" update="mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update="mach_typ_dt" />
                </p:confirmDialog>


                <p:dataTable id="mach_typ_dt1" value="#{NetworkSetupClient.netDetailedList}" var="ms2" rowKey="#{ms2.groupId}" >
                    <f:facet name="header">
                        <h:outputText value="Exceptions"/>
                    </f:facet>

                    <p:column headerText="*Currency"  >
                        <h:selectOneMenu value="#{ms2.currency}" valueChangeListener="#{NetworkSetupClient.changeCurrency1}" >
                            <f:selectItems value="#{NetworkSetupClient.currList}" var="curr1" itemLabel="#{curr1.name}" itemValue="#{curr1.id}" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column headerText="*Rate"  >
                        <h:inputText  value="#{ms2.rate}" />
                    </p:column>

                    <p:column headerText="Rate Type"  >
                        <h:selectOneMenu value="#{ms2.rateType}" >
                            <f:selectItem itemLabel="Percentage" itemValue="1" />
                            <f:selectItem itemLabel="Fixed" itemValue="2" />
                        </h:selectOneMenu>

                    </p:column>

                    <p:column headerText="*Bin"  >
                        <h:inputText  value="#{ms2.bin}" valueChangeListener="#{NetworkSetupClient.changeBin1}" />
                    </p:column>

                    <p:column headerText="*Amount From"  >
                        <h:inputText  value="#{ms2.amountFrom}" />
                    </p:column>


                    <p:column headerText="*Amount To"  >
                        <h:inputText  value="#{ms2.amountTo}" />
                    </p:column>

                    <p:column headerText="Transaction Type"  >
                        <h:selectOneMenu value="#{ms2.transactionType}"   valueChangeListener="#{NetworkSetupClient.changeTransaction1}" >
                            <f:selectItems value="#{NetworkSetupClient.transList}" var="trans1" itemLabel="#{trans1.name}" itemValue="#{trans1.id}" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation5.show();" actionListener="#{NetworkSetupClient.fillDelete2}" update="display4,mach_typ_dt1"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow2" value="#{ms2}"/>
                        </p:commandLink>

                        <p:commandLink  update="display4,mach_typ_dt1" actionListener="#{NetworkSetupClient.fillUpdate2}" onclick="confirmation6.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow2" value="#{ms2}" />
                        </p:commandLink>
                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{NetworkSetupClient.messageDetailed}" id="display4" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{NetworkSetupClient.addDetailRecord1}"    update="mach_typ_dt1"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{NetworkSetupClient.showAddDetailed}" /></p:commandLink>
                                <p:commandLink actionListener="#{NetworkSetupClient.confirmDetailRecord1}"  update="mach_typ_dt1"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{NetworkSetupClient.showConfirmDetailed}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation5" message="Are you sure you want to delete?" id="confirmation5">
                    <p:commandButton value="Yes" onclick="confirmation5.hide()"
                                     actionListener="#{NetworkSetupClient.deleteRecord2}" update="mach_typ_dt1" />
                    <p:commandButton value="No" onclick="confirmation5.hide()" update="mach_typ_dt1" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation6" message="Are you sure you want to update?" id="confirmation6" >
                    <p:commandButton value="Yes" onclick="confirmation6.hide()"
                                     actionListener="#{NetworkSetupClient.updateRecord2}" update="mach_typ_dt1" />
                    <p:commandButton value="No" onclick="confirmation6.hide()" update="mach_typ_dt1" />
                </p:confirmDialog>


            </p:panel>
              <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{NetworkSetupClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
            <!-- Confrim Dialogs -->
        </h:form>
    </body>
</html>

