 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Network Management</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form">
            <p:panel header="Network Management" >
                <h:panelGrid rendered="#{networksView.searchPriv()}" columns="4" >
                    <h:outputText value="Network Name:"/>
                    <p style="width: 40px" />
                    <p:autoComplete id="acSimple" value="#{networksView.atmname}" completeMethod="#{networksView.completeContains}" >
                        <p:ajax update="acSimple"/>  
                    </p:autoComplete>
                </h:panelGrid>
                <div align="right">
                    <p:commandButton rendered="#{networksView.searchPriv()}"  update=":form:singleDT" actionListener="#{networksView.searchrecords()}" oncomplete="window.scrollTo(0, document.body.scrollHeight);"    value="search" icon="fa fa-search  Fs16 white"/>
                </div>
                <p:separator />

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>
                <p:dataTable id="singleDT" style="width: 98%;text-align: left" var="car" value="#{networksView.recordsList}" selectionMode="single" selection="#{networksView.selectedRecord}" rowKey="#{car.id}"
                             rows="10"  paginator="true" emptyMessage="No networks found with given criteria">
                    <p:ajax event="rowSelect"  update=":form:carDetail" oncomplete="carDialog.show()" />
                    <f:facet name="header">
                        Networks Count: #{networksView.listcount} 
                    </f:facet>
                    <p:column headerText="Name" sortBy="#{car.name}" >
                        <h:outputText value="#{car.name}" />
                    </p:column>
                    <f:facet name="footer">
                        <div align="center" style="height: 20px" >
                            <div style="float: right">
                                <p:commandLink rendered="#{networksView.insertPriv()}" actionListener="#{networksView.addRecord()}"  oncomplete="carDialog2.show()"   update=":form:carDetail2"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable>
                     <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="singleDT" fileName="NetworksExcel" />  
                        </h:commandLink>
                        <p:commandLink ajax="false" actionListener="#{networksView.printreportPDF()}"  >
                            <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                            <p:fileDownload value="#{networksView.download}" />
                        </p:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/csv.png"  title="NetworksCSV"  />
                            <p:dataExporter type="csv" target="singleDT" fileName="NetworksCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/xml.png"  title="NetworksXML"  />
                            <p:dataExporter type="xml" target="singleDT" fileName="NetworksXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
           
                <p:separator />

                <p:dialog header="Network Update Operation" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty networksView.selectedRecord}">

                            <h:outputText value="Name" />
                            <p:inputText value="#{networksView.selectedRecord.name}" />

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{networksView.updatePriv()}" actionListener="#{networksView.updateRecord()}"   oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="update" icon="fa fa-cloud-upload  Fs16 white"/>
                            <p:commandButton rendered="#{networksView.deletePriv()}" actionListener="#{networksView.deleteRecord()}" oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="delete" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
                <p:dialog header="Network Add Operation" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty networksView.newRecord}">

                            <h:outputText value="Name" />
                            <p:inputText value="#{networksView.newRecord.name}" />

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{networksView.insertPriv()}" actionListener="#{networksView.saveRecord()}" oncomplete="carDialog2.hide()" update=":form:singleDT" value="save" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:panel>
        </h:form>

    </h:body>
</html>
