<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Rep. Group</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel id="content" header="Assign Rep. Group " style="height: 550px ;text-align: left">

                <p:ajaxStatus oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" style="width:16px;height:16px; margin: 0 0 0 0">
                    <f:facet name="start">

                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>



                <div align="center">
                    <table align="center" width="60%" >
                        <tr>
                            <td valign="top">
                                <h:panelGrid columns="5" id="search"  style="line-height: 10px; height: 90px" >
                                    <h:outputText value="Status" style="margin: 80px 0 0" />
                                    <p style="width:5px" />
                                    <h:selectOneMenu value="#{RepGroupAssignClient.status}"   valueChangeListener="#{RepGroupAssignClient.statusChange}" >
                                        <p:ajax update="display,atmDrop, repDrop, blockReason" />
                                        <f:selectItem itemLabel="Assigned" itemValue="0" />
                                        <f:selectItem itemLabel="Unssigned" itemValue="1" />
                                    </h:selectOneMenu>
                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>

                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <p style="height: 10px" />


                                    <h:outputText value="ATM Group" style="margin: 80px 0 0" />
                                    <p style="width:5px" />
                                    <h:selectOneMenu id="atmDrop" disabled="#{RepGroupAssignClient.atmFlag}" value="#{RepGroupAssignClient.group1}"   valueChangeListener="#{RepGroupAssignClient.userChange}">
                                        <p:ajax update="blockReason, display" />
                                        <f:selectItem itemLabel="Choose one" itemValue="-2" />
                                        <f:selectItem itemLabel="Un-assigned ATMS" itemValue="-1" />
                                        <f:selectItems value="#{RepGroupAssignClient.atmList}" var="c1" itemLabel="#{c1.name}" itemValue="#{c1.id}"/>
                                    </h:selectOneMenu>
                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>


                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <p style="height: 10px" />

                                    <h:outputText value="Rep-Groups" />
                                    <p style="width:10px" />
                                    <h:selectOneMenu id="repDrop" disabled="#{RepGroupAssignClient.repFlag}" value="#{RepGroupAssignClient.group2}"   valueChangeListener="#{RepGroupAssignClient.userChange1}">
                                        <p:ajax update="blockReason,display" />
                                        <f:selectItem itemLabel="Choose one" itemValue="0" />
                                        <f:selectItems value="#{RepGroupAssignClient.groupList}" var="c2" itemLabel="#{c2.groupName}" itemValue="#{c2.groupid}"/>
                                    </h:selectOneMenu>
                                    <p style="width:150px" />
                                    <p:commandButton value="#{RepGroupAssignClient.selectText1}" id="selectBtn1" actionListener="#{RepGroupAssignClient.selectSourceTable}" update=":form1:blockReason,selectBtn1"  style="width:120px"/>
                                </h:panelGrid>
                                <br />

                                <h:panelGrid columns="3" style="vertical-align: text-top; " >
                                    <p:dataTable id="blockReason" selection="#{RepGroupAssignClient.selectedSource}"  rowKey="#{ms}" value="#{RepGroupAssignClient.sourceList}" rows="7" paginator="true" var="ms" style="width:450px">
                                        <f:facet name="header" >
                                            <h:outputText value="Unassigned ATMs" />
                                        </f:facet>
                                        <p:column selectionMode="multiple" style="width:10px" />
                                        <p:column headerText="ATM ID" style="width:40px">
                                            <h:outputText value="#{ms}" style="text-align: center"  />
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </td>
                            <td>
                                <p style="width:50px" />
                            </td>
                            <td valign="top">
                                <div style="position: relative">
                                    <div style="height: 90px ;display: inline">
                                        <h:panelGrid columns="5" style="vertical-align: text-bottom;  height: 20px" >
                                            <h:outputText value="Rep-Groups" />
                                            <p style="width:10px" />
                                            <h:selectOneMenu id="repDrop1"  value="#{RepGroupAssignClient.group3}"   valueChangeListener="#{RepGroupAssignClient.userChange2}">
                                                <p:ajax update="blockReason1,display,repDrop1" />
                                                <f:selectItem itemLabel="Choose one" itemValue="0" />
                                                <f:selectItems value="#{RepGroupAssignClient.groupList}" var="c2" itemLabel="#{c2.groupName}" itemValue="#{c2.groupid}"/>
                                            </h:selectOneMenu>
                                            <p style="width:180px" />
                                            <p:commandButton value="#{RepGroupAssignClient.selectText}" actionListener="#{RepGroupAssignClient.selectTargetTable}" id="selectBtn" update=":form1:blockReason1,selectBtn" style="width:120px"/>
                                        </h:panelGrid>
                                    </div>
                                    <br />
                                    <h:panelGrid columns="3" style="vertical-align: text-top; " >
                                        <p:dataTable id="blockReason1"  selection="#{RepGroupAssignClient.selectedTarget}" rowKey="#{ms1}" value="#{RepGroupAssignClient.targetList}" rows="7" paginator="true" var="ms1" style="width:450px">
                                            <f:facet name="header" >
                                                <h:outputText value="Assigned ATMs" />
                                            </f:facet>
                                            <p:column selectionMode="multiple" style="width:10px" />
                                            <p:column headerText="ATM ID" style="width:40px">
                                                <h:outputText value="#{ms1}" style="text-align: center"  />
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGrid>
                                </div>
                            </td>
                        </tr></table>
                    <br />
                    <div align="center" style=" position: absolute ; width:99%"><h:outputText id="display" value="#{RepGroupAssignClient.message}" style="color:red; font-weight: bold " /></div>
                    <div align="right" style="width:60%;">
                        <p:commandButton value="Transfer" update="content" actionListener="#{RepGroupAssignClient.saveList}" />
                    </div>
                </div>

            </p:panel>
        </h:form>
    </h:body>
</html>