<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ATM Machines</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />


        <!-- JavaScript -->
        <p:resources/>
        <script language="JavaScript">


            var time = null
            function move() {
                window.location = 'Login.xhtml'

            }
        </script>
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
            #form1:fromCalener_input{
                background: green;
            }
        </style>
        <script type="text/javascript">
<!--
            function reSize(h, w)
            {
                document.getElementById('form1:ove1').style.height = h + "px";
                document.getElementById("form1:ove1").style.width = w + "px";
            }

            function reSize1(h, w)
            {
                document.getElementById('form1:ove2').style.height = h + "px";
                document.getElementById("form1:ove2").style.width = w + "px";
            }
            function iconCheck() {
                var cIcon = document.getElementById('form1:from1_input').value;

                if (cIcon == "") {
                    document.getElementById('form1:cal').src = "images/icons/calendar.png";
                }
                else {
                    document.getElementById('form1:cal').src = "images/icons/calendar1.png";
                }
            }
//-->
        </script>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">

            <p:panel header="Replenishment Details"  id="contentPanel">
                <p:fieldset style="line-height: 35px; margin-top: 15px">
                    <div align="right" style="width:90%" >
                        <p:overlayPanel for="calBtn" id="ove1"  onHide="reSize(40,500);" >
                            <div align="left">
                                <h:panelGrid columns="17" >
                                    <h:outputText value="Date from" />
                                    <p style="width: 40px" />
                                    <p:calendar pattern="dd.MM.yyyy HH:mm:ss" id="from1" disabled="#{ReplanishmentClient.subdatefromFlag}"   value="#{ReplanishmentClient.fromDate_ico}"  onclick="reSize(300, 560);"  >
                                        <p:ajax  event="blur" listener="#{ReplanishmentClient.overlayCheck}" update="calBtn,searchCri,ove2" />
                                    </p:calendar>
                                    <p style="width: 20px" />

                                    <h:outputText value="Date to" />
                                    <p style="width: 40px" />
                                    <p:calendar  pattern="dd.MM.yyyy HH:mm:ss" disabled="#{ReplanishmentClient.subdatefromFlag}"   value="#{ReplanishmentClient.toDate_ico}" onclick="reSize(300, 560);"  >
                                        <p:ajax  event="blur" listener="#{ReplanishmentClient.overlayCheck}" update="calBtn,searchCri,ove2" />
                                    </p:calendar>
                                </h:panelGrid>
                            </div>
                        </p:overlayPanel>


                        <p:overlayPanel for="cal1" id="ove2"  onHide="reSize1(40,525);" >
                            <div align="left">
                                <h:panelGrid columns="17" >
                                    <h:outputText value="Date from" />
                                    <p style="width: 40px" />
                                    <p:calendar disabled="#{ReplanishmentClient.subdatetoFlag}" pattern="dd.MM.yyyy HH:mm:ss" valueChangeListener="#{ReplanishmentClient.calenderIconChange}"  value="#{ReplanishmentClient.fromDate_ico1}"  onclick="reSize1(300, 560);"  >
                                        <p:ajax  event="blur" listener="#{ReplanishmentClient.overlayCheck}" update="calBtn1,searchCri,ove1" />
                                    </p:calendar>
                                    <p style="width: 70px" />

                                    <h:outputText value="Date to" />
                                    <p style="width: 40px" />
                                    <p:calendar pattern="dd.MM.yyyy HH:mm:ss" disabled="#{ReplanishmentClient.subdatetoFlag}" valueChangeListener="#{ReplanishmentClient.calenderIconChange}" value="#{ReplanishmentClient.toDate_ico1}" onclick="reSize1(300, 560);" >
                                        <p:ajax  event="blur" listener="#{ReplanishmentClient.overlayCheck}" update="calBtn1,searchCri,ove1" />
                                    </p:calendar>
                                </h:panelGrid>
                            </div>
                        </p:overlayPanel>

                        <h:panelGrid  rendered="#{ReplanishmentClient.searchPriv()}" columns="17" id="searchCri" >
                            <h:outputText value="Date from" />
                            <p style="width: 40px" />
                            <p:calendar disabled="#{ReplanishmentClient.datefromFlag}"  pattern="dd.MM.yyyy HH:mm:ss" value="#{ReplanishmentClient.fromDate}"  id="fromCalener" >
                                <p:ajax  event="blur" listener="#{ReplanishmentClient.overlayCheck}"  update="calBtn,form1:ove1,calBtn1,form1:ove2" />
                            </p:calendar>

                            <h:commandLink disabled="#{ReplanishmentClient.subdatefromFlag}" id="calBtn" onclick="return false"> <h:graphicImage  url="images/icons/calendar.png"  title="Range" id="cal"  style="margin: 0 0 0 3px"  /></h:commandLink>

                            <p style="width: 70px" />

                            <h:outputText value="Date to" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ReplanishmentClient.toDate}" disabled="#{ReplanishmentClient.datetoFlag}" id="toCalener" >
                                <p:ajax  event="blur" listener="#{ReplanishmentClient.overlayCheck}"  update="calBtn,form1:ove1,calBtn1,form1:ove2" />
                            </p:calendar>
                            <h:commandLink disabled="#{ReplanishmentClient.subdatetoFlag}" id="calBtn1" onclick="return false"><p:graphicImage url="images/icons/calendar.png"  title="Range" id="cal1"  style="margin: 0 0 0 3px"  /></h:commandLink>

                            <p style="width: 70px" />

                            <h:outputLabel value="ATM ID" for="acMaxResults" />
                            <p style="width: 40px" />
                            <p:autoComplete id="acMaxResults" maxResults="5"  value="#{ReplanishmentClient.texttocomp}"
                                            completeMethod="#{ReplanishmentClient.complete}"/>
                            <p style="width: 70px" />
                            <h:outputText value="Groups" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{ReplanishmentClient.group2}"  valueChangeListener="#{ReplanishmentClient.groupChange}" >
                                <p:ajax update="acMaxResults" />
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{ReplanishmentClient.groupList}" var="ms" itemLabel="#{ms.name}" itemValue="#{ms.id}" />
                            </h:selectOneMenu>

                            <h:outputText value="Create from" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ReplanishmentClient.fromCreate}" />
                            <h:outputText />

                            <p style="width: 70px" />

                            <h:outputText value="Create to" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ReplanishmentClient.toCreate}" />
                            <h:outputText />

                            <p style="width: 70px" />
                            <h:outputText value="Users" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{ReplanishmentClient.userInt}"  >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItem itemValue="-1" itemLabel="System" />
                                <f:selectItems value="#{BingoReportClient.repDetailsUsers}" var="ms" itemLabel="#{ms.userName}" itemValue="#{ms.userId}" />
                            </h:selectOneMenu>
                            <p style="width: 70px" />
                            <h:outputText value="Processed" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{ReplanishmentClient.status}"  >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItem itemValue="1" itemLabel="Yes" />
                                <f:selectItem itemValue="2" itemLabel="No" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <div align="center" style="height: 50px" >
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%; font-weight: bold">
                                <h:outputText value="#{ReplanishmentClient.messageDlg}" id="display" />
                            </div>
                            <div align="right" >
                                <p:commandButton  id="searchBtn" rendered="#{ReplanishmentClient.searchPriv()}"  update="mat_typ_dt,mach_typ_dt,display" value="Search" actionListener="#{ReplanishmentClient.doSearch}" oncomplete="parent.dlgHide()" onclick="parent.dlgShow()" />
                            </div>
                        </div>
                    </div>
                </p:fieldset>

                <br />
                <p:commandButton  id="selectAll"  update="mat_typ_dt,mach_typ_dt,display" rendered="#{ReplanishmentClient.updatePriv()}" value="Mark all as processed" actionListener="#{ReplanishmentClient.SelectAllProcess}"  />

                <p:commandButton  id="DselectAll"  update="mat_typ_dt,mach_typ_dt,display" rendered="#{ReplanishmentClient.updatePriv()}" value="Mark all as unprocessed" actionListener="#{ReplanishmentClient.SelectDselectProcess}"  />
                <br /><br />
                <h:panelGrid columns="1" style="width:100%">
                    <p:dataTable  widgetVar="repTable"  id="mat_typ_dt" paginator="true" rows="7" rowKey="#{ms.id}"  value="#{ReplanishmentClient.cdList}" var="ms"  >

                        <p:ajax event="rowSelect" listener="#{ReplanishmentClient.onRowSelect1}" update=":form1:mach_typ_dt,:form1:mach_typ_dt222"   />
                        <p:ajax event="rowUnselect" listener="#{ReplanishmentClient.onRowUnSelect1}" update=":form1:mach_typ_dt,:form1:mach_typ_dt222"/>

                        <p:column selectionMode="single" style="width:10px" />

                        <f:facet name="header">
                            <h:outputText value="Replenishment Details"/>
                        </f:facet>

                        <p:column headerText="Details"  style="width:20px">
                            <h:commandLink   id="dis_side" actionListener="#{ReplanishmentClient.replPopUp}" style="margin: 0 0 0 -10px" >
                                <h:graphicImage url="images/icons/arrow.png" />
                                <p:ajax update="mat_typ_dt,otherSide_dis,otherSide" />
                                <f:attribute name="reppop"  value="#{ms}"/>
                            </h:commandLink>
                            <p:overlayPanel   for="dis_side" my="right top" at="right bottom"   >

                                <p:dataTable id="otherSide" rows="2"  var="odis" value="#{ReplanishmentClient.popUp}" style="margin: 0 -11px 0 -11px" >
                                    <f:facet name="header">
                                        <h:outputText value="Previous Replenishment"/>
                                    </f:facet>
                                    <p:column headerText="Date From">
                                        <h:outputText value="#{odis.lastdatefrom}">
                                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{ReplanishmentClient.timeZone}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Date to">
                                        <h:outputText value="#{odis.lastdateto}">
                                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{ReplanishmentClient.timeZone}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Dispensed Journal">
                                        <h:outputText value="#{odis.lastcassetvalue}" />
                                    </p:column>
                                    <p:column headerText="Dispensed Switch">
                                        <h:outputText value="#{odis.lastswitchvalue}" />
                                    </p:column>
                                    <p:column  headerText="Switch Diff">
                                        <h:outputText value="#{odis.lastswitchdiff}" />
                                    </p:column>
                                    <p:column headerText="Journal Diff">
                                        <h:outputText value="#{odis.lastcassetdiff}" />
                                    </p:column>
                                    <p:column headerText= "Disputes">
                                        <h:outputText value="#{odis.lastdispute}" />
                                    </p:column>
                                    <p:column  headerText="Comments">
                                        <h:outputText value="#{odis.lastcomment}" />
                                    </p:column>

                                </p:dataTable>

                                <p:dataTable id="otherSide_dis" rows="2"  var="os_dis" value="#{ReplanishmentClient.popUp}" style="margin: 0 -11px 0 -11px" >
                                    <f:facet name="header">
                                        <h:outputText value="Current Replenishment"/>
                                    </f:facet>
                                    <p:column headerText="Date From">
                                        <h:outputText value="#{os_dis.currentdatefrom}" >
                                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{ReplanishmentClient.timeZone}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Date to">
                                        <h:outputText value="#{os_dis.currentdateto}" >
                                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{ReplanishmentClient.timeZone}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Dispensed Journal">
                                        <h:outputText value="#{os_dis.currentcassetvalue}" />
                                    </p:column>
                                    <p:column headerText="Dispensed Switch">
                                        <h:outputText value="#{os_dis.currentswitchvalue}" />
                                    </p:column>
                                    <p:column  headerText="Switch Diff">
                                        <h:outputText value="#{os_dis.currentswitchdiff}" />
                                    </p:column>
                                    <p:column headerText="Journal Diff">
                                        <h:outputText value="#{os_dis.currentcassetdiff}" />
                                    </p:column>


                                    <p:column headerText= "Disputes">
                                        <h:outputText value="#{os_dis.currentdispute}" />
                                    </p:column>
                                    <p:column  headerText="Comments">
                                        <h:outputText value="#{os_dis.currentcomment}" />
                                    </p:column>
                                </p:dataTable>

                            </p:overlayPanel>
                        </p:column>
                        <p:column headerText="Date from">
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ms.dateFrom}" />
                        </p:column>

                        <p:column headerText="Date to">
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{ms.dateTo}"/>
                        </p:column>

                        <p:column headerText="ATM ID">

                            <h:selectOneMenu disabled="true" value="#{ms.atmId}"  >
                                <p:ajax update="mat_typ_dt" />
                                <f:selectItems value="#{ReplanishmentClient.atmList}" var="c" itemLabel="#{c.applicationId}" itemValue="#{c.id}" />
                            </h:selectOneMenu>

                        </p:column>

                        <p:column headerText="Created by">
                            <h:outputText value="#{ms.uname}"  style="width:145px; height: 25px" />
                        </p:column>

                        <p:column headerText="Created date">
                            <h:outputText value="#{ms.createdDate}">
                                <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{ReplanishmentClient.timeZone}"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Cards taken">
                            <h:outputText value="#{ms.cardstaken}"  style="width:50px"  />
                        </p:column>
                        <p:column headerText="Comment">
                            <h:inputTextarea value="#{ms.comment}"  style="width:145px; height: 25px" />
                        </p:column>

                        <p:column headerText="Proc.">
                            <p:selectBooleanCheckbox value="#{ms.rowstatus}" />
                        </p:column>

                        <p:column id="opt" headerText="Action" ><p:panelGrid columns="5" >
                                <p:commandLink  onclick="confirmation.show();" rendered="#{ReplanishmentClient.deletePriv()}" actionListener="#{ReplanishmentClient.fillDelete}" update=":form1:contentPanel,mat_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                    <f:attribute name="removedRow" value="#{ms}"/>

                                </p:commandLink> 
                                <p:commandLink  actionListener="#{ReplanishmentClient.fillUpdate}" rendered="#{ReplanishmentClient.updatePriv()}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                                    <f:attribute name="updateRow" value="#{ms}" />
                                </p:commandLink>

                                <p:commandLink ajax="false" actionListener="#{ReplanishmentClient.printReplanishment}"  >
                                    <f:attribute name="printRow" value="#{ms}" />
                                    <p:graphicImage url="images/icons/print1.gif"  title="Print"  />
                                    <p:fileDownload value="#{ReplanishmentClient.download}" />
                                </p:commandLink>

                                <p:commandLink  actionListener="#{ReplanishmentClient.exportExcel}" rendered="#{ReplanishmentClient.exportPriv()}"   update=":form1:excelList"  oncomplete="document.getElementById('form1:excelBtn').click()">
                                    <p:graphicImage url="images/icons/excelicon.png"  title="Export Excel"  />
                                    <f:attribute name="excelRow" value="#{ms}" />
                                </p:commandLink>
                                <p:commandLink  onclick="confirmation4.show();" actionListener="#{ReplanishmentClient.fillrecalc}" rendered="#{ReplanishmentClient.updatePriv()}" ><h:graphicImage url="images/icons/2.png" title="ReCalculate" />
                                    <f:attribute name="updateRowAll" value="#{ms}" />
                                </p:commandLink>
                            </p:panelGrid>
                        </p:column>

                        <f:facet name="footer">

                            <div align="center" style="height: 20px">
                                <div style="color:red; margin: 5px 0; position: absolute; width: 50% ">
                                    <h:outputText value="#{ReplanishmentClient.message}" id="display2" />
                                </div>
                                <div style="float: right">
                                    <p:commandLink title="Save processed" rendered="#{ReplanishmentClient.updatePriv()}" actionListener="#{ReplanishmentClient.SaveChanges}"  update="mat_typ_dt">
                                        <p:graphicImage url="images/icons/pencil.png"   style="margin:0px 0 3px 0"  />
                                    </p:commandLink>
                                    <p:commandLink   onclick="addDlg.show()" disabled="#{ReplanishmentClient.insertPriv()}"  actionListener="#{ReplanishmentClient.resetVars}" update=":form1:adding"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ReplanishmentClient.showAdd}" /></p:commandLink>
                                    <p:commandLink actionListener="#{ReplanishmentClient.confirmRecord}" disabled="#{ReplanishmentClient.insertPriv()}"  update="mat_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ReplanishmentClient.showConfirm}" /></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </p:dataTable>
                    <p:separator />
                </h:panelGrid>
                <h:panelGrid columns="3" style="width:100%">
                    <p:dataTable style="width:300px;"  id="mach_typ_dt" value="#{ReplanishmentClient.cdDetailsList}" var="ms1" >
                        <f:facet name="header">
                            <h:outputText value="Cassette Def. Details"/>
                        </f:facet>

                        <p:column headerText="Journal Value" style="width:50px"    >
                            <h:outputText value="#{ms1.cassetename}"   />
                        </p:column>
                        <p:column headerText="Added Notes"  style="width:50px"  >
                            <h:inputText  value="#{ms1.cassettecount}"  style="width:50px"   />
                        </p:column>
                        <p:column headerText="Added Value"  style="width:50px"  >
                            <h:outputText  value="#{ms1.casseteValue}"    />
                        </p:column>
                        <p:column headerText="Remaining Notes" style="width:50px"   >
                            <h:inputText  value="#{ms1.remaining}" style="width:50px"  />
                        </p:column>
                        <p:column headerText="Remaining Value" style="width:50px"   >
                            <h:outputText  value="#{ms1.remainingAmount}"  />
                        </p:column>
                        <p:column headerText="Dispensed Notes"  style="width:50px"  >
                            <h:outputText  value="#{ms1.dispensedcount}"   />
                        </p:column>
                        <p:column headerText="Dispensed Value"  style="width:50px"  >
                            <h:outputText  value="#{ms1.dispensedvalue}"    />
                        </p:column>

                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column colspan="1" style="text-align:right" footerText="Totals:" />
                                <p:column footerText="#{ReplanishmentClient.cassettecounttotal}" />
                                <p:column footerText="#{ReplanishmentClient.casseteValuetotal}" />

                                <p:column footerText="#{ReplanishmentClient.remainingtotal}" />
                                <p:column footerText="#{ReplanishmentClient.remainingamounttotal}" />

                                <p:column footerText="#{ReplanishmentClient.dispensedcounttotal}" />
                                <p:column footerText="#{ReplanishmentClient.dispensedvaluetotal}" />
                            </p:row>
                        </p:columnGroup>

                        <f:facet name="footer">
                            <div align="center">
                                <div style="margin: 5px 0 0 0; color: red; float: left">
                                    <h:outputText value="#{ResponseCodeDefClient.message1}" id="display3" /></div>
                                <p:commandLink actionListener="#{ResponseCodeDefClient.addTimeShift1}"    update=":form1:mat_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ResponseCodeDefClient.showAdd1}" /></p:commandLink>
                                <p:commandLink actionListener="#{ResponseCodeDefClient.confirmAdd1}"  update=":form1:mat_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ResponseCodeDefClient.showConfirm1}" /></p:commandLink>
                            </div>
                        </f:facet>
                    </p:dataTable>
                    <p:spacer/>
                    <p:dataTable style="width:300px;"  id="mach_typ_dt222" value="#{ReplanishmentClient.depositDetailList}" var="ms1" >
                        <f:facet name="header">
                            <h:outputText value="Deposit Cassette Def. Details"/>
                        </f:facet>

                        <p:column headerText="Notes Name" style="width:50px"    >
                            <h:outputText value="#{ms1.cassetteName}"   />
                        </p:column>

                        <p:column headerText="Cassette Count"  style="width:50px"  >
                            <h:outputText  value="#{ms1.cassetteCount}"  style="width:50px"   />
                        </p:column>
                        <p:column headerText="Cassette Value"  style="width:50px"  >
                            <h:outputText  value="#{ms1.cassetteValue}"    />
                        </p:column>

                        <p:column headerText="Retract Count"  style="width:50px"  >
                            <h:outputText  value="#{ms1.retractCount}"  style="width:50px"   />
                        </p:column>
                        <p:column headerText="Retract Value"  style="width:50px"  >
                            <h:outputText  value="#{ms1.retractValue}"    />
                        </p:column>

                        <p:column headerText="Recycled Count"  style="width:50px"  >
                            <h:outputText  value="#{ms1.recycledCount}"  style="width:50px"   />
                        </p:column>
                        <p:column headerText="Recycled Value"  style="width:50px"  >
                            <h:outputText  value="#{ms1.recycledValue}"    />
                        </p:column>

                        <p:column headerText="Deposit Count"  style="width:50px"  >
                            <h:outputText  value="#{ms1.depositCount}"  style="width:50px"   />
                        </p:column>
                        <p:column headerText="Deposit Value"  style="width:50px"  >
                            <h:outputText  value="#{ms1.depositValue}"    />
                        </p:column>

                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column colspan="1" style="text-align:right" footerText="Totals:" />
                                <p:column footerText="#{ReplanishmentClient.cassetteCountTotal}" />
                                <p:column footerText="#{ReplanishmentClient.cassetteValueTotal2}" />
                                <p:column footerText="#{ReplanishmentClient.retractCountTotal}" />
                                <p:column footerText="#{ReplanishmentClient.retractValueTotal}" />
                                <p:column footerText="#{ReplanishmentClient.recycledCountTotal}" />
                                <p:column footerText="#{ReplanishmentClient.recycledValueTotal}" />
                                <p:column footerText="#{ReplanishmentClient.depositCountTotal}" />
                                <p:column footerText="#{ReplanishmentClient.depositValueTotal}" />
                            </p:row>
                        </p:columnGroup>

                    </p:dataTable>
                    <h:commandLink id="excelBtn"  style="display: none" >
                        <p:graphicImage url="images/icons/excel.png"  title="Export Excel"  />
                        <p:dataExporter type="xls" target="excelList" fileName="Replanishment" />  
                    </h:commandLink>
                    <p:dataTable id="excelList" value="#{ReplanishmentClient.result}" var="xls" style="display: none" >
                        <p:column>
                            <h:outputText value="#{xls.coloumn1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn2}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn3}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn4}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn5}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn6}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn7}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{xls.coloumn8}" />
                        </p:column>
                        
                         <p:column>
                            <h:outputText value="#{xls.coloumn9}" />
                        </p:column>
                        
                         <p:column>
                            <h:outputText value="#{xls.coloumn10}" />
                        </p:column>
                    </p:dataTable>
                </h:panelGrid>
                <p:hotkey bind="ctrl+shift+s" update=":form1:mat_typ_dt" actionListener="#{ReplanishmentClient.updateRecord}"/>
            </p:panel>

            <p:dialog modal="true" widgetVar="addDlg" closable="true" draggable="false" resizable="false" header="Add new replenishment">
                <h:panelGrid columns="4"  style="line-height: 20px" id="adding">
                    <h:outputText value="ATM ID" />
                    <p style="width:5px" />
                    <h:selectOneMenu value="#{ReplanishmentClient.newRecord.atmId}"   valueChangeListener="#{ReplanishmentClient.updateDate}" >
                        <p:ajax update="dfrom" />
                        <f:selectItem itemLabel="Choose one" itemValue="0" />
                        <f:selectItems value="#{ReplanishmentClient.atmList2}" var="c" itemLabel="#{c.applicationId}" itemValue="#{c.id}" />
                    </h:selectOneMenu><br  style="line-height: 40px"/>

                    <h:outputText value="Date From" />
                    <p style="width:5px" />
                    <p:calendar  pattern="dd.MM.yyyy HH:mm:ss"  value="#{ReplanishmentClient.newRecord.dateFrom}" id="dfrom" /> <br  style="line-height: 40px" />

                    <h:outputText value="Date To" />
                    <p style="width:5px" />
                    <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ReplanishmentClient.newRecord.dateTo}"/><br  style="line-height: 40px"/>
                    <h:outputText value="cards taken"  />
                    <p style="width:5px" />
                    <h:inputTextarea  style="width:200px; height: 50px" value="#{ReplanishmentClient.newRecord.cardstaken}"/><br  style="line-height: 40px"/>

                    <h:outputText value="Comment"  />
                    <p style="width:5px" />
                    <h:inputTextarea  style="width:200px; height: 50px" value="#{ReplanishmentClient.newRecord.comment}"/><br  style="line-height: 40px"/>
                </h:panelGrid>
                <div>
                    <div style="float:left; margin: 6px 0 0 0; color: red; font-weight: bold">
                        <h:outputText  value="#{ReplanishmentClient.messageDlg}" id="msg" />
                    </div>
                    <div  style="float:right; margin:6px 0 0 0">
                        <p:commandButton value="Add" actionListener="#{ReplanishmentClient.addRecord}"  update="msg,contentPanel"  oncomplete="addDlg.hide()"/>
                    </div>
                </div>
            </p:dialog>    

            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{ReplanishmentClient.deleteRecord}" update=":form1:mat_typ_dt" />
                <p:commandButton value="No" onclick="confirmation.hide()" update="mat_typ_dt" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                 actionListener="#{ReplanishmentClient.updateRecord}" update=":form1:mat_typ_dt" />
                <p:commandButton value="No" onclick="confirmation1.hide()" update="mat_typ_dt" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to delete?" id="confirmation3">
                <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                 actionListener="#{ResponseCodeDefClient.deleteRecord1}" update=":form1:mat_typ_dt" />
                <p:commandButton value="No" onclick="confirmation3.hide()" update=":form1:mat_typ_dt" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                 actionListener="#{ResponseCodeDefClient.updateRecord1}" update=":form1:mat_typ_dt" />
                <p:commandButton value="No" onclick="confirmation2.hide()" update=":form1:mat_typ_dt" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation4" message="Are you sure you want to update?" id="confirmation4" >
                <p:commandButton value="Yes" onclick="confirmation4.hide()"
                                 actionListener="#{ReplanishmentClient.fillUpdaterecalc}" update=":form1:mat_typ_dt" />
                <p:commandButton value="No" onclick="confirmation4.hide()" update="mat_typ_dt" />
            </p:confirmDialog>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ReplanishmentClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>

