<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Replenishment Template</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>



        <style>
            .ui-fieldset-toggleable .ui-fieldset-legend{
                padding:7px 11px 0 27px;
            }
        </style>

    </h:head>
    <h:body style="background: none" >
        <f:view>
            <h:form >
                <p:panel  id="jouCont">
                    <p:panel header="Replenishment Template" style="padding:0 0 30px 0" id="content">
                        <div style="float:right">
                            <p:commandLink   onclick="confirmation.show();"   ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            </p:commandLink> &nbsp;
                            <p:commandLink  onclick="confirmation1.show();"   ><h:graphicImage url="images/icons/pencil.png" title="update" />
                            </p:commandLink>
                        </div>
                        <h:panelGrid columns="10"  id="first" style="line-height: 30px" >
                            <h:outputText value="* Name"/>
                            <p style="width:30px" />
                            <h:inputText rendered="#{ReplenishmentTempClient.addedName}"  value="#{ReplenishmentTempClient.selectedRepTemp.name}"/>
                            <h:selectOneMenu id="selectedAT" rendered="#{ReplenishmentTempClient.addName}" value="#{ReplenishmentTempClient.selectedRepTempInt}" valueChangeListener="#{ReplenishmentTempClient.changeRepTemp}" >
                                <p:ajax update="blockUsers1,content,first,second,fourth,third" />
                                <f:selectItems itemLabel="#{ms.name}" itemValue="#{ms.id}"  value="#{ReplenishmentTempClient.repList}" var="ms" />
                            </h:selectOneMenu>
                            <p style="width:10px " />
                            <h:outputText value="Machine Type"/>
                            <p style="width:10px " />
                            <h:selectOneMenu  value ="#{ReplenishmentTempClient.selectedRepTemp.atmMachineType}" id="machineType" >
                                <f:selectItems itemLabel="#{msT.name}" itemValue="#{msT.id}"  value="#{ReplenishmentTempClient.atmList}" var="msT" />
                            </h:selectOneMenu>
                            <h:outputText />
                            <h:outputText />
                            <h:outputText />

                            <h:outputText value="* Starting String"/>
                            <p style="width:5px" />
                            <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.startingString}" />
                            <p style="width:30px" />
                            <h:outputText value="* Starting Position"/>
                            <p style="width:5px" />
                            <h:inputText  value="#{ReplenishmentTempClient.selectedRepTemp.startingPosition}" />
                            <h:outputText />
                            <h:outputText />
                            <h:outputText />

                            <h:outputText value="* Ending String"/>
                            <p style="width:5px" />
                            <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.endingString}" />
                            <p style="width:30px" />
                            <h:outputText value="* Ending Position"/>
                            <p style="width:5px" />
                            <h:inputText  value="#{ReplenishmentTempClient.selectedRepTemp.endingPosition}" />
                            <h:outputText />
                            <h:outputText />
                            <h:outputText />
                        </h:panelGrid>
                        <br />

                        <p:fieldset legend="ATM Details" collapsed="true" id="other2" toggleable="true" >
                            <h:panelGrid columns="19" style="line-height: 30px" id="second"  >
                                <h:outputText value="ATM String"/>
                                <p style="width:17px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.atmIdString}" />

                                <p style="width:30px" />
                                <h:outputText value="ATM Position"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.atmIdPosition}" />
                                <p style="width:30px" />
                                <h:outputText value="ATM Length"/>
                                <p style="width:5px" />
                                <h:inputText  value="#{ReplenishmentTempClient.selectedRepTemp.atmIdLenght}" />
                                <p style="width:30px" />
                                <h:outputText value="ATM String Position"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.atmStringPosition}" />
                                <p style="width:30px" />
                                <h:outputText value="ATM String Line"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.atmidline}" />

                            </h:panelGrid>
                        </p:fieldset>

                        <br />

                        <p:fieldset legend="Cash Feed Details" collapsed="true" id="other" toggleable="true" >
                            <h:panelGrid columns="11" style="line-height: 30px" id="third"  >
                                <h:outputText value="Adding Date Starting String"/>
                                <p style="width:17px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.addingDateStartingString}" />

                                <p style="width:30px" />

                                <h:outputText value="Adding Date Position"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.addingDatePosition}" />

                                <p style="width:30px" />

                                <h:outputText value="Adding Date Length"/>
                                <p style="width:5px" />
                                <h:inputText  value="#{ReplenishmentTempClient.selectedRepTemp.addingDateLenght}" />

                                <h:outputText value="Adding Date Format"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.addingDateFormat}" />

                                <p style="width:30px" />

                                <h:outputText value="Adding Date Line" />
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.addingDateLine}"  />
                                <p style="width:5px" />
                            </h:panelGrid>
                            <br style="line-height: 5px"/>
                            <div style="color:red; margin: 0 0 0 0px; font-size: 10px">
                                <h:outputText value="*(0) refers to the same line, (-)numbers refers to lines befor, (+)numbers refers to lines after " />
                            </div>
                        </p:fieldset>

                        <p:fieldset legend="Card Taken Details" collapsed="true" id="other7" toggleable="true" >
                            <h:panelGrid columns="15" style="line-height: 30px" id="third7"  >
                                <h:outputText value="Starting String"/>
                                <p style="width:17px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.cardtakenstartingstring}" />

                                <p style="width:30px" />

                                <h:outputText value="Position"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.cardtakenposition}" />

                                <p style="width:30px" />

                                <h:outputText value="Length"/>
                                <p style="width:5px" />
                                <h:inputText  value="#{ReplenishmentTempClient.selectedRepTemp.cardtakenlength}" />

                                <p style="width:30px" />

                                <h:outputText value="Line" />
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.cardtakenline}"  />
                                <p style="width:5px" />
                            </h:panelGrid>
                            <br style="line-height: 5px"/>
                            <div style="color:red; margin: 0 0 0 0px; font-size: 10px">
                                <h:outputText value="*(0) refers to the same line, (-)numbers refers to lines befor, (+)numbers refers to lines after " />
                            </div>
                        </p:fieldset>

                        <br />

                        <p:fieldset legend="Remaining Details" collapsed="true" id="other1" toggleable="true" >
                            <h:panelGrid columns="11" style="line-height: 30px" id="fourth"  >
                                <h:outputText value="Remaining Date Starting String"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.remainingDateStartingString}" />

                                <p style="width:30px" />

                                <h:outputText value="Remaining Date Position"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.remainingDatePosition}" />

                                <p style="width:30px" />

                                <h:outputText value="Remaining Date Length"/>
                                <p style="width:5px" />
                                <h:inputText  value="#{ReplenishmentTempClient.selectedRepTemp.remainingDateLenght}" />

                                <h:outputText value="Remaining Date Format"/>
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.remainingDateFormat}" />

                                <p style="width:30px" />

                                <h:outputText value="Remaining Date Line" />
                                <p style="width:5px" />
                                <h:inputText value="#{ReplenishmentTempClient.selectedRepTemp.remainingDateLine}" />

                            </h:panelGrid>
                            <br style="line-height: 5px"/>
                            <div style="color:red; margin: 0 0 0 320px; font-size: 10px">
                                <h:outputText value="*(0) refers to the same line, (-)numbers refers to lines befor, (+)numbers refers to lines after " />
                            </div>
                        </p:fieldset>

                        <p:outputPanel id="last">
                            <div align="center" >
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{ReplenishmentTempClient.message}" style="color:red; font-weight: bold" id="msg" />

                                </div>
                                <div style="float:right">
                                    <p:commandLink actionListener="#{ReplenishmentTempClient.addRecord}"    id="add" update="content,first,second,third,fourth,blockUsers1"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ReplenishmentTempClient.showAdd}" /></p:commandLink>
                                    <p:commandLink actionListener="#{ReplenishmentTempClient.confirmRecord}"  id="confirm" update="content,first,second,third,fourth"     ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ReplenishmentTempClient.showConfirm}"/></p:commandLink>
                                </div>
                            </div>
                        </p:outputPanel>
                        <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation" >
                            <h:commandButton value="Yes" actionListener="#{ReplenishmentTempClient.deleteRecord}"  onclick="confirmation.hide()" >
                                <p:ajax update="content,first,second,third,fourth"   />
                            </h:commandButton>
                            <h:commandButton value="No" onclick="confirmation.hide()"  actionListener="#{ReplenishmentTempClient.resetVars}"  />
                        </p:confirmDialog>

                        <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                            <h:commandButton value="Yes" onclick="confirmation1.hide()"
                                             actionListener="#{ReplenishmentTempClient.updateRecord}"  >
                                <p:ajax update="content,first,second,third,fourth"   />
                            </h:commandButton>

                            <h:commandButton value="No" onclick="confirmation1.hide()" actionListener="#{ReplenishmentTempClient.resetVars}"  />
                        </p:confirmDialog>
                    </p:panel>
                    <br /><br />
                    <p:panel  >
                        <p:dataTable  id="blockUsers1" rows="6"  paginator="true"  value="#{ReplenishmentTempClient.repListDetail}" var="ms2"  >
                            <f:facet name="header">
                                <h:outputText value="Template Detail"/>
                            </f:facet>


                            <p:column headerText="*Starting String">
                                <h:inputText  value="#{ms2.startingString}" style="width:100px" />
                            </p:column>

                            <p:column headerText="*Position" >
                                <h:inputText value="#{ms2.position}" style="width:50px"/>
                            </p:column>
                            <p:column headerText="*Length" >
                                <h:inputText value="#{ms2.lenght}" style="width:50px"/>
                            </p:column>

                            <p:column headerText="Data type" >
                                <h:selectOneMenu value="#{ms2.type}" valueChangeListener="#{ReplenishmentTempClient.oldDataType}">
                                    <f:selectItem itemLabel="Adding" itemValue="1" />
                                    <f:selectItem itemLabel="Remaining" itemValue="2" />
                                    <f:selectItem itemLabel="Cassette" itemValue="3" />
                                    <f:selectItem itemLabel="Retract" itemValue="4" />
                                    <f:selectItem itemLabel="Recycled" itemValue="5" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="*Line" >
                                <h:inputText value="#{ms2.line}" style="width: 80px" />
                            </p:column>

                            <p:column headerText="*Type no." >
                                <h:inputText value="#{ms2.typeNo}" style="width:50px" valueChangeListener="#{ReplenishmentTempClient.oldTypeNo}"/>
                            </p:column>

                            <p:column headerText="Currency">
                                <h:selectOneMenu value="#{ms2.currency}" >
                                    <f:selectItems value="#{ReplenishmentTempClient.currList}" itemLabel="#{c1.name}" var="c1" itemValue="#{c1.id}" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="Action" >
                                <p:commandLink actionListener="#{ReplenishmentTempClient.setDeleteRecord}"   onclick="confirmation2.show();"    update="display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                    <f:attribute name="removedRow" value="#{ms2}"/>

                                </p:commandLink> &nbsp;
                                <p:commandLink actionListener="#{ReplenishmentTempClient.setUpdateRecord}"   onclick="confirmation3.show();"  update="display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                    <f:attribute name="updateRow" value="#{ms2}" /></p:commandLink>&nbsp;&nbsp;                                
                            </p:column>

                            <f:facet name="footer">
                                <div align="center" style="height: 20px" >
                                    <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                        <h:outputText value="#{ReplenishmentTempClient.messageDetail}"  id="display" style="color:red; font-weight: bold" />
                                    </div>
                                    <div style="float: right">
                                        <p:commandLink    update="blockUsers1" actionListener="#{ReplenishmentTempClient.addRecordDetail}"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ReplenishmentTempClient.showAddDetail}" /></p:commandLink>

                                        <p:commandLink   update="blockUsers1" actionListener="#{ReplenishmentTempClient.confirmRecordDetail}"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ReplenishmentTempClient.showConfirmDetail}"/></p:commandLink>
                                    </div>
                                </div>
                            </f:facet>


                        </p:dataTable>
                        <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to delete?" id="confirmation2" >
                            <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                             actionListener="#{ReplenishmentTempClient.deleteRecordDetail}"  update="blockUsers1" />
                            <p:commandButton value="No" onclick="confirmation2.hide()"  update="blockUsers1" />
                        </p:confirmDialog>

                        <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to update?" id="confirmation3" >
                            <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                             actionListener="#{ReplenishmentTempClient.updateRecordDetail}" update="blockUsers1" />
                            <p:commandButton value="No" onclick="confirmation3.hide()" update="blockUsers1" />
                        </p:confirmDialog>
                    </p:panel>

                </p:panel>
                <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                    <p:ajax event="idle" listener="#{ReplenishmentTempClient.onIdle}" />
                </p:idleMonitor>


                <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                          widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                    <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
                </p:dialog>
            </h:form>
        </f:view>
    </h:body>
</html>