<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Settelment Log</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="Settlement Log" id="contentPanel">
                <div align="center" style="width:100%"  oncopy="return false;" onpaste="return false;">
                    <p:fieldset style="line-height: 35px; margin-top: 15px">
                        <h:panelGrid columns="11" >
                            <h:outputText value="Date from*" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{SettelmentLogClient.fromDate}" />

                            <p style="width: 70px" />

                            <h:outputText value="Date to*" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{SettelmentLogClient.toDate}" />

                            <p style="width: 70px" />

                            <h:outputText value="Card #" />
                            <p style="width: 40px" />
                            <h:inputText value="#{SettelmentLogClient.cardno}"/>


                            <h:outputText value="ATM ID" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{SettelmentLogClient.ATMID}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{SettelmentLogClient.atmList}" var="ms" itemLabel="#{ms.applicationId}" itemValue="#{ms.applicationId}" />
                            </h:selectOneMenu>

                            <p style="width: 70px" />

                            <h:outputText value="User" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{SettelmentLogClient.userId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{SettelmentLogClient.userList}" var="ms" itemLabel="#{ms.userName}" itemValue="#{ms.userId}" />
                            </h:selectOneMenu>

                            <p style="width: 70px" />

                            <h:outputText value="Status" />
                            <p style="width: 40px" />
                            <h:selectOneMenu value="#{SettelmentLogClient.setteldId}" >
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItem itemValue="1" itemLabel="Settled" />
                                <f:selectItem itemValue="2" itemLabel="Not Settled" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <div align="right">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 47%; font-weight: bold">
                                <h:outputText value="#{SettelmentLogClient.message}" id="display" />
                            </div>
                            <h:panelGrid columns="4">
                                <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                    <f:facet name="start">
                                        <h:graphicImage value="../images/ajaxloading.gif" />
                                    </f:facet>
                                    <f:facet name="complete">
                                        <h:outputText value="" />
                                    </f:facet>
                                </p:ajaxStatus>
                                <p:commandButton  update="mat_typ_dt,display" value="Search"  actionListener="#{SettelmentLogClient.doSearch}" />
                                <p style="width:10px" />
                            </h:panelGrid>
                        </div>
                    </p:fieldset>
                </div>
                <br />
                <p:dataTable   id="mat_typ_dt" paginator="true" rows="10"  value="#{SettelmentLogClient.logList}" var="ms2">
                    <f:facet name="header">
                        <h:outputText value="Log"/>
                    </f:facet>
                   
                     <p:column headerText="ATM ID">
                         <h:outputText value="#{ms2.atmApplicationId}"/>
                    </p:column>
                    <p:column headerText="Settlement Date">
                        <h:outputText value="#{ms2.settlementDate}"/>
                    </p:column>

                    <p:column headerText="Transaction Date">
                        <h:outputText value="#{ms2.transactionDate}"/>
                    </p:column>

                    <p:column headerText="Currency">
                        <h:outputText value="#{ms2.currency}"/>
                    </p:column>


                    <p:column headerText="Card no.">
                        <h:outputText  value="#{ms2.cardNo}"/>
                    </p:column>

                    <p:column headerText="Transaction Sequence">
                        <h:outputText  value="#{ms2.transactionSequence}"/>
                    </p:column>

                    <p:column headerText="Amount">
                        <h:outputText  value="#{ms2.amount}"/>
                    </p:column>

                    <p:column headerText="Response Code">
                        <h:outputText  value="#{ms2.responseCode}"/>
                    </p:column>

                    <p:column headerText="Settled User">
                        <h:outputText  value="#{ms2.settledUsertext}"/>
                        

                    </p:column>

                    <p:column headerText="Matching type">
                        <h:outputText  value="#{ms2.matchingTypetext}"/>
                       
                    </p:column>

                    <p:column headerText="Record type">
                        <h:outputText  value="#{ms2.recordTypetext}"/>
                    </p:column>

                    <p:column headerText="Status">
                        <h:outputText  value="#{ms2.settledFlag==1?'Y':'N'}" />
                    </p:column>


                    <f:facet name="footer">
                    </f:facet>
                </p:dataTable><br/>
            </p:panel>
            <!-- Confrim Dialogs -->

  <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{SettelmentLogClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>

