<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Standerd Columns</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-picklist .ui-picklist-list{
                width:260px;
                height: 300px
            }
        </style>

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="Standard Columns" style="height: 450px;  ">
                <div style="margin-left: 300px" >

                    <br/>
                    <div id="aa" style="width:300px">
                        <p:pickList value="#{DefualtColumnClient.pick}" style="width:400px" var="a" itemLabel="#{a}" itemValue="#{a}" id="pickV" showSourceControls="true" showTargetControls="true"  >
                            <f:facet name="sourceCaption">Available Columns</f:facet>
                            <f:facet name="targetCaption">Assigned Columns</f:facet>
                        </p:pickList>
                        <br />
                    </div>
                    <div align="center" style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%; font-weight: bold ">
                        <h:outputText value="#{DefualtColumnClient.message}" id="display" /></div>
                    <div style="margin: 0 350px 0 0;float: right">
                        <p:commandButton value="Save" actionListener="#{DefualtColumnClient.save}"  id="saveBtn" update="display"/>
                    </div>
                    <p:ajaxStatus style="width:16px;height:16px; margin: 5px 0 0 520px">
                        <f:facet name="start">
                            <h:graphicImage value="images/ajaxloading.gif" />
                        </f:facet>

                        <f:facet name="complete">
                            <h:outputText value="" />
                        </f:facet>
                    </p:ajaxStatus>
                </div>
            </p:panel>
<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{DefualtColumnClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>