<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Rules</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        
    </h:head>
    <h:body style="background: none" >

        <h:form id="form1">

            <p:panel header="System Rules" id="allContent">
                <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()">
                    <f:facet name="start">

                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
                <div style="float:right">
                    <h:panelGrid columns="3">
                        <h:outputText value="Select Rule Type" />
                        <p style="width:5px" />
                        <h:selectOneMenu value="#{DisputeRulesClient.ruleSelect}" valueChangeListener="#{DisputeRulesClient.ruleSelector}" >
                            <p:ajax update="allContent"/>
                            <f:selectItem itemLabel="Dispute rules" itemValue="1"/>
                            <f:selectItem itemLabel="Validation rules" itemValue="2"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                </div><br/> <br/> <br/>
                <p:panel header="Validation Rules" id="dispRules_val" rendered="#{DisputeRulesClient.valFlag}" >
                    <br />
                    <div style="float: right; margin: -10px 0px 0 0">
                        <p:commandButton oncomplete="addDlg_val.show()"  value="Add Formula"   actionListener="#{ValidationRulesClient.addPopup}" update="folmDLG_val,operationValue_val,valueL,addButton"/>

                    </div>
                    <br /><br />
                    <p:dataTable id="Rules_val" value="#{ValidationRulesClient.drList}" var="ms_val" paginator="true" rows="10">

                        <p:column headerText="Column name" >
                            <h:selectOneMenu value="#{ms_val.columnId}" disabled="true">
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{ValidationRulesClient.fcdList}" var="ms" itemLabel="#{ms.cname}" itemValue="#{ms.id}" />
                            </h:selectOneMenu>
                        </p:column>

                        <p:column headerText="Name">
                            <h:outputText value="#{ms_val.name}"   style="text-align: center"  />
                        </p:column>
                        <p:column headerText="Formula">
                            <h:outputText value="#{ms_val.formula}"  style="text-align: left; width: 300px"  rendered="#{ValidationRulesClient.formulaFlag}" />
                        </p:column>

                        <p:column headerText="Type">
                            <h:outputText value="Journal" rendered="#{ms_val.validationType == 1 ? 'true' : 'false' }" />
                            <h:outputText value="Switch" rendered="#{ms_val.validationType == 2 ? 'true' : 'false' }" />
                            <h:outputText value="Host" rendered="#{ms_val.validationType == 3 ? 'true' : 'false' }" />
                        </p:column>

                        <p:column headerText="Active"  >
                            <h:selectBooleanCheckbox value="#{ms_val.activeB}" />
                        </p:column>

                        <p:column headerText="Action">
                            <p:commandLink   onclick="confirmation_val.show()"  actionListener="#{ValidationRulesClient.fillDelete}"  update="display_val"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow_val" value="#{ms_val}"/>
                            </p:commandLink> &nbsp;
                        </p:column>
                        <f:facet name="footer">
                            <div align="center"  style="height: 20px">
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{ValidationRulesClient.message}" id="display_val" style="color:red; font-weight: bold" />
                                </div>
                                <div   style="float:right; margin: 0px 0 0">
                                    <p:commandLink title="Save all" actionListener="#{ValidationRulesClient.SaveChangesValidation}" update="display_val">
                                        <h:panelGrid columns="4" >
                                            <p:graphicImage url="images/icons/pencil.png"   />
                                            <div style="color:black; margin-left: -10px">Save all</div>
                                        </h:panelGrid>
                                    </p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </p:dataTable> <br/><br/><br/><br/>

                    <p:dialog modal="true" position="" header="Add new formula" closable="true" draggable="false" resizable="false" id="formulaD" widgetVar="addDlg_val" width="600" >
                        <h:panelGrid columns="3" >
                            <h:outputText value="Column name" />
                            <p style="width:35px" />
                            <h:selectOneMenu value="#{ValidationRulesClient.fcdInt}"  valueChangeListener="#{ValidationRulesClient.valueEffect}"    >
                                <p:ajax update="folmDLG_val,operationValue_val,valueL,addButton" />
                                <f:selectItems value="#{ValidationRulesClient.fcdList}" var="c_val" itemLabel="#{c_val.name}" itemValue="#{c_val.id}" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <br /><br />
                        <h:panelGrid columns="11" id="first_val">
                            <h:outputText value="* Name" />
                            <p style="width:63px" />
                            <h:inputText value="#{ValidationRulesClient.formulaName}"/>

                            <p style="width:90px" />

                            <h:outputText value="Side" />
                            <p style="width:5px" />
                            <h:selectOneMenu value="#{ValidationRulesClient.addType}">
                                <f:selectItem itemLabel="Journal"  itemValue="1"/>
                                <f:selectItem itemLabel="Switch"  itemValue="2"/>
                                <f:selectItem itemLabel="Host"  itemValue="3"/>
                            </h:selectOneMenu>

                            <p style="width:30px" />
                            <h:selectBooleanCheckbox value="#{ValidationRulesClient.activeBool}" />
                            <p style="width:2px" />
                            <h:outputText value="Active" />


                        </h:panelGrid>
                        <br />
                        <h:panelGrid columns="9" id="folmDLG_val" style="line-height: 30px" >
                            <h:outputText value="#{ValidationRulesClient.columnNam}" />
                            <p style="width:10px" />
                            <h:selectOneMenu  value="#{ValidationRulesClient.operationStr}" valueChangeListener="#{ValidationRulesClient.operationChange}"  id="operationValue_val">
                                <p:ajax update="folmDLG_val" />
                                <f:selectItems value="#{ValidationRulesClient.operationValues}" var="c_val" itemLabel="#{c_val}" itemValue="#{c_val}" />
                            </h:selectOneMenu>
                            <p style="width:10px" />

                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" readOnlyInputText="true" value="#{ValidationRulesClient.firstTextDate}" rendered="#{ValidationRulesClient.dateSelected}"/>
                            <p style="width:10px" />
                            <h:outputText value="#{ValidationRulesClient.andValue}" rendered="#{ValidationRulesClient.betweenDate}" />
                            <p style="width:10px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" readOnlyInputText="true" value="#{ValidationRulesClient.secondValueDate}" rendered="#{ValidationRulesClient.betweenDate}" />

                            <h:inputText value="#{ValidationRulesClient.firstText}" rendered="#{ValidationRulesClient.nullOperation}"/>
                            <p style="width:10px" />
                            <h:outputText value="#{ValidationRulesClient.andValue}" rendered="#{ValidationRulesClient.betweenFlag}" />
                            <p style="width:10px" />
                            <h:inputText value="#{ValidationRulesClient.secondValue}" rendered="#{ValidationRulesClient.betweenFlag}" />

                            <h:selectManyListbox value="#{ValidationRulesClient.valuesList}" id="valueL" rendered="#{ValidationRulesClient.pickBool}">
                                <f:selectItems value="#{ValidationRulesClient.columnValues}" itemValue="#{ms.id}" itemLabel="#{ms.name}" var="ms" />
                            </h:selectManyListbox>
                        </h:panelGrid>
                        <div align="right">
                            <h:commandButton value="Add"  onclick="addDlg_val.hide()" actionListener="#{ValidationRulesClient.addRecord}" id="addButton" />
                        </div>

                    </p:dialog>



                    <p:confirmDialog widgetVar="confirmation1_val" message="Are you sure you want to update?" id="confirmation1_val">
                        <div align="right">
                            <p:commandButton value="Yes" onclick="confirmation1_val.hide()"
                                             actionListener="#{ValidationRulesClient.updateRecord}" update="Rules_val" />
                            <p:commandButton value="No" onclick="confirmation1_val.hide()" update="Rules_val" />
                        </div>
                    </p:confirmDialog>


                    <p:confirmDialog widgetVar="confirmation_val" message="Deleting this rule will affect the transaction results.
                                     Are you sure?" id="confirmation_val">
                        <div align="right">
                            <p:commandButton value="Yes" onclick="confirmation_val.hide()"
                                             actionListener="#{ValidationRulesClient.deleteRecord}" update="Rules_val" />
                            <p:commandButton value="No" onclick="confirmation_val.hide()" update="Rules_val" />
                        </div>
                    </p:confirmDialog>
                </p:panel>

                <p:panel header="Dispute Rules" id="dispRules" rendered="#{DisputeRulesClient.disFlag}" >
                    <div  align="right">
                        <p:commandButton oncomplete="addDlg.show()"  value="Add Formula"   actionListener="#{DisputeRulesClient.addPopup}" update="Rules,folmDLG" />

                    </div><br />
                    <p:dataTable id="Rules" value="#{DisputeRulesClient.drList}" var="ms" paginator="true" rows="10">

                        <p:column headerText="Column name" >
                            <h:selectOneMenu value="#{ms.columnId}" disabled="true">
                                <f:selectItem itemValue="0" itemLabel="All" />
                                <f:selectItems value="#{DisputeRulesClient.fcdList}" var="ms" itemLabel="#{ms.columnName}" itemValue="#{ms.id}" />
                            </h:selectOneMenu>
                        </p:column>
                        <p:column headerText="Name">
                            <h:outputText value="#{ms.name}"  style="text-align: center"  />
                        </p:column>
                        <p:column headerText="Formula">
                            <h:outputText value="#{ms.formula}" style="text-align: left; width: 300px"  rendered="#{DisputeRulesClient.formulaFlag}" />
                        </p:column>

                        <p:column headerText="Type">
                            <h:outputText value="Journal" rendered="#{ms.validationType == 1 ? 'true' : 'false' }" />
                            <h:outputText value="Switch" rendered="#{ms.validationType == 2 ? 'true' : 'false' }" />
                            <h:outputText value="Host" rendered="#{ms.validationType == 3 ? 'true' : 'false' }" />
                        </p:column>

                        <p:column headerText="Action">
                            <p:commandLink   onclick="confirmation.show()"  actionListener="#{DisputeRulesClient.fillDelete}"  update="display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                        </p:column>
                        <f:facet name="footer">
                            <p >
                                <div align="center">
                                    <h:outputText value="#{DisputeRulesClient.message}" id="display" style="color:red; font-weight: bold" />
                                </div>
                            </p>
                        </f:facet>
                    </p:dataTable><br/><br/><br/><br/>


                    <p:dialog modal="true" closable="true" draggable="false" resizable="false" id="addDialog"  widgetVar="addDlg" width="600" >
                        <h:panelGrid columns="3">
                            <h:outputText value="Column name" />
                            <p style="width:35px" />
                            <h:selectOneMenu value="#{DisputeRulesClient.fcdInt}"  valueChangeListener="#{DisputeRulesClient.valueEffect}"    >
                                <p:ajax update="Rules,folmDLG" />
                                <f:selectItems value="#{DisputeRulesClient.fcdList}" var="cc_val" itemLabel="#{cc_val.name}" itemValue="#{cc_val.id}" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <br /><br />
                        <h:panelGrid columns="11" id="formulaInfo">
                            <h:outputText value="* Name" />
                            <p style="width:63px" />
                            <h:inputText value="#{DisputeRulesClient.formulaName}" id="formulaNamee"/>

                            <p style="width:90px" />

                            <h:outputText value="Side" />
                            <p style="width:5px" />
                            <h:selectOneMenu value="#{DisputeRulesClient.addType}">
                                <f:selectItem itemLabel="Journal"  itemValue="1"/>
                                <f:selectItem itemLabel="Switch"  itemValue="2"/>
                                <f:selectItem itemLabel="Host"  itemValue="3"/>
                            </h:selectOneMenu>

                        </h:panelGrid>
                        <br />
                        <h:panelGrid columns="9" id="folmDLG" style="line-height: 30px" >
                            <h:outputText value="#{DisputeRulesClient.columnNam}" />
                            <p style="width:10px" />
                            <h:selectOneMenu  value="#{DisputeRulesClient.operationStr}" valueChangeListener="#{DisputeRulesClient.operationChange}"  id="operationValue">
                                <p:ajax update="folmDLG" />
                                <f:selectItems value="#{DisputeRulesClient.operationValues}" var="c" itemLabel="#{c}" itemValue="#{c}" />
                            </h:selectOneMenu>
                            <p style="width:10px" />

                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" readOnlyInputText="true" value="#{DisputeRulesClient.firstTextDate}" rendered="#{DisputeRulesClient.dateSelected}"/>
                            <p style="width:10px" />
                            <h:outputText value="#{DisputeRulesClient.andValue}" rendered="#{DisputeRulesClient.betweenDate}" />
                            <p style="width:10px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" readOnlyInputText="true" value="#{DisputeRulesClient.secondValueDate}" rendered="#{DisputeRulesClient.betweenDate}" />

                            <h:inputText value="#{DisputeRulesClient.firstText}" rendered="#{DisputeRulesClient.nullOperation}"/>
                            <p style="width:10px" />
                            <h:outputText value="#{DisputeRulesClient.andValue}" rendered="#{DisputeRulesClient.betweenFlag}" />
                            <p style="width:10px" />
                            <h:inputText value="#{DisputeRulesClient.secondValue}" rendered="#{DisputeRulesClient.betweenFlag}" />

                            <h:selectManyListbox value="#{DisputeRulesClient.valuesList}" id="valueL_dis" rendered="#{DisputeRulesClient.pickBool}">
                                <f:selectItems value="#{DisputeRulesClient.columnValues}" itemValue="#{ms.id}" itemLabel="#{ms.name}" var="ms" />
                            </h:selectManyListbox>
                        </h:panelGrid>
                        <div align="right">
                            <h:commandButton value="Add"  onclick="addDlg.hide()" actionListener="#{DisputeRulesClient.addRecord}"  />
                        </div>

                    </p:dialog>



                    <p:confirmDialog widgetVar="confirmation" message="Deleting this rule will affect the transaction results.
                                     Are you sure?" id="confirmation">
                        <div align="right">
                            <p:commandButton value="Yes" onclick="confirmation.hide()"
                                             actionListener="#{DisputeRulesClient.deleteRecord}" update="Rules" />
                            <p:commandButton value="No" onclick="confirmation.hide()" update="Rules" />
                        </div>
                    </p:confirmDialog>

                    <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                        <div align="right">
                            <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                             actionListener="#{DisputeRulesClient.updateRecord}" update="Rules" />
                            <p:commandButton value="No" onclick="confirmation1.hide()" update="Rules" />
                        </div>


                    </p:confirmDialog>

                </p:panel>

            </p:panel>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{DisputeRulesClient.onIdle}" />
            </p:idleMonitor>
            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>  
        </h:form>

    </h:body>
</html>