<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Matching Setting</title>
        <p:resources/>

    </h:head>
    <h:body >
        <p:barChart  id="votes1"   legendPosition="ne" title="Dispute" value="#{UserActivityClient.disputeModel}" min="0" max="#{UserActivityClient.maxDis}"  seriesColors="e32525"/>
    </h:body>
</html>

