 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title>User Privilege</title>
        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <p:resources/>
        <style>
            .old{
                background: #e6e6e6 !important
            }
        </style>
    </h:head>

    <h:body style="background: none" >
        <h:form id="form">



            <p:panel style="width: 98%" header="User Privilege Management" >

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>

                <p:panelGrid style="width: 98%" columns="2" >
                    <p:dataTable id="singleDT2" selectionMode="single" style="width: 98%;text-align: left" var="car2" value="#{userPrivView.usersList}" selection="#{userPrivView.selecteduser}" rowKey="#{car2.userId}"
                                 rows="5"  paginator="true" emptyMessage="No Users found with given DB">
                        <p:ajax event="rowSelect"  update=":form:singleDT3" listener="#{userPrivView.handleMasterChange()}" />
                        <f:facet name="header">
                            Users Count: #{userPrivView.userscount} 
                        </f:facet>
                        <p:column headerText="User Name" sortBy="#{car2.userName}" >
                            <h:outputText value="#{car2.userName}" />
                        </p:column>
                        <p:column headerText="Logon Name" sortBy="#{car2.logonName}" >
                            <h:outputText value="#{car2.logonName}" />
                        </p:column>
                    </p:dataTable>

                    <p:dataTable id="singleDT1" selectionMode="single" style="width: 98%;text-align: left" var="car1" value="#{userPrivView.pagesList}" selection="#{userPrivView.selectedpage}" rowKey="#{car1.menuid}"
                                 rows="5"  paginator="true" emptyMessage="No Pages found with given DB">
                        <p:ajax event="rowSelect"  update=":form:singleDT3" listener="#{userPrivView.handleMasterChange()}" />
                        <f:facet name="header">
                            Pages Count: #{userPrivView.pagescount} 
                        </f:facet>
                        <p:column headerText="Page Name" sortBy="#{car1.englishlabel}" >
                            <h:outputText value="#{car1.englishlabel}" />
                        </p:column>
                        
                    </p:dataTable>
                </p:panelGrid>
                
                <p:separator />
                
                <p:dataTable id="singleDT3"  style="width: 98%;text-align: left" var="car3" value="#{userPrivView.privilegeList}" selection="#{userPrivView.selectedprivilege}" rowKey="#{car3.prev_id}"
                             rows="5"  paginator="true" emptyMessage="No Users found with given DB">
                    <p:column selectionMode="multiple"/>
                    <f:facet name="header">
                        Priv Count: #{userPrivView.privcount} 
                    </f:facet>
                    <p:column headerText="Privelage Name" sortBy="#{car3.symbol}" >
                        <h:outputText value="#{car3.symbol}" />
                    </p:column>
                </p:dataTable>

                <p:separator />
                
                <p:commandButton value="Save Changes" id="CommandBtn1" actionListener="#{userPrivView.saveChange}"/>
            </p:panel>
        </h:form>
    </h:body>
</html>
