<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User ATMs</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-picklist .ui-picklist-list{
                width:260px;
                height: 300px
            }
        </style>

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="Assign User Profiles" style="height: 450px;  ">
                <div style="margin-left:300px" >
                    <h:panelGrid columns="8" >
                        <p style="width:50px" />
                        <h:outputText value="Profile" />
                        <p style="width:10px" />
                        <h:selectOneMenu value="#{ProfileAssignClient.profileInt}"  valueChangeListener="#{ProfileAssignClient.changeValue}" >
                            <p:ajax update="pickV" />
                            <f:selectItem itemLabel="Choose one" itemValue="0" />
                            <f:selectItems value="#{ProfileAssignClient.profileList}" var="c1" itemLabel="#{c1.profileName}" itemValue="#{c1.profileId}"/></h:selectOneMenu>

                    </h:panelGrid>
                    <br/>
                    <div id="aa" style="width:300px; margin: 0 0 0 10px">
                        <p:pickList value="#{ProfileAssignClient.pickValues}" style="width:400px" var="a" itemLabel="#{a}" itemValue="#{a}" id="pickV" showSourceControls="true" showTargetControls="true" >
                            <f:facet name="sourceCaption"><p style="text-align: center; color: gray">Source Users</p></f:facet>
                            <f:facet name="targetCaption"><p style="text-align: center;color: gray">Target Users</p></f:facet>

                        </p:pickList>
                        <br />
                    </div>
                    <div align="center" >
                        <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%; font-weight: bold">
                            <h:outputText value="#{ProfileAssignClient.message}" id="display" /></div>
                        <div style="margin: 0 340px 0 0;float: right">
                            <p:commandButton value="Save" actionListener="#{ProfileAssignClient.saveProfile}"  id="saveBtn" update="display"/>
                        </div>

                    </div>
                    <p:ajaxStatus style="width:16px;height:16px; margin: 5px 0 0 520px">
                        <f:facet name="start">
                            <h:graphicImage value="images/ajaxloading.gif" />
                        </f:facet>

                        <f:facet name="complete">
                            <h:outputText value="" />
                        </f:facet>
                    </p:ajaxStatus>
                </div>
            </p:panel>
 <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ProfileAssignClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>