<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ATM FIle Log</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <f:view>
            <h:form id ="form1">
                <p:panel>
                    <div align="center">
                        <p:fieldset>
                            <h:panelGrid columns="16" >

                                <h:outputText value="Loading Date:" style="font-weight: bold" />

                                <p style="width: 20px" />

                                <h:outputText value="from" />
                                <p style="width: 5px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ATMFileLogClient.fromDate}" />

                                <p style="width: 20px" />

                                <h:outputText value="to" />
                                <p style="width: 5px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{ATMFileLogClient.toDate}" />

                                <p style="width: 40px" />

                                <h:outputText value="Type" />
                                <p style="width: 5px" />
                                <h:selectOneMenu value="#{ATMFileLogClient.fileType}" >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItem itemValue="1" itemLabel="Journal" />
                                    <f:selectItem itemValue="2" itemLabel="Switch" />
                                    <f:selectItem itemValue="3" itemLabel="Host" />
                                </h:selectOneMenu>


                            </h:panelGrid>
                            <div >
                                <div  style="color:red; font-weight: bold ; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                   
                                </div>
                                <div  style="float: right; width:45%">
                                    <h:panelGrid columns="4">
                                        <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                            <f:facet name="start">
                                                <h:graphicImage value="../images/ajaxloading.gif" />
                                            </f:facet>
                                            <f:facet name="complete">
                                                <h:outputText value="" />
                                            </f:facet>
                                        </p:ajaxStatus>
                                        <p:commandButton   value="Search"  actionListener="#{ATMFileLogClient.doSearch}" update="blockReason" />
                                        <p style="width:10px" />
                                    </h:panelGrid>
                                </div>
                            </div>
                        </p:fieldset>
                    </div>
                    <br />
                    <h:panelGrid columns="3">
                        <h:outputText value="Total Records: " />
                        <p style="width:10px" />
                        <h:outputText value="#{ATMFileLogClient.listSize}" />
                    </h:panelGrid>
                    <br style="line-height: 3px" />
                    <p:dataTable id="blockReason" value="#{ATMFileLogClient.atmFileList}" var="ms" rows="8"  paginator="true">
                        <f:facet name="header">
                            <h:outputText value="ATM File Log"/>
                        </f:facet>

                        <p:column headerText="">
                            <p:commandButton actionListener="#{ATMFileLogClient.showDuplicatedItem}"  value="Show duplicates" update=":form1:duplicated" >
                                <f:attribute name="duplicatedATM"  value="#{ms}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Name">
                            <h:outputText value="#{ms.name}"/>
                        </p:column>

                        <p:column headerText="Backup file name">
                            <h:outputText value="#{ms.buckupName}"/>
                        </p:column>

                        <p:column headerText="Finish loading date">
                            <h:outputText value="#{ms.finishLaodingDate}"/>
                        </p:column>

                        <p:column headerText="Type">
                            <h:outputText value="#{ms.type}"/>
                        </p:column>

                        <p:column headerText="Template">
                            <h:outputText value="#{ms.template}"/>
                        </p:column>

                        <p:column headerText="Load Date/Time">
                            <h:outputText value="#{ms.loadingDate}"/>
                        </p:column>

                        <p:column headerText="No. of transactions">
                            <h:outputText value="#{ms.numberOfTransaction}"/>
                        </p:column>

                        <p:column headerText="No. of duplications">
                            <h:outputText value="#{ms.numberOfDuplication}" />
                        </p:column>
                        </p:dataTable>
                            <p:dataTable id="duplicated" value="#{ATMFileLogClient.duplicateList}" var="ds" rows="20"  paginator="true">
                                <f:facet name="header">
                                    <h:outputText value="ATM File Log"/>
                                </f:facet>
                                <p:column headerText="Record type">
                                    <h:outputText value="#{ds.recordType}"/>
                                </p:column>

                                <p:column headerText="ATM">
                                    <h:outputText value="#{ds.atmApplicationId}"/>
                                </p:column>

                                <p:column headerText="Type">
                                    <h:outputText value="#{ds.transactionType}"/>
                                </p:column>

                                <p:column headerText="Currency">
                                    <h:outputText value="#{ds.currency}"/>
                                </p:column>

                                <p:column headerText="Status">
                                    <h:outputText value="#{ds.transactionStatus}"/>
                                </p:column>

                                <p:column headerText="Response">
                                    <h:outputText value="#{ds.responseCode}"/>
                                </p:column>

                                <p:column headerText="Date">
                                    <h:outputText value="#{ds.transactionTime}"/>
                                </p:column>

                                <p:column headerText="Sequence">
                                    <h:outputText value="#{ds.transactionSeqeunce}" />
                                </p:column>

                                <p:column headerText="Card no.">
                                    <h:outputText value="#{ds.cardNo}" />
                                </p:column>

                                <p:column headerText="Amount">
                                    <h:outputText value="#{ds.amount}" />
                                </p:column>

                                <p:column headerText="Settlement">
                                    <h:outputText value="#{ds.settlementDate}" />
                                </p:column>

                                <p:column headerText="Account #">
                                    <h:outputText value="#{ds.customerAccountNumber}" />
                                </p:column>



                            </p:dataTable>
                        

                    <br/>
                </p:panel>
                   <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ATMFileLogClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                 <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
            </h:form>
          
        </f:view>
    </h:body>
</html>