<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Block Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <a href="ATMFileTemplate.xhtml"></a>
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <script>
            function browserClose(){
                document.getElementById("form1:test").click();
            }
        </script>
    </h:head>
    <h:body style="background: none" >
        <f:view>
            <h:form id="form1" >
                <p:panel id="content">
                    <p:tabView  style="border:0px">
                        <p:ajax event="tabChange" listener="#{ATMFileTemplateClient.recordtypeChange}" update=":form1:content"/>
                        <p:tab title="Journal">


                        </p:tab>

                        <p:tab title="Switch">

                        </p:tab>

                        <p:tab title="GL">

                        </p:tab>
                    </p:tabView>
                    <table><tr>
                            <td valign="top">
                                <p:dataTable value="#{ATMFileTemplateClient.templatenameList}"  var="ms" id="templateGrid" style="width:260px" rowKey="#{ms.id}" selection="#{ATMFileTemplateClient.selectedtemplate}"  >
                                    <p:ajax event="rowSelect" update=":form1:content"   listener="#{ATMFileTemplateClient.templatenameSelect}" />
                                    <p:column selectionMode="single" style="width:15px" />
                                    <p:column headerText="Name" >
                                        <p:inputText value="#{ms.name}"  style="width:100px"  />
                                    </p:column>
                                    <p:column id="opt" headerText="Action">
                                        <p:commandLink  onclick="confirmation.show();" actionListener="#{ATMFileTemplateClient.fillDeleteTemplate}" ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                            <f:attribute name="removedRow" value="#{ms}"/>
                                        </p:commandLink> &nbsp;
                                        <p:commandLink   actionListener="#{ATMFileTemplateClient.fillupdateTemplate}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>
                                    </p:column>
                                    <f:facet name="footer">

                                        <div align="center" style="height: 20px">
                                            <div style="color:red; margin:0 0 -11px 0;  left: 30%; right: 30%">
                                                <h:outputText value="#{ATMFileTemplateClient.message}" id="display" />
                                            </div>
                                            <div style="float: right; margin: 5px 0 0 0">
                                                <p:commandLink actionListener="#{ATMFileTemplateClient.addNewTemplate}"    update="templateGrid,display"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ATMFileTemplateClient.showAdd}" /></p:commandLink>
                                                <p:commandLink actionListener="#{ATMFileTemplateClient.confirmAddTemplate}"  update="templateGrid,display"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ATMFileTemplateClient.showConfirm}" /></p:commandLink>
                                            </div>
                                        </div>
                                    </f:facet>
                                </p:dataTable>
                            </td>
                            <br />
                            <td>
                                <p style="width:30px" />
                            </td>
                            <td valign="top" width="85%">
                                <p:fieldset   legend="Main data" id="mainTab" collapsed="true" toggleable="true" >

                                    <h:panelGrid columns="10"  id="first" style="line-height: 30px" >
                                        <h:outputText value="Vendor Type"/>
                                        <p style="width:10px " />
                                        <h:selectOneMenu  value ="#{ATMFileTemplateClient.selectedtemplate.machineType}" id="machineType" >
                                            <f:selectItems itemLabel="#{msT.name}" itemValue="#{msT.id}"  value="#{ATMFileTemplateClient.atmTypeList}" var="msT" />
                                        </h:selectOneMenu>
                                        <h:outputText />
                                        <h:outputText />
                                        <h:outputText />

                                        <h:outputText value="* Processing type" />
                                        <p style="width:30px" />
                                        <h:selectOneMenu value="#{ATMFileTemplateClient.selectedtemplate.processingType}" id ="process">
                                            <f:selectItem itemLabel="Delimited" itemValue="1" />
                                            <f:selectItem itemLabel="Flat File" itemValue="2" />
                                            <f:selectItem itemLabel="Tags" itemValue="3" />
                                        </h:selectOneMenu>
                                        <h:outputText />
                                        <h:outputText value="Number of lines" />
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.numberOfLines}" id="noLines" />

                                        <p style="width:20px" />
                                        <h:selectBooleanCheckbox value="#{ATMFileTemplateClient.selectedtemplate.activeB}" id="actv"/>
                                        <h:outputText value="Active"  />
                                    </h:panelGrid>
                                    <h:panelGrid columns="11"  id="first2" style="line-height: 30px" >
                                        <h:outputText value="Separator"/>
                                        <p style="width:30px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.separator}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Starting Value"/>
                                        <p style="width:17px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.startingValue}" />
                                        <p style="width:30px" />
                                        <h:outputText value="ATM Concat"/>
                                        <p style="width:17px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.atmadd}" />
                                    </h:panelGrid>
                                    <br />
                                    <h:panelGrid columns="11"  id="first1" style="line-height: 30px" >
                                        <h:outputText value="Tags Ending Data Type"/>
                                        <p style="width:5px" />
                                        <h:selectOneMenu   value="#{ATMFileTemplateClient.selectedtemplate.tagendingdatatype}">
                                            <f:selectItem itemLabel="Choose One" itemValue="0"/>
                                            <f:selectItem itemLabel="String" itemValue="1" />
                                            <f:selectItem itemLabel="Number" itemValue="2" />
                                            <f:selectItem itemLabel="Date" itemValue="3" />
                                        </h:selectOneMenu>
                                        
                                        <p style="width:30px" />
                                        <h:outputText value="Tags Ending Format"/>
                                        <p style="width:17px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.tagendingformat}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Tags Ending Position"/>
                                        <p style="width:17px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.tagendingposition}" />

                                        <h:outputText value="Tags Ending Length"/>
                                        <p style="width:5px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.tagendinglength}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Tags Ending Value"/>
                                        <p style="width:17px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.tagendingvalue}" />
                                        <p style="width:30px" />
                                        <p style="width:30px" />
                                        <h:outputText value="reset tags starting"/>
                                        <p style="width:17px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.resettagsstarting}" />
                                        <p style="width:30px" />

                                    </h:panelGrid>
                                    <br />


                                </p:fieldset>
                                <br />
                                <p:fieldset  legend="Browse Folder" collapsed="true" id="browse" toggleable="true" >
                                    <h:panelGrid columns="5"  style="line-height: 30px"  id="browsep">
                                        <h:outputText value="* Loading Folder" />
                                        <p style="width:33px;" />
                                        <h:inputText  style="width:400px" value="#{ATMFileTemplateClient.selectedtemplate.loadingFolder}" id="loadDir1"/>
                                        <p style="width:5px"  />
                                        <p:commandButton value="browse" actionListener="#{ATMFileTemplateClient.browseFolder}" update="loadDir1" />


                                        <h:outputText value="* Backup Folder" />
                                        <p style="width:33px" />
                                        <h:inputText style="width:400px" value="#{ATMFileTemplateClient.selectedtemplate.buckupFolder}" id="backupDir2"/>
                                        <p style="width:5px" />
                                        <p:commandButton value="browse" actionListener="#{ATMFileTemplateClient.browseFolder1}" update="backupDir2" />

                                        <h:outputText value="* Copy Folder" />
                                        <p style="width:33px" />
                                        <h:inputText style="width:400px" value="#{ATMFileTemplateClient.selectedtemplate.copyFolder}" id="copyDir"/>
                                        <p style="width:5px" />
                                        <p:commandButton value="browse" actionListener="#{ATMFileTemplateClient.browseFolder2}" update="copyDir" />

                                        <h:outputText value="Server Folder" />
                                        <p style="width:33px" />
                                        <h:inputText style="width:400px" value="#{ATMFileTemplateClient.selectedtemplate.serverFolder}" id="serverDir"/>
                                        <p style="width:5px" />
                                        <p:commandButton value="browse" actionListener="#{ATMFileTemplateClient.browseFolder3}" update="serverDir" />
                                    </h:panelGrid>
                                </p:fieldset>
                                <br />
                                <p:fieldset legend="Data Type" collapsed="true" id="other" toggleable="true" >

                                    <h:panelGrid columns="15" style="line-height: 30px" id="otherp"  >
                                        <h:outputText value="Starting data type"/>
                                        <p style="width:17px" />
                                        <h:selectOneMenu   value="#{ATMFileTemplateClient.selectedtemplate.startingDataType}">
                                            <f:selectItem itemLabel="String" itemValue="1" />
                                            <f:selectItem itemLabel="Number" itemValue="2" />
                                            <f:selectItem itemLabel="Date" itemValue="3" />
                                        </h:selectOneMenu>
                                        <p style="width:30px" />
                                        <h:outputText value="Position"/>
                                        <p style="width:5px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.startingPosition}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Length"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.startingLength}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Format"/>
                                        <p style="width:5px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.startingFormat}" />


                                        <h:outputText value="Data Separator"/>
                                        <p style="width:17px" />
                                        <h:inputText   value="#{ATMFileTemplateClient.selectedtemplate.dateSeparator}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Position1"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.dateSeparatorPos1}" />
                                        <p style="width:30px" />
                                        <h:outputText value="Position2"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.dateSeparatorPos2}" />
                                        <p style="width:30px" />
                                        <h:outputText value="*Ignored Lines"/>
                                        <p style="width:5px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.ignoredLines}" />
                                    </h:panelGrid>
                                </p:fieldset>
                                <br />
                                <p:fieldset  legend="Header" collapsed="true" id="other1" toggleable="true" >
                                    <h:panelGrid columns="15" style="line-height: 30px"  id="otherpp" >
                                        <h:outputText value="Starting data type"/>
                                        <p style="width:17px" />
                                        <h:selectOneMenu   value="#{ATMFileTemplateClient.selectedtemplate.headerDataType}">
                                            <f:selectItem itemLabel="Choose One" itemValue="0"/>
                                            <f:selectItem itemLabel="String" itemValue="1" />
                                            <f:selectItem itemLabel="Number" itemValue="2" />
                                            <f:selectItem itemLabel="Date" itemValue="3" />
                                        </h:selectOneMenu>
                                        <p style="width:15px" />
                                        <h:outputText value="Position"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.headerPosition}" />
                                        <p style="width:15px" />
                                        <h:outputText value="Length"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.headerLength}" />
                                        <p style="width:15px" />
                                        <h:outputText value="Format"/>
                                        <p style="width:5px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.headerFormat}" />


                                        <h:outputText value="Data Separator"/>
                                        <p style="width:5px" />
                                        <h:inputText   value="#{ATMFileTemplateClient.selectedtemplate.headerDateSeparator}" />
                                        <p style="width:15px" />
                                        <h:outputText value="Seperator Position1"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.headerDateSeparatorPos1}" />
                                        <p style="width:15px" />
                                        <h:outputText value="Seperator Position2"/>
                                        <p style="width:5px" />
                                        <h:inputText  value="#{ATMFileTemplateClient.selectedtemplate.headerDateSeparatorPos2}" />
                                        <p style="width:15px" />
                                        <h:outputText value="Header String"/>
                                        <p style="width:5px" />
                                        <h:inputText value="#{ATMFileTemplateClient.selectedtemplate.headerString}" />
                                    </h:panelGrid>

                                </p:fieldset>
                            </td></tr></table>
                    <br />
                    <div>
                       

                        <p:dataTable id="blockUsers" value="#{ATMFileTemplateClient.headertemplateList}" var="ms1" >
                            <f:facet name="header">
                                <h:outputText value="Header Data"/>
                            </f:facet>
                            <p:column headerText="Postion">
                                <h:inputText  value="#{ms1.position}" style="width:50px" />
                            </p:column>

                            <p:column headerText="Lenght" >
                                <h:inputText  value="#{ms1.length}" style="width:50px"/>
                            </p:column>

                            <p:column headerText="Data type" style="width:150px">
                                <h:selectOneMenu value="#{ms1.dataType}" >
                                    <f:selectItem itemLabel="String" itemValue="1" />
                                    <f:selectItem itemLabel="Number" itemValue="2" />
                                    <f:selectItem itemLabel="Date" itemValue="3" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="Format" style="width:350px">
                                <h:inputText value="#{ms1.format}" />
                            </p:column>

                            <p:column headerText="Format2" style="width:350px">
                                <h:inputText value="#{ms1.formattwo}" />
                            </p:column>

                            <p:column  headerText="Column Definition" style="width:350px">
                                <h:selectOneMenu id="cd" value="#{ms1.columnId}"  >
                                    <f:selectItems value="#{ATMFileTemplateClient.columnlist}" itemLabel="#{c.columnId.name}" var="c" itemValue="#{c.columnId.id}" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="Action" style="width:100px">
                                <p:commandLink   onclick="confirmation4.show()"  actionListener="#{ATMFileTemplateClient.fillDeleteTemplateHeader}"    ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                    <f:attribute name="removedRow1" value="#{ms1}"/>
                                </p:commandLink> &nbsp;
                            </p:column>
                            <f:facet name="footer">
                                <div align="center" style="height: 20px" >
                                    <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                        <h:outputText value="#{ATMFileTemplateClient.message}" id="display1" />
                                    </div>
                                    <div style="float: right">
                                        <p:commandLink title="Save all" actionListener="#{ATMFileTemplateClient.SaveChangesHeader}"  update="display1" >
                                            <p:graphicImage url="images/icons/pencil.png"   style="margin:0px 0 3px 0"/>
                                        </p:commandLink>
                                        <p:commandLink actionListener="#{ATMFileTemplateClient.addNewTemplateHeader}" update="blockUsers"       ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ATMFileTemplateClient.showAdd1}" /></p:commandLink>
                                        <p:commandLink actionListener="#{ATMFileTemplateClient.confirmAddTemplateHeader}"  update="blockUsers" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ATMFileTemplateClient.showConfirm1}"/></p:commandLink>
                                    </div>
                                </div>
                            </f:facet>
                        </p:dataTable>
                        <p:confirmDialog widgetVar="confirmation4" message="Are you sure you want to delete?" id="confirmation4" >
                            <p:commandButton value="Yes" onclick="confirmation4.hide()"
                                             actionListener="#{ATMFileTemplateClient.deleteRecordTemplateHeader}"  update="blockUsers" />
                            <p:commandButton value="No" onclick="confirmation4.hide()"  update="blockUsers" />
                        </p:confirmDialog>

                        <p:confirmDialog widgetVar="confirmation5" message="Are you sure you want to update?" id="confirmation5" >
                            <p:commandButton value="Yes" onclick="confirmation5.hide()"
                                             actionListener="#{ATMFileTemplateClient.updateRecordTemplateHeader}" update="blockUsers" />
                            <p:commandButton value="No" onclick="confirmation5.hide()" update="blockUsers" />
                        </p:confirmDialog>

                    </div>
                    <br />
                    <div>

                        <p:dataTable  id="blockUsers1" value="#{ATMFileTemplateClient.filetemplatedetailList}" var="ms2"  >
                            <f:facet name="header">
                                <h:outputText value="Data Fields"/>
                            </f:facet>
                            <p:column headerText="Line" >
                                <h:inputText  value="#{ms2.lineNumber}" style="width:50px"/>
                            </p:column>

                            <p:column headerText="Position">
                                <h:inputText  value="#{ms2.position}" style="width:50px" />
                            </p:column>

                            <p:column headerText="Length" >
                                <h:inputText value="#{ms2.length}" style="width:50px"/>
                            </p:column>

                            <p:column headerText="Direction" >
                                <h:selectOneMenu value="#{ms2.lengthDir}" >
                                    <f:selectItem itemLabel="Start" itemValue="1" />
                                    <f:selectItem itemLabel="End" itemValue="2" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="Type" >
                                <h:selectOneMenu value="#{ms2.dataType}" >
                                    <f:selectItem itemLabel="String" itemValue="1" />
                                    <f:selectItem itemLabel="Number" itemValue="2" />
                                    <f:selectItem itemLabel="Date" itemValue="3" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="Format" >
                                <h:inputText value="#{ms2.format}" />
                            </p:column>

                            <p:column headerText="Format2" >
                                <h:inputText value="#{ms2.format2}" style="width:70px"/>
                            </p:column>
                            <p:column headerText="Tag String" >
                                <h:inputText value="#{ms2.tagstring}" style="width:50px"/>
                            </p:column>

                            <p:column headerText="Mandatory"  >
                                <h:selectBooleanCheckbox  value="#{ms2.mandatory}"  />
                            </p:column>

                            <p:column headerText="Neg. Amt." >
                                <h:selectBooleanCheckbox  value="#{ms2.negativeflag}" />
                            </p:column>

                            <p:column headerText="Decimal" >
                                <h:selectBooleanCheckbox  value="#{ms2.decimalpoint}"/>
                            </p:column>

                            <p:column headerText="Decimal Pos."   >
                                <h:inputText value="#{ms2.decimalpointposition}" style="width:30px"/>
                            </p:column>

                            <p:column headerText="Starting Pos." >
                                <h:inputText value="#{ms2.startingPosition}" style="width:30px"/>
                            </p:column>
                            
                            <p:column headerText="reset tags" >
                                <h:inputText value="#{ms2.tagsorder}" style="width:30px"/>
                            </p:column>
                            
                             <p:column headerText="remove string" >
                                <h:inputText value="#{ms2.removestring}" style="width:30px"/>
                            </p:column>

                            <p:column headerText="Column Def." >
                                <h:selectOneMenu value="#{ms2.columnId}"  disabled="true">
                                    <f:selectItems value="#{ATMFileTemplateClient.columnlist}" itemLabel="#{c1.columnId.name}" var="c1" itemValue="#{c1.columnId.id}" />
                                </h:selectOneMenu>
                            </p:column>

                            <p:column headerText="Mapped" >
                                <h:selectBooleanCheckbox value="#{ms2.loadWhenMappedB}"  />

                            </p:column>

                            <p:column headerText="Action">
                                <p:commandLink   onclick="confirmation2.show()"  actionListener="#{ATMFileTemplateClient.fillDeleteTemplateDetail}"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                    <f:attribute name="removedRow3" value="#{ms2}"/>
                                </p:commandLink>
                            </p:column>

                            <f:facet name="footer">
                                <div align="center" style="height: 20px">
                                    <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%; ">

                                        <h:outputText value="#{ATMFileTemplateClient.message2}" id="display2" style="color:red; font-weight: bold" /></div>
                                </div>
                                <div   style="float:right; margin: 0px 0 0">
                                    <p:commandLink title="Save all" actionListener="#{ATMFileTemplateClient.SaveChanges}" update="display2">
                                        <h:panelGrid columns="4" >
                                            <p:graphicImage url="images/icons/pencil.png"   />
                                            <div style="color:black; margin-left: -10px">Save all</div>
                                        </h:panelGrid>
                                    </p:commandLink>
                                </div>

                            </f:facet>

                        </p:dataTable>
                        <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to delete?" id="confirmation2" >
                            <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                             actionListener="#{ATMFileTemplateClient.deleteRecordTemplateDetail}"  update="blockUsers1" />
                            <p:commandButton value="No" onclick="confirmation2.hide()"  update="blockUsers1" />
                        </p:confirmDialog>

                        <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to update?" id="confirmation3" >
                            <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                             actionListener="#{ATMFileTemplateClient.updateDetailRecord}" update="blockUsers1" />
                            <p:commandButton value="No" onclick="confirmation3.hide()" update="blockUsers1" />
                        </p:confirmDialog>

                        <p:confirmDialog widgetVar="confirmation11" message="Are you sure you want to add?" id="confirmation11" >
                            <p:commandButton value="Yes" onclick="confirmation11.hide()"
                                             actionListener="#{ATMFileTemplateClient.confirmDetailRecord}" update="blockUsers1" />
                            <p:commandButton value="No" onclick="confirmation11.hide()" update="blockUsers1" />
                        </p:confirmDialog>
                    </div>
                </p:panel>
                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{ATMFileTemplateClient.deleteRecordTemplate}" update=":form1:templateGrid" />
                    <p:commandButton value="No" onclick="confirmation.hide()" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{ATMFileTemplateClient.updateRecordTemplate}" update=":form1:templateGrid" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" />
                </p:confirmDialog>
                    <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ATMFileTemplateClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                 <a href="Login.xhtml" target="_parent">Click here to relogin</a>
            </p:dialog>
            </h:form>
        </f:view>
    </h:body>
    
</html>