<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ATM Groups</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <f:view>
            <h:form id="form1">
                <p:panel header="ATM Group"  id="contentPanel">
                    <table><tr><td>
                                <h:panelGrid columns="3" style="vertical-align: top; padding-right: 10px" id="content" >
                                    <p:treeTable style="width:200px" value="#{ATMGroupClient.atmgList}" var="c" selectionMode="single" selection="#{ATMGroupClient.selectedNode}" >
                                        <p:ajax event="select" listener="#{ATMGroupClient.selectNodeShow}" update=":form1:group"   />
                                        <p:column >
                                            <h:outputText value="#{c}"/>
                                        </p:column>
                                    </p:treeTable>
                                    <p style="width:30px" />
                                    <p:dataTable id="group" rows="6" value="#{ATMGroupClient.agDTOL}" var="grp" style="width:400px" paginator="true">
                                        <f:facet name="header">
                                            <h:outputText value="ATM Group" />
                                        </f:facet>
                                        <p:column headerText="Name" style="width:75px">
                                            <h:inputText value="#{grp.name}" style="width:75px"/>
                                        </p:column>
                                        <p:column headerText="Description" style="width:100px">
                                            <h:inputTextarea value="#{grp.description}" style="width:200px; height: 50px"/>
                                        </p:column>

                                        <p:column headerText="Action" style="width:42px">
                                            <p:commandLink   onclick="confirmation.show()"  actionListener="#{ATMGroupClient.fillDelete}"  update="display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                                <f:attribute name="removedRow" value="#{grp}"/>

                                            </p:commandLink> &nbsp;
                                            <p:commandLink  actionListener="#{ATMGroupClient.fillUpdate}" onclick="confirmation1.show();"  update="display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                                <f:attribute name="updateRow" value="#{grp}" /></p:commandLink>
                                        </p:column>

                                        <f:facet name="footer">

                                            <div align="center" style="height: 20px" >
                                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%;">
                                                    <h:outputText value="#{ATMGroupClient.message}" id="display" />
                                                </div>
                                                <div style="float: right">
                                                    <p:commandLink actionListener="#{ATMGroupClient.addRecord}"    update=":form1:contentPanel"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ATMGroupClient.showAdd}" /></p:commandLink>
                                                    <p:commandLink actionListener="#{ATMGroupClient.confirmRecord}"   update=":form1:contentPanel" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ATMGroupClient.showConfirm}"/></p:commandLink>
                                                </div>
                                            </div>
                                        </f:facet>
                                    </p:dataTable>
                                </h:panelGrid>
                                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                                    <p:commandButton value="Yes" onclick="confirmation.hide();growl.show();"
                                                     actionListener="#{ATMGroupClient.deleteRecord}" update=":form1:contentPanel" />
                                    <p:commandButton value="No" actionListener="#{BlockReasonClient.resetVars}" onclick="confirmation.hide()" update=":form1:contentPanel" />
                                </p:confirmDialog>

                                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                                    <p:commandButton value="Yes" onclick="confirmation1.hide();growl.show();"
                                                     actionListener="#{ATMGroupClient.updateRecord}" update=":form1:contentPanel" />
                                    <p:commandButton value="No" actionListener="#{BlockReasonClient.resetVars}" onclick="confirmation1.hide()" update=":form1:contentPanel" />


                                </p:confirmDialog>

                            </td>
                            <td >
                                <div align="left" style="padding-left: 10px; border-left: 1px solid gray">
                                    <h:panelGrid columns="8" id="checkGroups">
                                        <p style="width:40px" />
                                        <h:outputText value="ATM Group" />
                                        <p style="width:10px" />
                                        <h:selectOneMenu value="#{ATMGroupClient.userInt}"   valueChangeListener="#{ATMGroupClient.userChange}">
                                            <p:ajax update="pickV,display,saveBtn" />
                                            <f:selectItem itemLabel="Choose one" itemValue="0" />
                                            <f:selectItems value="#{ATMGroupClient.userList}" var="c1" itemLabel="#{c1.name}" itemValue="#{c1.id}"/></h:selectOneMenu>

                                        <p style="width:60px" />
                                        <h:outputText value="ATM Group" />
                                        <p style="width:10px" />
                                        <h:selectOneMenu value="#{ATMGroupClient.atmGInt}" valueChangeListener="#{ATMGroupClient.userChange1}">
                                            <p:ajax update="pickV,display,saveBtn" />
                                            <f:selectItem itemLabel="Choose one" itemValue="0" />
                                            <f:selectItems value="#{ATMGroupClient.userList}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}"/></h:selectOneMenu>

                                    </h:panelGrid>
                                    <br/>
                                    <div id="aa" style="width:100%">
                                        <p:pickList  value="#{ATMGroupClient.pickValues}"  var="a" itemLabel="#{a}" itemValue="#{a}" id="pickV" showSourceControls="true" showTargetControls="true" >
                                            <f:facet name="sourceCaption"><p style="text-align: center; color: gray">Assigned ATMs <br />Name --- ATM Group --- ATM ID</p></f:facet>
                                            <f:facet name="targetCaption"><p style="text-align: center;color: gray">Available ATMs <br/> Name --- ATM Group --- ATM ID</p></f:facet>

                                        </p:pickList>


                                        <br />
                                    </div>
                                    <div align="center" >
                                        <div style="color:red; margin: 5px 0; font-weight: bold">
                                            <h:outputText value="#{ATMGroupClient.message1}" id="display" /></div>
                                        <div align="right" >
                                            <h:panelGrid columns="2">
                                                <p:ajaxStatus style="width:16px;height:16px; ">
                                                    <f:facet name="start">
                                                        <h:graphicImage value="images/ajaxloading.gif" />
                                                    </f:facet>

                                                    <f:facet name="complete">
                                                        <h:outputText value="" />
                                                    </f:facet>
                                                </p:ajaxStatus>
                                                <p:commandButton value="Save" actionListener="#{ATMGroupClient.saveChange}" disabled="#{ATMGroupClient.disabledSave}" id="saveBtn" update="display"/>

                                            </h:panelGrid>
                                        </div>
                                    </div>
                                </div>
                            </td></tr></table>
                </p:panel>
                   <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ATMGroupClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                 <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
            </h:form>
        </f:view>
    </h:body>
</html>