<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Dash Board</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <script type="text/javascript">
var piechartStyle = {


                                                    font: {name: "tahoma", size: 15},
                                                    dataTip:
                                                    {
                                                    border: {color: 'black', size:1},
                                                    font: {name: "tahoma", size: 11}
                                                    },
                                                    legend:
                                                        {
                                                            display: "right",
                                                            spacing:10
                                                        }
                                                   };

                                                   var typesSeriesStyle =
                                                            {
                                                            colors: [0xe32525,0x24699d,0x28c524]
                                                            };

        </script>
        <style>
            .ui-spinner-input{
                width:14px;
            }
            .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
                border:none
            }
            .chartClass{
                width:400px;
                height:300px;
            }
        </style>

    </h:head>
    <h:body style="background: none" >

        <h:form >

            <table><tr><td>
                        <div  style=" float:left">

                            <p:panel header=""  style="width:500px; height: 350px" >
                                <div style="float: left;font-weight: bold">
                                    <h:panelGrid columns="3" >
                                        <h:outputText value="Not Settled:" style="font-weight: bold"/>
                                        <p style="width:5px" />
                                        <h:outputText value="#{DashBoardClient.unsettledCount}" />
                                        <h:outputText value="Settled:" style="font-weight: bold"/>
                                        <p style="width:5px" />
                                        <h:outputText value="#{DashBoardClient.settledCount}" />
                                        <h:outputText value="Matched:" style="font-weight: bold"/>
                                        <p style="width:5px" />
                                        <h:outputText value="#{DashBoardClient.matchedCount}" />
                                    </h:panelGrid>
                                </div>
                                <div style="float:right; ">
                                    <p:pieChart value="#{DashBoardClient.pieValues}"  seriesColors="e32525,24699d,28c524"  styleClass="chartClass"   legendPosition ="w" style="piechartStyle"    />
                                </div>
                            </p:panel>
                        </div>
                        <div  style=" float:right">
                            <p:panel rendered="#{DashBoardClient.onlineUsersFlag}" header="Users Status"  style="width:400px; margin: 0 0 0 10px">
                                <p:dataTable value="#{DashBoardClient.onlineUsers}" var="onMs" style="width:350px" paginator="true" rows="3">
                                    <p:column headerText="Username">
                                        <h:outputText value="#{onMs.userName}"/>
                                    </p:column>
                                    <p:column headerText="Status" style="width:50px">
                                        <div style="float:left">
                                            <p:graphicImage url="#{onMs.status == 1 ? 'images/icons/onlineIcon.png':'images/icons/offlineIcon.png'}" />
                                        </div>
                                        <div style="float:right; margin: 2px 0" align="left">
                                            <h:outputText value="#{onMs.status == 1 ? 'Online' : 'Offline'}" />
                                        </div>
                                    </p:column>

                                </p:dataTable>

                            </p:panel>
                            <br />



                            <p:carousel rendered="#{DashBoardClient.newAtmsFlag}"  headerText="New ATMs"  rows="2" circular="true" style="width:405px; margin: 0 0 0 10px" id="smallCarousel" value="#{DashBoardClient.newAtmsList}" var="car" itemStyleClass="carItem">
                                <div style="width:175px; height: 20px; padding: 9px 0 0 0 " align="center">
                                    <h:outputText value="#{car}" style="height:50px; width: 200px" />
                                </div>
                            </p:carousel>
                            <br/><br/>
                            <p:carousel rendered="#{DashBoardClient.pendingAtmFlag}"  headerText="Pending ATMs"  rows="2" circular="true" style="width:405px; margin: 0 0 0 10px" id="smallCarousel1" value="#{DashBoardClient.pendingAtms}" var="car1" itemStyleClass="carItem">
                                <div style="width:175px; height: 20px; padding: 9px 0 0 0 " align="center">
                                    <h:outputText value="#{car1.atmId}" style="height:50px; width: 200px" />
                                </div>
                            </p:carousel>
                            <br/><br/>
                            <div style="margin: 0 0 0 10px">
                                <p:tabView >
                                    <p:tab title="Notifications" rendered="#{DashBoardClient.notificationFlag}">
                                        <p:carousel   rows="2" circular="true" style="width:405px; margin: 0 0 0 10px" id="smallCarousel2" value="#{DashBoardClient.notifications}" var="note" itemStyleClass="carItem">
                                            <div style="width:175px; height: 20px; padding: 9px 0 0 0 " align="center">
                                                <h:outputText value="#{note.action}" style="height:50px; width: 200px" />
                                            </div>
                                        </p:carousel>
                                    </p:tab>

                                    <p:tab title="Errors" rendered="#{DashBoardClient.errorFlag}">
                                        <p:carousel   rows="2" circular="true" style="width:405px; margin: 0 0 0 10px" id="smallCarousel3" value="#{DashBoardClient.errors}" var="err" itemStyleClass="carItem">
                                            <div style="width:175px; height: 20px; padding: 9px 0 0 0 " align="center">
                                                <h:outputText value="#{err.action}" style="height:50px; width: 200px" />
                                            </div>
                                        </p:carousel>
                                    </p:tab>

                                </p:tabView>
                            </div>
                        </div>

                    </td></tr>

                <tr><td>

                    </td></tr></table>
        </h:form>

    </h:body>
</html>

