
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Login</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        
        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />



        <p:resources/>

        <style>
            td{
                border: none;
            }
            html{
                overflow:hidden
            }

        </style>
    </h:head>
    <h:body >
        <h:form id="form1">
            <div id="bokeh" ><div id="container" style="height: 560px">

                    <div id="header">
                        <h1 id="logo" >
                            <img src="images/logo2.png" alt="" width="124" />
                        </h1>
                    </div><!-- end #header -->
                    <div id="header_buttons" align="right">
                        <h:panelGrid columns="3" style=" color: white" >
                            <h:outputText value="License to:" />
                            <p style="width:10px" />
                            <h:outputText value="#{LoginClient.bankName}"  />
                        </h:panelGrid>
                    </div>

                    <div id="content">


                        <div align="center" style="margin-top: 158px">
                            <p:panel header="Change Expired Password" style="width:400px; text-align: left">
                                <br />
                                <h:panelGrid columns="3"  style="width:350px" >



                                    <h:outputText value="Old Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{ChangePassFroUserClient.oldPass}" />

                                    <h:outputText value="New Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{ChangePassFroUserClient.newPass}" />

                                    <h:outputText value="Confirmation Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{ChangePassFroUserClient.confPass}" />
                                </h:panelGrid><br />
                                <div style="width:100%">
                                    <div style="float:left;color:red; width: 140px; font-weight: bold">
                                        <h:outputText value="#{ChangePassFroUserClient.message}" id="display" /></div>
                                    <div align="right">
                                        <p:commandButton update=":form1:display" type="submit" oncomplete="idleDialog.show()" value="Save" actionListener="#{ChangePassFroUserClient.save}"/>
                                    </div>
                                </div>
                                <br/>
                            </p:panel>
                            <p:dialog header="redirect" resizable="false" closable="false" draggable="false"
                                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor"  rendered="#{ChangePassFroUserClient.dialogFlag}" >
                                <p><a href="Login.xhtml" style="color:blue">click here</a> to relogin</p>
                            </p:dialog>

                            <p:confirmDialog message="Please renew your password" closable="true"
                                             header="Password expired" severity="alert" widgetVar="confirmation">

                            </p:confirmDialog>  

                        </div>

                    </div><!-- end #content -->

                    <div id="push"></div><!-- push footer down -->

                </div></div><!-- end #container -->

            <div id="footer">
                Copyright © 2011 eVision Financial Compliance Unit
            </div><!-- end #footer and #bokeh -->
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ChangePassFroUserClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>
