
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Change Password</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

        <style>

            #header{
                position   : absolute;
                top        : 0;
                left       : 0;
                width      : 100%;
                height     : 100px;
            }
            #content {
                position   : absolute;
                top        : 135px;
                bottom     : 100px;
                left       : 0;
                width      : 100%;
            }

            #footer {
                position   : absolute;
                bottom     : 0;
                left       : 0;
                width      : 100%;
                height     : 30px;
            }

            td{
                border: none;
            }
            html{
                overflow:hidden
            }

        </style>
    </h:head>
    <h:body >


        <div id="header">
            <div>
                <h1 id="logo" >
                    <img src="images/logo2.png" alt="" width="124" />
                </h1>
            </div>

            <div id="header_buttons" align="right">
            </div><!-- end #header -->
        </div>

        <div id="content">

            <h:form>
            
                <div align="center" style="width:100%; padding:  100px 0">
                    <p:panel header="Change Password" style="width:400px; text-align: left">
                        <br />
                        <h:panelGrid columns="3"  style="width:350px" >



                            <h:outputText value="Old Password" />
                            <p style="width:10px" />
                            <h:inputSecret value="#{ChangePassFroUserClient.oldPass}" />

                            <h:outputText value="New Password" />
                            <p style="width:10px" />
                            <h:inputSecret value="#{ChangePassFroUserClient.newPass}" />

                            <h:outputText value="Confirmation Password" />
                            <p style="width:10px" />
                            <h:inputSecret value="#{ChangePassFroUserClient.confPass}" />
                        </h:panelGrid><br />
                        <div style="width:100%">
                            <div style="float:left;color:red; width: 140px; font-weight: bold">
                                <h:outputText value="#{ChangePassFroUserClient.message}" id="display" /></div>
                            <div align="right">
                                <p:commandButton value="Save" actionListener="#{ChangePassFroUserClient.save}" update="idleDialog,display" />
                            </div>
                        </div>
                        <br/>
                    </p:panel>
                    <p:dialog header="redirect" resizable="false" closable="false" draggable="false" id="idleDialog"
                              widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor"  visible="#{ChangePassFroUserClient.dialogFlag}">
                        <p><a href="Login.xhtml" style="color:blue">click here</a> to relogin</p>
                    </p:dialog>
                </div>
            
        </h:form>

        </div><!-- end #content -->

        <div id="footer">
			Copyright © 2011 eVision Financial Compliance Unit
        </div><!-- end #footer and #bokeh -->

    </h:body>
</html>

