<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Block Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="Column Title" >
                <div align="center">
                    <div align="left" style="width:795px">
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText value="#{ColumnDefinitionClient.listSize}" />
                        </h:panelGrid>
                        <br style="line-height: 3px" />
                        
                    </div>
                    
                    <p:dataTable id="columnDef" value="#{ColumnDefinitionClient.colDefList}" paginator="true" rows="10" var="ms" style="width:800px; ">
                        <p:column headerText="*Name" style="width:350px">
                            <h:inputText value="#{ms.header}" />
                        </p:column>

                        <p:column headerText="Column name" style="width:350px">
                            <h:outputText value="#{ms.dbName}" />
                        </p:column>

                        <p:column headerText="Display Matching" >
                            <h:selectBooleanCheckbox value="#{ms.displayinmatching}" />
                        </p:column>

                        <p:column headerText="Display Transaction" >
                            <h:selectBooleanCheckbox value="#{ms.displayintransaction}" />
                        </p:column>

                        <p:column headerText="Width" >
                            <h:inputText value="#{ms.width}" style="width:50px"  converterMessage="Please enter digits only."/>
                        </p:column>

                        <p:column headerText="No. of duplicates"  >
                            <h:inputText value="#{ms.duplicate_no}" style="width:50px"  converterMessage="Please enter digits only."/>
                        </p:column>

                        <p:column headerText="Action">
                            <p:commandLink  actionListener="#{ColumnDefinitionClient.fillUpdate}" onclick="confirmation1.show();"  update="display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>
                        </p:column>

                        <f:facet name="footer">
                            <p  align="center">
                                <div style="height: 20px">
                                    <h:outputText value="#{ColumnDefinitionClient.message}" id="display" style="color:red; font-weight: bold" />
                                </div>
                            </p>
                        </f:facet>
                        
                    </p:dataTable><br/>
                   
                </div>
                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide();growl.show();"
                                     actionListener="#{ColumnDefinitionClient.updateColumnRecord}" />
                    <p:commandButton value="No"  onclick="confirmation1.hide()"  />


                </p:confirmDialog>
            </p:panel>

<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ColumnDefinitionClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>

        </h:form>

    </h:body>
</html>