<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Matching Setting</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="Source Directories">
                <h:panelGrid columns="3">
                    <h:outputText value="Total Records: " />
                    <p style="width:10px" />
                    <h:outputText value="#{CopyingFileClient.listSize}" />
                </h:panelGrid>
                <br style="line-height: 3px" />
                <p:dataTable id="mach_typ_dt" value="#{CopyingFileClient.cfList}" var="ms1" >
                    <p:column headerText="*Source file"  >
                        <h:inputText value="#{ms1.sourceFolder}" style="width:165px" valueChangeListener="#{CopyingFileClient.oldValueSource}"/>
                    </p:column>

                    <p:column headerText="*Folder1" >
                        <h:inputText value="#{ms1.folder1}" style="width:165px" />
                    </p:column>

                    <p:column headerText="Folder2">
                        <h:inputText value="#{ms1.folder2}" style="width:165px" />
                    </p:column>

                    <p:column headerText="Action">
                        <p:commandLink   onclick="confirmation.show()"  actionListener="#{CopyingFileClient.fillDelete}"  update="mach_typ_dt"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms1}"/>

                        </p:commandLink> &nbsp;
                        <p:commandLink  actionListener="#{CopyingFileClient.fillUpdate}" onclick="confirmation1.show();"  update="mach_typ_dt" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms1}" /></p:commandLink>


                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px" >
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{CopyingFileClient.message}" id="display" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{CopyingFileClient.addRecord}"    update="mach_typ_dt"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{CopyingFileClient.showAdd}" /></p:commandLink>

                                <p:commandLink actionListener="#{CopyingFileClient.confirmRecord}"  update="mach_typ_dt,display" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{CopyingFileClient.showConfirm}"/></p:commandLink>
                            </div>
                        </div>
                    </f:facet>

                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{CopyingFileClient.deleteRecord}" update="mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update="mach_typ_dt" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{CopyingFileClient.updateRecord}" update="mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update="mach_typ_dt" />
                </p:confirmDialog>
            </p:panel>
            <!-- Confrim Dialogs -->

<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{CopyingFileClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>

