<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>File Template</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

        <script type="text/javascript">
        function validate(evt) {
          if(evt.keyCode||evt.which==8){
              return true;
          }
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode( key );
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {

            if(theEvent.preventDefault) theEvent.preventDefault();
          }
        }


        </script>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">

            <p:panel header="" id="content">
                <p:dataTable id="mat_typ_dt"  value="#{ExportFileTemplateClient.exportList}" var="ms" selectionMode="single"  rowKey="#{ms.templateid}" selection="#{ExportFileTemplateClient.selectedTemp}">

                    <p:ajax event="rowSelect" listener="#{ExportFileTemplateClient.onRowSelect1}" update=":form1:content,:form1:mach_typ_dt"   />
                    <f:facet name="header">
                        <h:outputText value="File Template"/>
                    </f:facet>
                    <p:column headerText="Name">
                        <p:inputText value="#{ms.templatename}"/>
                    </p:column>
                    <p:column headerText="Seperator">
                        <p:inputText value="#{ms.separator}"/>
                    </p:column>

                    <p:column headerText="Active">
                        <h:selectBooleanCheckbox value ="#{ms.boolActive}"   />
                    </p:column>

                    <p:column headerText="Action">
                        <p:commandLink  onclick="confirmation.show();" actionListener="#{ExportFileTemplateClient.fillAttr}" update=":form1:content"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="deleteRow" value="#{ms}"/>

                        </p:commandLink> &nbsp;
                        <p:commandLink  update=":form1:content" actionListener="#{ExportFileTemplateClient.fillAttrUpdate}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>
                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{ExportFileTemplateClient.message}" id="display2" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{ExportFileTemplateClient.addRecord}"    update=":form1:content"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ExportFileTemplateClient.showAdd}" /></p:commandLink>
                                <p:commandLink actionListener="#{ExportFileTemplateClient.confrimRecord}"  update=":form1:content"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ExportFileTemplateClient.showConfirm}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>

                <p:dataTable id="mach_typ_dt" value="#{ExportFileTemplateClient.exportDetailList}" var="ms1" >

                    <f:facet name="header">
                        <h:outputText value="Export Template Detail"/>
                    </f:facet>
                    <p:column headerText="Column Name"  style="width:350px">
                        <h:selectOneMenu value="#{ms1.columnid}">
                            <f:selectItems value="#{ExportFileTemplateClient.columList}" var="col123"   itemLabel="#{col123.header}" itemValue="#{col123.id}" />
                        </h:selectOneMenu>
                    </p:column>

                    <p:column headerText="Sequence">
                        <p:inputText value="#{ms1.sequence}"/>
                    </p:column>

                    <p:column headerText="Format">
                        <p:inputText value="#{ms1.format}"/>
                    </p:column>

                    <p:column  headerText="Action">
                        <p:commandLink  onclick="confirmation2.show();" actionListener="#{ExportFileTemplateClient.fillAttrDetail}" update=":form1:content"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="deleteRowDetail" value="#{ms1}"/>
                        </p:commandLink> &nbsp;
                        <p:commandLink  update=":form1:content" actionListener="#{ExportFileTemplateClient.fillAttrUpdateDetail}" onclick="confirmation3.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRowDetail" value="#{ms1}" /></p:commandLink>
                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{ExportFileTemplateClient.messageDetail}" id="display3" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{ExportFileTemplateClient.addRecordDetail}"    update=":form1:content"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ExportFileTemplateClient.showAddDetail}" /></p:commandLink>
                                <p:commandLink actionListener="#{ExportFileTemplateClient.confrimRecordDetail}"  update=":form1:content"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ExportFileTemplateClient.showConfirmDetail}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable>
            </p:panel>

            <!-- Confrim Dialogs -->
            <p:confirmDialog widgetVar="confirmation" message="Deleting this record  will affect other tables, are you sure?" id="confirmation" >
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{ExportFileTemplateClient.deleteRecord}" update=":form1:content" />
                <p:commandButton value="No" onclick="confirmation.hide()" type="button" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation1" message="Editing data will affect other tables, are you sure?" id="confirmation1" >
                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                 actionListener="#{ExportFileTemplateClient.updateRecord}" update=":form1:content" />
                <p:commandButton value="No" onclick="confirmation1.hide()" update="mach_typ_dt"/>
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation2" message="Deleting this record  will affect other tables, are you sure?" id="confirmation2" >
                <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                 actionListener="#{ExportFileTemplateClient.deleteRecordDetail}" update=":form1:content" />
                <p:commandButton value="No" onclick="confirmation2.hide()" type="button" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation3" message="Editing data will affect other tables, are you sure?" id="confirmation3" >
                <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                 actionListener="#{ExportFileTemplateClient.updateRecordDetail}" update=":form1:content" />
                <p:commandButton value="No" onclick="confirmation3.hide()" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation_mat" message="Editing data will affect other tables, are you sure?" id="confirmation_mat" >
                <p:commandButton value="Yes" onclick="confirmation_mat.hide()"
                                 actionListener="#{MatchingSettingClient.updateMatchingType}" update=":form1:content" />
                <p:commandButton value="No" onclick="confirmation_mat.hide()" update=":form1:content" actionListener="#{MatchingSettingClient.setOldActive}" />
            </p:confirmDialog>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{ExportFileTemplateClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>