<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>License Management</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl"/>
            <p:panel header="license management" >
                <h:panelGrid columns="3" id="details" style="line-height: 15px">
                    <h:outputText value="License limit:" style="font-weight: bold" />
                    <p style="width:5px" />
                    <h:outputText value="#{LicenseManagementClient.liclimit}" />
                    
                    <h:outputText value="Defined ATMs:" style="font-weight: bold" />
                    <p style="width:5px" />
                    <h:outputText value="#{LicenseManagementClient.defineatms}" />

                    <h:outputText value="Selected ATMs:" style="font-weight: bold"/>
                    <p style="width:5px" />
                    <h:outputText value="#{LicenseManagementClient.selectedatms}" />

                    <h:outputText value="Remaining ATMs:" style="font-weight: bold"/>
                    <p style="width:5px" />
                    <h:outputText value="#{LicenseManagementClient.remain}" />

                    <h:outputText value="ATMs out of license:" style="font-weight: bold"/>
                    <p style="width:5px" />
                    <h:outputText value="#{LicenseManagementClient.outlic}" />
                </h:panelGrid>
                <br />
                <h:panelGrid columns="3">
                    <h:outputText value="Filter" />
                    <p style="width:40px" />
                    <p:inputText value="#{LicenseManagementClient.filterATM}" >
                        <p:ajax update="atmGrid"  event="keyup" listener="#{LicenseManagementClient.filterATMList}"/>
                    </p:inputText>
                </h:panelGrid>
                <br />
                <p:dataGrid paginator="true" rows="70" value="#{LicenseManagementClient.myList}" id="atmGrid"  var="ms1" columns="9" style="line-height: 40px; " >
                    <p:column >
                        <p:panel  style="width:100px;">
                            <h:panelGrid columns="3" >
                                <h:outputText value="#{ms1.applicationId}" style="text-align: center"  />
                                <p style="width:20px" />
                                <h:commandLink actionListener="#{LicenseManagementClient.changeValueDelete(ms1)}" >
                                    <p:ajax update="lbutton,:form1:details,:form1:growl" />
                                    <h:graphicImage id="lbutton" url="#{ms1.LIC == true ? 'images/icons/onlineIcon.png':'images/icons/offlineIcon.png'}" title="#{ms1.LIC == true ? 'Assigned' : 'Not assigned'}" />
                                    <f:attribute name="updateRow" value="#{ms1}"/>
                                </h:commandLink>
                            </h:panelGrid>
                        </p:panel>
                    </p:column>
                </p:dataGrid>
            </p:panel>
             <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{LicenseManagementClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>