<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Unlock Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="Unlock Users" >
                <div align="center">
                    <p:dataTable id="blockUsers" value="#{UnlockUserClient.buList}" var="ms" style="width:800px; ">

                        <f:facet name="header">
                            <h:outputText value="Users"/>
                        </f:facet>
                        <p:column headerText="Username" style="width:350px">
                            <h:outputText value="#{ms.userName}" />
                        </p:column>

                        <p:column headerText="Login name" style="width:350px">
                            <h:outputText value="#{ms.logonName}" />

                        </p:column>

                        <p:column headerText="Action" style="width:350px">
                            <p:commandButton value="Unlock user" style="text-align: center; width:100px"  oncomplete="confirmation.show();" actionListener="#{UnlockUserClient.fillUnBlockedUser}">
                                <f:attribute value="#{ms}" name="unlockedUser" />
                            </p:commandButton>
                        </p:column>

                        <f:facet name="footer">


                        </f:facet>
                    </p:dataTable><br/>
                </div>
                <p:dialog widgetVar="confirmation"  id="confirmation" resizable="false">
                    <h:outputText value="Are you sure?" /> <br /><br />
                    <br /><br />
                    <p:commandButton value="Yes" type="sumbit" onclick="confirmation.hide()" update="blockUsers"  actionListener="#{UnlockUserClient.unBlockUser}" /> &nbsp;

                    <p:commandButton value="No"  onclick="confirmation.hide()" />
                </p:dialog>
            </p:panel>
<p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{UnlockUserClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>           

        </h:form>

    </h:body>
</html>