<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Privilage</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

        <script type="text/javascript">
        function validate(evt) {
          if(evt.keyCode||evt.which==8){
              return true;
          }
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode( key );
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {

            if(theEvent.preventDefault) theEvent.preventDefault();
          }
        }


        </script>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <div align="center">
                <p:panel header="" id="content" >
                    <p:dataTable id="profileTable"  value="#{PrivilageClient.profileList}" var="ms" style="width:600px"
                                 selectionMode="single" rowKey="#{ms.profileId}">
                        
                        <p:ajax event="rowSelect" listener="#{PrivilageClient.onRowSelect1}" update=":form1:content"   />
                        <p:ajax event="rowUnselect" listener="#{PrivilageClient.onRowUnSelect1}" update=":form1:content"/>

                        <f:facet name="header">
                            <h:outputText value="Profiles"/>
                        </f:facet>
                        <p:column headerText="Name">
                            <h:inputText value="#{ms.profileName}" />
                        </p:column>

                        <p:column headerText="Action">
                            <p:commandLink   oncomplete="confirmation.show()"  actionListener="#{PrivilageClient.fillDel}"  update=":form1:content"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                            <p:commandLink  actionListener="#{PrivilageClient.fillUp}" oncomplete="confirmation1.show();"  update=":form1:content" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>


                        </p:column>
                        <f:facet name="footer">

                            <div align="center" style="height: 20px" >
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{PrivilageClient.message}" id="display" /></div>
                                <div style="float: right">
                                    <p:commandLink actionListener="#{PrivilageClient.addProfile}"    update="profileTable"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{PrivilageClient.showAdd}" /></p:commandLink>

                                    <p:commandLink actionListener="#{PrivilageClient.addConfirm}"  update="profileTable" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{PrivilageClient.showConfirm}"/></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </p:dataTable><br/>
                    <table>
                        <tr>
                            <td>
                                <div style="float:left">
                                    <p:treeTable id="menuLabel"  value="#{PrivilageClient.profileMenu}" var="msMenue" style="width:600px" >

                                        <f:facet name="header">
                                            <h:outputText value="Menu"/>
                                        </f:facet>
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="Name"/>
                                            </f:facet>
                                            <p:commandLink value="#{msMenue.englishLabel}" />
                                        </p:column>
                                        <p:column >
                                            <p:commandButton value=">" oncomplete="confirmation_transfer.show()" actionListener="#{PrivilageClient.transferMenu}" >
                                                <f:attribute name="updateRowMenu" value="#{msMenue}" />
                                            </p:commandButton>
                                        </p:column>

                                    </p:treeTable>
                                </div>
                                <div style="float:right; margin: 0 0 0 10px">
                                    <p:dataTable value="#{PrivilageClient.profileMenuList}" paginator="true" rows="8" var="itemMc" id="itemTable" style="width:600px">
                                        <f:facet name="header">
                                            Items
                                        </f:facet>
                                        <p:column >
                                            <p:commandLink   oncomplete="confirmationItemMC.show()"  actionListener="#{PrivilageClient.fillItemMc}"  update=":form1:content"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                                <f:attribute name="updateRowMenuItem" value="#{itemMc}" />
                                            </p:commandLink> &nbsp;
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{itemMc.englishLabel}" />
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </td></tr>
                        </table>



                    <p:confirmDialog widgetVar="confirmationItemBingoBack" message="Are you sure you want to delete?" id="confirmationItemBingoBack">
                        <p:commandButton value="Yes" onclick="confirmationItemBingoBack.hide()"
                                         actionListener="#{PrivilageClient.doTransferBackBingo}" />
                        <p:commandButton value="No"  onclick="confirmationItemBingoBack.hide()" />
                    </p:confirmDialog>

                    <p:confirmDialog widgetVar="confirmationItemBingo" message="Are you sure you want to transfer?" id="confirmationItemBingo">
                        <p:commandButton value="Yes" onclick="confirmationItemBingo.hide()"
                                         actionListener="#{PrivilageClient.doTransferBingo}"/>
                        <p:commandButton value="No"  onclick="confirmationItemBingo.hide()"  />
                    </p:confirmDialog>

                    <p:confirmDialog widgetVar="confirmationItemMC" message="Are you sure you want to delete?" id="confirmationItemMC">
                        <p:commandButton value="Yes" onclick="confirmationItemMC.hide()"
                                         actionListener="#{PrivilageClient.doTransferBack}" update="itemTable" />
                        <p:commandButton value="No"  onclick="confirmationItemMC.hide()" update="itemTable" />
                    </p:confirmDialog>
                    <p:confirmDialog widgetVar="confirmation_transfer" message="Are you sure you want to transfer?" id="confirmation_transfer">
                        <p:commandButton value="Yes" onclick="confirmation_transfer.hide()"
                                         actionListener="#{PrivilageClient.doTransfer}" update="itemTable,profileTable" />
                        <p:commandButton value="No"  onclick="confirmation_transfer.hide()" update="itemTable" />
                    </p:confirmDialog>


                    <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                        <p:commandButton value="Yes" onclick="confirmation.hide()"
                                         actionListener="#{PrivilageClient.deleteProfile}" update="profileTable" />
                        <p:commandButton value="No"  onclick="confirmation.hide()" update="profileTable" />
                    </p:confirmDialog>

                    <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                        <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                         actionListener="#{PrivilageClient.updateProfile}" update="profileTable" />
                        <p:commandButton value="No" onclick="confirmation1.hide()" update=":form1:content" />

                    </p:confirmDialog>

                </p:panel>
            </div>
             <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{PrivilageClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>

