<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Matching Setting</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">

            <p:panel header="Time Shifts" id="content">
                <p:dataTable id="mat_typ_dt"  value="#{TimeShiftClient.timeShiftList}" var="ms"
                             selectionMode="single"  selection="#{TimeShiftClient.selectedMT}" rowKey="#{ms.shiftId}">

                    <p:ajax event="rowSelect" listener="#{TimeShiftClient.onRowSelect1}" update=":form1:content"   />
                    <p:ajax event="rowUnselect" listener="#{TimeShiftClient.onRowUnSelect1}" update=":form1:content"/>

                    <f:facet name="header">
                        <h:outputText value="Shifts"/>
                    </f:facet>
                    <p:column headerText="*English name">
                        <h:inputText value="#{ms.shiftEName}"/>
                    </p:column>
                 

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation.show();" actionListener="#{TimeShiftClient.fillDelete}" update="display2,mat_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms}"/>

                        </p:commandLink> &nbsp;
                        <p:commandLink  update="display2,mat_typ_dt" actionListener="#{TimeShiftClient.fillUpdate}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>

                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{TimeShiftClient.message}" id="display2" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{TimeShiftClient.addTimeShift}"    update="mat_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{TimeShiftClient.showAdd}" /></p:commandLink>
                                <p:commandLink actionListener="#{TimeShiftClient.confirmAdd}"  update="mat_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{TimeShiftClient.showConfirm}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>


                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{TimeShiftClient.deleteRecord}" update="mat_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation.hide()" update="mat_typ_dt" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{TimeShiftClient.updateRecord}" update="mat_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" update="mat_typ_dt" />
                </p:confirmDialog>
                <p:dataTable id="mach_typ_dt" value="#{TimeShiftClient.timeShiftDetailsList}" var="ms1" >
                    <f:facet name="header">
                        <h:outputText value="Days"/>
                    </f:facet>
                    <p:column headerText="Day"  style="width:350px">
                        <h:selectOneMenu value="#{ms1.dayNo}" disabled="true">
                            <f:selectItem itemLabel="Saturday" itemValue="1" />
                            <f:selectItem itemLabel="Sunday" itemValue="2" />
                            <f:selectItem itemLabel="Monday" itemValue="3" />
                            <f:selectItem itemLabel="Tuesday" itemValue="4" />
                            <f:selectItem itemLabel="Wednesday" itemValue="5" />
                            <f:selectItem itemLabel="Thursday" itemValue="6" />
                            <f:selectItem itemLabel="Friday" itemValue="7" />
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="From"  style="width:350px">
                        <p:calendar timeOnly="true" pattern="HH:mm:ss" value="#{ms1.timeFrom}" timeZone="#{MainClient.timeZone}"/>
                    </p:column>
                    <p:column headerText="To"  style="width:350px">
                        <p:calendar timeOnly="true" pattern="HH:mm:ss" value="#{ms1.timeTo}" timeZone="#{MainClient.timeZone}"/>
                    </p:column>

                    <p:column headerText="Working days"  style="width:350px">
                        <h:selectBooleanCheckbox  value="#{ms1.workingB}"/>
                    </p:column>

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  update="display3,mach_typ_dt" actionListener="#{TimeShiftClient.fillUpdate1}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow1" value="#{ms1}" /></p:commandLink>

                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px; margin: 5px 0 0 0">
                            <h:outputText value="#{TimeShiftClient.message1}" id="display3" style="color:red; font-weight: bold" />
                        </div>
                    </f:facet>


                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{TimeShiftClient.updateRecord1}" update="mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update="mach_typ_dt" />
                </p:confirmDialog>
            </p:panel>
            <!-- Confrim Dialogs -->

    <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{TimeShiftClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>  
        </h:form>
    </h:body>
</html>

