<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Transaction Type</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <style>
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">

            <p:panel header="Transaction Type" id="content">
                <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()">
                    <f:facet name="start">
                        <h:graphicImage value="images/ajaxloading.gif" />
                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
                <div align="center">
                    <p:dataTable style="width:600px" id="mat_typ_dt" selectionMode="single" rowKey="#{ms.id}"  value="#{TransactionTypeClient.cdList}" var="ms" selection="#{TransactionTypeClient.selectedMT}">

                        <p:ajax event="rowSelect" listener="#{TransactionTypeClient.onRowSelect1}" update=":form1:content"   />
                        <p:ajax event="rowUnselect" listener="#{TransactionTypeClient.onRowUnSelect1}" update=":form1:content"/>

                        <f:facet name="header">
                            <h:outputText value="Transaction Type"/>
                        </f:facet>
                        <p:column headerText="*Name">
                            <h:inputText value="#{ms.name}"/>
                        </p:column>

                        <p:column id="opt" headerText="Action">
                            <p:commandLink  onclick="confirmation.show();" actionListener="#{TransactionTypeClient.fillDelete}" update="display2,mat_typ_dt,:form1:mach_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                            <p:commandLink  update="display2,mat_typ_dt,:form1:mach_typ_dt" actionListener="#{TransactionTypeClient.fillUpdate}" onclick="confirmation1.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>

                        </p:column>

                        <f:facet name="footer">

                            <div align="center" style="height: 20px">
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{TransactionTypeClient.message}" id="display2" />
                                </div>
                                <div style="float: right">
                                    <p:commandLink actionListener="#{TransactionTypeClient.addTimeShift}"    update="mat_typ_dt,:form1:mach_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{TransactionTypeClient.showAdd}" /></p:commandLink>
                                    <p:commandLink actionListener="#{TransactionTypeClient.confirmAdd}"  update="mat_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{TransactionTypeClient.showConfirm}" /></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </p:dataTable><br/>
                </div>

                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{TransactionTypeClient.deleteRecord}" update="mach_typ_dt,mat_typ_dt"  />
                    <p:commandButton value="No" onclick="confirmation.hide()" update="mach_typ_dt,mat_typ_dt"  />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{TransactionTypeClient.updateRecord}" update="mach_typ_dt,mat_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" update="mach_typ_dt,mat_typ_dt" />
                </p:confirmDialog>

                <p:dataTable id="mach_typ_dt" value="#{TransactionTypeClient.cdDetailsList}" var="ms1" >
                    <f:facet name="header">
                        <h:outputText value="Transaction Type Details"/>
                    </f:facet>

                    <p:column headerText="*Name"  >
                        <h:inputText  value="#{ms1.name}" />
                    </p:column>

                    <p:column headerText="Description"  >
                        <h:inputTextarea  value="#{ms1.description}" style="height:50px"/>
                    </p:column>
                    
                    <p:column headerText="Reverse"  >
                        <h:selectBooleanCheckbox value="#{ms1.reverseflag}"  />
                    </p:column>




                    <p:column headerText=""  id="radioTD" style="width:250px" >
                        <div  id="rd" style="margin:0 0 0 -17px">
                            <h:selectOneRadio value="#{ms1.typeCategory}"  >
                                <f:selectItem id="cc"  itemLabel="Withdraw" itemValue="1"  />
                                <f:selectItem id="cccc" itemLabel="Deposite" itemValue="2" />
                            </h:selectOneRadio>
                        </div>
                    </p:column>

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation3.show();" actionListener="#{TransactionTypeClient.fillDelete1}" update=":form1:mat_typ_dt,display3,mach_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow1" value="#{ms1}"/>
                        </p:commandLink>

                        <p:commandLink  update="display3,mach_typ_dt,:form1:mat_typ_dt" actionListener="#{TransactionTypeClient.fillUpdate1}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow1" value="#{ms1}" />
                        </p:commandLink>
                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                <h:outputText value="#{TransactionTypeClient.message1}" id="display3" />
                            </div>
                            <div style="float: right">
                                <p:commandLink actionListener="#{TransactionTypeClient.addTimeShift1}"    update="mach_typ_dt,:form1:mat_typ_dt"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{TransactionTypeClient.showAdd1}" /></p:commandLink>
                                <p:commandLink actionListener="#{TransactionTypeClient.confirmAdd1}"  update="mach_typ_dt"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{TransactionTypeClient.showConfirm1}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to delete?" id="confirmation3">
                    <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                     actionListener="#{TransactionTypeClient.deleteRecord1}" update="mach_typ_dt,mat_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation3.hide()" update="mach_typ_dt,mat_typ_dt" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{TransactionTypeClient.updateRecord1}" update="mach_typ_dt,mat_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update="mach_typ_dt,mat_typ_dt" />
                </p:confirmDialog>
            </p:panel>
            <!-- Confrim Dialogs -->

    <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{TransactionTypeClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>  

        </h:form>
    </h:body>
</html>

