<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Block Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>

        <style>
            textarea{
                resize:none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="ATM Errors" >
                <p:ajaxStatus oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" style="width:16px;height:16px; margin: 0 0 0 0">
                    <f:facet name="start">
                       
                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
                <div align="center">
                    <div align="left" style="width:795px">
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText value="#{TransactionStatusClient.listSize}" />
                        </h:panelGrid>
                    </div>
                    <br style="line-height: 3px" />
                    <p:dataTable id="columnDef" value="#{TransactionStatusClient.transDefList}" paginator="true" rows="10" var="ms" style="width:800px">

                        <p:column headerText="*Name" style="width:300px">
                            <h:inputText value="#{ms.name}" />
                        </p:column>

                        <p:column headerText="Description" style="width:350px">
                            <h:inputTextarea value="#{ms.description}" style="height: 40px" rows="6" />
                        </p:column>

                        <p:column headerText="Action" style="width:100px">
                            <p:commandLink   onclick="confirmation.show()"  actionListener="#{TransactionStatusClient.fillDelete}"  update="display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                            <p:commandLink  actionListener="#{TransactionStatusClient.fillUpdate}" onclick="confirmation1.show();"  update="display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>


                        </p:column>

                        <f:facet name="footer">
                            <div align="center" style="height: 20px" >
                                <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                    <h:outputText value="#{TransactionStatusClient.message}" id="display" />
                                </div>
                                <div style="float: right">
                                    <p:commandLink actionListener="#{TransactionStatusClient.addTransaction}"    update="columnDef"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{TransactionStatusClient.showAdd}" /></p:commandLink>
                                    <p:commandLink actionListener="#{TransactionStatusClient.confirmTransaction}"  update="columnDef" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{TransactionStatusClient.showConfirm}"/></p:commandLink>
                                </div>
                            </div>
                        </f:facet>

                    </p:dataTable><br/>
                </div>
                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{TransactionStatusClient.deleteRecord}" update="columnDef" />
                    <p:commandButton value="No" onclick="confirmation.hide()" update="columnDef" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{TransactionStatusClient.updateRecord}" update="columnDef" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" update="columnDef" />
                </p:confirmDialog>
            </p:panel>


    <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{TransactionStatusClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>  

        </h:form>

    </h:body>
</html>