<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <script>
            function resetDialog() {
                document.getElementById("form1:ename").value = "";
                document.getElementById("form1:aname").value = "";
                document.getElementById("form1:uname").value = "";
                document.getElementById("form1:disputeb").value = false;
                document.getElementById("form1:newatmb").value = false;

            }
        </script>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <table style="width:100%"><tr><td>
                        <p:panel header="Users Management" id="content" >

                            <h:panelGrid columns="3">
                                <h:outputText value="Total Records: " />
                                <p style="width:10px" />
                                <h:outputText value="#{SystemUsersClient.listSize}" />
                            </h:panelGrid>
                            <br style="line-height: 3px" />
                            <p:dataTable id="blockReason" value="#{SystemUsersClient.brList}" var="ms" paginator="true" rows="9">

                                <p:column headerText="English Name">
                                    <h:inputText value="#{ms.userName}" style="text-align: center"  />
                                </p:column>
                                <p:column headerText="Username">
                                    <h:inputText value="#{ms.logonName}" style="text-align: center"  />
                                </p:column>

                                <p:column headerText="Profile">
                                    <h:selectOneMenu value="#{ms.profileDTO.profileId}" style="text-align: center; width:100px"  >
                                        <f:selectItems var="c" value="#{SystemUsersClient.profileList}" itemLabel="#{c.profileName}" itemValue="#{c.profileId}" />
                                    </h:selectOneMenu>
                                </p:column>



                                <p:column headerText="Pending ATMs"  >
                                    <h:selectBooleanCheckbox value="#{ms.pendingAtms}"  />
                                </p:column>

                                <p:column headerText="Notifications"  >
                                    <h:selectBooleanCheckbox value="#{ms.notificationB}"  />
                                </p:column>

                                <p:column headerText="Errors"  >
                                    <h:selectBooleanCheckbox value="#{ms.errorsB}"  />
                                </p:column>

                                <p:column headerText="Online Users"  >
                                    <h:selectBooleanCheckbox value="#{ms.onlineuserB}"  />
                                </p:column>

                                <p:column headerText="New ATMs"  >
                                    <h:selectBooleanCheckbox value="#{ms.showNewAtmsB}"  />
                                </p:column>

                                <p:column headerText="User Activity"  >
                                    <h:selectBooleanCheckbox value="#{ms.disputGraphB}"  />
                                </p:column>

                                <p:column headerText="Corrective Entry"  >
                                    <h:selectBooleanCheckbox value="#{ms.showcorrect}" />
                                </p:column>

                                <p:column headerText="Export"  >
                                    <h:selectBooleanCheckbox value="#{ms.showexport}"  />
                                </p:column>
                                <p:column headerText="Settlement"  >
                                    <h:selectBooleanCheckbox value="#{ms.settlementboolean}"  />
                                </p:column>
                                <p:column headerText="Unsettlement"  >
                                    <h:selectBooleanCheckbox value="#{ms.unsettlementboolean}"  />
                                </p:column>
                                <p:column headerText="Action" >
                                    <div style="width:50px">
                                        <p:commandLink   onclick="confirmation.show()"  actionListener="#{SystemUsersClient.fillDel}"  update="display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                            <f:attribute name="removedRow" value="#{ms}"/>

                                        </p:commandLink>
                                        <p:commandLink  actionListener="#{SystemUsersClient.fillUp}" onclick="confirmation1.show()"  update="display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>
                                    </div>
                                </p:column>

                                <f:facet name="footer">

                                    <div align="center" style="height: 20px" >
                                        <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%">
                                            <h:outputText value="#{SystemUsersClient.message}" id="display" />
                                        </div>
                                        <div style="float: right" >
                                            <p:commandLink   oncomplete ="insertDlg.show()"  ><h:graphicImage url="images/icons/newmessage.png" title="add"/></p:commandLink>
                                        </div>
                                    </div>
                                </f:facet>
                            </p:dataTable>


                            <p:dialog widgetVar="insertDlg" id="insertDlgId" rendered="true" draggable="false" resizable="false" modal="true" header="Add new user">
                                <h:panelGrid columns="3" style="line-height: 30px" id="data">
                                    <h:outputText value="*English Name" />
                                    <p style="width:10px" />
                                    <h:inputText value="#{SystemUsersClient.eName}" id="ename" />

                                    <h:outputText value="*User Name" />
                                    <p style="width:10px" />
                                    <h:inputText value="#{SystemUsersClient.uName}" id="uname"/>

                                    <h:outputText value="*Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{SystemUsersClient.password}" id="password"/>

                                    <h:outputText value="*Confirm Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{SystemUsersClient.confirmPassword}"  />



                                </h:panelGrid>
                                <h:panelGrid columns="2"  style="line-height: 20px; margin-left: 93px" id="data1">
                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.pendingAtms}" id="disputeb"  />
                                    <h:outputText value="Pending Atms" />



                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.onlineuserB}"  id="newatmb"/>
                                    <h:outputText value="Online User" />

                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.showNewAtmsB}"  id="newatmb1"/>
                                    <h:outputText value="new Atms" />

                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.showcorrect}"  id="newatmb0"/>
                                    <h:outputText value="Corrective Entry" />

                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.showexport}"  id="newatmb2"/>
                                    <h:outputText value="Export" />

                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.userActivityB}"  id="newatmb3"/>
                                    <h:outputText value="User Activity" />

                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.settB}"  id="newatmb3555"/>
                                    <h:outputText value="Settlement" />

                                    <h:selectBooleanCheckbox value="#{SystemUsersClient.unsettB}"  id="newatmb3654"/>
                                    <h:outputText value="Unsettlement" />


                                </h:panelGrid>

                                <div  style="margin: 10px 0; color: red; font-weight: bold; float: left">
                                    <h:outputText value="#{SystemUsersClient.message_pop}"  id="msg"/>
                                </div>
                                <div style="float:right">
                                    <p:commandButton update="content,msg" oncomplete="insertDlg.hide()" value="Confirm" actionListener="#{SystemUsersClient.confirmInsert}" />
                                </div>
                                <p:commandButton value="refresh" id="refreshText" update="data,data1,content" style="display: none"  actionListener="#{SystemUsersClient.resetDialog}" />
                            </p:dialog>
                            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                                 actionListener="#{SystemUsersClient.deleteBlockReason}" update="content" />
                                <p:commandButton value="No"  onclick="confirmation.hide()" update="content" />
                            </p:confirmDialog>

                            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                                 actionListener="#{SystemUsersClient.updateBlockReason}" update="content" />
                                <p:commandButton value="No" onclick="confirmation1.hide()" update="content" />


                            </p:confirmDialog>
                            <div align="right">
                                <h:panelGrid columns="2">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                        <f:facet name="start">
                                            <h:graphicImage value="images/ajaxloading.gif" />
                                        </f:facet>
                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>

                                </h:panelGrid>
                            </div>
                        </p:panel>
                    </td></tr></table>


            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{SystemUsersClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>  
        </h:form>

    </h:body>
</html>