<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User Branches</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-picklist .ui-picklist-list{
                width:260px;
                height: 300px
            }
        </style>

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:panel header="Assign User Branch" style="height: 450px;  ">
                <div style="margin-left:300px" >
                    <h:panelGrid columns="4" >
                        <p style="width:50px" />
                        <h:outputText value="Branch" />
                        <p style="width:10px" />
                        <h:selectOneMenu value="#{BranchAssignClient.userInt}"  valueChangeListener="#{BranchAssignClient.changeValue}" >
                            <p:ajax update="pickV" />
                            <f:selectItem itemLabel="Choose one" itemValue="0" />
                            <f:selectItems value="#{BranchAssignClient.userList}" var="c1" itemLabel="#{c1.name}" itemValue="#{c1.id}"/></h:selectOneMenu>
                    </h:panelGrid>
                      <br/>
                    <h:panelGrid columns="12" >
                        <p style="width:50px" />
                        <h:outputText value="All" />
                        <p style="width:10px" /> 
                        <h:inputText value="#{BranchAssignClient.sourcelikevalue}" id="filteedisplay" />
                        <p style="width:3px" /> 
                        <p:commandButton value="Filter" actionListener="#{BranchAssignClient.filterValue}"  id="filterBtn" update="pickV"/>
                        <p style="width:50px" /> 
                        <h:outputText value="Assign" />
                        <p style="width:10px" /> 
                        <h:inputText value="#{BranchAssignClient.targetlikevalue}" id="filteedisplay2" />
                        <p style="width:3px" /> 
                        <p:commandButton value="Filter" actionListener="#{BranchAssignClient.filterValue}"  id="filterBtn2" update="pickV"/>

                    </h:panelGrid>
                    <br/>

                    <div id="aa" style="width:300px; margin: 0 0 0 10px">

                        <p:pickList value="#{BranchAssignClient.pickValues}"   style="width:400px" var="a" itemLabel="#{a}" itemValue="#{a}" id="pickV" showSourceControls="true" showTargetControls="true" >

                            <f:facet  name="sourceCaption"><p style="text-align: center; color: gray">All ATMS</p></f:facet>

                            <f:facet name="targetCaption"><p style="text-align: center;color: gray">Assign ATMS</p></f:facet>

                        </p:pickList>
                        <br />
                    </div>
                    <div align="center" >
                        <div style="color:red; margin: 5px 0; position: absolute; left: 30%; right: 30%; font-weight: bold">
                            <h:outputText value="#{BranchAssignClient.message}" id="display" /></div>
                        <div style="margin: 0 340px 0 0;float: right">
                            <p:commandButton value="Save" actionListener="#{BranchAssignClient.savelist}"  id="saveBtn" update="display"/>
                        </div>

                    </div>
                    <p:ajaxStatus style="width:16px;height:16px; margin: 5px 0 0 520px">
                        <f:facet name="start">
                            <h:graphicImage value="images/ajaxloading.gif" />
                        </f:facet>

                        <f:facet name="complete">
                            <h:outputText value="" />
                        </f:facet>
                    </p:ajaxStatus>
                </div>
            </p:panel>

        </h:form>

    </h:body>
</html>