<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User ATMs</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-picklist .ui-picklist-list{
                width:260px;
                height: 300px
            }
            td{
                vertical-align: text-top
}
        </style>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel id="content" header="Assign Rep. Group " style="height: 550px ;text-align: left">

                <p:ajaxStatus oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" style="width:16px;height:16px; margin: 0 0 0 0">
                    <f:facet name="start">

                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>

                <div  style="float: left; margin: 0px 0 0">
                    <p style="font-size: 12px; font-weight: bold">Groups Statistics:</p>
                    <p:carousel   circular="true" rows="11" style="width:600px" id="smallCarousel" value="#{UserATMClient.userCounts}" var="car" itemStyleClass="carItem" vertical="true">
                        <div style="width:175px; height: 20px; padding: 9px 0 0 0 " align="center">
                            <h:outputText value="#{car}" style="height:50px; width: 200px" />
                        </div>
                    </p:carousel>
                </div>
                <div align="center">
                    <table align="center" width="60%" ><tr align="center">
                            <td valign="top">
                                <h:panelGrid columns="3"  style="line-height: 10px" >
                                    <h:outputText value="User Name" />
                                    <p style="width:10px" />
                                    <h:selectOneMenu value="#{UserATMClient.userInt}"   valueChangeListener="#{UserATMClient.userChange}">
                                        <p:ajax update="display,content,form1:blockReason" />
                                        <f:selectItem itemLabel="Choose one" itemValue="0" />
                                        <f:selectItems value="#{UserATMClient.userList}" var="c1" itemLabel="#{c1.userName}" itemValue="#{c1.userId}"/>
                                    </h:selectOneMenu>

                                    <h:outputText  value=""/>
                                    <h:outputText  value=""/>
                                    <p style="height: 10px" />

                                    <h:outputText value="ATM Group" />
                                    <p style="width:10px" />
                                    <h:selectOneMenu value="#{UserATMClient.atmGInt}" valueChangeListener="#{UserATMClient.atmChange}">
                                        <p:ajax update="display,content" />
                                        <f:selectItem itemLabel="All" itemValue="0" />
                                        <f:selectItems value="#{UserATMClient.atmGList}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}"/>
                                    </h:selectOneMenu>

                                </h:panelGrid>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <br />
                                <h:panelGrid columns="5" >
                                    <div style="width:330px" >
                                        <p:commandButton value="#{UserATMClient.selectText}" actionListener="#{UserATMClient.selectTargetTable}" id="selectBtn" update="blockReason,selectBtn" style="width:120px"/>
                                    </div>
                                     <p style="width:20px " />
                                    <div style="width:350px" >
                                        <p:commandButton value="#{UserATMClient.selectText1}" id="selectBtn1" actionListener="#{UserATMClient.selectSourceTable}" update="blockReason1,selectBtn1"  style="width:120px"/>
                                    </div>
                                </h:panelGrid>
                                <br />
                                <h:panelGrid columns="3" style="vertical-align: text-top; " >
                                    <p:dataTable id="blockReason" selection="#{UserATMClient.selectedTarget}"  rowKey="#{ms}" value="#{UserATMClient.targetList}" rows="8" paginator="true" var="ms" style="width:450px">
                                        <f:facet name="header" >
                                            <h:outputText value="Assigned ATMs" />
                                        </f:facet>
                                        <p:column selectionMode="multiple" style="width:10px" />
                                        <p:column headerText="ATM ID" style="width:40px">
                                            <h:outputText value="#{ms}" style="text-align: center"  />
                                        </p:column>
                                    </p:dataTable>
                                    <p style="width:20px " />
                                    <p:dataTable id="blockReason1"  selection="#{UserATMClient.selectedSource}" rowKey="#{ms1}" value="#{UserATMClient.sourceList}" rows="8" paginator="true" var="ms1" style="width:450px">
                                        <f:facet name="header" >
                                            <h:outputText value="Available ATMs" />
                                        </f:facet>
                                        <p:column selectionMode="multiple" style="width:10px" />
                                        <p:column headerText="ATM ID" style="width:40px">
                                            <h:outputText value="#{ms1}" style="text-align: center"  />
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </td>
                        </tr></table>
                    <br />
                    <div align="center" style=" position: absolute ; width:99%"><h:outputText id="display" value="#{UserATMClient.message}" style="color:red; font-weight: bold " /></div>
                    <div align="right" style="width:84.5%;">
                        <p:commandButton value="Transfer" update="content" actionListener="#{UserATMClient.saveChange}" />
                    </div>
                </div>
            </p:panel>
 <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{UserATMClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>              
        </h:form>

    </h:body>
</html>