<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Card Taken Statistics</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Card Taken Statistics" style="width: 820px; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 15px">
                            <h:panelGrid columns="3" >

                                 <h:outputText value="*Date from" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BranchesReportClient.fromDate}" required="true" requiredMessage="Date From Is A Required Field" >
                                    
                                </p:calendar>

                                <h:outputText value="*Date to" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BranchesReportClient.toDate}" required="true" requiredMessage="Date To Is A Required Field" >
                                </p:calendar>

                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                                        <f:facet name="start">

                                        </f:facet>

                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <p:commandButton value="Search"  actionListener="#{BranchesReportClient.printRepcardsExcel}"  id="printBtn" update=":form1:results"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results" fileName="CardTakenStatisticsExcel" />  
                                </h:commandLink>
                                <h:commandLink target="_blank" type="submit"  actionListener="#{BranchesReportClient.printRepcards}" >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="CardTakenStatisticsCSV" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="CardTakenStatisticsXML" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results"  value="#{BranchesReportClient.resultcards}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.atmaplication}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Cards On File"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.cardonfile}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Cards On ATM"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.caronatm}" />
                            </p:column>
                        </p:dataTable>

                    </div>
                </p:panel>
            </div>
        </h:form>

    </h:body>
</html>