<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Card No. Total</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Totals By Card No." style="width: 620px; text-align: left">
                    <div align="center" oncopy="return false;" onpaste="return false;">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 10px">
                            <h:panelGrid id="searchcre"  columns="3" >
                                <h:outputText value="Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"    value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field "/>

                                <h:outputText value="Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date To Field "/>

                                <h:outputText value="ATM Group" />
                                <p style="width: 40px" />
                                <h:selectOneMenu  value="#{BingoReportClient.atmInt}" >
                                    <f:selectItem itemEscaped="true"  itemValue="0" itemLabel="All" />
                                    <f:selectItems itemLabelEscaped="true" value="#{BingoReportClient.atmGroupList}" var="ms" itemLabel="#{ms.name}" itemValue="#{ms.id}" />
                                </h:selectOneMenu>


                                <h:outputText value="*Cards #" />
                                <p style="width: 40px" />
                                

                                <p:inputMask id="userNo" value="#{BingoReportClient.temp}" maxlength="2" mask="9?9999" >
                                     <p:ajax event="blur" update="printBtn"  listener="#{BingoReportClient.disablePrint1}"/>
                                </p:inputMask>
                                <h:outputText value="Side" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.sideInt}" >
                                    <f:selectItem itemLabel="Journal" itemValue="1" />
                                    <f:selectItem itemLabel="Switch" itemValue="2" />
                                    <f:selectItem itemLabel="Host" itemValue="3" />
                                </h:selectOneMenu>

                                <h:outputText value="Sort By" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.sortBy}" >
                                    <f:selectItem itemLabel="Transaction Count" itemValue="1" />
                                    <f:selectItem itemLabel="Amount Total" itemValue="2" />
                                </h:selectOneMenu>

                                <h:outputText  />
                                <p style="width: 40px" />
                                <h:selectOneRadio value="#{BingoReportClient.drawInt}" >
                                    <f:selectItem itemLabel="Withdraw" itemValue="1"  />
                                    <f:selectItem itemLabel="Deposite" itemValue="2" />
                                </h:selectOneRadio>
                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                                        <f:facet name="start">

                                        </f:facet>

                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printCardNoexcel}"  id="printBtn" update=":form1:results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results" fileName="TotalsByCardNoExcel" />  
                                </h:commandLink>
                                <h:commandLink target="_blank" type="submit"  actionListener="#{BingoReportClient.printCardNo}" >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="TotalsByCardNoCSV" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="TotalsByCardNoXML" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" style="width:600px;" value="#{BingoReportClient.printCardNoResult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText escape="false" value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText escape="false" value="Card No."/>
                                </f:facet>
                                <h:outputText escape="false" value="#{missingOverlay.cardno}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText escape="false" value="Currency"/>
                                </f:facet>
                                <h:outputText escape="false" value="#{missingOverlay.currency}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText escape="false" value="Transaction Count"/>
                                </f:facet>
                                <h:outputText escape="false" value="#{missingOverlay.transactionscount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText escape="false" value="Total Amount"/>
                                </f:facet>
                                <h:outputText escape="false" value="#{missingOverlay.totalamount}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                 <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>