<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Replanishment Details</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>
        <script type="text/javascript">

            function reSize(h, w)
            {
                document.getElementById('form1:ove1').style.height = h + "px";
                document.getElementById("form1:ove1").style.width = w + "px";
            }

            function reSize1(h, w)
            {
                document.getElementById('form1:ove2').style.height = h + "px";
                document.getElementById("form1:ove2").style.width = w + "px";
            }
        </script>
    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:overlayPanel for="calBtn" id="ove1"  onHide="reSize(40,500);" >
                    <div align="left">
                        <h:panelGrid  columns="17" >
                            <h:outputText value="Date From" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" id="from1" disabled="#{BingoReportClient.subdatefromFlag}"   value="#{BingoReportClient.fromDate_ico}"  onclick="reSize(300, 560);"  >
                                <p:ajax  event="blur" listener="#{BingoReportClient.overlayCheck}" update="calBtn,form1:searchCri,ove2" />
                            </p:calendar>
                            <p style="width: 20px" />

                            <h:outputText value="Date To" />
                            <p style="width: 40px" />
                            <p:calendar  pattern="dd.MM.yyyy HH:mm:ss" disabled="#{BingoReportClient.subdatefromFlag}"   value="#{BingoReportClient.toDate_ico}" onclick="reSize(300, 560);"  >
                                <p:ajax  event="blur" listener="#{BingoReportClient.overlayCheck}" update="calBtn,form1:searchCri,ove2" />
                            </p:calendar>
                        </h:panelGrid>
                    </div>
                </p:overlayPanel>


                <p:overlayPanel for="cal1" id="ove2"  onHide="reSize1(40,525);" >
                    <div align="left">
                        <h:panelGrid columns="17" >
                            <h:outputText value="Date From" />
                            <p style="width: 40px" />
                            <p:calendar disabled="#{BingoReportClient.subdatetoFlag}" pattern="dd.MM.yyyy HH:mm:ss" valueChangeListener="#{BingoReportClient.calenderIconChange}"  value="#{BingoReportClient.fromDate_ico1}"  onclick="reSize1(300, 560);"  >
                                <p:ajax  event="blur" listener="#{BingoReportClient.overlayCheck}" update="calBtn1,searchCri,ove1" />
                            </p:calendar>
                            <p style="width: 70px" />

                            <h:outputText value="Date To" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" disabled="#{BingoReportClient.subdatetoFlag}" valueChangeListener="#{BingoReportClient.calenderIconChange}" value="#{BingoReportClient.toDate_ico1}" onclick="reSize1(300, 560);" >
                                <p:ajax  event="blur" listener="#{BingoReportClient.overlayCheck}" update="calBtn1,searchCri,ove1" />
                            </p:calendar>
                        </h:panelGrid>
                    </div>
                </p:overlayPanel>

                <p:panel header="ATM Replenishment" style=" width: 600px; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:350px;line-height: 35px; margin-top: 15px">
                            <h:panelGrid columns="4"  id="searchCri">
                                <h:outputText value="Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.fromDate}" disabled="#{BingoReportClient.datefromFlag}"/>
                                <h:commandLink disabled="#{BingoReportClient.subdatetoFlag}" id="calBtn" onclick="return false"><p:graphicImage url="../images/icons/calendar.png"  title="Range" id="cal"  style="margin: 0 0 0 3px"  /></h:commandLink>

                                <h:outputText value="Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" disabled="#{BingoReportClient.datetoFlag}" />
                                <h:commandLink disabled="#{BingoReportClient.subdatetoFlag}" id="calBtn1" onclick="return false"><p:graphicImage url="../images/icons/calendar.png"  title="Range" id="cal1"  style="margin: 0 0 0 3px"  /></h:commandLink>

                                <h:outputText value="Create From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.fromCreate}" />
                                <h:outputText />

                                <h:outputText value="Create To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toCreate}" />
                                <h:outputText />
                                
                                <h:outputText value="Daily Sheet Date" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy" value="#{BingoReportClient.dailySheetfrom}" />
                                <h:outputText />
                                
                                <h:outputText value="ATM ID" />
                                <p style="width: 40px" />
                                <p:autoComplete id="acMaxResults" maxResults="5"  value="#{BingoReportClient.atmids}"
                                                completeMethod="#{BingoReportClient.complete}" />
                                <h:outputText />

                                <h:outputText value="Users" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.userInt}"  >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItem itemValue="-1" itemLabel="System" />
                                    <f:selectItems value="#{BingoReportClient.repDetailsUsers}" var="ms" itemLabel="#{ms.userName}" itemValue="#{ms.userId}" />
                                </h:selectOneMenu>
                                <h:outputText />
                                <h:outputText value="Group" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.group2}"  >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItems value="#{BingoReportClient.groupList}" var="ms" itemLabel="#{ms.name}" itemValue="#{ms.id}" />
                                </h:selectOneMenu>
                                <h:outputText />
                                <h:outputText value="Processed" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.procstatus}"  >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItem itemValue="1" itemLabel="Yes" />
                                    <f:selectItem itemValue="2" itemLabel="No" />
                                </h:selectOneMenu>
                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="6" >
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                        <f:facet name="start">
                                            <h:graphicImage value="../images/ajaxloading.gif" />
                                        </f:facet>
                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>


                                    <p:commandButton  update="blockReason,tRecord" value="Search" actionListener="#{BingoReportClient.searchReplanishment}" />
                                    <p style="width:10px" />

                                </h:panelGrid>
                            </div>
                        </p:fieldset>
                        <br />
                        <div>
                            <div style="float:left; margin: 15px 0 0 0">
                                <h:panelGrid columns="4">
                                    <h:commandLink  >
                                        <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                        <p:dataExporter type="xls" target="blockReason" fileName="RepExcel" />  
                                    </h:commandLink>
                                    <h:commandLink target="_blank" type="submit"  actionListener="#{BingoReportClient.printReplanishment}"  >
                                        <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    </h:commandLink>
                                    <h:commandLink  >
                                        <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                        <p:dataExporter type="csv" target="blockReason" fileName="RepCSV" />  
                                    </h:commandLink>
                                    <h:commandLink  >
                                        <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                        <p:dataExporter type="xml" target="blockReason" fileName="RepXML" />  
                                    </h:commandLink>
                                </h:panelGrid>
                            </div>
                            <div style="float:right">
                                <h:panelGrid columns="1" id="access">
                                    <p:commandButton value="Deselect all records" id="deselectBtn"  rendered="#{BingoReportClient.deselectFlag}" onclick="wdgList.clearSelection();"  actionListener="#{BingoReportClient.deselectAllRows}" update=":form1:blockReason,:form1:access" />
                                    <p:commandButton value="Select all records" rendered="#{BingoReportClient.selectFlag}" id="selectBtn" actionListener="#{BingoReportClient.selectAllRows}" update=":form1:blockReason,:form1:access" />

                                </h:panelGrid><br style="line-height:5px" />
                                <h:panelGrid columns="3" id="tRecord">
                                    <h:outputText value="Total Records: " />
                                    <p style="width:10px" />
                                    <h:outputText value="#{BingoReportClient.listSize}" />
                                </h:panelGrid>
                            </div>
                        </div>
                        <br /><br /><br />
                        <br />
                        <p:dataTable widgetVar="wdgList" id="blockReason" rowKey="#{ms.id}" paginator="true" rows="5" value="#{BingoReportClient.repList}" var="ms" selection="#{BingoReportClient.selectedRep}">
                            <f:facet name="header">
                                <h:outputText value="Rep. Details"/>
                            </f:facet>
                            <p:column  selectionMode="multiple" />
                            <p:column headerText="Date From">
                                <h:outputText value="#{ms.dateFrom}" style="text-align: center"  />
                            </p:column>
                            <p:column headerText="Date To">
                                <h:outputText value="#{ms.dateTo}" style="text-align: center"  />
                            </p:column>
                            <p:column headerText="ATM ID">
                                <h:selectOneMenu disabled="true" value="#{ms.atmId}">
                                    <f:selectItems value="#{BingoReportClient.atmIDList}" var="x" itemLabel="#{x.name}" itemValue="#{x.id}" />
                                </h:selectOneMenu>
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>