<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Replenishment User Log</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />



        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Replenishment User Log" style=" width: 95%; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:300px;line-height: 35px; margin-top: 15px">
                            <h:panelGrid   id="searchcre" columns="3" >
                                <h:outputText value="*Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.fromDate}" >

                                </p:calendar>

                                <h:outputText value="*Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" >

                                </p:calendar>

                                <h:outputText value="Users" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.userInt}"  >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItems value="#{BingoReportClient.repDetailsUsers}" var="ms" itemLabel="#{ms.userName}" itemValue="#{ms.userId}" />
                                </h:selectOneMenu>
                                <h:outputText value="Daily Sheet From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy" value="#{BingoReportClient.dailySheetfrom}" />
                                <h:outputText value="Daily Sheet To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy" value="#{BingoReportClient.dailySheetto}" />

                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">

                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printRepLogExcel()}"  id="printBtn" update=":form1:results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results" fileName="DisputeRep" />  
                                </h:commandLink>
                           
                                <p:commandLink ajax="false" actionListener="#{BingoReportClient.printRepLog2}"  >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                </p:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="DisputeRep" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="DisputeRep" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" style="width:98%;" value="#{BingoReportClient.printRepLog}" var="missingOverlay" paginator="true" rows="10">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="User"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.user}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.atmID}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Daily Sheet"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.dailySheet}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.createdBy}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Date From"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.dateFrom}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Date To"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.dateTo}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Comments"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.comments}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>