<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Revenue</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
         


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Revenue" style="width: 620px; text-align: left">
                    <div align="center" oncopy="return false;" onpaste="return false;">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 10px">
                            <h:panelGrid id="searchcre"  columns="3" >
                                <h:outputText value="Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"    value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field "/>

                                <h:outputText value="Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date To Field "/>

                                <h:outputText value="Network Group" />
                                <p style="width: 40px" />
                                <h:selectOneMenu  value="#{BingoReportClient.netInt}" >
                                    <f:selectItem itemEscaped="true"  itemValue="0" itemLabel="All" />
                                    <f:selectItems itemLabelEscaped="true" value="#{BingoReportClient.netList}" var="ms" itemLabel="#{ms.groupName}" itemValue="#{ms.groupId}" />
                                </h:selectOneMenu>
								

								<h:outputText value="Type" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.sideInt}" >
                                    <f:selectItem itemLabel="Detailed" itemValue="1" />
                                    <f:selectItem itemLabel="Summery" itemValue="2" />
                                </h:selectOneMenu>
								
								
                                <h:outputText  />
                                <p style="width: 40px" />
                                <h:selectOneRadio value="#{BingoReportClient.drawInt}" >
                                    <f:selectItem itemLabel="By Network" itemValue="1"  />
                                    <f:selectItem itemLabel="By ATM" itemValue="2" />
                                </h:selectOneRadio>
								
								
								
                                <h:outputText value="ATM ID" />
                                <p style="width: 40px" /> 
                                <p:inputMask id="userNo" value="#{BingoReportClient.temp}" maxlength="2" mask="9?9999" >
                                     <p:ajax event="blur"   listener="#{BingoReportClient.disablePrint1}"/>
                                </p:inputMask>
                   
                                
                            </h:panelGrid>
                           
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                               
                                <h:commandLink target="_blank" type="submit"  actionListener="#{BingoReportClient.printRevenue}" >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                </h:commandLink>
                                
                            </h:panelGrid>
                        </div>
                   </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                 <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>