<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:define name="title">File</ui:define>

    <ui:define name="content">
        <h:form id="form1"> 
            <div class="ui-g dashboard">
                <div jsf:id="ebcfilterdiv"  style="visibility: #{transBean.filterVisibltyebc}; display:#{transBean.filterDisplayebc};"   class="ui-g-12">
                    <div class="card card-w-title">
                        <p:accordionPanel id="ebcaccordionPanel"  activeIndex="">
                            <p:tab title="EBC-Filters" id="tab" >
                                <p:ribbon  id="ribbon">
                                    <p:tab title="Dates">
                                        <p:ribbonGroup >
                                            <h:panelGrid columns="6" cellpadding="4">
                                                <p:outputLabel for="console1111" value="TRX Date Time:" />
                                                <p:selectOneMenu id="console1111" valueChangeListener="#{transBean.txdatetimeEBCOperatorChange}"  value="#{transBean.transSearchCriteria.txdatetimeOperator}" >
                                                    <p:ajax update="loaddateto11,console1111" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:outputLabel for="loaddatefrom11" value="From:" />
                                                <p:calendar id="loaddatefrom11" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.txdatetimeFrom}" />

                                                <p:outputLabel for="loaddateto11" value="To:" />
                                                <p:calendar id="loaddateto11" disabled="#{transBean.txdatetimeEBCStatus}" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.txdatetimeTo}" />
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Amounts">
                                        <p:ribbonGroup label="">
                                            <h:panelGrid columns="4" cellpadding="4">
                                                <p:outputLabel for="console8" value="TRX Amount:" />
                                                <p:selectOneMenu id="console8" value="#{transBean.transSearchCriteria.transactionamountOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.transactionamountEBCOperatorChange()}" update="console14" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console44" styleClass="Wid90" value="#{transBean.transSearchCriteria.transactionamountFrom}" placeholder="From">
                                                    <p:ajax  update="console44" />
                                                </p:inputText>
                                                <p:inputText id="console14" styleClass="Wid90" disabled="#{transBean.transactionamountEBCStatus}" value="#{transBean.transSearchCriteria.transactionamountTo}" placeholder="To">
                                                    <p:ajax  update="console14" />
                                                </p:inputText>

                                                <p:outputLabel for="console283" value="Fees Amount:" />
                                                <p:selectOneMenu id="console283" value="#{transBean.transSearchCriteria.feesamountOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.feesamountEBCOperatorChange()}" update="console214" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console244" styleClass="Wid90" value="#{transBean.transSearchCriteria.feesamountFrom}" placeholder="From">
                                                    <p:ajax  update="console244" />
                                                </p:inputText>
                                                <p:inputText id="console214" styleClass="Wid90" disabled="#{transBean.feesamountEBCStatus}" value="#{transBean.transSearchCriteria.feesamountTo}" placeholder="To">
                                                    <p:ajax  update="console214" />
                                                </p:inputText>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Status"  >
                                        <p:ribbonGroup label="" style="border: none">
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="console9" value="Response Code:" />
                                                <p:selectOneMenu id="console28ss3" value="#{transBean.transSearchCriteria.responsecodeOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.responsecodeEBCList()}" update="console9" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="console9" value="#{transBean.transSearchCriteria.responsecode}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.responsecodeEBCList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="console93" value="Ledger Effect:" />
                                                <p:selectOneMenu id="console2338" value="#{transBean.transSearchCriteria.ledgereffectOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.ledgereffectEBCOperatorChange()}" event="change" update="console93" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="console93" value="#{transBean.transSearchCriteria.ledgereffect}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.ledgereffectEBCList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup label="" style="border: none">
                                            <h:panelGrid columns="2" cellpadding="8">
                                                <p:outputLabel for="console2982" value="Card Acceptorid Code:" />
                                                <p:inputText id="console2982" value="#{transBean.transSearchCriteria.cardacceptoridcode}" /> 
                                            </h:panelGrid>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="console2783" value="Action Code:" />
                                                <p:selectOneMenu id="console242348" value="#{transBean.transSearchCriteria.actioncodeOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.actioncodeEBCOperatorChange()}" event="change" update="console2783" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="console2783" value="#{transBean.transSearchCriteria.actioncode}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.actioncodeEBCList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Customer Info">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="console28" value="Pan:" />
                                                <p:selectOneMenu id="console28" value="#{transBean.transSearchCriteria.panOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.panEBCOperatorChange()}" event="change" update="console28,console29" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console29" disabled="#{transBean.panEBCStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.pan}" placeholder="Card Number">
                                                    <p:ajax  update="console29" />
                                                </p:inputText>

                                                <p:outputLabel for="console31" value="To Pan:" />
                                                <p:selectOneMenu id="console31" value="#{transBean.transSearchCriteria.topanOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.toPanEBCOperatorChange()}" event="change" update="console31,console30" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console30" disabled="#{transBean.toPanEBCStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.topan}" placeholder="Account Number">
                                                    <p:ajax  update="console30" />
                                                </p:inputText>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup label="" style="border: none">
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="console2877" value="Terminal:" />
                                                <p:selectOneMenu id="console2877" value="#{transBean.transSearchCriteria.terminalOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.terminalEBCOperatorChange()}" event="change" update="console2877,console29" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="console97683" value="#{transBean.transSearchCriteria.terminal}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.terminalEBCList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Trans. Detail">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel value="Unique Reference Nnumber:" for="console10" />
                                                <p:selectOneMenu id="console10" value="#{transBean.transSearchCriteria.uniquereferencenumberOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax event="change" update="console10" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console2333" value="#{transBean.transSearchCriteria.uniquereferencenumber}" /> 
                                                <p:outputLabel value="RRN:" for="console109" />
                                                <p:selectOneMenu id="console109" value="#{transBean.transSearchCriteria.rrnOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax event="change" update="console109" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console23343" value="#{transBean.transSearchCriteria.rrn}" /> 
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel value="Oct RRN:" for="console4109" />
                                                <p:selectOneMenu id="console4109" value="#{transBean.transSearchCriteria.octrrnOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax event="change" update="console4109" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console42333" value="#{transBean.transSearchCriteria.octrrn}" /> 
                                                <p:outputLabel value="Card Acceptor Terminal ID:" for="console410" />
                                                <p:selectOneMenu id="console410" value="#{transBean.transSearchCriteria.cardacceptorterminalidOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax event="change" update="console410" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="console423343" value="#{transBean.transSearchCriteria.cardacceptorterminalid}" /> 
                                            </h:panelGrid>
                                        </p:ribbonGroup>

                                    </p:tab>
                                    <p:tab title="Other">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="5" cellpadding="8">
                                                <p:outputLabel  value="Auth Number:" />
                                                <p:slider for="txt6,txt7" display="displayRange2" style="width: 400px" range="true" displayTemplate="{min} To {max}" minValue="0" maxValue="1000000" />
                                                <h:outputText id="displayRange2" value="0 To 0" style="font-size:16px"/>
                                                <h:inputHidden id="txt6" value="#{transBean.transSearchCriteria.authnumberFrom}"/>
                                                <h:inputHidden id="txt7" value="#{transBean.transSearchCriteria.authnumberTo}"/>
                                            </h:panelGrid>
                                        </p:ribbonGroup> </p:tab>
                                </p:ribbon>
                                <p:spacer />
                                <p:commandButton value="Apply Filter" actionListener="#{transBean.filter}" update="form1:transactionview" style="width: 100%" icon="ui-icon-search" />
                            </p:tab>  
                        </p:accordionPanel>
                    </div>
                </div>
                <div jsf:id="hostfilterdiv"  style="visibility: #{transBean.filterVisibltyHost}; display:#{transBean.filterDisplayHost};"   class="ui-g-12">
                    <div class="card card-w-title">
                        <p:accordionPanel id="hostaccordionPanel"  activeIndex="">
                            <p:tab title="Host-Filters" id="tab" >
                                <p:ribbon  id="ribbon">
                                    <p:tab title="Dates">
                                        <p:ribbonGroup >
                                            <h:panelGrid columns="6" cellpadding="4">
                                                <p:outputLabel for="econsole1111" value="TRX Date Time:" />
                                                <p:selectOneMenu id="econsole1111" valueChangeListener="#{transBean.txdatetimeHostOperatorChange}"  value="#{transBean.transSearchCriteria.txdatetimeOperator}" >
                                                    <p:ajax update="eloaddateto11,econsole1111" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:outputLabel for="eloaddatefrom11" value="From:" />
                                                <p:calendar id="eloaddatefrom11" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.txdatetimeFrom}" />

                                                <p:outputLabel for="eloaddateto11" value="To:" />
                                                <p:calendar id="eloaddateto11" disabled="#{transBean.txdatetimeHostStatus}" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.txdatetimeTo}" />

                                                <p:outputLabel for="econsole11111" value="Settelment Date:" />
                                                <p:selectOneMenu id="econsole11111" valueChangeListener="#{transBean.settelmentdateHostOperatorChange}"  value="#{transBean.transSearchCriteria.settelmentdateOperator}" >
                                                    <p:ajax update="eloaddateto111,econsole11111" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:outputLabel for="eloaddatefrom111" value="From:" />
                                                <p:calendar id="eloaddatefrom111" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.settelmentdateFrom}" />

                                                <p:outputLabel for="eloaddateto111" value="To:" />
                                                <p:calendar id="eloaddateto111" disabled="#{transBean.settelmentdateHostStatus}" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.settelmentdateTo}" />
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Amounts">
                                        <p:ribbonGroup label="">
                                            <h:panelGrid columns="4" cellpadding="4">
                                                <p:outputLabel for="econsole8" value="TRX Amount:" />
                                                <p:selectOneMenu id="econsole8" value="#{transBean.transSearchCriteria.transactionamountOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.transactionamountHostOperatorChange()}" update="econsole14" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:inputText id="econsole44" styleClass="Wid90" value="#{transBean.transSearchCriteria.transactionamountFrom}" placeholder="From">
                                                    <p:ajax  update="econsole44" />
                                                </p:inputText>
                                                <p:inputText id="econsole14" styleClass="Wid90" disabled="#{transBean.transactionamountHostStatus}" value="#{transBean.transSearchCriteria.transactionamountTo}" placeholder="To">
                                                    <p:ajax  update="econsole14" />
                                                </p:inputText>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Customer Info">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="econsole28" value="Pan:" />
                                                <p:selectOneMenu id="econsole28" value="#{transBean.transSearchCriteria.panOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.panEBCOperatorChange()}" event="change" update="econsole28,econsole29" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="econsole29" disabled="#{transBean.panEBCStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.pan}" placeholder="Card Number">
                                                    <p:ajax  update="econsole29" />
                                                </p:inputText>

                                                <p:outputLabel for="econsole2877" value="Terminal:" />
                                                <p:selectOneMenu id="econsole2877" value="#{transBean.transSearchCriteria.terminalOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.terminalHostOperatorChange()}" event="change" update="econsole2877,econsole97683" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="econsole97683" disabled="#{transBean.terminalHostStatus}"  value="#{transBean.transSearchCriteria.terminal}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.terminalHostList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup label="" style="border: none">
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <h:panelGrid columns="3" cellpadding="8">
                                                    <p:outputLabel for="econsoleh28" value="Bank Code:" />
                                                    <p:selectOneMenu id="econsoleh28" value="#{transBean.transSearchCriteria.bankcodeOperator}" style="min-width:100px; width:120px;">
                                                        <p:ajax listener="#{transBean.bankCodeHostOperatorChange()}" event="change" update="econsoleh28,econsoleh29" />
                                                        <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                        <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                        <f:selectItem itemLabel="Like" itemValue="like" />
                                                        <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                        <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                        <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                        <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                    </p:selectOneMenu>
                                                    <p:inputText id="econsoleh29" disabled="#{transBean.bankCodeHostStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.bankcode}" placeholder="Bank Code">
                                                        <p:ajax  update="econsoleh29" />
                                                    </p:inputText>

                                                    <p:outputLabel for="econsoleh2877" value="Account Number:" />
                                                    <p:selectOneMenu id="econsoleh2877" value="#{transBean.transSearchCriteria.accountOperator}" style="min-width:100px; width:120px;">
                                                        <p:ajax listener="#{transBean.accountOperatorHostOperatorChange()}" event="change" update="econsoleh2877,econsssoleh29" />
                                                        <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                        <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                        <f:selectItem itemLabel="Like" itemValue="like" />
                                                        <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                        <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                        <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                        <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                    </p:selectOneMenu>
                                                    <p:inputText id="econsssoleh29" disabled="#{transBean.accountOperatorHostStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.accountnumber}" placeholder="Account Number">
                                                        <p:ajax  update="econsssoleh29" />
                                                    </p:inputText>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>
                                    <p:tab title="Currencies">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="econsole28gf77" value="Currency Code:" />
                                                <p:selectOneMenu id="econsole28gf77" value="#{transBean.transSearchCriteria.currencycode}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.currencycodeHostList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>
                                    <p:tab title="Trans. Detail">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel value="Trans Type:" for="aconsole10e" />
                                                <p:selectOneMenu id="aconsole10e" value="#{transBean.transSearchCriteria.transtypeOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.transtypeHostOperatorChange()}" event="change" update="console2333" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="console2333" disabled="#{transBean.transtypeHostStatus}" value="#{transBean.transSearchCriteria.transtype}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.transtypeHostList}" />
                                                </p:selectOneMenu>

                                                <p:outputLabel value="Network Type:" for="zconsole1099" />
                                                <p:selectOneMenu id="zconsole1099" value="#{transBean.transSearchCriteria.networktypeOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax  listener="#{transBean.networktypeHostOperatorChange()}"  event="change" update="zconsole109" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="zconsole109" disabled="#{transBean.networktypeHostStatus}" value="#{transBean.transSearchCriteria.networktype}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.networktypeHostList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="5" cellpadding="8">
                                                <p:outputLabel  value="Trace:" />
                                                <p:slider for="txt615,txt715" display="displayRange215" style="width: 400px" range="true" displayTemplate="{min} To {max}" minValue="0" maxValue="1000000" />
                                                <h:outputText id="displayRange215" value="0 To 0" style="font-size:16px"/>
                                                <h:inputHidden id="txt615" value="#{transBean.transSearchCriteria.tracefrom}"/>
                                                <h:inputHidden id="txt715" value="#{transBean.transSearchCriteria.traceto}"/>
                                            </h:panelGrid>
                                        </p:ribbonGroup>

                                    </p:tab>
                                    <p:tab title="Other">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="5" cellpadding="8">
                                                <p:outputLabel  value="Auth Number:" />
                                                <p:slider for="txt61,txt71" display="displayRange21" style="width: 400px" range="true" displayTemplate="{min} To {max}" minValue="0" maxValue="1000000" />
                                                <h:outputText id="displayRange21" value="0 To 0" style="font-size:16px"/>
                                                <h:inputHidden id="txt61" value="#{transBean.transSearchCriteria.authnumberFrom}"/>
                                                <h:inputHidden id="txt71" value="#{transBean.transSearchCriteria.authnumberTo}"/>
                                            </h:panelGrid>
                                        </p:ribbonGroup> </p:tab>
                                </p:ribbon>
                                <p:spacer />
                                <p:commandButton value="Apply Filter" actionListener="#{transBean.filter}" update="form1:transactionview" style="width: 100%" icon="ui-icon-search" />
                            </p:tab>  
                        </p:accordionPanel>
                    </div>
                </div>

                <div jsf:id="switchfilterdiv"  style="visibility: #{transBean.filterVisibltySwitch}; display:#{transBean.filterDisplaySwitch};"   class="ui-g-12">
                    <div class="card card-w-title">
                        <p:accordionPanel id="switchaccordionPanel"  activeIndex="">
                            <p:tab title="Switch-Filters" id="tab" >
                                <p:ribbon  id="ribbon">
                                    <p:tab title="Dates">
                                        <p:ribbonGroup >
                                            <h:panelGrid columns="6" cellpadding="4">
                                                <p:outputLabel for="seconsole1111" value="TRX Date Time:" />
                                                <p:selectOneMenu id="seconsole1111" valueChangeListener="#{transBean.txdatetimeSwitchOperatorChange}"  value="#{transBean.transSearchCriteria.txdatetimeOperator}" >
                                                    <p:ajax update="seloaddateto11,seconsole1111" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:outputLabel for="seloaddatefrom11" value="From:" />
                                                <p:calendar id="seloaddatefrom11" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.txdatetimeFrom}" />

                                                <p:outputLabel for="seloaddateto11" value="To:" />
                                                <p:calendar id="seloaddateto11" disabled="#{transBean.txdatetimeSwitchStatus}" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.txdatetimeTo}" />

                                                <p:outputLabel for="seconsole11111" value="Settelment Date:" />
                                                <p:selectOneMenu id="seconsole11111" valueChangeListener="#{transBean.settelmentdateSwitchOperatorChange}"  value="#{transBean.transSearchCriteria.settelmentdateOperator}" >
                                                    <p:ajax update="seloaddateto111,seconsole11111" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:outputLabel for="seloaddatefrom111" value="From:" />
                                                <p:calendar id="seloaddatefrom111" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.settelmentdateFrom}" />

                                                <p:outputLabel for="seloaddateto111" value="To:" />
                                                <p:calendar id="seloaddateto111" disabled="#{transBean.settelmentdateSwitchStatus}" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchCriteria.settelmentdateTo}" />
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Amounts">
                                        <p:ribbonGroup label="">
                                            <h:panelGrid columns="4" cellpadding="4">
                                                <p:outputLabel for="seconsole8" value="TRX Amount:" />
                                                <p:selectOneMenu id="seconsole8" value="#{transBean.transSearchCriteria.transactionamountOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.transactionamountSwitchOperatorChange()}" update="seconsole14" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:inputText id="seconsole44" styleClass="Wid90" value="#{transBean.transSearchCriteria.transactionamountFrom}" placeholder="From">
                                                    <p:ajax  update="seconsole44" />
                                                </p:inputText>
                                                <p:inputText id="seconsole14" styleClass="Wid90" disabled="#{transBean.transactionamountSwitchStatus}" value="#{transBean.transSearchCriteria.transactionamountTo}" placeholder="To">
                                                    <p:ajax  update="seconsole14" />
                                                </p:inputText>

                                                <p:outputLabel for="seconsole844" value="Settelment Amount:" />
                                                <p:selectOneMenu id="seconsole844" value="#{transBean.transSearchCriteria.settelmentamountOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.settelmentamountSwitchOperatorChange()}" update="seconsole1444" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:inputText id="seconsole4444" styleClass="Wid90" value="#{transBean.transSearchCriteria.settelmentamountFrom}" placeholder="From">
                                                    <p:ajax  update="seconsole4444" />
                                                </p:inputText>
                                                <p:inputText id="seconsole1444" styleClass="Wid90" disabled="#{transBean.settelmentamountSwitchStatus}" value="#{transBean.transSearchCriteria.settelmentamountTo}" placeholder="To">
                                                    <p:ajax  update="seconsole1444" />
                                                </p:inputText>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup label="">
                                            <h:panelGrid columns="4" cellpadding="4">
                                                <p:outputLabel for="seconsole8y" value="Acquirer Amount:" />
                                                <p:selectOneMenu id="seconsole8y" value="#{transBean.transSearchCriteria.acquireramountOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.acquireramountSwitchOperatorChange()}" update="seconsole14y" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Greater Than" itemValue="greater" />
                                                    <f:selectItem itemLabel="Smaller Than" itemValue="smaller" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Between" itemValue="between" />
                                                </p:selectOneMenu>
                                                <p:inputText id="seconsole44y" styleClass="Wid90" value="#{transBean.transSearchCriteria.acquireramountFrom}" placeholder="From">
                                                    <p:ajax  update="seconsole44y" />
                                                </p:inputText>
                                                <p:inputText id="seconsole14y" styleClass="Wid90" disabled="#{transBean.acquireramountSwitchStatus}" value="#{transBean.transSearchCriteria.acquireramountTo}" placeholder="To">
                                                    <p:ajax  update="seconsole14y" />
                                                </p:inputText>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Customer Info">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel for="seconsole28" value="Pan:" />
                                                <p:selectOneMenu id="seconsole28" value="#{transBean.transSearchCriteria.panOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.panSwitchOperatorChange()}" event="change" update="seconsole28,seconsole29" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:inputText id="seconsole29" disabled="#{transBean.panSwitchStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.pan}" placeholder="Card Number">
                                                    <p:ajax  update="seconsole29" />
                                                </p:inputText>

                                                <p:outputLabel for="seconsole2877" value="Terminal:" />
                                                <p:selectOneMenu id="seconsole2877" value="#{transBean.transSearchCriteria.terminalOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.terminalSwitchOperatorChange()}" event="change" update="seconsole2877,seconsole97683" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="seconsole97683" disabled="#{transBean.terminalSwitchStatus}"  value="#{transBean.transSearchCriteria.terminal}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.terminalSwitchList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup label="" style="border: none">
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <h:panelGrid columns="3" cellpadding="8">
                                                    <p:outputLabel for="seconsoleh28" value="Bank Code:" />
                                                    <p:selectOneMenu id="seconsoleh28" value="#{transBean.transSearchCriteria.bankcodeOperator}" style="min-width:100px; width:120px;">
                                                        <p:ajax listener="#{transBean.bankCodeSwitchOperatorChange()}" event="change" update="seconsoleh28,seconsoleh29" />
                                                        <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                        <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                        <f:selectItem itemLabel="Like" itemValue="like" />
                                                        <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                        <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                        <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                        <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                    </p:selectOneMenu>
                                                    <p:inputText id="seconsoleh29" disabled="#{transBean.bankCodeSwitchStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.bankcode}" placeholder="Bank Code">
                                                        <p:ajax  update="seconsoleh29" />
                                                    </p:inputText>

                                                    <p:outputLabel for="seconsoleh2877" value="Account Number:" />
                                                    <p:selectOneMenu id="seconsoleh2877" value="#{transBean.transSearchCriteria.accountOperator}" style="min-width:100px; width:120px;">
                                                        <p:ajax listener="#{transBean.accountOperatorSwitchOperatorChange()}" event="change" update="seconsoleh2877,seconsssoleh29" />
                                                        <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                        <f:selectItem itemLabel="Equal" itemValue="equal" />
                                                        <f:selectItem itemLabel="Like" itemValue="like" />
                                                        <f:selectItem itemLabel="Not Equal" itemValue="not equal" />
                                                        <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                        <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                        <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                    </p:selectOneMenu>
                                                    <p:inputText id="seconsssoleh29" disabled="#{transBean.accountOperatorSwitchStatus}" styleClass="Wid90" value="#{transBean.transSearchCriteria.accountnumber}" placeholder="Account Number">
                                                        <p:ajax  update="seconsssoleh29" />
                                                    </p:inputText>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                    </p:tab>

                                    <p:tab title="Trans. Detail">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel value="Trans Type:" for="saconsole10e" />
                                                <p:selectOneMenu id="saconsole10et" value="#{transBean.transSearchCriteria.transtypeOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.transtypeSwitchOperatorChange()}" event="change" update="sconsole2333t" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="sconsole2333t" disabled="#{transBean.transtypeSwitchStatus}" value="#{transBean.transSearchCriteria.transtype}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.transtypeSwitchList}" />
                                                </p:selectOneMenu>

                                                <p:outputLabel value="RRN:" for="szconsole1099" />
                                                <p:selectOneMenu id="szconsole1099" value="#{transBean.transSearchCriteria.networktypeOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax  listener="#{transBean.networktypeSwitchOperatorChange()}"  event="change" update="szconsole109" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="szconsole109" disabled="#{transBean.networktypeSwitchStatus}" value="#{transBean.transSearchCriteria.networktype}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.networktypeSwitchList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="5" cellpadding="8">
                                                <p:outputLabel  value="Trace:" />
                                                <p:slider for="stxt615,stxt715" display="sdisplayRange215" style="width: 400px" range="true" displayTemplate="{min} To {max}" minValue="0" maxValue="1000000" />
                                                <h:outputText id="sdisplayRange215" value="0 To 0" style="font-size:16px"/>
                                                <h:inputHidden id="stxt615" value="#{transBean.transSearchCriteria.tracefrom}"/>
                                                <h:inputHidden id="stxt715" value="#{transBean.transSearchCriteria.traceto}"/>
                                            </h:panelGrid>
                                            <h:panelGrid columns="3" cellpadding="8">
                                                <p:outputLabel value="Acquirer:" for="saconsole10e" />
                                                <p:selectOneMenu id="saconsole10e" value="#{transBean.transSearchCriteria.acquirerOperator}" style="min-width:100px; width:120px;">
                                                    <p:ajax listener="#{transBean.acquirerSwitchOperatorChange()}" event="change" update="sconsole2333" />
                                                    <f:selectItem itemLabel="-Choose One-" itemValue="none" />
                                                    <f:selectItem itemLabel="Equal" itemValue="=" />
                                                    <f:selectItem itemLabel="Like" itemValue="like" />
                                                    <f:selectItem itemLabel="Not Equal" itemValue="!=" />
                                                    <f:selectItem itemLabel="Not Like" itemValue="not like" />
                                                    <f:selectItem itemLabel="Is Null" itemValue="isnull" />
                                                    <f:selectItem itemLabel="Is Not Null" itemValue="isnotnull" />
                                                </p:selectOneMenu>
                                                <p:selectOneMenu id="sconsole2333" disabled="#{transBean.acquirerSwitchStatus}" value="#{transBean.transSearchCriteria.acquirer}" filter="true" 
                                                                 filterMatchMode="startsWith"  style="min-width:200px; width:220px;">

                                                    <f:selectItem  itemLabel="-Choose One-" itemValue="0" />
                                                    <f:selectItems value="#{transBean.acquirerSwitchList}" />
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                        </p:ribbonGroup>

                                    </p:tab>
                                    <p:tab title="Other">
                                        <p:ribbonGroup>
                                            <h:panelGrid columns="5" cellpadding="8">
                                                <p:outputLabel  value="Auth Number:" />
                                                <p:slider for="stxt61,stxt71" display="sdisplayRange21" style="width: 400px" range="true" displayTemplate="{min} To {max}" minValue="0" maxValue="1000000" />
                                                <h:outputText id="sdisplayRange21" value="0 To 0" style="font-size:16px"/>
                                                <h:inputHidden id="stxt61" value="#{transBean.transSearchCriteria.authnumberFrom}"/>
                                                <h:inputHidden id="stxt71" value="#{transBean.transSearchCriteria.authnumberTo}"/>
                                            </h:panelGrid>
                                        </p:ribbonGroup> </p:tab>
                                </p:ribbon>
                                <p:spacer />
                                <p:commandButton value="Apply Filter" actionListener="#{transBean.filter}" update="form1:transactionview" style="width: 100%" icon="ui-icon-search" />
                            </p:tab>  
                        </p:accordionPanel>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <div class="card timeline ui-fluid">                           
                        <div class="ui-g-12">
                            <div class="card card-w-title">
                                <h3>Trans Categories:</h3>
                                <p:selectManyCheckbox layout="responsive" value="#{transBean.transSearchOptions.transCategories}" columns="8">
                                    <f:selectItem itemLabel="Pending" itemValue="P" />
                                    <f:selectItem itemLabel="Dispute" itemValue="D" />
                                    <f:selectItem itemLabel="Matched" itemValue="M" />
                                    <f:selectItem itemLabel="Rejected" itemValue="R" />
                                </p:selectManyCheckbox>
                            </div>
                            <div class="card card-w-title">
                                <h3>Master Type:</h3>
                                <p:selectOneRadio value="#{transBean.transSearchOptions.masterType}" layout="responsive" columns="4">
                                    <f:selectItem itemLabel="Visa" itemValue="V" />
                                    <f:selectItem itemLabel="EBC" itemValue="E" />
                                    <f:selectItem itemLabel="SW" itemValue="S" />
                                    <f:selectItem itemLabel="GL" itemValue="H" />
                                </p:selectOneRadio>
                            </div>

                            <div class="card card-w-title">
                                <h3>Transaction Dates:</h3>
                                <h:panelGrid columns="2" cellpadding="4">
                                    <p:outputLabel for="loaddatefrom112" value="From:" />
                                    <p:calendar id="loaddatefrom112" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchOptions.transactionDateFrom}" />

                                    <p:outputLabel for="loaddateto112" value="To:" />
                                    <p:calendar id="loaddateto112" pattern="MM/dd/yyyy HH:mm:ss"  value="#{transBean.transSearchOptions.transactionDateTo}" />

                                </h:panelGrid>
                            </div>
                            <div class="card card-w-title">
                                <h:panelGrid style="width: 95%" columns="4" cellpadding="2" >
                                    <p:outputLabel for="totaltrans" value="Total Trans:" />
                                    <p:inputSwitch id="totaltrans" value="#{transBean.transSearchOptions.totalTrans}">
                                        <p:ajax update="totaltrans" />
                                    </p:inputSwitch>

                                    <p:outputLabel for="totalamount" value="Total Amount:" />
                                    <p:inputSwitch id="totalamount" value="#{transBean.transSearchOptions.totalAmount}"/>
                                </h:panelGrid> </div>
                            <div class="ui-g-12">
                                <p:commandButton  value="Search" actionListener="#{transBean.search}" icon="ui-icon-search" update="transactionview,form1:ebcaccordionPanel,form1:hostaccordionPanel,form1:switchaccordionPanel,form1:ebcfilterdiv,form1:hostfilterdiv,form1:switchfilterdiv,form1:transdivHost,form1:transdiv,form1:transdivSwitch,form1:chartdiv"  />

                            </div>

                        </div>
                    </div>
                </div>

                <div jsf:id="transdiv" style="visibility: #{transBean.transVisibltyebc}; display:#{transBean.transDisplayebc};"     class="ui-g-12 ui-md-9">

                    <p:tabView id="transactionview" >

                        <p:tab rendered="#{transBean.pendingtab}" title="Pending">

                            <p:dataTable id="cars" var="car" scrollable="true" style="width:100%"  value="#{transBean.pendingEBC}"  reflow="true" paginator="true" rows="13">
                                <f:facet name="header"  >
                                    <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="cars" trigger="toggler" />
                                </f:facet>
                                <p:column style="width: 150px"  headerText="tx date time" sortBy="#{car.txdatetime}">
                                    <h:outputText value="#{car.txdatetime}" />
                                </p:column> 
                                <p:column  style="width: 150px" headerText="transaction amount" sortBy="#{car.transactionamount}">
                                    <h:outputText value="#{car.transactionamount}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="Fees amount" sortBy="#{car.feesamount}">
                                    <h:outputText value="#{car.feesamount}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="Card Acceptor ID Code" sortBy="#{car.cardacceptoridcode}">
                                    <h:outputText value="#{car.cardacceptoridcode}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="response code" sortBy="#{car.responsecode}">
                                    <h:outputText value="#{car.responsecode}" />
                                </p:column>
                                <p:column style="width: 150px" headerText="action code" sortBy="#{car.actioncode}">
                                    <h:outputText value="#{car.actioncode}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="ledge reffect" sortBy="#{car.ledgereffect}">
                                    <h:outputText value="#{car.ledgereffect}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="pan" sortBy="#{car.pan}">
                                    <h:outputText value="#{car.pan}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="To pan" sortBy="#{car.topan}">
                                    <h:outputText value="#{car.topan}" />
                                </p:column>
                                <p:column  style="width: 850px" headerText="terminal" sortBy="#{car.terminal}">
                                    <h:outputText value="#{car.terminal}" />
                                </p:column>
                                <p:column style="width: 150px" headerText="unique reference number" sortBy="#{car.uniquereferencenumber}">
                                    <h:outputText value="#{car.uniquereferencenumber}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="rrn" sortBy="#{car.rrn}">
                                    <h:outputText value="#{car.rrn}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="auth number" sortBy="#{car.authnumber}">
                                    <h:outputText value="#{car.authnumber}" />
                                </p:column>
                                <p:column style="width: 150px" headerText="oct rrn" sortBy="#{car.octrrn}">
                                    <h:outputText value="#{car.octrrn}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="card acceptor terminal id" sortBy="#{car.cardacceptorterminalid}">
                                    <h:outputText value="#{car.cardacceptorterminalid}" />
                                </p:column>
                            </p:dataTable>

                        </p:tab>
                        <p:tab rendered="#{transBean.disputetab}"  title="Dispute">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                                <h:outputText value="Francis Ford Coppola's legendary..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab rendered="#{transBean.matchedtab}"  title="Matched">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab rendered="#{transBean.rejectedtab}"  title="Rejected">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </div>


                <div jsf:id="transdivSwitch" style="visibility: #{transBean.transVisibltySwitch}; display:#{transBean.transDisplaySwitch};"     class="ui-g-12 ui-md-9">

                    <p:tabView id="transactionviewSwitch">

                        <p:tab rendered="#{transBean.pendingtab}" title="Pending">

                            <p:dataTable id="cars" var="car" scrollable="true" style="width:100%"  value="#{transBean.pendingSwitch}"  reflow="true" paginator="true" rows="13">
                                <f:facet name="header"  >
                                    <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="cars" trigger="toggler" />
                                </f:facet>
                                <p:column style="width: 150px"  headerText="tx date time" sortBy="#{car.txdatetime}">
                                    <h:outputText value="#{car.txdatetime}" />
                                </p:column> 
                                <p:column style="width: 150px"  headerText="settelment date" sortBy="#{car.settelmentdate}">
                                    <h:outputText value="#{car.settelmentdate}" />
                                </p:column> 
                                <p:column  style="width: 150px" headerText="transaction amount" sortBy="#{car.transactionamount}">
                                    <h:outputText value="#{car.transactionamount}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="settelment amount" sortBy="#{car.settelmentamount}">
                                    <h:outputText value="#{car.settelmentamount}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="acquirer amount" sortBy="#{car.acquireramount}">
                                    <h:outputText value="#{car.acquireramount}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="response code" sortBy="#{car.responsecode}">
                                    <h:outputText value="#{car.responsecode}" />
                                </p:column>

                                <p:column  style="width: 150px" headerText="pan" sortBy="#{car.pan}">
                                    <h:outputText value="#{car.pan}" />
                                </p:column>

                                <p:column  style="width: 850px" headerText="terminal" sortBy="#{car.terminal}">
                                    <h:outputText value="#{car.terminal}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="bank code" sortBy="#{car.bankcode}">
                                    <h:outputText value="#{car.bankcode}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="Account code" sortBy="#{car.accountnumber}">
                                    <h:outputText value="#{car.accountnumber}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="trans type" sortBy="#{car.transtype}">
                                    <h:outputText value="#{car.transtype}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="trace" sortBy="#{car.trace}">
                                    <h:outputText value="#{car.trace}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="rrn" sortBy="#{car.rrn}">
                                    <h:outputText value="#{car.rrn}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="auth number" sortBy="#{car.authnumber}">
                                    <h:outputText value="#{car.authnumber}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="acquirer" sortBy="#{car.acquirer}">
                                    <h:outputText value="#{car.acquirer}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="acquirer code" sortBy="#{car.acquirercode}">
                                    <h:outputText value="#{car.acquirercode}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="settelment code" sortBy="#{car.settelmentcode}">
                                    <h:outputText value="#{car.settelmentcode}" />
                                </p:column>
                            </p:dataTable>

                        </p:tab>
                        <p:tab rendered="#{transBean.disputetab}"  title="Dispute">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                                <h:outputText value="Francis Ford Coppola's legendary..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab rendered="#{transBean.matchedtab}"  title="Matched">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab rendered="#{transBean.rejectedtab}"  title="Rejected">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </div>

                <div jsf:id="transdivHost" style="visibility: #{transBean.transVisibltyHost}; display:#{transBean.transDisplayHost};"     class="ui-g-12 ui-md-9">

                    <p:tabView id="transactionviewHost">

                        <p:tab rendered="#{transBean.pendingtab}" title="Pending">

                            <p:dataTable id="cars" var="car" scrollable="true" style="width:100%"  value="#{transBean.pendingHost}"  reflow="true" paginator="true" rows="13">
                                <f:facet name="header"  >
                                    <p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="cars" trigger="toggler" />
                                </f:facet>
                                <p:column style="width: 150px"  headerText="tx date" sortBy="#{car.txdate}">
                                    <h:outputText value="#{car.txdate}" />
                                </p:column> 
                                  <p:column style="width: 150px"  headerText="tx time" sortBy="#{car.txtime}">
                                    <h:outputText value="#{car.txtime}" />
                                </p:column> 
                                <p:column style="width: 150px"  headerText="settelment date" sortBy="#{car.settelmentdate}">
                                    <h:outputText value="#{car.settelmentdate}" />
                                </p:column> 
                                <p:column  style="width: 150px" headerText="transaction amount" sortBy="#{car.transactionamount}">
                                    <h:outputText value="#{car.transactionamount}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="pan" sortBy="#{car.pan}">
                                    <h:outputText value="#{car.pan}" />
                                </p:column>
                                <p:column  style="width: 850px" headerText="terminal" sortBy="#{car.terminal}">
                                    <h:outputText value="#{car.terminal}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="bank code" sortBy="#{car.bankcode}">
                                    <h:outputText value="#{car.bankcode}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="Account Number" sortBy="#{car.accountnumber}">
                                    <h:outputText value="#{car.accountnumber}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="trans type" sortBy="#{car.transtype}">
                                    <h:outputText value="#{car.transtype}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="trace" sortBy="#{car.trace}">
                                    <h:outputText value="#{car.trace}" />
                                </p:column>
                              
                                <p:column  style="width: 150px" headerText="auth number" sortBy="#{car.authnumber}">
                                    <h:outputText value="#{car.authnumber}" />
                                </p:column>
                     
                                <p:column  style="width: 150px" headerText="currency code" sortBy="#{car.currencycode}">
                                    <h:outputText value="#{car.currencycode}" />
                                </p:column>
                                <p:column  style="width: 150px" headerText="network type" sortBy="#{car.networktype}">
                                    <h:outputText value="#{car.networktype}" />
                                </p:column>
                            </p:dataTable>

                        </p:tab>
                        <p:tab rendered="#{transBean.disputetab}"  title="Dispute">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                                <h:outputText value="Francis Ford Coppola's legendary..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab rendered="#{transBean.matchedtab}"  title="Matched">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                        <p:tab rendered="#{transBean.rejectedtab}"  title="Rejected">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="demo/images/godfather/godfather3.jpg" />
                                <h:outputText value="After a break of more than 15 years..." />
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                </div>
                <div jsf:id="chartdiv"   style="visibility: #{transBean.charVisiblty}; display:#{transBean.charDisplay};" class="ui-g-12 ui-md-9">
                    <div class="card timeline ui-fluid">                           
                        <div class="ui-g-12">
                            <div class="card card-w-title">
                                <p:selectOneButton value="#{transBean.chartSelection}" id="oneBtn">
                                    <f:selectItem itemLabel="Visa" itemValue="Visa" />
                                    <f:selectItem itemLabel="EBC" itemValue="EBC" />
                                    <f:selectItem itemLabel="Switch" itemValue="Switch" />
                                    <f:selectItem itemLabel="G/L" itemValue="GL" />
                                </p:selectOneButton>
                                <p:chart type="bar" model="#{chartBean.barModel}" style="height:500px">
                                    <p:ajax event="itemSelect" listener="#{transBean.itemSelect}"/>
                                    <p:ajax  update="transactionview,form1:hostaccordionPanel,form1:switchaccordionPanel,form1:ebcaccordionPanel,form1:ebcfilterdiv,form1:hostfilterdiv,form1:switchfilterdiv,form1:transdivHost,form1:transdiv,form1:transdivSwitch,form1:chartdiv" />
                                </p:chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>