<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User ATMs</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
      
        

        <style>
            .ui-picklist .ui-picklist-list{
                width:260px;
                height: 300px
            }
        </style>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="Assign User Profiles" style="height: 450px;  ">
                <div style="margin-left:300px" >
                    <h:panelGrid columns="8" >
                        <p style="width:50px" />
                        <h:outputText value="Profile" />
                        <p style="width:10px" />
                        <h:selectOneMenu value="#{ProfileAssignClient.profileInt}"  valueChangeListener="#{ProfileAssignClient.changeValue}" >
                            <p:ajax update=":form1:growl1,pickV" />
                            <f:selectItem itemLabel="Choose one" itemValue="0" />
                            <f:selectItems value="#{ProfileAssignClient.profileList}" var="c1" itemLabel="#{c1.profilename}" itemValue="#{c1.profileid}"/></h:selectOneMenu>

                    </h:panelGrid>
                    <br/>
                    <div id="aa" style="width:300px; margin: 0 0 0 10px">
                        <p:pickList value="#{ProfileAssignClient.pickValues}" style="width:400px" var="a" itemLabel="#{a}" itemValue="#{a}" id="pickV" showSourceControls="true" showTargetControls="true">
                            <f:facet name="sourceCaption">UnAssigned Users From Profile</f:facet>
                            <f:facet name="targetCaption">Assigned Users In Profile</f:facet>
                        </p:pickList>
                        <br />
                    </div>
                    <div align="center" >
                        <div style="margin: 0 340px 0 0;float: right">
                            <p:commandButton value="Save" actionListener="#{ProfileAssignClient.saveProfile}"  id="saveBtn" update=":form1:growl1,:form1:growl1"/>
                        </div>

                    </div>
                    <p:ajaxStatus style="width:16px;height:16px; margin: 5px 0 0 520px">
                        <f:facet name="start">
                            <h:graphicImage value="images/ajaxloading.gif" />
                        </f:facet>

                        <f:facet name="complete">
                            <h:outputText value="" />
                        </f:facet>
                    </p:ajaxStatus>
                </div>
            </p:panel>

        </h:form>

    </h:body>
</html>