<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>ATM Account Management</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
       

        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form">

            <p:panel header="ATM Account Management" >
                <h:panelGrid  rendered="#{atmAccountsClientView.searchPriv()}" columns="11" >

                    <h:outputText value="Atm ID:"/>
                    <p style="width: 40px" />
                    <p:selectOneMenu id="console3"  value="#{atmAccountsClientView.atmid}" >
                        <f:selectItem itemLabel="All" itemValue="0" />
                        <f:selectItems value="#{atmAccountsClientView.atmrecordsList}" var="kk" itemLabel="#{kk.atmname}" itemValue="#{kk.atmname}"/>
                    </p:selectOneMenu>
                    <p style="width: 40px" />
                    <h:outputText value="Account Name:"/>
                    <p style="width: 40px" />
                    <p:selectOneMenu id="console78"  value="#{atmAccountsClientView.accountname}">
                        <f:selectItem itemLabel="All" itemValue="0" />
                        <f:selectItems value="#{atmAccountsClientView.accountnameList}" var="kk" itemLabel="#{kk.symbol}" itemValue="#{kk.id}"/>
                    </p:selectOneMenu>
                    <p style="width: 40px" />
                    <h:outputText value="Account ID:"/>
                    <p style="width: 40px" />
                    <p:inputText value="#{atmAccountsClientView.accountid}" />
                </h:panelGrid>
                <div align="right">
                    <p:commandButton rendered="#{atmAccountsClientView.searchPriv()}" update=":form:singleDT" actionListener="#{atmAccountsClientView.searchrecords()}" oncomplete="window.scrollTo(0, document.body.scrollHeight);"    value="search" icon="fa fa-search  Fs16 white"/>
                </div>
                <p:separator />

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>
                <p:dataTable id="singleDT" style="width: 98%;text-align: left" var="car" value="#{atmAccountsClientView.recordsList}" selectionMode="single" selection="#{atmAccountsClientView.selectedRecord}" rowKey="#{car.id}"
                             rows="10"  paginator="true" emptyMessage="No ATM Accounts found with given criteria">
                    <p:ajax event="rowSelect"  update=":form:carDetail" oncomplete="carDialog.show()" />
                    <f:facet name="header">
                        ATM Accounts Count: #{atmAccountsClientView.listcount} 
                    </f:facet>

                    <p:column headerText="Account ID" sortBy="#{car.accountid}" >
                        <h:outputText value="#{car.accountid}" />
                    </p:column>
                    <p:column headerText="Description" sortBy="#{car.description}" >
                        <h:outputText value="#{car.description}" />
                    </p:column>

                    <p:column headerText="Account Name" sortBy="#{atmAccountsClientView.getaccountnamebyid(car.accountnameid)}" >
                        <h:outputText value="#{atmAccountsClientView.getaccountnamebyid(car.accountnameid)}" />
                    </p:column>
                    <p:column headerText="Atm ID" sortBy="#{car.atmid}" >
                        <h:outputText value="#{car.atmid}" />
                    </p:column>
                    <f:facet name="footer">
                        <div align="center" style="height: 20px" >
                            <div style="float: right">
                                <p:commandLink rendered="#{atmAccountsClientView.insertPriv()}" actionListener="#{atmAccountsClientView.addRecord()}"  oncomplete="carDialog2.show()"   update=":form:carDetail2"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable>
                <div align="left">
                    <h:panelGrid columns="4">
                      
                        <p:commandLink ajax="false" actionListener="#{atmAccountsClientView.printreportPDF()}"  >
                            <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                            <p:fileDownload value="#{atmAccountsClientView.download}" />
                        </p:commandLink>
                      
                    </h:panelGrid>
                </div>
                <p:separator />

                <p:dialog header="ATM Accounts Update Operation" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty atmAccountsClientView.selectedRecord}">

                            <h:outputText value="Account ID" />
                            <p:inputText value="#{atmAccountsClientView.selectedRecord.accountid}" />

                            <h:outputText value="Account Name" />
                            <p:selectOneMenu id="console288" style="width: 130px" value="#{atmAccountsClientView.selectedRecord.accountnameid}" >
                                <f:selectItems value="#{atmAccountsClientView.accountnameList}" var="kll" itemLabel="#{kll.symbol}" itemValue="#{kll.id}"/>
                            </p:selectOneMenu>

                            <h:outputText value="ATM ID" />
                            <p:selectOneMenu id="console576"  value="#{atmAccountsClientView.selectedRecord.atmid}" >
                                <f:selectItems value="#{atmAccountsClientView.atmrecordsList}" var="kk" itemLabel="#{kk.atmname}" itemValue="#{kk.atmname}"/>
                            </p:selectOneMenu>

                            <h:outputText value="Description" />
                            <p:inputText value="#{atmAccountsClientView.selectedRecord.description}" />

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{atmAccountsClientView.updatePriv()}" actionListener="#{atmAccountsClientView.updateRecord()}"    update=":form:singleDT :form:grid" value="update" icon="fa fa-cloud-upload  Fs16 white"/>
                            <p:commandButton rendered="#{atmAccountsClientView.deletePriv()}" actionListener="#{atmAccountsClientView.deleteRecord()}" oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="delete" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
                <p:dialog header="ATM Accounts Add Operation" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty atmAccountsClientView.newRecord}">

                            <h:outputText value="Account ID" />
                            <p:inputText value="#{atmAccountsClientView.newRecord.accountid}" />

                            <h:outputText value="Account Name" />
                            <p:selectOneMenu id="console2888" style="width: 130px" value="#{atmAccountsClientView.newRecord.accountnameid}" >
                                <f:selectItems value="#{atmAccountsClientView.accountnameList}" var="kl" itemLabel="#{kl.symbol}" itemValue="#{kl.id}"/>
                            </p:selectOneMenu>

                            <h:outputText value="ATM ID" />
                            <p:selectOneMenu id="consoles576"  value="#{atmAccountsClientView.newRecord.atmid}" >
                                <f:selectItems value="#{atmAccountsClientView.atmrecordsList}" var="kk" itemLabel="#{kk.atmname}" itemValue="#{kk.atmname}"/>
                            </p:selectOneMenu>
                            <h:outputText value="Description" />
                            <p:inputText value="#{atmAccountsClientView.newRecord.description}" />

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{atmAccountsClientView.insertPriv()}" actionListener="#{atmAccountsClientView.saveRecord()}"  update=":form:singleDT :form:grid" value="save" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:panel>
        </h:form>

    </h:body>
</html>
