 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>ATM Machine</title>
 
        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form">
            <p:panel  header="ATM Machine" >
                <h:panelGrid rendered="#{atmMachineView.searchPriv()}" columns="4" >
                    <h:outputText value="ATM Name:"/>
                    <p style="width: 40px" />
                    <p:autoComplete id="acSimple"  value="#{atmMachineView.atmname}" completeMethod="#{atmMachineView.completeContains}" >
                        <p:ajax update="acSimple"/>  
                    </p:autoComplete>
                </h:panelGrid>
                <div align="right">
                    <p:commandButton rendered="#{atmMachineView.searchPriv()}" update=":form:singleDT" actionListener="#{atmMachineView.searchrecords()}" oncomplete="window.scrollTo(0, document.body.scrollHeight);"    value="search" icon="fa fa-search  Fs16 white"/>
                </div>
                <p:separator />

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>
                <p:dataTable id="singleDT" style="width: 98%;text-align: left" var="car" value="#{atmMachineView.recordsList}" selectionMode="single" selection="#{atmMachineView.selectedRecord}" rowKey="#{car.id}"
                             rows="10"  paginator="true" emptyMessage="No Status found with given criteria">
                    <p:ajax event="rowSelect"  update=":form:carDetail" oncomplete="carDialog.show()" />
                    <f:facet name="header">
                        ATM Machine Count: #{atmMachineView.listcount} 
                    </f:facet>
                    <p:column headerText="Name" sortBy="#{car.atmname}" >
                        <h:outputText value="#{car.atmname}" />
                    </p:column>
                    <p:column headerText="ID" sortBy="#{car.atmid}" >
                        <h:outputText value="#{car.atmid}" />
                    </p:column>
                    <f:facet name="footer">
                        <div align="center" style="height: 20px" >
                            <div style="float: right">
                                <p:commandLink rendered="#{atmMachineView.insertPriv()}" actionListener="#{atmMachineView.addRecord()}"  oncomplete="carDialog2.show()"   update=":form:carDetail2"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable>
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="singleDT" fileName="privilegeExcel" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/csv.png"  title="privilegeCSV"  />
                            <p:dataExporter type="csv" target="singleDT" fileName="privilegeCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/xml.png"  title="privilegeXML"  />
                            <p:dataExporter type="xml" target="singleDT" fileName="privilegeXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:separator />

                <p:dialog header="Privilege Status Update Operation" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty atmMachineView.selectedRecord}">

                            <h:outputText value="Name" />
                            <p:inputText value="#{atmMachineView.selectedRecord.atmname}" />
                            <h:outputText value="ID" />
                            <p:inputText value="#{atmMachineView.selectedRecord.atmid}" />

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{atmMachineView.updatePriv()}" actionListener="#{atmMachineView.updateRecord()}"    update=":form:singleDT :form:grid" value="update" icon="fa fa-cloud-upload  Fs16 white"/>
                            <p:commandButton rendered="#{atmMachineView.deletePriv()}" actionListener="#{atmMachineView.deleteRecord()}" oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="delete" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
                <p:dialog header="Privilege Status Add Operation" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty atmMachineView.newRecord}">

                            <h:outputText value="Name" />
                            <p:inputText value="#{atmMachineView.newRecord.atmname}" />
                            <h:outputText value="ID" />
                            <p:inputText value="#{atmMachineView.newRecord.atmid}" />

                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{atmMachineView.insertPriv()}" actionListener="#{atmMachineView.saveRecord()}"  update="singleDT" value="save" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:panel>
        </h:form>

    </h:body>
</html>
