dup<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ATM Machine Types</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <div align="center">
                <p:panel header=""  style="width:800px">
                    <p:growl id="growl1"  autoUpdate="true" />
                    <div align="left" >
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText value="#{ATMMachineTypesClient.listSize}" />
                        </h:panelGrid>
                    </div>
                    <br style="line-height: 3px" />
                    <p:dataTable id="atmTypes" value="#{ATMMachineTypesClient.atmList}" var="ms" >

                        <f:facet name="header">
                            <h:outputText value="Machine Types"/>
                        </f:facet>
                        <p:column headerText="*Name" style="width:350px">
                            <h:inputText value="#{ms.name}" />
                        </p:column>


                        <p:column headerText="Action">
                            <p:commandLink   onclick="confirmation.show()"  actionListener="#{ATMMachineTypesClient.fillDelete}"  update=":form1:growl1,display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                            <p:commandLink  actionListener="#{ATMMachineTypesClient.fillUpdate}" onclick="confirmation1.show();"  update=":form1:growl1,display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>


                        </p:column>

                        <f:facet name="footer">

                            <div align="Center"  style="height: 20px">
                              
                                <div style="float:right;">
                                    <p:commandLink actionListener="#{ATMMachineTypesClient.addRecord}"    update=":form1:growl1,atmTypes"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{ATMMachineTypesClient.showAdd}" /></p:commandLink>

                                    <p:commandLink actionListener="#{ATMMachineTypesClient.confrimRecord}"  update=":form1:growl1,atmTypes" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{ATMMachineTypesClient.showConfirm}"/></p:commandLink>
                                </div>

                            </div>
                        </f:facet>
                    </p:dataTable><br/>

                    <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                        <p:commandButton value="Yes" onclick="confirmation.hide()"
                                         actionListener="#{ATMMachineTypesClient.deleteRecord}" update=":form1:growl1,atmTypes" />
                        <p:commandButton value="No"  onclick="confirmation.hide()" update=":form1:growl1,atmTypes" />
                    </p:confirmDialog>

                    <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                        <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                         actionListener="#{ATMMachineTypesClient.updateRecord}" update=":form1:growl1,atmTypes" />
                        <p:commandButton value="No"  onclick="confirmation1.hide()" update=":form1:growl1,atmTypes" />


                    </p:confirmDialog>

                </p:panel>
            </div>

        </h:form>

    </h:body>
</html>