<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Holidays</title>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="./css/css3.css" />
    


        <p:resources/>

    </h:head>
    <h:body style="background: none" >
        <h:form id="form">
            <p:panel  header="Holidays" >
                <h:panelGrid rendered="#{HolidaysView.searchPriv()}" columns="6" >
                    <h:outputText value="Holidays Name:"/>
                    <p style="width: 40px" />
                    <p:autoComplete id="acSimple"  value="#{HolidaysView.holidayname}" completeMethod="#{HolidaysView.completeContains}" >
                        <p:ajax update="acSimple"/>  
                    </p:autoComplete>

                    <h:outputText value="Holidays Type:"/>
                    <p style="width: 40px" />
                    <p:selectOneMenu  value="#{HolidaysView.holidaytype}">
                        <f:selectItem itemEscaped="false" itemValue="All" itemLabel="All" />
                        <f:selectItem itemEscaped="false" itemValue="A" itemLabel="Anual" />
                        <f:selectItem itemEscaped="false" itemValue="W" itemLabel="Weekly" />
                    </p:selectOneMenu>
                </h:panelGrid>
                <div align="right">
                    <p:commandButton rendered="#{HolidaysView.searchPriv()}" update=":form:singleDT" actionListener="#{HolidaysView.searchrecords()}" oncomplete="window.scrollTo(0, document.body.scrollHeight);"    value="search" icon="fa fa-search  Fs16 white"/>
                </div>
                <p:separator />

                <p:messages showDetail="true" id="grid"  autoUpdate="true"/>
                <p:dataTable id="singleDT" style="width: 98%;text-align: left" var="car" value="#{HolidaysView.recordsList}" selectionMode="single" selection="#{HolidaysView.selectedRecord}" rowKey="#{car.holidayid}"
                             rows="10"  paginator="true" emptyMessage="No Status found with given criteria">
                    <p:ajax event="rowSelect"  update=":form:carDetail" oncomplete="carDialog.show()" />
                    <f:facet name="header">
                        Holiday Count: #{HolidaysView.listcount} 
                    </f:facet>
                    <p:column headerText="Date" sortBy="#{car.holidaydate}" >
                        <h:outputText value="#{car.holidaydate}">
                            <f:convertDateTime type="date" pattern="dd-MM-yyyy" timeZone="#{HolidaysView.timeZone}"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Date" sortBy="#{car.holidaydate}" >
                        <h:outputText value="#{car.holidaydate}" />
                    </p:column>
                    <p:column headerText="Type" sortBy="#{car.holidaytype}" >
                        <h:outputText value="#{car.holidaytype}" />
                    </p:column>
                    <p:column headerText="Day" sortBy="#{car.holidayname}" >
                        <h:outputText value="#{car.holidayname}" />
                    </p:column>
                    <f:facet name="footer">
                        <div align="center" style="height: 20px" >
                            <div style="float: right">
                                <p:commandLink rendered="#{HolidaysView.insertPriv()}" actionListener="#{HolidaysView.addRecord()}"  oncomplete="carDialog2.show()"   update=":form:carDetail2"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable>
                <div align="left">
                    <h:panelGrid columns="4">
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                            <p:dataExporter type="xls" target="singleDT" fileName="privilegeExcel" />  
                        </h:commandLink>
                        <p:commandLink ajax="false" actionListener="#{HolidaysView.printreportPDF()}"  >
                            <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                            <p:fileDownload value="#{HolidaysView.download}" />
                        </p:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/csv.png"  title="privilegeCSV"  />
                            <p:dataExporter type="csv" target="singleDT" fileName="privilegeCSV" />  
                        </h:commandLink>
                        <h:commandLink  >
                            <p:graphicImage url="../images/icons/xml.png"  title="privilegeXML"  />
                            <p:dataExporter type="xml" target="singleDT" fileName="privilegeXML" />  
                        </h:commandLink>
                    </h:panelGrid>
                </div>
                <p:separator />

                <p:dialog header="Holiday Update Operation" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty HolidaysView.selectedRecord}">
                            <h:outputText value="Name" />
                            <p:inputText  value="#{HolidaysView.selectedRecord.holidayname}" />
                            <h:outputText value="Date" />
                            <p:calendar pattern="dd.MM.yyyy" value="#{HolidaysView.selectedRecord.holidaydate}" required="true" requiredMessage="Please Enter Date To Field "/>
                            <h:outputText value="Type" />
                            <p:selectOneMenu  value="#{HolidaysView.selectedRecord.holidaytype}">
                                <f:selectItem itemEscaped="false" itemValue="" itemLabel="All" />
                                <f:selectItem itemEscaped="false" itemValue="A" itemLabel="Anual" />
                                <f:selectItem itemEscaped="false" itemValue="W" itemLabel="Weekly" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{HolidaysView.updatePriv()}" actionListener="#{HolidaysView.updateRecord()}"    update=":form:singleDT :form:grid" value="update" icon="fa fa-cloud-upload  Fs16 white"/>
                            <p:commandButton rendered="#{HolidaysView.deletePriv()}" actionListener="#{HolidaysView.deleteRecord()}" oncomplete="carDialog.hide()" update=":form:singleDT :form:grid" value="delete" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
                <p:dialog header="Holiday Add Operation" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <h:panelGrid  columns="2"  rendered="#{not empty HolidaysView.newRecord}">
                            <h:outputText value="Name" />
                            <p:inputText  value="#{HolidaysView.newRecord.holidayname}" />
                            <h:outputText value="Date" />
                            <p:calendar pattern="dd.MM.yyyy" value="#{HolidaysView.newRecord.holidaydate}" required="true" requiredMessage="Please Enter Date To Field "/>
                            <h:outputText value="Type" />
                            <p:selectOneMenu  value="#{HolidaysView.newRecord.holidaytype}">
                                <f:selectItem itemEscaped="false" itemValue="" itemLabel="All" />
                                <f:selectItem itemEscaped="false" itemValue="A" itemLabel="Anual" />
                                <f:selectItem itemEscaped="false" itemValue="W" itemLabel="Weekly" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <p:separator />
                        <div align="center">
                            <p:commandButton rendered="#{HolidaysView.insertPriv()}" actionListener="#{HolidaysView.saveRecord()}"  update=":form:singleDT" value="save" icon="fa fa-cloud-upload  Fs16 white"/>
                        </div>
                    </p:outputPanel>
                </p:dialog>
            </p:panel>
        </h:form>

    </h:body>
</html>
