
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Block Reason</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
    
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="Block Reason">
                <p:growl id="growl1"  autoUpdate="true" />
                <h:panelGrid columns="3">
                    <h:outputText value="Total Records: " />
                    <p style="width:10px" />
                    <h:outputText value="#{BlockReasonClient.listSize}" />
                </h:panelGrid>
                <br style="line-height: 3px" />
                <p:dataTable id="blockReason" value="#{BlockReasonClient.brList}" var="ms">
                    <f:facet name="header">
                        <h:outputText value="Block Reasons"/>
                    </f:facet>
                    <p:column headerText="*English Version">
                        <p:inputText value="#{ms.reasonname}" style="text-align: center"  />
                    </p:column>



                    <p:column headerText="Action">
                        <p:commandLink   onclick="confirmation.show()"  actionListener="#{BlockReasonClient.fillDel}"  update=":form1:growl1"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms}"/>

                        </p:commandLink> 

                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px" >
                          
                            <div style="float: right">
                                <p:commandLink actionListener="#{BlockReasonClient.saveAll}"    update=":form1:growl1,blockReason"  ><h:graphicImage url="images/icons/pencil.png" title="Save Page"  /></p:commandLink>
                                <p:commandLink actionListener="#{BlockReasonClient.AddBlockReason}" accesskey="u"    update=":form1:growl1,blockReason"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{BlockReasonClient.showAdd}" /></p:commandLink>

                                <p:commandLink actionListener="#{BlockReasonClient.ConfirmBlockReason}"  update=":form1:growl1,blockReason" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{BlockReasonClient.showConfirm}"/></p:commandLink>
                            </div>

                        </div>
                    </f:facet>
                </p:dataTable><br/>
            </p:panel>

            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{BlockReasonClient.deleteBlockReason}" update=":form1:growl1,blockReason" />
            </p:confirmDialog>


        </h:form>

    </h:body>
</html>