<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Columns View</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
   
        <style>
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="Column View" id="content">
                <div align="center">
                    <p:dataTable style="width:600px; "  paginator="true" rows="9" id="mat_typ_dt"  value="#{coloumnsetupViewclient.cSL}" var="ms"
                                 rowKey="#{ms.id}"   selectionMode="single" selection="#{coloumnsetupViewclient.selectedrow}">

                        <p:ajax event="rowSelect" listener="#{coloumnsetupViewclient.onRowSelect}" update=":form1:growl1,:form1:content"   />
                        <f:facet name="header">
                            <h:outputText value="Columns View"/>
                        </f:facet>
                        <p:column headerText="*Network Name">
                            <h:outputText value="#{ms.name}"  style="width:150px"/>
                        </p:column>           
                    </p:dataTable><br/>
                </div>







                <p:commandButton oncomplete="addDlg_val.show()"  value="Sort Columns" actionListener="#{coloumnsetupViewclient.findsort}" update=":form1:formulaD"/>

                <p:dataTable id="mach_typ_dt" value="#{coloumnsetupViewclient.cSDL}" var="ms1" >
                    <f:facet name="header">
                        <h:outputText value="Column"/>
                    </f:facet>

                    <p:column headerText="Column Name"  >
                        <h:selectOneMenu value="#{ms1.columnid}">
                            <f:selectItems value="#{coloumnsetupViewclient.fcdl}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}"/>
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="Selected"  >
                        <h:selectBooleanCheckbox value="#{ms1.bselected}"  />
                    </p:column>
                    <p:column headerText="Order"  >
                        <h:outputText value="#{ms1.orderby}"/>
                    </p:column>
                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation3.show();" actionListener="#{coloumnsetupViewclient.fillDelete1}" update=":form1:growl1,mach_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow1" value="#{ms1}"/>
                        </p:commandLink>

                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="float: right">
                                <p:commandLink  actionListener="#{coloumnsetupViewclient.saveAll1}" update=":form1:growl1,:form1:mat_typ_dt,mach_typ_dt,:form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" /></p:commandLink>
                                <p:commandLink actionListener="#{coloumnsetupViewclient.addcol2}"    update=":form1:growl1,:form1:mat_typ_dt,mach_typ_dt,:form1:growl1"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{coloumnsetupViewclient.showAdd1}" /></p:commandLink>
                                <p:commandLink actionListener="#{coloumnsetupViewclient.confirmAdd1}"  update=":form1:growl1,:form1:mat_typ_dt,mach_typ_dt,:form1:growl1"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{coloumnsetupViewclient.showConfirm1}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>
                <p:dialog modal="true" position="" header="Sort Columns" closable="true" draggable="true" resizable="false" id="formulaD" widgetVar="addDlg_val" >
                    
                    <p:orderList value="#{coloumnsetupViewclient.cols}" var="city" controlsLocation="none" itemLabel="#{city}" itemValue="#{city}" />
                    <p:commandButton value="Submit" style="margin-top:5px" oncomplete="addDlg_val.hide()" actionListener="#{coloumnsetupViewclient.updatesort}" update=":form1:growl1,:form1:mach_typ_dt" />
                </p:dialog>
                <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to delete?" id="confirmation3">
                    <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                     actionListener="#{coloumnsetupViewclient.deleteRecord1}" update=":form1:growl1,mach_typ_dt,:form1:growl1" />
                    <p:commandButton value="No" onclick="confirmation3.hide()" update=":form1:growl1,mach_typ_dt" />
                </p:confirmDialog>

            </p:panel>
            <!-- Confrim Dialogs -->


        </h:form>
    </h:body>
</html>

