<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Block Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
    

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="Columns Definitions" >
                <p:growl id="growl1"  autoUpdate="true" />
                <div align="left">
                    <div align="left" style="width:795px">
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText value="#{ColumnDefinitionClient.listSize}" />
                        </h:panelGrid>
                        <br style="line-height: 3px" />
                    </div>
                    <p:dataTable id="columnDef" value="#{ColumnDefinitionClient.colDefList}" paginator="true" rows="10" var="ms" >
                        <f:facet name="header">
                            <h:outputText value="Column Title"/>
                        </f:facet>
                        <p:column headerText="*Name">
                            <h:inputText value="#{ms.name}"  style="width:150px"/>
                        </p:column>

                        <p:column headerText="Column Name" style="width:350px">
                            <h:outputText value="#{ms.columnname}" />
                        </p:column>


                        <p:column headerText="Data Type" >
                            <h:selectOneMenu  value="#{ms.datatype}" style="width:70px" >

                                <f:selectItem itemLabel="String" itemValue="1" />
                                <f:selectItem itemLabel="Number" itemValue="2" />
                                <f:selectItem itemLabel="Date" itemValue="3" />

                            </h:selectOneMenu>
                        </p:column>

                       

                        <f:facet name="footer">
                            <div align="center" style="height: 20px">
                              
                                <div style="float: right">
                                    <p:commandLink actionListener="#{ColumnDefinitionClient.saveAll}"    update=":form1:growl1"  ><h:graphicImage url="images/icons/pencil.png" title="Save Page"  /></p:commandLink>
                                </div>

                            </div>
                        </f:facet>

                    </p:dataTable><br/>
                </div>
                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide();growl.show();"
                                     actionListener="#{ColumnDefinitionClient.updateColumnRecord}" />
                    <p:commandButton value="No"  onclick="confirmation1.hide()"  />


                </p:confirmDialog>
            </p:panel>



        </h:form>

    </h:body>
</html>