<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Commisions and Fees</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />


    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="Commissions and Fees" id="content">

                <p:dataTable id="mat_typ_dt"  value="#{commfeeClient.nL}" var="ms" selectionMode="single"  rowKey="#{ms.id}" selection="#{commfeeClient.selectednetwork}">

                    <p:ajax event="rowSelect" listener="#{commfeeClient.onRowSelect1}" update=":form1:growl1,:form1:content"   />
                    <p:ajax event="rowUnselect" listener="#{commfeeClient.onRowUnSelect1}" update=":form1:growl1,:form1:content"/>
                    <f:facet name="header">
                        <h:outputText value="Network"/>
                    </f:facet>
                    <p:column headerText="Name">
                        <h:outputText value="#{ms.name}"/>
                    </p:column>
                </p:dataTable><br/>

                <p:dataTable id="mach_typ_dt" value="#{commfeeClient.cfL}" var="ms1" selectionMode="single"  rowKey="#{ms1.id}"  selection="#{commfeeClient.temprecordCF}">

                    <p:ajax event="rowSelect" listener="#{commfeeClient.onRowSelect2}" update=":form1:growl1,:form1:content"  />
                    <p:ajax event="rowUnselect" listener="#{commfeeClient.onRowUnSelect2}" update=":form1:growl1,:form1:content"/>
                    <f:facet name="header">
                        <h:outputText value="Bans"/>
                    </f:facet>
                    <p:column headerText="Card Ban">
                        <h:inputText value="#{ms1.ban}" style="text-align: center"  />
                    </p:column>
                    <p:column id="opt" headerText="Action" style="width:350px">
                        <p:commandLink  onclick="confirmation.show();" actionListener="#{commfeeClient.fillAttr}" update=":form1:growl1,:form1:content,:form1:growl1"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms1}"/>
                        </p:commandLink> 
                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="float: right">
                                <p:commandLink  actionListener="#{commfeeClient.saveAll}" update=":form1:growl1,:form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" />
                                </p:commandLink>
                                <p:commandLink actionListener="#{commfeeClient.addComm}"    update=":form1:growl1,:form1:content" ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{commfeeClient.showAdd}" /></p:commandLink>
                                <p:commandLink actionListener="#{commfeeClient.confirmAddComm}"  update=":form1:growl1,:form1:content,:form1:growl1"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{commfeeClient.showConfirm}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>



                <p:dataTable id="mat_typ_set_dt" value="#{commfeeClient.cfdL}"  selectionMode="single" var="ms2" rowKey="#{ms2.id}"  >
                    <f:facet name="header">
                        <h:outputText value="Commission"/>
                    </f:facet>
                    <p:column headerText="Trans Type">
                        <h:selectOneMenu   value="#{ms2.transtype}" > 
                            <f:selectItem  itemLabel="---Choose One---" itemValue="-1" />
                            <f:selectItems value="#{commfeeClient.transtypelist}" var="transtype" itemLabel="#{transtype.name}" itemValue="#{transtype.id}" />
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="commission">
                        <h:inputText value="#{ms2.comm}"  />
                    </p:column>
                    <p:column headerText="Fee">
                        <h:inputText  value="#{ms2.fees}"  />
                    </p:column>

                    <p:column headerText="Action">
                        <p:commandLink update=":form1:growl1,:form1:content,:form1:growl1" actionListener="#{commfeeClient.fillAttrdel}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/cross.png" title="delete" />
                            <f:attribute name="removedMatching" value="#{ms2}" />
                        </p:commandLink> &nbsp;
                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px">
                            <div style="float: right">
                                <p:commandLink  actionListener="#{commfeeClient.saveAllDetails}" update=":form1:growl1,:form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" />
                                </p:commandLink>
                                <p:commandLink update=":form1:growl1,mat_typ_set_dt" actionListener="#{commfeeClient.addDetail}" ><h:graphicImage url="images/icons/newmessage.png" title="add new row" rendered="#{commfeeClient.showAdd1}"  /></p:commandLink>
                                <p:commandLink update=":form1:growl1,mat_typ_set_dt,:form1:growl1" actionListener="#{commfeeClient.confirmDetail}" ><h:graphicImage url="images/icons/success.png" title="please confirm" rendered="#{commfeeClient.showConfirm1}"  /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>

                </p:dataTable>


            </p:panel>

            <!-- Confrim Dialogs -->

            <p:confirmDialog widgetVar="confirmation" message="Deleting this record  will affect other tables, are you sure?" id="confirmation" >
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{commfeeClient.deletepin}" update=":form1:growl1,mach_typ_dt,:form1:mat_typ_set_dt,:form1:growl1" />
                <p:commandButton value="No" onclick="confirmation.hide()" type="button" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation2" message="Deleting this record  will affect other tables, are you sure?" id="confirmation2" >
                <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                 actionListener="#{commfeeClient.deletedetail}" update=":form1:growl1,mach_typ_dt,:form1:mat_typ_set_dt,:form1:growl1" />
                <p:commandButton value="No" onclick="confirmation2.hide()" type="button" />
            </p:confirmDialog>

        </h:form>
    </h:body>
</html>

