<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Delete Transaction Data</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
      
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
            #ui-datepicker-div{
                display: none
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:dialog widgetVar="loadDlg" modal="true" closable="false" appendToBody="true" draggable="false" header="loading" showHeader="false"  resizable="false">
                <h:graphicImage value="images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:panel  id="contentPanel" header="Delete Transaction Data" >
                <p:growl id="growl1"  autoUpdate="true" />
                <div align="center" style="width:100%">
                    <p:fieldset style="line-height: 35px; margin-top: 15px; height: 60px">
                        <h:panelGrid columns="15" >
                            <h:outputText value="Date from" />
                            <p style="width: 40px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{DeleteTransactionsDataClient.dateFrom}" />

                            <p style="width: 30px" />

                            <h:outputText value="Date to" />
                            <p style="width: 20px" />
                            <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{DeleteTransactionsDataClient.dateTo}" />


                            <p style="width: 30px" />

                            <h:outputText value="File" />
                            <p style="width: 20px" />
                            <h:selectOneMenu id="fileDrop" value="#{DeleteTransactionsDataClient.fileID}" disabled="#{DeleteTransactionsDataClient.fileFlag}" valueChangeListener="#{DeleteTransactionsDataClient.fileChange}" >
                                <p:ajax update=":form1:growl1,atmDrop, display" />
                                <f:selectItem itemValue="0" itemLabel="Choose one" />
                                <f:selectItems value="#{DeleteTransactionsDataClient.atmFileList}" var="ms1" itemLabel="#{ms1.name}" itemValue="#{ms1.id}" />
                            </h:selectOneMenu>

                         
                            <h:outputText />
                            <h:outputText />
                            
                                <p:ajaxStatus oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" style="width:16px;height:16px; margin: 0 0 0 0">
                                    <f:facet name="start">
                                        <h:graphicImage value="../images/ajaxloading.gif" />
                                    </f:facet>
                                    <f:facet name="complete">
                                        <h:outputText value="" />
                                    </f:facet>
                                </p:ajaxStatus>
                                <p:commandButton  id="deleteBtn"  value="Delete" onclick="confirmation.show();" />
                            
                        </h:panelGrid>
                        
                    </p:fieldset>
                </div>
                <br />
            </p:panel>

            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{DeleteTransactionsDataClient.deleteData}" update=":form1:growl1,:form1:display" />
                <p:commandButton value="No" onclick="confirmation.hide()" />
            </p:confirmDialog>




            <!-- Confrim Dialogs -->


        </h:form>
    </h:body>
</html>

