<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>ATM Different</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />

        <style>
            .old{
                background: #ffc07c !important
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <p:ajaxStatus onstart="statusDialog.show();" oncomplete="statusDialog.hide();"/>
        <p:dialog modal="true" widgetVar="statusDialog" header="Loading..." style="background: transparent;background-color: transparent" resizable="false" draggable="false" closable="false"> 
            <h:graphicImage value="images/ajaxloadingbar.gif" />
        </p:dialog>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="ATM Different" id="content">
                <p:fieldset style="width:98%;line-height: 35px; margin-top: 25px;margin-bottom: 25px;">
                    <h:panelGrid columns="23" >
                        <h:outputText value="*Date From" />
                        <p style="width: 25px" />
                        <p:calendar pattern="dd.MM.yyyy"  value="#{DiffCardAtmClient.dateFrom}" required="true" requiredMessage="Please Enter Date From Field "/>
                        <p style="width: 60px" />
                        <h:outputText value="*Date To" />
                        <p style="width: 25px" />
                        <p:calendar pattern="dd.MM.yyyy" value="#{DiffCardAtmClient.dateTo}" required="true" requiredMessage="Please Enter Date To Field "/>
                        <p style="width: 60px" />
                        <h:outputText value="ATM ID" />
                        <p style="width: 25px" />
                        <h:selectOneMenu  value="#{DiffCardAtmClient.atmid}"  >
                            <f:selectItem  itemLabel="All" itemValue="All" />
                            <f:selectItems  value="#{DiffCardAtmClient.atmRecords}"   var="amountOp" itemLabel="#{amountOp.atmname}" itemValue="#{amountOp.atmname}" />
                        </h:selectOneMenu>
                        <p style="width: 60px" />
                        <h:outputText value="Indication" />
                        <p style="width: 25px" />
                        <h:selectOneMenu  value="#{DiffCardAtmClient.selectedIndication}"  >
                            <f:selectItem  itemLabel="All" itemValue="All" />
                            <f:selectItems  value="#{DiffCardAtmClient.indicationRecords}"  />
                        </h:selectOneMenu>
                        <p style="width: 60px" />
                        <h:outputText value="Journal Type" />
                        <p style="width: 25px" />
                        <h:selectOneMenu  value="#{DiffCardAtmClient.selectedjournal}"  >
                            <f:selectItem  itemLabel="All" itemValue="All" />
                            <f:selectItems  value="#{DiffCardAtmClient.journalRecords}"  />
                        </h:selectOneMenu>
                        <p style="width: 60px" />
                        <p:commandButton   id="comBut" value="ReCalculate" actionListener="#{DiffCardAtmClient.recalc}" />
                        <p style="width: 10px" />
                        <p:commandButton value="Search"  actionListener="#{DiffCardAtmClient.doSearch}"  id="printBtn" update=":form1:mat_typ_dt,:form1:mach_typ_dt"/>
                    </h:panelGrid>
                </p:fieldset>


                <div align="justify">
                    <p:dataTable style="width:98%; "  paginator="true" rows="9" id="mat_typ_dt"  value="#{DiffCardAtmClient.masterRecords}" var="ms"
                                 rowKey="#{ms.diffid}"  rowStyleClass="#{ms.flag == 1 ? 'old' : null}"  selection="#{DiffCardAtmClient.selectedRow}">

                        <p:ajax event="rowSelect" listener="#{DiffCardAtmClient.handleMasterChange}" update=":form1:growl1,:form1:content,:form1:mat_typ_dt"   />
                        <p:ajax event="rowUnselect" listener="#{DiffCardAtmClient.onRowUnSelect}" update=":form1:growl1,:form1:content,:form1:mat_typ_dt"/>
                        <f:facet name="header">
                            <div style="float: left;">
                            <p:commandButton  actionListener="#{DiffCardAtmClient.selectAllRows}" value="Select All" id="select"  update=":form1:mat_typ_dt,:form1:mach_typ_dt" />
                            <p:commandButton  actionListener="#{DiffCardAtmClient.deselectAllRows}" value="DeSelect All" id="deselect"  update=":form1:mat_typ_dt,:form1:mach_typ_dt" />
                            </div>
                            <h:outputText value="Master View Count: #{DiffCardAtmClient.masterListCount}"/>
                        </f:facet>
                        <p:column  style="width: 20px" selectionMode="multiple"/>
                        <p:column headerText="Card Amount"  sortBy="#{ms.cardamount}" >
                            <h:outputText value="#{ms.cardamount}"  />
                        </p:column>      
                        <p:column headerText="ATM Amount" sortBy="#{ms.atmamount}">
                            <h:outputText value="#{ms.atmamount}"  />
                        </p:column>      
                        <p:column headerText="Journal Type" sortBy="#{ms.journaltype}">
                            <h:outputText value="#{ms.journaltype}"  />
                        </p:column>  
                         <p:column headerText="Diff Amount" sortBy="#{ms.diffamount}">
                             <h:outputText value="#{ms.diffamount}" />
                        </p:column> 
                        <p:column headerText="ATM ID" sortBy="#{ms.atmid}">
                            <h:outputText value="#{ms.atmid}"  />
                        </p:column>      
                        <p:column headerText="Journal Date" sortBy="#{ms.journaldate}">
                            <h:outputText value="#{ms.journaldate}"  />
                        </p:column>      
                        <p:column headerText="ATM From Date" sortBy="#{ms.atmfromdate}">
                            <h:outputText value="#{ms.atmfromdate}"  />
                        </p:column>   
                        <p:column headerText="ATM To Date" sortBy="#{ms.atmtodate}">
                            <h:outputText value="#{ms.atmtodate}"  />
                        </p:column>      
                        <p:column headerText="CR.Card Account" sortBy="#{ms.creditaccount}">
                            <h:outputText value="#{ms.creditaccount}"  />
                        </p:column>     
                        <p:column headerText="DR.ATM Account" sortBy="#{ms.debitaccount}">
                            <h:outputText value="#{ms.debitaccount}" />
                        </p:column>  
                        <p:column headerText="Indication" sortBy="#{ms.indication}">
                            <h:outputText value="#{ms.indication}" />
                        </p:column>  
                        
                        <p:column headerText="Diff Date" sortBy="#{ms.diffdate}">
                            <h:outputText value="#{ms.diffdate}" />
                        </p:column>
                    </p:dataTable><br/>
                </div>
                <div align="left">
                    <h:panelGrid columns="4">

                        <p:commandLink ajax="false" actionListener="#{DiffCardAtmClient.exportexcel}"  >
                            <p:graphicImage url="../images/icons/excel.png"  title="Print"  />
                            <p:fileDownload value="#{DiffCardAtmClient.download}" />
                        </p:commandLink>

                        <p:commandLink ajax="false" actionListener="#{DiffCardAtmClient.exportpdf}"  >
                            <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                            <p:fileDownload value="#{DiffCardAtmClient.download}" />
                        </p:commandLink>

                    </h:panelGrid>
                </div>
                <p:dataTable style="width:98%; "    paginator="true" rows="9"  id="mach_typ_dt" value="#{DiffCardAtmClient.detailRecords}" var="ms1" >
                    <f:facet name="header">
                        <h:outputText value="Detail View Count: #{DiffCardAtmClient.detailListCount}"/>
                    </f:facet>
                    <p:column headerText="Card No"  >
                        <h:outputText value="#{ms1.cardno}"/>
                    </p:column>
                    <p:column headerText="Network ID"  >
                        <h:outputText value="#{ms1.networkid}"/>
                    </p:column>
                    <p:column headerText="SEQ"  >
                        <h:outputText value="#{ms1.transactionsequence}"/>
                    </p:column>
                    <p:column headerText="STATUS"  >
                        <h:outputText value="#{ms1.transactionstatus}"/>
                    </p:column>
                    <p:column headerText="Transaction Type"  >
                        <h:outputText value="#{ms1.transactiontype}"/>
                    </p:column>
                    <p:column headerText="ATM ID"  >
                        <h:outputText value="#{ms1.atmid}"/>
                    </p:column>
                    <p:column headerText="Transaction Date"  style="width:400px"  >
                        <div style="width:150px ">
                            <h:outputText value="#{ms1.transactiondate}"  />
                        </div>
                    </p:column>
                    <p:column headerText="Settlement Date"     >
                        <div style="width:150px ">
                            <h:outputText value="#{ms1.settlementdate}"  style="width:400px" />
                        </div>
                    </p:column>
                    <p:column headerText="Resp Code"  >
                        <h:outputText value="#{ms1.responsecode}"/>
                    </p:column>
                    <p:column headerText="Account No"  >
                        <h:outputText value="#{ms1.customeraccountnumber}"/>
                    </p:column>
                    <p:column headerText="Ref No"  >
                        <h:outputText value="#{ms1.referenceno}"/>
                    </p:column>
                    <p:column headerText="Process Code"  >
                        <h:outputText value="#{ms1.processcode}"/>
                    </p:column>
                    <p:column headerText="Trans Amount"  >
                        <h:outputText value="#{ms1.amount}"/>
                    </p:column>
                    <p:column headerText="Settlement Amount"  >
                        <h:outputText value="#{ms1.settlementamount}"/>
                    </p:column>
                    <p:column headerText="Currency"  >
                        <h:outputText value="#{ms1.currency}"/>
                    </p:column>
                    <p:column headerText="ACQ"  >
                        <h:outputText value="#{ms1.acq}"/>
                    </p:column>
                    <p:column headerText="Issuer"  >
                        <h:outputText value="#{ms1.issuer}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
</html>

