<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Duplicate Settings</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />

        <style>
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="Duplicate Settings" id="content">
                <div align="center">
                    <p:dataTable style="width:600px; " id="mat_typ_dt"  value="#{DuplicateSettingClient.dSML}" var="ms"
                                 rowKey="#{ms.id}"   selectionMode="single" selection="#{DuplicateSettingClient.selectedrow}">

                        <p:ajax event="rowSelect" listener="#{DuplicateSettingClient.onRowSelect}" update=":form1:growl1,:form1:content"   />
                        <f:facet name="header">
                            <h:outputText value="Duplicate Settings"/>
                        </f:facet>
                        <p:column headerText="Network">
                            <h:selectOneMenu value="#{ms.networkid}">
                                <f:selectItems value="#{DuplicateSettingClient.nL}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}"/>
                            </h:selectOneMenu>
                        </p:column>
                        <p:column headerText="Rec Type">
                            <h:selectOneMenu value="#{ms.rectype}">
                                <f:selectItem itemValue="1" itemLabel="Network" />
                                <f:selectItem itemValue="2" itemLabel="Switch" />
                                <f:selectItem itemValue="3" itemLabel="Host" />
                            </h:selectOneMenu>
                        </p:column>
                        <p:column id="opt" headerText="Action">
                            <p:commandLink  onclick="confirmation.show();" actionListener="#{DuplicateSettingClient.fillDelete}" update=":form1:growl1,:form1:mach_typ_dt,mat_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> 

                        </p:column>

                        <f:facet name="footer">

                            <div align="center" style="height: 20px">
                                <div style="float: right">
                                    <p:commandLink  actionListener="#{DuplicateSettingClient.saveAll}" update=":form1:growl1,:form1:mach_typ_dt,mat_typ_dt,:form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" /></p:commandLink>
                                    <p:commandLink actionListener="#{DuplicateSettingClient.addnetwork}"    update=":form1:growl1,:form1:mach_typ_dt,mat_typ_dt,:form1:growl1"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{DuplicateSettingClient.showAdd}" /></p:commandLink>
                                    <p:commandLink actionListener="#{DuplicateSettingClient.confirmAdd}"  update=":form1:growl1,:form1:mach_typ_dt,mat_typ_dt,:form1:growl1"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{DuplicateSettingClient.showConfirm}" /></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                    </p:dataTable><br/>
                </div>

                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{DuplicateSettingClient.deleteRecord}" update=":form1:growl1,:form1:mach_typ_dt,mat_typ_dt,:form1:growl1" />
                    <p:commandButton value="No" onclick="confirmation.hide()" update=":form1:growl1,mat_typ_dt" />
                </p:confirmDialog>







                <p:dataTable id="mach_typ_dt" value="#{DuplicateSettingClient.dSDL}" var="ms1" >
                    <f:facet name="header">
                        <h:outputText value="Column"/>
                    </f:facet>

                    <p:column headerText="Name"  >
                        <h:selectOneMenu value="#{ms1.columnid}">
                            <f:selectItems value="#{DuplicateSettingClient.colDefList}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}"/>
                        </h:selectOneMenu>
                    </p:column>

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  onclick="confirmation3.show();" actionListener="#{DuplicateSettingClient.fillDelete1}" update=":form1:growl1,mach_typ_dt"><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow1" value="#{ms1}"/>
                        </p:commandLink>

                    </p:column>

                    <f:facet name="footer">
                        <div align="center" style="height: 20px">
                            <div style="float: right">
                                <p:commandLink  actionListener="#{DuplicateSettingClient.saveAll1}" update=":form1:growl1,:form1:mat_typ_dt,mach_typ_dt,:form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" /></p:commandLink>
                                <p:commandLink actionListener="#{DuplicateSettingClient.addcol2}"    update=":form1:growl1,:form1:mat_typ_dt,mach_typ_dt,:form1:growl1"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{DuplicateSettingClient.showAdd1}" /></p:commandLink>
                                <p:commandLink actionListener="#{DuplicateSettingClient.confirmAdd1}"  update=":form1:growl1,:form1:mat_typ_dt,mach_typ_dt,:form1:growl1"><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{DuplicateSettingClient.showConfirm1}" /></p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to delete?" id="confirmation3">
                    <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                     actionListener="#{DuplicateSettingClient.deleteRecord1}" update=":form1:growl1,mach_typ_dt,:form1:growl1" />
                    <p:commandButton value="No" onclick="confirmation3.hide()" update=":form1:growl1,mach_typ_dt" />
                </p:confirmDialog>

            </p:panel>
            <!-- Confrim Dialogs -->


        </h:form>
    </h:body>
</html>

