 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Help Desk</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
      

    </h:head>
    <h:body style="background: none" >
        <h:form>
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center" style="padding-top: 150px; ">
                <p:panel header="License Info." style="width:500px;text-align: left">
                    <h:panelGrid columns="3" style="line-height: 20px; margin-left: 10px">
                        <h:outputText value="Licensed to :" />
                        <p style="width:30px" />
                        <h:outputText value="#{HelpDeskClient.licTo}" />

                        <h:outputText value="Version :" />
                        <p style="width:30px" />
                        <h:outputText value="#{HelpDeskClient.version}" />

                        <h:outputText value="Number of ATMS :" />
                        <p style="width:30px" />
                        <h:outputText value="#{HelpDeskClient.noOfAtms}" />

                        <h:outputText value="Number of users :" />
                        <p style="width:30px" />
                        <h:outputText value="#{HelpDeskClient.noOfUsers}" />

                        <h:outputText value="Expired date :" />
                        <p style="width:30px" />
                        <h:outputText value="#{HelpDeskClient.expiredDate}" />
                    </h:panelGrid>


                </p:panel>
            </div>
        </h:form>
    </h:body>
</html>