<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Dash Board</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
      
        <script type="text/javascript">
var piechartStyle = {
                                                    font: {name: "tahoma", size: 15},
                                                    dataTip:
                                                    {
                                                    border: {color: 'black', size:1},
                                                    font: {name: "tahoma", size: 11}
                                                    },
                                                    legend:
                                                        {
                                                            display: "right",
                                                            spacing:10
                                                        }
                                                   };

                                                   var typesSeriesStyle =
                                                            {
                                                            colors: [0xe32525,0x24699d,0x28c524]
                                                            };

        </script>
        <style>
            .ui-spinner-input{
                width:14px;
            }
            .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
                border:none
            }
        </style>

    </h:head>
    <h:body style="background: none" >

        <h:form id="form1" >
            <p:growl id="growl1"  autoUpdate="true" />
            <table><tr><td>
                        <div  style=" float:left">
                            <p:panel header=""  style="width:500px; height: 350px" >
                                <div align="center" style="width: 100%; margin: -30px 0">
                                     <p:pieChart value="#{DashBoardClient.pieValues}"  seriesColors="e32525,24699d,28c524"  styleClass="chartClass"   legendPosition ="w" style="piechartStyle"    />
                                </div>
                            </p:panel>
                        </div>
                        <div  style=" float:right">
                            <p:panel header="New Atms" style="width:400px; margin: 0 0 0 10px">
                                <h:selectManyListbox  value="#{DashBoardClient.notifInt}" rendered="#{DashBoardClient.listFlag}"  >
                                    <f:selectItems value="#{DashBoardClient.newAtmsList}" var="ms" itemLabel="#{ms}" itemValue="#{ms}" />
                                </h:selectManyListbox>
                                <h:outputText value="No new atms" rendered="#{DashBoardClient.noAtmsFlag}" />
                            </p:panel>
                        </div>
                    </td></tr>
                <tr><td>
                    </td></tr></table>

        </h:form>

    </h:body>
</html>

