
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
 
        <title>License Management</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
                <p:dataTable id="blockReason" value="#{LicenseManagementClient.myList}" var="ms" rows="13" paginator="true">
                    <f:facet name="header">
                        <h:outputText value="License Management"/>
                    </f:facet>
                    <p:column headerText="ATM" filterBy="#{ms.applicationId}">
                        <h:outputText value="#{ms.applicationId}" style="text-align: center"  />
                    </p:column>
                    <p:column >
                        <p:selectBooleanCheckbox id="status" value="#{ms.LIC}" valueChangeListener="#{LicenseManagementClient.changeValue}" />
                    </p:column>
                </p:dataTable><br/>
                <div align="center" style="height: 20px" >
                 
                    <div style="float: right">
                        <p:commandButton value="Save" actionListener="#{LicenseManagementClient.saveList}"  update=":form1:growl1,display,blockReason" />
                    </div>

                </div>
        </h:form>

    </h:body>
</html>