
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Linc Updater</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
 
        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     

        <style>

            #content {
                position   : absolute;
                top        : 135px;
                bottom     : 100px;
                left       : 0;
                width      : 100%;
            }

            td{
                border: none;
            }
            html{
                overflow:hidden
            }

        </style>
    </h:head>
    <h:body  style="background:none">
        <h:form id="form1" enctype="multipart/form-data">


            <div align="center" style="width:100%; padding:  100px 0">
                <p:panel header="Update Linc" style="width:400px; text-align: left">


                    <h:panelGrid columns="1" >
                        <h:inputFile style="width:350px" id="file" value="#{LoginClient.file}"/>


                    </h:panelGrid>

                    <div style="width: 100%">
                        <div align="right">
                            <h:commandButton value="Upload"
                                             action="#{LoginClient.upload(1)}"/>  
                        </div></div>


                    <div style=" padding-bottom: 2px; width: 95%; text-align: center">
                        <p:messages  autoUpdate="true" />
                    </div>     



                </p:panel>
            </div>

        </h:form>
    </h:body>
</html>

