<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Menu items</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="Menu Items" >
                <div align="center" >
                    <div align="left" style="width:795px">
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText />
                        </h:panelGrid>
                        <br style="line-height: 3px" />
                    </div>
                    <p:dataTable id="blockUsers" value="#{MenuLabelClient.allRecords}" paginator="true" rows="10"   var="ms" style="width:800px">
                        <f:facet name="header">
                            <h:outputText value="Menu items"/>
                        </f:facet>
                        <p:column headerText="English label" >
                            <h:inputText value="#{ms.englishlabel}" />
                        </p:column>

                        <p:column headerText="Type" >
                            <h:selectOneMenu value="#{ms.type}" >
                                <f:selectItem itemLabel="Label" itemValue="1" />
                                <f:selectItem itemLabel="Form" itemValue="2" />
                                <f:selectItem itemLabel="Report" itemValue="3" />
                            </h:selectOneMenu>
                        </p:column>

                        <p:column headerText="Parent" >
                            <h:selectOneMenu value="#{ms.parentid}" >
                                <f:selectItem itemLabel="No Parent" itemValue="0" />
                                <f:selectItems value="#{MenuLabelClient.parents}" var="parent" itemLabel="#{parent.englishlabel}" itemValue="#{parent.menuid}" />
                            </h:selectOneMenu>
                        </p:column>
                        <p:column headerText="Page" >
                            <h:selectOneMenu value="#{ms.page}" >
                                <f:selectItem itemLabel="No Page" itemValue="0" />
                                <f:selectItems value="#{MenuLabelClient.newPages}" var="page" itemLabel="#{page}" itemValue="#{page}" />
                            </h:selectOneMenu>
                        </p:column>

                        <p:column id="opt" headerText="Action">
                            <p:commandLink  onclick="confirmation1.show();" update=":form1:growl1,:form1:blockUsers" actionListener="#{MenuLabelClient.fillDelete}" ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>
                            </p:commandLink>
                        </p:column>
                        <f:facet name="footer">
                            <div align="center" style="height: 20px">
                                <div style="float: right">
                                    <p:commandLink  update=":form1:growl1,:form1:growl1, :form1:addMenuDlg,:form1:blockUsers" actionListener="#{MenuLabelClient.saveAll}"  ><h:graphicImage url="images/icons/pencil.png" title="Save Page"  /></p:commandLink>
                                    <p:commandLink   update=":form1:growl1,:form1:growl1, :form1:addMenuDlg,:form1:blockUsers" onclick="confirmation.show();"  ><h:graphicImage url="images/icons/newmessage.png" title="add new row"   /></p:commandLink>
                                </div>
                            </div>
                        </f:facet>
                          <f:facet name="footer">
                            
                    </f:facet>
                    </p:dataTable><br/>
                </div>
            </p:panel>

            <p:confirmDialog  widgetVar="confirmation1" message="Are you sure you want to delete?" id="confirmation">
                <p:commandButton update=":form1:growl1,:form1:blockUsers" value="Yes" onclick="confirmation1.hide()" actionListener="#{MenuLabelClient.deleteRecord}" />
                <p:commandButton value="No" onclick="confirmation1.hide()"  />
            </p:confirmDialog>

            <p:dialog widgetVar="confirmation"  id="confirmation2" resizable="false" modal="true" header="Add menu label">
                <h:panelGrid columns="7" id="addMenuDlg" cellspacing="4">
                    <h:outputText value="English Label" />
                    <p style="width:30px" />
                    <h:inputText value="#{MenuLabelClient.englishLabel}" />
                    <p style="width:60px" />
                    <h:outputText value="Type" />
                    <p style="width:30px" />
                    <h:selectOneMenu value="#{MenuLabelClient.type}" >
                        <f:selectItem itemLabel="Label" itemValue="1" />
                        <f:selectItem itemLabel="Form" itemValue="2" />
                        <f:selectItem itemLabel="Report" itemValue="3" />
                    </h:selectOneMenu>

                    <h:outputText value="Parent" />
                    <p style="width:30px" />
                    <h:selectOneMenu value="#{MenuLabelClient.parent}" >
                        <f:selectItem itemLabel="No Parent" itemValue="0" />
                        <f:selectItems value="#{MenuLabelClient.parents}" var="addParent" itemLabel="#{addParent.englishlabel}" itemValue="#{addParent.menuid}" />
                    </h:selectOneMenu>
                    <p style="width:60px" />
                    <h:outputText value="Page" />
                    <p style="width:30px" />
                    <h:selectOneMenu value="#{MenuLabelClient.page}" >
                        <f:selectItem itemLabel="No Page" itemValue="0" />
                        <f:selectItems value="#{MenuLabelClient.newPages}" var="addPage" itemLabel="#{addPage}" itemValue="#{addPage}" />
                    </h:selectOneMenu>
                </h:panelGrid>
                <div align="right">
                    <p:commandButton value="Add"  oncomplete="confirmation.hide()" update=":form1:growl1,:form1:blockUsers,:form1:confirmation2" actionListener="#{MenuLabelClient.addRecord}"/>
                </div>
            </p:dialog>

        </h:form>

    </h:body>
</html>