 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Pending ATMS</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
 
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="">
                <h:panelGrid columns="3">
                    <h:outputText value="Total Records: " />
                    <p style="width:10px" />
                    <h:outputText value="#{PendingATMsClient.listSize}" />
                </h:panelGrid>
                <br style="line-height: 3px" />
                <p:dataTable id="blockReason" value="#{PendingATMsClient.pendingList}" var="ms">
                    <f:facet name="header">
                        <h:outputText value="Pending ATMs"/>
                    </f:facet>
                    <p:column headerText="ATM ID">
                        <h:outputText value="#{ms.atmId}" style="text-align: center"  />
                    </p:column>
                    <p:column headerText="Machine Type">
                        <h:selectOneMenu value="#{ms.atmName}"  >
                            <f:selectItems value="#{PendingATMsClient.machineList}" var="ms1" itemLabel="#{ms1.name}" itemValue="#{ms1.id}" />
                        </h:selectOneMenu>
                    </p:column>



                    <p:column headerText="Action">
                        <p:commandButton value="Approve"   onclick="confirmation.show()"  actionListener="#{PendingATMsClient.fillRow}" >
                            <f:attribute name="removedRow" value="#{ms}"/>
                        </p:commandButton> 
                    </p:column>

                    <f:facet name="footer">

                        <div align="center" style="height: 20px" >
                            
                        </div>
                    </f:facet>
                </p:dataTable><br/>
                <div align="right">
                    <p:commandButton onclick="confirmation1.show()" value="Approve all"  update=":form1:growl1,blockReason"   />
                </div>
            </p:panel>

            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to approve?" id="confirmation">
                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                 actionListener="#{PendingATMsClient.approveRecord}" update=":form1:growl1,blockReason" />
                <p:commandButton value="No"  onclick="confirmation.hide()" update=":form1:growl1,blockReason" />
            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to approve all records?" id="confirmation1" >
                <p:commandButton value="Yes" onclick="confirmation1.hide()" actionListener="#{PendingATMsClient.approveAll}" update=":form1:growl1,blockReason" />
                <p:commandButton value="No" onclick="confirmation1.hide()" update=":form1:growl1,blockReason" />

            </p:confirmDialog>

        </h:form>

    </h:body>
</html>