<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>PL</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
       
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
            #ui-datepicker-div{
                display: none
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            
            <p:growl id="growl1"  life="5000"  autoUpdate="true" />
            <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                <f:facet name="start">

                </f:facet>

                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus>
            <p:panel  id="contentPanel" header="PL Generator" >
                <div align="center" style="width:100%">
                    <div align="left" style="margin:0 0 0 66px">
                        <p:fieldset collapsed="false" legend="Quick Command" style="width:600px"  >
                            <h:panelGrid columns="8" >
                                <h:outputText value="Select Table" />
                                <p style="width: 20px" />
                                <h:selectOneMenu value="#{SQLCommandClient.tableName}" style="width:170px" valueChangeListener="#{SQLCommandClient.changeTable}">
                                    <f:selectItems value="#{SQLCommandClient.tableList}" var="plName" itemLabel="#{plName}" itemValue="#{plName}" />
                                </h:selectOneMenu>
                                <p style="width: 20px" />
                                <p:commandButton value="Select" actionListener="#{SQLCommandClient.generateSelectStat}"  update="sqlstat" />
                                <p:commandButton value="Insert" actionListener="#{SQLCommandClient.genarateInsertStat}" update="sqlstat" />
                                <p:commandButton value="Update" actionListener="#{SQLCommandClient.genarateUpdateStat}" update="sqlstat" />
                                <p:commandButton value="Delete" actionListener="#{SQLCommandClient.genarateDeleteStat}" update="sqlstat" />
                            </h:panelGrid>
                        </p:fieldset>
                    </div>
                    <br />
                    <div align="left">
                        <h:panelGrid columns="7" >
                            <h:outputText value="Command" />
                            <p style="width: 20px" />
                            <p:inputTextarea value="#{SQLCommandClient.sqlstatament}" id="sqlstat" style="width:615px; height: 100px" />
                            <p style="width: 20px" />
                            <p:commandButton value="Excute" actionListener="#{SQLCommandClient.getResults}" update="sqlstat, :form1:selectTbl" />
                        </h:panelGrid>
                    </div>
                </div>
                <br />
                <p:dataTable value="#{SQLCommandClient.resultSetData}" paginator="true"  var="selectVar" rows="15" id="selectTbl">
                    <f:facet name="header">
                        Select Results
                    </f:facet>
                    <p:columns value="#{SQLCommandClient.colNames}" var="selectClm" columnIndexVar="deClm" >
                        <f:facet name="header">
                            #{selectClm}
                        </f:facet>
                        #{selectVar[selectClm]}
                    </p:columns>
                </p:dataTable>
            </p:panel>
<h:commandLink value="New tab" target="blank"  >
            </h:commandLink>

        </h:form>
    </h:body>
</html>

