 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Profile Restrictions</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     

    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="Profile Restriction">
                <p:dataTable id="blockReason" value="#{ProfileRestClient.pDTOL}" var="ms" paginator="true" rows="4">
                    <f:facet name="header">
                        <h:outputText value=""/>
                    </f:facet>
                    <p:column headerText="Name">
                        <h:outputText value="#{ms.profileName}" style="text-align: center"  />
                    </p:column>
                    <p:column headerText="Restricted">
                        <h:selectOneMenu value="#{ms.restrected}" >
                            <f:selectItem itemValue="1" itemLabel="Restricted" />
                            <f:selectItem itemValue="2" itemLabel="Non Restricted" />
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="Action">
                        <p:commandLink  actionListener="#{ProfileRestClient.fillUp}" oncomplete ="confirmation1.show();" update=":form1:growl1,display"  ><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>
                    </p:column>
                    <f:facet name="footer">
                        <div align="center" style="height: 20px" >
                       
                        </div>
                    </f:facet>
                </p:dataTable><br/>
            </p:panel>
            <br />
            <div style="float:left">
                <p:panel header="Menu Restriction"  style="width:600px">
                    <p:treeTable  id="menuLabel"  value="#{MenuRestClient.tree}" var="msMenue" style="width:580px" >

                        <f:facet name="header">
                            <h:outputText value="Menu"/>
                        </f:facet>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Name"/>
                            </f:facet>
                            <p:commandLink value="#{msMenue.englishLabel}" />
                        </p:column>
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Restricted"/>
                            </f:facet>
                            <h:selectOneMenu value="#{msMenue.restrected}" >
                                <f:selectItem itemValue="1" itemLabel="Restricted" />
                                <f:selectItem itemValue="2" itemLabel="Non Restricted" />
                            </h:selectOneMenu>
                        </p:column>
                        <p:column headerText="Action">
                            <p:commandLink  actionListener="#{MenuRestClient.fillMenuUp}" update=":form1:growl1,menuLabel" oncomplete ="confirmation2.show();"  ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRowMenu" value="#{msMenue}" /></p:commandLink>
                        </p:column>
                    </p:treeTable>
                    <div align="center" style="height: 20px" >
                          
                    </div>
                </p:panel>
            </div>
            <div style="float:right">
                <p:panel header="Users Restriction" style="width:600px">
                    <p:dataTable id="User" value="#{UserRestClient.uDTOL}" var="userMs" paginator="true" rows="9">
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>
                        <p:column headerText="Name">
                            <h:outputText value="#{userMs.userName}" style="text-align: center"  />
                        </p:column>
                        <p:column headerText="Restricted">
                            <h:selectOneMenu value="#{userMs.restrected}" >
                                <f:selectItem itemValue="1" itemLabel="Restricted" />
                                <f:selectItem itemValue="2" itemLabel="Non Restricted" />
                            </h:selectOneMenu>
                        </p:column>

                        <p:column headerText="View Restricted">
                            <h:selectOneMenu value="#{userMs.seeRestrected}" >
                                <f:selectItem itemValue="1" itemLabel="View Restricted" />
                                <f:selectItem itemValue="2" itemLabel="Non View Restricted" />
                            </h:selectOneMenu>
                        </p:column>


                        <p:column headerText="Action">
                            <p:commandLink  actionListener="#{UserRestClient.fillUserUp}" update=":form1:growl1,display" oncomplete ="confirmation3.show();"  ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRowUser" value="#{userMs}" /></p:commandLink>
                        </p:column>
                        <f:facet name="footer">
                            <div align="center" style="height: 20px" >
                                
                            </div>
                        </f:facet>
                    </p:dataTable><br/>
                </p:panel>
            </div>
            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                 actionListener="#{ProfileRestClient.update}" update=":form1:growl1,blockReason" />
                <p:commandButton value="No"  onclick="confirmation1.hide()"  />

            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                 actionListener="#{MenuRestClient.updateAtt}" update=":form1:growl1,menuLabel" />
                <p:commandButton value="No"  onclick="confirmation2.hide()"  />

            </p:confirmDialog>

            <p:confirmDialog widgetVar="confirmation3" message="Are you sure you want to update?" id="confirmation3" >
                <p:commandButton value="Yes" onclick="confirmation3.hide()"
                                 actionListener="#{UserRestClient.update}" update=":form1:growl1,User" />
                <p:commandButton value="No"  onclick="confirmation3.hide()"  />

            </p:confirmDialog>

        </h:form>

    </h:body>
</html>