<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Currency Def</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
      
        <style>
            .ui-datatable .ui-datatable-footer{
                background: none;
                background-color: #e6e6e6
            }
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }
            #rd table td{
                border: none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form">

            <p:panel id="panel" header="New Person">

                <p:messages id="msgs"/>

                <h:panelGrid columns="3">
                    <h:outputLabel for="firstname" value="Firstname: *" />
                    <p:inputText id="firstname" required="true" label="Firstname">
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <p:message for="firstname" display="icon"/>

                    <h:outputLabel for="surname" value="Surname: *" />
                    <p:inputText id="surname"  label="Surname" required="true">
                        <f:validateLength minimum="2" />
                        <p:ajax update=":form1:growl1,msgSurname" event="keyup" />
                    </p:inputText>
                    <p:message for="surname" id="msgSurname" display="icon"/>

                </h:panelGrid>

                <p:commandButton id="btn" value="Save" update=":form1:growl1,panel" />
                <h:commandLink target="_blank" >
                    <p:graphicImage url="../images/icons/print.gif"  title="Print"  />
                </h:commandLink>
            </p:panel>

        </h:form>

    </h:body>
</html>

