<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui">
    <h:head>
        <title>ReportID Transactions</title>

        <script type="text/javascript" src="js/animatedcollapse.js">

            /***********************************************
             * Animated Collapsible IV v2.4- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
             * This notice MUST stay intact for legal use
             * Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
             ***********************************************/

        </script>

        <script type="text/javascript">
            function validate(evt) {
                if (evt.keyCode || evt.which === 8) {
                    return true;
                }
                var theEvent = evt || window.event;
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
                var regex = /[0-9]|\./;
                if (!regex.test(key)) {

                    if (theEvent.preventDefault)
                        theEvent.preventDefault();
                }
            }


        </script>


        <script type="text/javascript">
            animatedcollapse.addDiv('allContent', 'fade=1');
            animatedcollapse.addDiv('disToggle', 'fade=1');
            animatedcollapse.ontoggle = function ($, divobj, state) { //fires each time a DIV is expanded/contracted
                //$: Access to jQuery
                //divobj: DOM reference to DIV being expanded/ collapsed. Use "divobj.id" to get its ID
                //state: "block" or "none", depending on state
            };
            animatedcollapse.init();
        </script>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />






        <style>
            .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
                background-color: #DBDBDB
            }
            .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
                text-shadow: 0;
            }


            .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{
                background: #afc5e2 ;
                color:black
            }

            .ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td{
                border-width: 0px
            }
            .panelTable td {
                vertical-align: middle;
            }
            #cboxOverlay{
                background-color: transparent
            }
            #cboxLoadedContent{
                background-color: White
            }
            #cboxLoadingGraphic{
                background:none
            }
            .old{
                background: #ffc07c !important
            }



            #cal_input, #cal1_input, #cal2_input, #cal3_input, #cal4_input{
                width:700px
            }
            .cal{

                width:70px
            }

            .ui-inputText-input{
                width:24px
            }
            .ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all{
                background-color: white;
            }
            .ui-dialog .ui-dialog-content{
                background-color: #f0f0f0;
            }
            .ui-datatable .ui-column-filter{
                width:50px
            }
        </style>

        <script language="JavaScript">
            function DownChange() {

                var e = document.getElementById("form1:contenttab:atmName");
                var ee = document.getElementById("form1:contenttab:acMaxResults_input");

                var strUser = e.options[e.selectedIndex].value;
                if (strUser !== 0) {
                    alert("am over 0");
                    ee.setAttribute('disabled', true);
                }
                else {
                    alert("am equal to 0");
                    ee.setAttribute('disabled', false);
                }
            }

            function addWidth() {
                var mydiv = document.getElementById("trans");
                document.getElementById('allContent').style.width = mydiv.style.width;
            }
            function changeText_dis() {
                if (document.getElementById("form1:collapseExpand_dis").innerHTML === "Search by") {
                    document.getElementById("form1:collapseExpand_dis").innerHTML = "Close";
                }
                else {
                    document.getElementById("form1:collapseExpand_dis").innerHTML = "Search by";
                }
            }
            function changeValue_dis() {
                document.getElementById("form1:collapseExpand_dis").innerHTML = "Search by";
            }
            function changeValue_rej() {
                document.getElementById("form1:collapseExpand_rej").innerHTML = "Search by";
            }
            function changeValue() {
                document.getElementById("form1:collapseExpand").innerHTML = "Search by";
            }
            function clearSelection() {
                if (document.getElementById(":form1:selectBtn").innerHTML === "Select all records") {
                    alert("doone");
                    wdgList.clearSelection();
                }
            }
            function ShowSelectionxx1()
            {

                var textComponent = document.getElementById('form1:filetext');
                var textComponent1 = document.getElementById('form1:filetext1');

                var selectedText;
                // Mozilla version
                if (textComponent.selectionStart !== undefined)
                {
                    var startPos = textComponent.selectionStart;
                    var endPos = textComponent.selectionEnd;
                    selectedText = textComponent.value.substring(startPos, endPos);
                }

                textComponent1.value = selectedText;
            }


            function ShowSelectionxx()
            {

                var textComponent = document.getElementById('form1:transtext');
                var textComponent1 = document.getElementById('form1:transtext1');

                var selectedText;
                // Mozilla version
                if (textComponent.selectionStart !== undefined)
                {
                    var startPos = textComponent.selectionStart;
                    var endPos = textComponent.selectionEnd;
                    selectedText = textComponent.value.substring(startPos, endPos);
                }
            }

            function handleTransfer(e) {
                alert("islam");
                document.getElementById('form1:hiddenpick').click();
            }


        </script>

        <script>

            function collapse() {
                var naming = document.getElementById('form1:contenttab:result').value;
                if (naming === 1) {
                    alertD.show();
                }
                else {
                    javascript:animatedcollapse.toggle('disToggle');
                }
            }
        </script>
    </h:head>
    <h:body  style="background: none"  >
        <p:ajaxStatus onstart="statusDialog.show();" oncomplete="statusDialog.hide();"/>
        <p:dialog modal="true" widgetVar="statusDialog" header="Loading..." style="background: transparent;background-color: transparent" resizable="false" draggable="false" closable="false"> 
            <h:graphicImage value="images/ajaxloadingbar.gif" />
        </p:dialog>
        <h:form id="form1" >
            <p:dialog header="Alert!" widgetVar="alertD" draggable="false" resizable="false" closable="true" modal="true" width="400">
                <h:outputText value="Please select Search in screen" />
            </p:dialog>


            <table style="width:1240px;">

                <tr><td>
                        <h:panelGroup id="transContent" >
                            <div align="left" style="width:1240px;">

                            </div><br/>
                            <div  id="allContent" >
                                <p:accordionPanel id="contenttab"  style="width:1240px;"   >
                                    <br style="line-height: 25px" />
                                    <p:tab title="Transaction Search Criteria"  titleStyleClass="title"  >
                                        <div style="margin: 0 0 0 -20px;" id="disToggle">
                                            <table id="com_dis">
                                                <tr>
                                                    <td valign="top" >
                                                        <div style=" width: 483px">
                                                            <div  oncopy="return false;" onpaste="return false;">
                                                                <p:fieldset legend="Dates" toggleable="true" collapsed="true"  style="width:480px">
                                                                    <h:panelGrid columns="9" id="combos2_dis"  >
                                                                        <div style="width:85px">*Transaction Date</div>
                                                                        <p style="width: 5px" />
                                                                        <h:selectOneMenu    value="#{ReportSearchClient.searchfields.transdateoperator}" valueChangeListener="#{ReportSearchClient.transactionDateOpChange}" >
                                                                            <p:ajax update=":form1:growl1,combos2_dis" />
                                                                            <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist1}" var="operator" itemLabel="#{operator}" itemValue="#{operator}"  />
                                                                        </h:selectOneMenu>
                                                                        <p style="width: 5px" />
                                                                        <p:calendar   value="#{ReportSearchClient.searchfields.transdatefrom}"  pattern="dd.MM.yyyy HH:mm:ss"  />
                                                                        <p style="width: 2px" />


                                                                        <h:outputText value="to"   rendered="#{ReportSearchClient.trancedatetoshow}" />
                                                                        <p style="width: 2px" />
                                                                        <h:outputText  rendered="#{ReportSearchClient.trancedatetoshow}"   />
                                                                        <p:calendar  value="#{ReportSearchClient.searchfields.transdateto}"  pattern="dd.MM.yyyy HH:mm:ss" rendered ="#{ReportSearchClient.trancedatetoshow}"   />
                                                                    </h:panelGrid>
                                                                    <br  style="line-height: 10px"/>
                                                                    <h:panelGrid columns="9" id="combos2_dis1"  >
                                                                        <div style="width:85px">Settlement Date</div>
                                                                        <p style="width: 5px" />
                                                                        <h:selectOneMenu  value="#{ReportSearchClient.searchfields.setteltdateoperator}" valueChangeListener="#{ReportSearchClient.settelmentDateOpChange}" >
                                                                            <p:ajax update=":form1:growl1,combos2_dis1" />
                                                                            <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist1}" var="settOperator" itemLabel="#{settOperator}" itemValue="#{settOperator}" />
                                                                        </h:selectOneMenu>
                                                                        <p style="width: 5px" />
                                                                        <p:calendar   value="#{ReportSearchClient.searchfields.setteltdatefrom}" pattern="dd.MM.yyyy HH:mm:ss"/>
                                                                        <p style="width: 2px" />

                                                                        <h:outputText value="to" rendered="#{ReportSearchClient.settdatetoshow}" />
                                                                        <p style="width: 2px" />
                                                                        <h:outputText  rendered="#{ReportSearchClient.settdatetoshow}"   />
                                                                        <p:calendar  value="#{ReportSearchClient.searchfields.setteltdateto}" pattern="dd.MM.yyyy HH:mm:ss" rendered="#{ReportSearchClient.settdatetoshow}" />
                                                                    </h:panelGrid>
                                                                    <br  style="line-height: 10px"/>
                                                                    <h:panelGrid columns="9" id="combos2_dis6"  >
                                                                        <div style="width:85px">Loading Date</div>
                                                                        <p style="width: 5px" />
                                                                        <h:selectOneMenu  value="#{ReportSearchClient.searchfields.loadingdateoperator}" valueChangeListener="#{ReportSearchClient.loadingDateOpChange}" >
                                                                            <p:ajax update=":form1:growl1,combos2_dis6" />
                                                                            <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist1}" var="lodingOperator" itemLabel="#{lodingOperator}" itemValue="#{lodingOperator}" />
                                                                        </h:selectOneMenu>
                                                                        <p style="width: 5px" />
                                                                        <p:calendar   value="#{ReportSearchClient.searchfields.loadingdatefrom}" pattern="dd.MM.yyyy HH:mm:ss"/>
                                                                        <p style="width: 2px" />
                                                                        <h:outputText value="to" rendered="#{ReportSearchClient.loadingdatetoshow}" />
                                                                        <p style="width: 2px" />
                                                                        <h:outputText  rendered="#{ReportSearchClient.loadingdatetoshow}"   />
                                                                        <p:calendar  value="#{ReportSearchClient.searchfields.loadingdateto}" pattern="dd.MM.yyyy HH:mm:ss" rendered="#{ReportSearchClient.loadingdatetoshow}" />
                                                                    </h:panelGrid>
                                                                </p:fieldset>
                                                            </div>
                                                            <br style="line-height: 12px" />
                                                            <p:fieldset legend="Amounts" toggleable="true" collapsed="true"  style="width:480px">
                                                                <h:panelGrid columns="9" id="currencyPanel_dis"   >
                                                                    <div style="width:80px">Amount</div>
                                                                    <p style="width: 12px" />
                                                                    <h:selectOneMenu  value="#{ReportSearchClient.searchfields.amountoperator}" valueChangeListener="#{ReportSearchClient.amountOpChange}" >
                                                                        <p:ajax update=":form1:growl1,currencyPanel_dis" />
                                                                        <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist1}"   var="amountOp" itemLabel="#{amountOp}" itemValue="#{amountOp}" />
                                                                    </h:selectOneMenu>
                                                                    <p style="width: 5px" />
                                                                    <p:inputText  value="#{ReportSearchClient.searchfields.amountfrom}"   />
                                                                    <p style="width: 5px" />

                                                                    <h:outputText value="to" rendered="#{ReportSearchClient.amounttoshow}" />
                                                                    <p style="width: 5px" />
                                                                    <h:outputText  rendered="#{ReportSearchClient.amounttoshow}"   />
                                                                    <p:inputText   value="#{ReportSearchClient.searchfields.amountto}"  rendered="#{ReportSearchClient.amounttoshow}" />
                                                                </h:panelGrid>
                                                                <br style="line-height: 10px"/>
                                                                <h:panelGrid columns="9" id="setPanel_dis"   >
                                                                    <div style="width:80px">Sett. Amount</div>
                                                                    <p style="width: 12px" />
                                                                    <h:selectOneMenu disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.settamountoperator}" valueChangeListener="#{ReportSearchClient.settamountOpChange}" >
                                                                        <p:ajax update=":form1:growl1,setPanel_dis" />
                                                                        <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist1}"   var="setamountOp" itemLabel="#{setamountOp}" itemValue="#{setamountOp}" />
                                                                    </h:selectOneMenu>
                                                                    <p style="width: 5px" />
                                                                    <p:inputText disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.settamountfrom}"   />
                                                                    <p style="width: 5px" />

                                                                    <h:outputText  value="to" rendered="#{ReportSearchClient.setamounttoshow}" />
                                                                    <p style="width: 5px" />
                                                                    <h:outputText  rendered="#{ReportSearchClient.setamounttoshow}"   />
                                                                    <p:inputText  disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.settamountto}"  rendered="#{ReportSearchClient.setamounttoshow}" />
                                                                </h:panelGrid>
                                                                <br style="line-height: 10px"/>
                                                                <h:panelGrid columns="9" id="aqrPanel_dis"   >
                                                                    <div style="width:80px">ACQ Amount</div>
                                                                    <p style="width: 12px" />
                                                                    <h:selectOneMenu disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.aqramountoperator}" valueChangeListener="#{ReportSearchClient.aqramountOpChange}" >
                                                                        <p:ajax update=":form1:growl1,aqrPanel_dis" />
                                                                        <f:selectItems  itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist1}"   var="aqramountOp" itemLabel="#{aqramountOp}" itemValue="#{aqramountOp}" />
                                                                    </h:selectOneMenu>
                                                                    <p style="width: 5px" />
                                                                    <p:inputText disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.aqramountfrom}"   />
                                                                    <p style="width: 5px" />

                                                                    <h:outputText value="to" rendered="#{ReportSearchClient.aqramounttoshow}" />
                                                                    <p style="width: 5px" />
                                                                    <h:outputText  rendered="#{ReportSearchClient.aqramounttoshow}"   />
                                                                    <p:inputText  disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.aqramountto}"  rendered="#{ReportSearchClient.aqramounttoshow}" />
                                                                </h:panelGrid>
                                                                <br style="line-height: 10px"/>
                                                            </p:fieldset>
                                                            <br style="line-height: 12px" />
                                                            <p:fieldset id="transPanel_camount" collapsed="true" legend="Currencies" toggleable="true"  style="width:480px; ">
                                                                <h:panelGrid columns="8" id="currencyPanel_disCu"  style="width:410px" >
                                                                    <div style="width:70px">Sett.Currency</div>
                                                                    <p style="width:10px" />
                                                                    <h:selectOneMenu value="#{ReportSearchClient.searchfields.settcurrencyid}" >
                                                                        <f:selectItem itemEscaped="false"  itemLabel="---Choose One---" itemValue="0" />
                                                                        <f:selectItems itemLabelEscaped="true" value="#{ReportSearchClient.currencylist}" var="currency" itemLabel="#{currency.symbol}" itemValue="#{currency.id}" />
                                                                    </h:selectOneMenu>

                                                                    <div style="width:60px">Base Currency</div>
                                                                    <p style="width:10px" />
                                                                    <h:selectOneMenu value="#{ReportSearchClient.searchfields.currencyid}" >
                                                                        <f:selectItem itemEscaped="false"  itemLabel="---Choose One---" itemValue="0" />
                                                                        <f:selectItems itemLabelEscaped="true" value="#{ReportSearchClient.currencylist}" var="currency" itemLabel="#{currency.symbol}" itemValue="#{currency.id}" />
                                                                    </h:selectOneMenu>


                                                                </h:panelGrid>
                                                                <br style="line-height: 12px" />
                                                                <h:panelGrid columns="8" id="aqccurrencg_disCu"  style="width:205px" >
                                                                    <div style="width:70px">ACQ Currency</div>
                                                                    <p style="width:10px" />
                                                                    <h:selectOneMenu value="#{ReportSearchClient.searchfields.aqccurrencyid}" >
                                                                        <f:selectItem itemEscaped="false"  itemLabel="---Choose One---" itemValue="0" />
                                                                        <f:selectItems itemLabelEscaped="true" value="#{ReportSearchClient.currencylist}" var="currency" itemLabel="#{currency.symbol}" itemValue="#{currency.id}" />
                                                                    </h:selectOneMenu>
                                                                </h:panelGrid>
                                                            </p:fieldset>
                                                            <br style="line-height: 12px" />
                                                            <p:fieldset legend="Customer Info." toggleable="true" collapsed="true"  style="width:480px">
                                                                <h:panelGrid columns="10" id="accountPanel_dis" style="line-height: 35px"  >
                                                                    <h:outputText value="Card #" />
                                                                    <p style="width: 5px" />
                                                                    <h:selectOneMenu  value="#{ReportSearchClient.searchfields.cardnumoperator}" valueChangeListener="#{ReportSearchClient.cardChange}"  >
                                                                        <p:ajax update=":form1:growl1,accountPanel_dis" />
                                                                        <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist2}" var="cardOp" itemLabel="#{cardOp}" itemValue="#{cardOp}" />
                                                                    </h:selectOneMenu>
                                                                    <h:outputText  rendered="#{ReportSearchClient.emptyFlag}"/>
                                                                    <p style="width: 10px" />
                                                                    <p:inputText  value="#{ReportSearchClient.searchfields.cardno}" rendered="#{ReportSearchClient.cardFlag}" />
                                                                    <p style="width:10px" />
                                                                    <div style="float: left; margin: -4px 0"> <h:selectBooleanCheckbox id="bl_dis"  value="#{ReportSearchClient.searchfields.blacklistbool}"/></div>
                                                                    <div style="width:0px" ><h:outputText value="Black Listed" /></div>

                                                                    <h:outputText value="Account #" />
                                                                    <p style="width: 5px" />
                                                                    <h:selectOneMenu  value="#{ReportSearchClient.searchfields.accountnumoperator}" valueChangeListener="#{ReportSearchClient.accountChange}"  >
                                                                        <p:ajax update=":form1:growl1,accountPanel_dis" />
                                                                        <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist2}" var="accountOp" itemLabel="#{accountOp}" itemValue="#{accountOp}" />
                                                                    </h:selectOneMenu>
                                                                    <p style="width: 10px" />
                                                                    <p:inputText  value="#{ReportSearchClient.searchfields.accountno}" rendered="#{ReportSearchClient.accountFlag}"/>
                                                                    <h:outputText />
                                                                </h:panelGrid>
                                                            </p:fieldset>
                                                        </div>
                                                    </td><td style="width: 50px"></td>
                                                    <td valign="top">
                                                        <p:fieldset id="transPanel_dis1" collapsed="true" legend="Trans. Details" toggleable="true"  style="width:480px; ">
                                                      
                                                            <h:panelGrid columns="8" id="sequ_dis" style="width: 410px"  >
                                                                <div >Network</div>
                                                                <p style="width:10px" />
                                                                <h:selectOneMenu disabled="#{ReportSearchClient.rejectedflagsearch}"  value="#{ReportSearchClient.searchfields.network}"  valueChangeListener="#{ReportSearchClient.viewcol}">
                                                                    <p:ajax update=":form1:growl1,currencyl_isCu,sortcollist,sequ_dis" /> 
                                                                    <f:selectItem  itemEscaped="false" itemLabel="---Standard---" itemValue="0" />
                                                                    <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.networklist}"   var="amountOp" itemLabel="#{amountOp.name}" itemValue="#{amountOp.id}" />
                                                                </h:selectOneMenu>
                                                                <p style="width: 10px" />
                                                                <div ><h:outputText value="#{ReportSearchClient.column1}" /></div>
                                                                <p style="width: 10px" />
                                                                <p:inputText  value="#{ReportSearchClient.searchfields.col1}"   />


                                                            </h:panelGrid>
                                                            <br style="line-height: 5px" />
                                                            <h:panelGrid columns="7" id="transPanel_dis"  style="line-height: 35px" >
                                                                <h:outputText value="Trans" />
                                                                <p style="width:10px" />
                                                                <h:selectOneMenu id="transPanel_discode"  disabled="#{ReportSearchClient.viewtrans}"  valueChangeListener="#{ReportSearchClient.transvalue}" value="#{ReportSearchClient.searchfields.typecodeid}" >
                                                                    <p:ajax update=":form1:growl1,transPanel_discode2" /> 
                                                                    <f:selectItem  itemEscaped="false" itemLabel="---Choose One---" itemValue="-1" />
                                                                    <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.transtypelist}" var="transtype" itemLabel="#{transtype.name}" itemValue="#{transtype.id}" />
                                                                </h:selectOneMenu>
                                                                <p style="width:10px" />
                                                                <h:outputText value="Trans Code" />
                                                                <p style="width:30px" />
                                                                <p:inputText id="transPanel_discode2" disabled="#{ReportSearchClient.viewtranscode}"   value="#{ReportSearchClient.searchfields.typecodename}"> 
                                                                    <p:ajax event="keyup" update=":form1:growl1,transPanel_discode" listener="#{ReportSearchClient.transvaluecode}" />
                                                                </p:inputText>
                                                            </h:panelGrid>
                                                            <br style="line-height: 5px" />

                                                            <h:panelGrid columns="7" id="bankPanel_dis"  style="line-height: 35px" >

                                                                <h:outputText value="Issuer Bank" />
                                                                <p style="width:10px" />
                                                                <h:selectOneMenu  disabled="#{ReportSearchClient.rejectedflagsearch}"   value="#{ReportSearchClient.searchfields.bank}" >
                                                                    <p:ajax update=":form1:growl1,bankPanel_dis" /> 
                                                                    <f:selectItem  itemEscaped="false" itemLabel="---Choose One---" itemValue="0" />
                                                                    <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.banknames}" var="transtype" itemLabel="#{transtype.bankname}" itemValue="#{transtype.id}" />
                                                                </h:selectOneMenu>
                                                                <p style="width: 10px" />
                                                                <div ><h:outputText value="#{ReportSearchClient.column4}" /></div>
                                                                <p style="width: 10px" />
                                                                <h:selectOneMenu  disabled="#{ReportSearchClient.rejectedflagsearch}"   value="#{ReportSearchClient.searchfields.col4}" >
                                                                    <p:ajax update=":form1:growl1,bankPanel_dis" /> 
                                                                    <f:selectItem itemEscaped="false"  itemLabel="---Choose One---" itemValue="0" />
                                                                    <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.col4names}" var="trans" itemLabel="#{trans.name}" itemValue="#{trans.id}" />
                                                                </h:selectOneMenu>
                                                            </h:panelGrid>
                                                            <br style="line-height: 5px" />
                                                            <h:panelGrid columns="9" id="rspcodePanel_disCu"   >
                                                                <div style="width:75px">Response Code</div>
                                                                <p style="width: 10px" />
                                                                <h:selectOneMenu  value="#{ReportSearchClient.searchfields.responcecodenameoperator}">
                                                                    <f:selectItems itemLabelEscaped="false" value="#{ReportSearchClient.searchoperatorlist3}" var="responsecodenameOp" itemLabel="#{responsecodenameOp}" itemValue="#{responsecodenameOp}" />
                                                                </h:selectOneMenu>
                                                                <p style="width:5px" />
                                                                <p:inputText  value="#{ReportSearchClient.searchfields.responcecodename}"/>
                                                            </h:panelGrid>
                                                            <br style="line-height: 5px" />
                                                            <h:panelGrid columns="9" id="sequence_dis"   >
                                                                <div style="width:75px">Trace</div>
                                                                <p style="width: 10px" />
                                                                <h:selectOneMenu  value="#{ReportSearchClient.searchfields.seqoperator}" valueChangeListener="#{ReportSearchClient.seqOpChange}" >
                                                                    <p:ajax update=":form1:growl1,sequence_dis" />
                                                                    <f:selectItems itemLabelEscaped="false"  value="#{ReportSearchClient.searchoperatorlist1}"   var="amountOp" itemLabel="#{amountOp}" itemValue="#{amountOp}" />
                                                                </h:selectOneMenu>
                                                                <p style="width: 5px" />
                                                                <p:inputText  value="#{ReportSearchClient.searchfields.seqfrom}"   />
                                                                <p style="width: 5px" />

                                                                <h:outputText value="to" rendered="#{ReportSearchClient.seqtoshow}" />
                                                                <p style="width: 5px" />
                                                                <h:outputText  rendered="#{ReportSearchClient.seqtoshow}"   />
                                                                <p:inputText   value="#{ReportSearchClient.searchfields.seqto}"  rendered="#{ReportSearchClient.seqtoshow}" />
                                                            </h:panelGrid>      
                                                            <br style="line-height: 5px" />
                                                            <h:panelGrid columns="9" id="filepannel"   >
                                                                <div style="width:75px">File Name</div>
                                                                <p style="width: 10px" />
                                                                <p:autoComplete id="acMaxResults"  maxResults="5" value="#{ReportSearchClient.searchfields.filename}" completeMethod="#{ReportSearchClient.completeText}" />
                                                                <p style="width:10px" />
                                                                <h:outputText value="Card Suffix" />
                                                                <p style="width:30px" />
                                                                <p:inputText disabled="#{ReportSearchClient.rejectedflagsearch}" value="#{ReportSearchClient.searchfields.cardnumsuffix}"/> 
                                                            </h:panelGrid>
                                                            <br style="line-height: 5px" />
                                                            <h:panelGrid columns="3" id="filepannelsdf"   >
                                                                <div style="width:75px">ATM ID</div>
                                                                <p style="width: 10px" />
                                                                <p:autoComplete id="acMaxResultsbhbjh"  maxResults="5" value="#{ReportSearchClient.searchfields.terminal}" completeMethod="#{ReportSearchClient.completeTextatm}" />
                                                           </h:panelGrid>

                                                        </p:fieldset>
                                                        <br style="line-height: 12px" />
                                                        <p:fieldset id="transxx_camount" collapsed="true" legend="Fields" toggleable="true"  style="width:480px; ">
                                                            <h:panelGrid columns="8" id="currencyl_isCu"  style="width:410px" >
                                                                <h:outputLabel for="menu" value="Fields Selection:" />
                                                                <p:scrollPanel mode="native" style="height: 100px" >                                                                
                                                                    <p:selectManyCheckbox style="width: 200px" layout="pageDirection" id="menu" value="#{ReportSearchClient.selectedCol}" label="Cities"  >
                                                                        <f:selectItems itemLabelEscaped="false"    value="#{ReportSearchClient.columnslist}" var="page" itemLabel="#{page.name}" itemValue="#{page.columnname}"/>
                                                                        <p:ajax update=":form1:growl1,sortcollist" listener="#{ReportSearchClient.genaratecol}" /> 
                                                                    </p:selectManyCheckbox>
                                                                </p:scrollPanel>
                                                            </h:panelGrid>
                                                            <br style="line-height: 5px" />
                                                            <h:panelGrid columns="8" id="currencyPanel_isCu"  style="width:410px" >
                                                                <div style="width:70px">Sort By</div>
                                                                <p style="width:10px" />
                                                                <h:selectOneMenu id="sortcollist" value="#{ReportSearchClient.searchfields.sortby}" >
                                                                    <f:selectItem itemEscaped="false"  itemLabel="---Choose One---" itemValue="0" />
                                                                    <f:selectItems  itemLabelEscaped="false" value="#{ReportSearchClient.sortcolumnslist}" var="currency" itemLabel="#{currency.name}" itemValue="#{currency.columnname}" />
                                                                </h:selectOneMenu>

                                                                <div style="width:60px">Order By</div>
                                                                <p style="width:10px" />
                                                                <h:selectOneMenu value="#{ReportSearchClient.searchfields.sorttype}" >
                                                                    <f:selectItem itemEscaped="false" itemValue="ASC" itemLabel="ASC" />
                                                                    <f:selectItem  itemEscaped="false" itemValue="DESC" itemLabel="DSC" />
                                                                </h:selectOneMenu>


                                                            </h:panelGrid>



                                                        </p:fieldset>        
                                                        <br style="line-height: 12px" />


                                                    </td>
                                                </tr>

                                            </table>
                                            <div align="left" style="padding:10px 0px 0 0; margin: 0 -18px 0 0 ; width: 1120px">
                                                <h:panelGrid columns="4">



                                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                                        <f:facet name="start">
                                                            <h:graphicImage value="images/ajaxloading.gif" />
                                                        </f:facet>
                                                        <f:facet name="complete">
                                                            <h:outputText value="" />
                                                        </f:facet>
                                                    </p:ajaxStatus>

                                                    <p:commandButton value="Search"  id="srchBTN"
                                                                     actionListener="#{ReportSearchClient.doSearch}" update=":form1:growl1,:form1:transTable,:form1:tabs, :form1:buttons,:form1:growl1 "/>





                                                    <h:inputHidden value="#{ReportSearchClient.noResult}" id="result" />
                                                </h:panelGrid>
                                            </div>
                                        </div>

                                    </p:tab>
                                </p:accordionPanel>
                            </div>
                            <br />

                        </h:panelGroup>
                        <br />
                    </td></tr>
                <tr>
                    <td>
                        <p:tabView   id="tabs" style="border:0px; height: 40px;width:1240px; margin:0 0 20px 0" value="#{ReportSearchClient.selectedpage}" widgetVar="tabWidget">
                            <p:tab title="#{ReportSearchClient.dispheader}"  rendered="#{ReportSearchClient.dispTabRej}"   id="dtab"   >
                            </p:tab>
                        </p:tabView>

                        <h:panelGroup id="buttons" >
                            <div style="width:1240px;" >
                                <p:growl id="growl1"  autoUpdate="true" />
                                <div  style="float:left; margin:-25px 0 0 0">
                                    <p:commandButton value="Search By"  onclick="transVar.clearSelection();
                                            transVar.getPaginator().setPage(0)" actionListener="#{ReportSearchClient.save}" id="collapseExpandB" update=":form1:growl1,:form1:transTable,buttons,:form1:contenttab:searchIn" rendered="#{ReportSearchClient.searchby}" style="width:74px; height: 27px" >
                                    </p:commandButton>
                                    <h:outputText value="#{ReportSearchClient.amount}"   rendered="#{ReportSearchClient.buttonsflag}"></h:outputText>


                                    <p:commandButton  actionListener="#{ReportSearchClient.selectAllRows}" value="Select All" id="select"  update=":form1:growl1,:form1:transTable,buttons,:form1:growl1" rendered="#{ReportSearchClient.selectFlag}"/>
                                    <p:commandButton value="Deselect all records" id="deselectBtn2" actionListener="#{ReportSearchClient.selectFlagsChange}"  onclick="transVar.clearSelection();"  update=":form1:growl1,transTable,buttons" rendered="#{ReportSearchClient.deselectFlag}" />
                                </div>
                                <div  style="float:right;margin:-25px 0 0 0">

                                    <p:commandButton id="printreport" value="Export PDF" ajax="false" actionListener="#{ReportSearchClient.printreport}" update="transTable,:form1:growl1,:form1:growl1,:form1:transTable">
                                        <p:fileDownload value="#{ReportSearchClient.download}" />
                                    </p:commandButton>
                                    <p:commandButton id="downloadLink" value="Export Excel" ajax="false" actionListener="#{ReportSearchClient.exportexcel}" update="transTable,:form1:growl1,:form1:growl1,:form1:transTable">
                                        <p:fileDownload value="#{ReportSearchClient.download}" />
                                    </p:commandButton>
                                </div>
                            </div>
                        </h:panelGroup>


                        <br />


                        <p:dialog header="Transaction Details" widgetVar="details_trans"  resizable="true" closable="true" modal="true" width="900">
                            <br />

                            <div style="float:right">
                                <h:commandLink actionListener="#{ReportSearchClient.printTransactionOnly}" target="blank">
                                    <p:graphicImage url="images/icons/printer.png" title="Print All" />
                                </h:commandLink>
                            </div>
                        </p:dialog>

                        <p:dataTable sortOrder="ascending" rowStyleClass="#{transColumns.blacklisted == 1 ? 'old' : null}"  widgetVar="transVar"  paginator="true" rows="14" 
                                     rowKey="#{transColumns.rownum}" value="#{ReportSearchClient.allSearchRecords}" var="transColumns" id="transTable"  
                                     selection="#{ReportSearchClient.selectedrows}"  >
                            <f:facet name="header"  >
                                <div style="margin:0px 0 0 0">
                                    <h:outputText value="#{ReportSearchClient.panelHeader}"/><br/><br/>
                                    <h:outputText value="#{ReportSearchClient.searchcriteria}"/>

                                </div>

                            </f:facet>


                            <p:column selectionMode="multiple" />
                            <p:column id="comCol" headerText="Cmnt" style="width:15px" rendered="#{ReportSearchClient.disputefalg}">
                                <p:tooltip for="comBut_dis"  value="#{transColumns.comments}" />
                                <p:commandLink    oncomplete="commentDlg.show()" update=":form1:growl1,:form1:commentTextArea,transTable" actionListener="#{ReportSearchClient.findComment}"  id="comBut_dis"  ><p:graphicImage url="#{transColumns.comments == null ? 'images/icons/2.png':'images/icons/1.png'}"   />
                                    <f:attribute name="commentAttr" value="#{transColumns}"/>
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="Reason" rendered="#{ReportSearchClient.rejectedflag}">
                                <h:outputText value="#{transColumns.disputereason}" />
                            </p:column>
                            <p:column headerText="Side"  style="width:20px" rendered="#{ReportSearchClient.commonflag}">
                                <table cellpadding="0"  cellspacing="0" style="width:20px">
                                    <tr>
                                        <td>
                                            <h:commandLink   id="dis_side"  actionListener="#{ReportSearchClient.showOtherSide}"  disabled="#{ReportSearchClient.nootherside}"  style="margin: 0 0 0 0px" rendered="#{ReportSearchClient.commonflag}">
                                                <h:graphicImage url="images/icons/arrow.png" />
                                                <f:attribute name="otherSide"  value="#{transColumns}"/>
                                                <p:ajax update=":form1:growl1,transTable,otherSide_dis" />
                                            </h:commandLink>
                                        </td>
                                    </tr>
                                </table>

                                <p:tooltip for="dis_side"  value="#{transColumns.disputereason}" />
                                <p:overlayPanel   for="dis_side" my="right top" at="right bottom"   >
                                    <p:dataTable  id="otherSide_dis" rows="1"  var="os_dis" value="#{ReportSearchClient.othersideDTO}" style="margin: 0 -11px 0 -11px" >
                                        <f:facet name="header"  >
                                            <h:outputText value="#{ReportSearchClient.othersideheader}"/><br/>
                                        </f:facet>
                                        <p:column/>
                                        <p:column headerText="Cmnt" rendered="#{ReportSearchClient.disputefalg}">
                                            <p:commandLink   oncomplete="commentDlg.show()"  id="comBut" update=":form1:growl1,:form1:commentTextArea,otherSide_dis"  actionListener="#{ReportSearchClient.findCommentotherside}"><p:graphicImage url="#{os_dis.comments == null ? 'images/icons/2.png':'images/icons/1.png'}"    />
                                                <f:attribute name="commentAttrother" value="#{os_dis}"/>
                                            </p:commandLink>
                                            <p:tooltip for="comBut" id="commentSide"  value="#{os_dis.comments}"/>
                                        </p:column>




                                        <p:column headerText="Side" rendered="#{ReportSearchClient.commonflag}">
                                            <h:outputText  id="dis_side1" value="#{ReportSearchClient.othersideheader}"  style="height: 20px" >
                                                <f:attribute name="otherOther_dis"  value="#{os_dis}"/>
                                            </h:outputText>
                                            <p:tooltip for="dis_side1"  value="#{os_dis.disputereason}"/>

                                        </p:column>




                                        <p:column headerText="Stld" rendered="#{ReportSearchClient.disputefalg}">
                                            <p:graphicImage id="setIcon" url="#{os_dis.settledflag == 1 ? 'images/icons/setteled.gif':'images/icons/unsetteled.gif'}"   />
                                        </p:column>
                                        <p:columns columnIndexVar="colIndex1_dis" var="column1_dis"   value="#{ReportSearchClient.selectedColoumns}">
                                            <f:facet name="header">
                                                #{column1_dis.name}
                                            </f:facet>
                                            #{os_dis[column1_dis.columnvariable]}
                                        </p:columns>

                                    </p:dataTable>
                                </p:overlayPanel>
                            </p:column>
                            <p:column headerText="Stld" rendered="#{ReportSearchClient.disputefalg}">
                                <p:graphicImage id="setIcon" url="#{transColumns.settledflag == 1 ? 'images/icons/setteled.gif':'images/icons/unsetteled.gif'}"   />
                            </p:column>
                            <p:columns  columnIndexVar="deVar" value="#{ReportSearchClient.selectedColoumns}" var="deColumns">
                                <f:facet name="header">
                                    #{deColumns.name}
                                </f:facet>
                                #{transColumns[deColumns.columnvariable]}
                            </p:columns>

                        </p:dataTable>
                    </td></tr>
            </table>


            <h:panelGrid columns="3" id="totals"></h:panelGrid>
            <p:dialog  id="comdlg"   styleClass="commentClass" onShow="document.getElementById('form1:refreshText').click();" widgetVar="commentDlg" closable="true" resizable="false" draggable="false"  >
                <h:panelGrid columns="3" id="commentForm" >
                    <h:outputText value="Comment" />
                    <p style="width:10px" />
                    <h:inputTextarea  value="#{ReportSearchClient.transcomment}" id="commentTextArea" style="height: 80px; width: 220px"/>
                </h:panelGrid>
                <div style="float:right; margin: 10px 0 0 0">
                    <p:commandButton value="Save" update=":form1:growl1,:form1:transTable"   oncomplete="commentDlg.hide()" actionListener="#{ReportSearchClient.updateComment}" >
                    </p:commandButton>
                    <h:outputText value="#{ReportSearchClient.commentMessage}" />
                    <p:commandButton value="refresh" id="refreshText"  style="display:none"   update=":form1:growl1,commentTextArea" >
                        <f:ajax render="commentTextArea" />
                    </p:commandButton>
                </div>
            </p:dialog>


        </h:form>

    </h:body>
</html>

