<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Columns Setup</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     
        <style>
            label{
                width:10px;
                text-align: left;
                border: none;
                font-size: 12px
            }

            #rd table td{
                border: none;
            }
        </style>
    </h:head>

    <h:body style="background: none" >
        <h:form id="form1">

<p:growl id="growl1"  autoUpdate="true" />
            <div style="width: 100%">

                <h:outputLabel for="menu" value="Location:" />
                <p:selectManyCheckbox layout="pageDirection" id="menu" value="#{test.selectedCities}" label="Cities"  >

                    <f:selectItem  itemLabel="Please Select City" itemValue="0" />
                    <f:selectItems    value="#{test.cities}" var="page" itemLabel="#{page}" itemValue="#{page}"/>

                </p:selectManyCheckbox>
                <p:commandLink value="Submit" update=":form1:growl1,display" />

            </div>
            <p:dialog header="Selected Values" modal="true" showEffect="fade" hideEffect="fade" widgetVar="dlg">  
                <p:outputPanel id="display">  
                    <li class="parent"> 
                        <a href="#"  >Settings</a> 
                        <ul class="sub-menu"> 
                            <li><a class="parent" href="#"><i class="icon-file-alt"></i> Log</a> 
                                <ul class="sub-menu">
                                    <li><a href="#" onClick="handleIFRAME('ATMFileLog.xhtml');">File Loading Log</a></li>
                                    <li><a href="#" onClick="handleIFRAME('SettelmentLog.xhtml');">Settellment Log</a></li>
                                    <li><a href="#" onClick="handleIFRAME('BingoLog.xhtml');">System Log</a></li>
                                </ul>
                            </li>
                            <li><a href="#"  ><i class="icon-wrench"></i> System Setup</a></li> 
                            <li><a class="parent" href="#"><i class="icon-file-alt"></i> Password</a> <ul class="sub-menu"><li><a href="#" onClick="handleIFRAME('ChangePassword.xhtml');">Change Pass</a></li><li><a href="#" onClick="handleIFRAME('PasswordExpire.xhtml');">Pass Expire</a></li><li><a href="#" onClick="handleIFRAME('ResetPassword.xhtml');">Reset Pass</a></li></ul></li><li><a href="#"  ><i class="icon-wrench"></i> System Settings</a></li> <li><a class="parent" href="#"><i class="icon-file-alt"></i> User Settings</a> <ul class="sub-menu"><li><a href="#" onClick="handleIFRAME('AssignProfile.xhtml');">User Profile</a></li><li><a href="#"  >Block </a></li><li><a href="#" onClick="handleIFRAME('Users.xhtml');">User Mang</a></li><li><a href="#" onClick="handleIFRAME('Privilage.xhtml');">User Privileges</a></li></ul></li></ul></li><li><a href="#" onClick="handleIFRAME('Transaction.xhtml');">Transactions</a></li><li><a href="#" onClick="handleIFRAME('matchingerrordata.xhtml');">Macthes</a></li><li><a href="#" onClick="handleIFRAME('JobMonitor.xhtml');">Loading Monitor</a></li> <li class="parent"> <a href="#"  >Reports</a> <ul class="sub-menu"> <li><a class="parent" href="#"><i class="icon-file-alt"></i> Diff Amount</a> <ul class="sub-menu"></ul></li></ul></li>
                </p:outputPanel>  
            </p:dialog>  



        </h:form>
    </h:body>
</html>

