<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Block Users</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
      

        <style>
            textarea{
                resize:none;
            }
        </style>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="" >
                <div align="center">
                    <div align="left" style="width:795px">
                        <h:panelGrid columns="3">
                            <h:outputText value="Total Records: " />
                            <p style="width:10px" />
                            <h:outputText value="#{TransactionStatusClient.listSize}" />
                        </h:panelGrid>
                    </div>
                    <br style="line-height: 3px" />
                    <p:dataTable id="columnDef" value="#{TransactionStatusClient.transDefList}" paginator="true" rows="10" var="ms" style="width:800px">
                        <f:facet name="header">
                            <h:outputText value="ATM Errors"/>
                        </f:facet>
                        <p:column headerText="*Name" style="width:300px">
                            <h:inputText value="#{ms.name}" />
                        </p:column>

                        <p:column headerText="Description" style="width:450px">
                            <h:inputTextarea value="#{ms.description}" style="height: 70px" rows="6" />
                        </p:column>

                        <p:column headerText="Action" style="width:100px">
                            <p:commandLink   onclick="confirmation.show()"  actionListener="#{TransactionStatusClient.fillDelete}"  update=":form1:growl1,display"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                <f:attribute name="removedRow" value="#{ms}"/>

                            </p:commandLink> &nbsp;
                            <p:commandLink  actionListener="#{TransactionStatusClient.fillUpdate}" onclick="confirmation1.show();"  update=":form1:growl1,display" ><h:graphicImage url="images/icons/pencil.png" title="update" />
                                <f:attribute name="updateRow" value="#{ms}" /></p:commandLink>


                        </p:column>

                        <f:facet name="footer">
                            <div align="center" style="height: 20px" >
                             
                                <div style="float: right">
                                    <p:commandLink actionListener="#{TransactionStatusClient.addTransaction}"    update=":form1:growl1,columnDef"   ><h:graphicImage url="images/icons/newmessage.png" title="add new row"  rendered="#{TransactionStatusClient.showAdd}" /></p:commandLink>
                                    <p:commandLink actionListener="#{TransactionStatusClient.confirmTransaction}"  update=":form1:growl1,columnDef" ><h:graphicImage url="images/icons/success.png" title="please confirm"  rendered="#{TransactionStatusClient.showConfirm}"/></p:commandLink>
                                </div>
                            </div>
                        </f:facet>

                    </p:dataTable><br/>
                </div>
                <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                    <p:commandButton value="Yes" onclick="confirmation.hide()"
                                     actionListener="#{TransactionStatusClient.deleteRecord}" update=":form1:growl1,columnDef" />
                    <p:commandButton value="No" onclick="confirmation.hide()" update=":form1:growl1,columnDef" />
                </p:confirmDialog>

                <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                    <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                     actionListener="#{TransactionStatusClient.updateRecord}" update=":form1:growl1,columnDef" />
                    <p:commandButton value="No" onclick="confirmation1.hide()" update=":form1:growl1,columnDef" />
                </p:confirmDialog>
            </p:panel>



        </h:form>

    </h:body>
</html>