<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />

        <script>
            function resetDialog() {
                document.getElementById("form1:ename").value = "";
                document.getElementById("form1:aname").value = "";
                document.getElementById("form1:uname").value = "";
                document.getElementById("form1:disputeb").value = false;
                document.getElementById("form1:holidayb").value = false;
                document.getElementById("form1:emrholidayb").value = false;
                document.getElementById("form1:newatmb").value = false;
                document.getElementById('form1:shifts').getElementsByTagName('option')[8].selected = 'selected';
            }
        </script>
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <table style="width:100%"><tr><td>
                        <p:panel header="User Management" >

                            <h:panelGrid columns="3">
                                <h:outputText value="Total Records: " />
                                <p style="width:10px" />
                                <h:outputText value="#{SystemUsersClient.listSize}" />
                            </h:panelGrid>
                            <br style="line-height: 3px" />
                            <p:dataTable id="blockReason" value="#{SystemUsersClient.brList}" var="ms" paginator="true" rows="9">
                                <f:facet name="header">
                                    <h:outputText value="Users Management"/>
                                </f:facet>
                                <p:column headerText="English Name">
                                    <h:inputText value="#{ms.username}" style="text-align: center"  />
                                </p:column>
                                <p:column headerText="Username">
                                    <h:inputText value="#{ms.logonname}" style="text-align: center"  />
                                </p:column>

                                <p:column headerText="Profile">
                                    <h:outputText value="#{ms.profilename}" style="text-align: center"  />
                                </p:column>
                                <p:column headerText="Trans Correcrive"  >
                                    <h:selectBooleanCheckbox value="#{ms.showcorrectineentryB}"  />
                                </p:column>
                                <p:column headerText="Trans Export"  >
                                    <h:selectBooleanCheckbox value="#{ms.showexportB}"  />
                                </p:column>


                                <p:column headerText="User State"  id="radioTD" style="width:250px" >

                                    <h:selectOneRadio value="#{ms.lockedstate}"  >
                                        <f:selectItem id="cc"  itemLabel="Lock" itemValue="5"  />
                                        <f:selectItem id="cccc" itemLabel="Unlock" itemValue="1" />
                                    </h:selectOneRadio>

                                </p:column>   






                                <p:column headerText="Action" >
                                    <div align="center">
                                        <p:commandLink   onclick="confirmation.show()"  actionListener="#{SystemUsersClient.fillDel}"  update=":form1:growl1"  ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                                            <f:attribute name="removedRow" value="#{ms}"/>

                                        </p:commandLink>

                                    </div>
                                </p:column>

                                <f:facet name="footer">

                                    <div align="center" style="height: 20px" >

                                        <div style="float: right" >
                                            <p:commandLink  actionListener="#{SystemUsersClient.saveAll}" update=":form1:growl1" ><h:graphicImage url="images/icons/pencil.png" title="Save Page" />
                                            </p:commandLink>
                                            <p:commandLink   oncomplete ="insertDlg.show()"  ><h:graphicImage url="images/icons/newmessage.png" title="add"/></p:commandLink>
                                        </div>
                                    </div>
                                </f:facet>
                            </p:dataTable>


                            <p:dialog widgetVar="insertDlg"  id="insertDlgId"   rendered="true" draggable="false" resizable="false" modal="true" header="Add new user">
                                <h:panelGrid columns="3" style="line-height: 30px" id="data">
                                    <h:outputText value="*English Name" />
                                    <p style="width:10px" />
                                    <h:inputText value="#{SystemUsersClient.eName}" id="ename" />

                                    <h:outputText value="*User Name" />
                                    <p style="width:10px" />
                                    <h:inputText value="#{SystemUsersClient.uName}" id="uname"/>

                                    <h:outputText value="*Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{SystemUsersClient.password}" id="password"/>

                                    <h:outputText value="*Confirm Password" />
                                    <p style="width:10px" />
                                    <h:inputSecret value="#{SystemUsersClient.confirmPassword}"  />
                                    <h:outputText value="Profile" />
                                    <p style="width:10px" />
                                    <h:selectOneMenu value="#{SystemUsersClient.profileInt}" style="text-align: left; width:100px"  >
                                        <f:selectItems var="c" value="#{SystemUsersClient.profileList}" itemLabel="#{c.profilename}" itemValue="#{c.profileid}" />
                                    </h:selectOneMenu>

                                </h:panelGrid>
                                <h:panelGrid columns="2"  style="line-height: 20px; margin-left: 93px" id="data1">




                                </h:panelGrid>

                                <div  style="margin: 10px 0; color: red; font-weight: bold; float: left">
                                    <h:outputText  id="msg"/>
                                </div>
                                <div style="float:right">
                                    <p:commandButton update=":form1:growl1,blockReason,msg,insertDlgId" oncomplete="insertDlg.hide()" value="Confirm" actionListener="#{SystemUsersClient.confirmInsert}" />
                                </div>

                            </p:dialog>
                            <p:confirmDialog widgetVar="confirmation" message="Are you sure you want to delete?" id="confirmation">
                                <p:commandButton value="Yes" onclick="confirmation.hide()"
                                                 actionListener="#{SystemUsersClient.deleteBlockReason}" update=":form1:growl1,blockReason" />
                                <p:commandButton value="No"  onclick="confirmation.hide()" update=":form1:growl1,blockReason" />
                            </p:confirmDialog>

                            <p:confirmDialog widgetVar="confirmation1" message="Are you sure you want to update?" id="confirmation1" >
                                <p:commandButton value="Yes" onclick="confirmation1.hide()"
                                                 actionListener="#{SystemUsersClient.updateBlockReason}" update=":form1:growl1,blockReason" />
                                <p:commandButton value="No" onclick="confirmation1.hide()" update=":form1:growl1,blockReason" />


                            </p:confirmDialog>
                            <div align="right">
                                <h:panelGrid columns="2">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                        <f:facet name="start">
                                            <h:graphicImage value="images/ajaxloading.gif" />
                                        </f:facet>
                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                </h:panelGrid>
                            </div>
                        </p:panel>
                    </td></tr></table>


        </h:form>

    </h:body>
</html>