<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>User Activity</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
     





        <style>
            .chart{

                height: 300px;
                font-size: 16px;
            }

            .jqplot-grid-canvas{
                min-width: 100px
            }
            
        </style>

    </h:head>
    <h:body style="background: none" >

        <h:form id="form1" prependId="false">
            <p:growl id="growl1"  autoUpdate="true" />
            <br />
            <p:barChart id="barChart"  value="#{UserActivityClient.dispModel}" xaxisAngle="90" legendPosition="ne"  seriesColors="BD2626"
                        title="Pending" style="height:350px; min-width: 100px "    >
                <p:ajax event="itemSelect" listener="#{UserActivityClient.itemSelect}" update=":form1:growl1"  />
            </p:barChart>
            <br /><br />
            <p:barChart id="barChart1" value="#{UserActivityClient.settModel}" xaxisAngle="90" legendPosition="ne" 
                        title="Setteled" style="height:350px;"     >
                <p:ajax event="itemSelect" listener="#{UserActivityClient.itemSelect}" update=":form1:growl1"   />
            </p:barChart>
<br />
        </h:form>

    </h:body>
</html>

