 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Validation Rules</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />
        
    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:panel header="Validation Rules" id="dispRules_val" rendered="True" >
                <p:growl id="growl1"  autoUpdate="true" />
                <br/>
                <div style="float: right; margin: -10px 0px 0 0">
                    <p:commandButton oncomplete="addDlg_val.show()"  value="Add Formula"   actionListener="#{ValidationRulesClient.addPopup}" update=":form1:growl1,formulaD,folmDLG_val,operationValue_val,valueL,addButton"/>

                </div>
                <br/><br/>
                <p:dataTable id="Rules_val" value="#{ValidationRulesClient.vrList}" var="ms_val" paginator="true" rows="10">
                    <p:column headerText="Column Name" >
                        <h:outputText value="#{ms_val.columnname}"   style="text-align: center"  />
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{ms_val.name}"   style="text-align: center"  />
                    </p:column>
                    <p:column headerText="Formula">
                        <h:outputText value="#{ms_val.formula}"  style="text-align: left; width: 300px"   />
                    </p:column>
                    <p:column headerText="Type">
                        <h:outputText value="Network" rendered="#{ms_val.valdationtype == 1 ? 'true' : 'false' }" />
                        <h:outputText value="Switch" rendered="#{ms_val.valdationtype == 2 ? 'true' : 'false' }" />
                        <h:outputText value="Host" rendered="#{ms_val.valdationtype == 3 ? 'true' : 'false'  }" />
                    </p:column>
                    <p:column headerText="Status">
                        <h:selectBooleanCheckbox value="#{ms_val.activeB}" />
                    </p:column>
                    <p:column headerText="Action">
                        <p:commandLink   onclick="confirmation_val.show()"  actionListener="#{ValidationRulesClient.fillDelete}"    ><p:graphicImage url="images/icons/cross.png" title="delete"  />
                            <f:attribute name="removedRow" value="#{ms_val}"/>
                        </p:commandLink> &nbsp;
                    </p:column>
                    <f:facet name="footer">
                        <div align="center"  style="height: 20px">
                            <div   style="float:right; margin: 0px 0 0">
                                <p:commandLink title="Save Page" actionListener="#{ValidationRulesClient.SaveChangesValidation}" update=":form1:growl1,:form1:growl1">
                                    <h:panelGrid columns="4" >
                                        <p:graphicImage url="images/icons/pencil.png"   />
                                        <div style="color:black; margin-left: -10px">Save Page</div>
                                    </h:panelGrid>
                                </p:commandLink>
                            </div>
                        </div>
                    </f:facet>
                </p:dataTable> <br/><br/><br/><br/>
                  <p:dialog modal="true" position="" header="Add new formula" closable="true" draggable="true" resizable="false" id="formulaD" widgetVar="addDlg_val" width="600" >
                    <h:panelGrid columns="3" >
                        <h:outputText value="Column Name" />
                        <p style="width:35px" />
                        <h:selectOneMenu value="#{ValidationRulesClient.fcdInt}"  valueChangeListener="#{ValidationRulesClient.valueEffect}"    >
                            <p:ajax update=":form1:growl1,folmDLG_val,operationValue_val,valueL,addButton" />
                            <f:selectItems value="#{ValidationRulesClient.fcdList}" var="c_val" itemLabel="#{c_val.name}" itemValue="#{c_val.id}" />
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <br /><br />
                    <h:panelGrid columns="11" id="first_val">
                        <h:outputText value="* Name" />
                        <p style="width:63px" />
                        <h:inputText value="#{ValidationRulesClient.formulaName}"/>

                        <p style="width:90px" />

                        <h:outputText value="Side" />
                        <p style="width:5px" />
                        <h:selectOneMenu value="#{ValidationRulesClient.addType}">
                            <f:selectItem itemLabel="Network"  itemValue="1"/>
                            <f:selectItem itemLabel="Switch"  itemValue="2"/>
                            <f:selectItem itemLabel="Host"  itemValue="3"/>
                        </h:selectOneMenu>

                        <p style="width:30px" />
                        <h:selectBooleanCheckbox value="#{ValidationRulesClient.activeBool}" />
                        <p style="width:2px" />
                        <h:outputText value="Active" />


                    </h:panelGrid>
                    <br />
                    <h:panelGrid columns="9" id="folmDLG_val" style="line-height: 30px" >
                        <h:outputText value="#{ValidationRulesClient.columnNam}" />
                        <p style="width:10px" />
                        <h:selectOneMenu  value="#{ValidationRulesClient.operationStr}" valueChangeListener="#{ValidationRulesClient.operationChange}"  id="operationValue_val">
                            <p:ajax update=":form1:growl1,folmDLG_val" />
                            <f:selectItems value="#{ValidationRulesClient.operationValues}" var="c_val" itemLabel="#{c_val}" itemValue="#{c_val}" />
                        </h:selectOneMenu>
                        <p style="width:10px" />

                        <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{ValidationRulesClient.firstTextDate}" rendered="#{ValidationRulesClient.dateSelected}"/>
                        <p style="width:10px" />
                        <h:outputText value="#{ValidationRulesClient.andValue}" rendered="#{ValidationRulesClient.betweenDate}" />
                        <p style="width:10px" />
                        <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{ValidationRulesClient.secondValueDate}" rendered="#{ValidationRulesClient.betweenDate}" />

                        <h:inputText value="#{ValidationRulesClient.firstText}" rendered="#{ValidationRulesClient.nullOperation}"/>
                        <p style="width:10px" />
                        <h:outputText value="#{ValidationRulesClient.andValue}" rendered="#{ValidationRulesClient.betweenFlag}" />
                        <p style="width:10px" />
                        <h:inputText value="#{ValidationRulesClient.secondValue}" rendered="#{ValidationRulesClient.betweenFlag}" />

                        <h:selectManyListbox value="#{ValidationRulesClient.valuesList}" id="valueL" rendered="#{ValidationRulesClient.pickBool}" size="6">
                            <f:selectItems value="#{ValidationRulesClient.columnValues}" itemValue="#{ms.id}" itemLabel="#{ms.name}" var="ms" />
                        </h:selectManyListbox>
                    </h:panelGrid>
                    <div align="right">
                        <h:commandButton value="Add"  onclick="addDlg_val.hide()" actionListener="#{ValidationRulesClient.addRecord}" id="addButton" >
                            <p:ajax update=":form1:growl1,:form1:growl1" />
                        </h:commandButton>
                    </div>

                </p:dialog>

                <p:confirmDialog widgetVar="confirmation_val" message="Deleting this rule will affect the transaction results.
                                 Are you sure?" id="confirmation_val">
                    <div align="right">
                        <p:commandButton value="Yes" onclick="confirmation_val.hide()"
                                         actionListener="#{ValidationRulesClient.deleteRecord}" update=":form1:growl1,Rules_val, :form1:growl1" />
                        <p:commandButton value="No" onclick="confirmation_val.hide()" update=":form1:growl1,Rules_val" />
                    </div>
                </p:confirmDialog>
            </p:panel>
        </h:form>
    </h:body>
</html>