<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Matching Setting</title>

        <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/css3.css" />


    </h:head>
    <h:body style="background: none" >
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <p:panel header="">
                <p:dataTable id="mach_typ_dt" value="#{WorkingTimesClient.wtList}" var="ms1" >
                    <f:facet name="header">
                        <h:outputText value="Working times"/>
                    </f:facet>
                    <p:column headerText="Day"  style="width:350px">
                        <h:selectOneMenu value="#{ms1.dayNo}" disabled="true">
                            <f:selectItem itemLabel="Saturday" itemValue="7" />
                            <f:selectItem itemLabel="Sunday" itemValue="1" />
                            <f:selectItem itemLabel="Monday" itemValue="2" />
                            <f:selectItem itemLabel="Tuesday" itemValue="3" />
                            <f:selectItem itemLabel="Wednesday" itemValue="4" />
                            <f:selectItem itemLabel="Thursday" itemValue="5" />
                            <f:selectItem itemLabel="Friday" itemValue="6" />
                        </h:selectOneMenu>
                    </p:column>
                    <p:column headerText="From"  style="width:350px">
                        <p:calendar timeOnly="true" pattern="HH:mm:ss" value="#{ms1.startTime}" timeZone="#{MainClient.timeZone}"/>
                    </p:column>
                    <p:column headerText="To"  style="width:350px">
                        <p:calendar timeOnly="true" pattern="HH:mm:ss" value="#{ms1.endTime}" timeZone="#{MainClient.timeZone}"/>
                    </p:column>

                    <p:column headerText="All the day"  style="width:350px">
                        <p:commandButton value="Reset" actionListener="#{WorkingTimesClient.resetDates}" update=":form1:growl1,mach_typ_dt" >
                            <f:attribute name="updateRow" value="#{ms1}" />
                        </p:commandButton>
                    </p:column>

                    <p:column headerText="Working days"  style="width:350px">
                        <h:selectBooleanCheckbox value="#{ms1.workingB}"  />
                    </p:column>

                    <p:column id="opt" headerText="Action">
                        <p:commandLink  update=":form1:growl1,display3,mach_typ_dt" actionListener="#{WorkingTimesClient.fillUpdate}" onclick="confirmation2.show();"><h:graphicImage url="images/icons/pencil.png" title="update" />
                            <f:attribute name="updateRow1" value="#{ms1}" /></p:commandLink>

                    </p:column>

                    <f:facet name="footer">
                       
                    </f:facet>


                </p:dataTable><br/>

                <p:confirmDialog widgetVar="confirmation2" message="Are you sure you want to update?" id="confirmation2" >
                    <p:commandButton value="Yes" onclick="confirmation2.hide()"
                                     actionListener="#{WorkingTimesClient.updateRecord}" update=":form1:growl1,mach_typ_dt" />
                    <p:commandButton value="No" onclick="confirmation2.hide()" update=":form1:growl1,mach_typ_dt" />
                </p:confirmDialog>
            </p:panel>
            <!-- Confrim Dialogs -->


        </h:form>
    </h:body>
</html>

