<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Matched Data With Different Amount</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />



        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:ajaxStatus onstart="statusDialog.show();" oncomplete="statusDialog.hide();"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Loading..."  resizable="false" draggable="false" closable="false"> 
                <h:graphicImage value="images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel id="searchcre" header="Commisions And Fees" style=" width: 620px; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid columns="3" >
                                <h:outputText value="*Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field "/>

                                <h:outputText value="*Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date To Field "/>


                                <h:outputText value="Network ID" />
                                <p style="width: 40px" />

                                <h:selectOneMenu  value="#{BingoReportClient.network}"  >
                                    <f:selectItem  itemLabel="---Standard---" itemValue="0" />
                                    <f:selectItems  value="#{BingoReportClient.networklist}"   var="amountOp" itemLabel="#{amountOp.name}" itemValue="#{amountOp.id}" />
                                </h:selectOneMenu>

                                <h:outputText value="Ban"  />
                                <p style="width: 40px" />
                                <p:inputText id="acMaxResults" value="#{BingoReportClient.pin}"/>

                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <h:outputText value="Show Ban"  />
                                    <h:selectBooleanCheckbox id="bl_dis"  value="#{BingoReportClient.showpin}" />
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printCommFeeexcel}"  id="printBtn" update=":form1:results,:form1:growl1,:form1:searchcre"/>
                                </h:panelGrid>
                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results" fileName="XLSDifferentAmount" />  
                                </h:commandLink>
                                <h:commandLink id="printreport"  type="submit"   actionListener="#{BingoReportClient.printCommFee}" >
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="CSVDifferentAmount" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="XMLDifferentAmount" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" style="width:600px;" value="#{BingoReportClient.printcommfeeresult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Network ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.network}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText rendered="#{BingoReportClient.showpin}" value="Card Ban"/>
                                </f:facet>
                                <h:outputText rendered="#{BingoReportClient.showpin}" value="#{missingOverlay.pin}" />
                            </p:column>
                               <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Fees Cases"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.feetranscount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Fee Total"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.fee}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Commission Cases"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.commtranscount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Commission Total"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.comm}" />
                            </p:column>

                        </p:dataTable>

                    </div>
                </p:panel>
            </div>
        </h:form>

    </h:body>
</html>