<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Cash Loading Errors</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Cash Loading Errors" >
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid id="searchcre" columns="3" >
                                <h:outputText value="Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{LogView.fromDate}" required="true" requiredMessage="Please Enter Date From Field "/>


                                <h:outputText value="Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{LogView.toDate}" required="true" requiredMessage="Please Enter Date From Field "/>


                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                                        <f:facet name="start">

                                        </f:facet>

                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <p:commandButton value="Search"  actionListener="#{LogView.printExceptionLoadingErrorsexcel}"  id="printBtn" update=":form1:results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results" fileName="CashLoadingErrorsExcel" />  
                                </h:commandLink>
                               
                                 <p:commandLink ajax="false" actionListener="#{LogView.printExceptionLoadingErrorspdf}"  >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    <p:fileDownload value="#{LogView.download}" />
                                </p:commandLink>
                                
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="CashLoadingErrorsCSV" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="CashLoadingErrorsXML" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" style="text-align: left" value="#{LogView.exceptionLoadingErrorsList}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Error Name"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.errorName}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.errorDate}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Error Code"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.errorCode}" />
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Function Name"/>
                                </f:facet>
                                 <h:outputText value="#{missingOverlay.functionName}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
        </h:form>
    </h:body>
</html>