<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Profit Report</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />


        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:ajaxStatus onstart="statusDialog.show();" oncomplete="statusDialog.hide();"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Loading..."  resizable="false" draggable="false" closable="false"> 
                <h:graphicImage value="images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel id="searchcre" header="Profit" style=" width: 620px; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:450px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid columns="3" >
                                <h:outputText value="*Transaction Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}"/>

                                <h:outputText value="*Transaction Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" />

                                <h:outputText value="*Settlement Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.settfromDate}"/>

                                <h:outputText value="*Settlement Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.setttoDate}" />

                                <h:outputText value="Type" />
                                <p style="width: 40px" />
                                <p:selectOneMenu  value="#{BingoReportClient.type}" >
                                    <f:selectItem itemEscaped="false" itemValue="All" itemLabel="All" />
                                    <f:selectItem itemEscaped="false" itemValue="ONUS" itemLabel="ONUS" />
                                    <f:selectItem itemEscaped="false" itemValue="OFFUS" itemLabel="OFFUS" />
                                </p:selectOneMenu>

                                <h:outputText value="ATM Name"  />
                                <p style="width: 40px" />
                                <p:selectOneMenu  value="#{BingoReportClient.atmid}"  >
                                    <f:selectItem  itemLabel="---Standard---" itemValue="0" />
                                    <f:selectItems  value="#{BingoReportClient.atmmachinelist}"   var="amountOp" itemLabel="#{amountOp.name}" itemValue="#{amountOp.applicationId}" />
                                </p:selectOneMenu>
                                

                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printProfitexcel}"  id="printBtn" update=":form1:results5,:form1:results6,:form1:results7,:form1:results8,:form1:growl1,:form1:searchcre"/>
                                </h:panelGrid>
                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink id="printreport" type="submit"   actionListener="#{BingoReportClient.printProfit}" >
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                </h:commandLink>
                                <h:commandLink  type="submit" actionListener="#{BingoReportClient.excelProfit}" >
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                </h:commandLink>
                            </h:panelGrid>
                        </div>

                        <p:dataTable id="results5" rendered="#{BingoReportClient.onus}" style="width:600px;" value="#{BingoReportClient.allOnusRecordstotals}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Onus Search Results Totals"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Total Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.totalAmount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.type}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminal}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM Name"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminalName}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Month"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transMonth}" />
                            </p:column>
                        </p:dataTable>
                        <p:spacer/>

                        <p:dataTable id="results6" rendered="#{BingoReportClient.offus}" style="width:600px;" value="#{BingoReportClient.allOffusRecordstotals}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Offus Search Results Totals"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Related Income"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.relatedIncome}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.type}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminal}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM Name"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminalName}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Month"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transMonth}" />
                            </p:column>

                        </p:dataTable>
                        <p:spacer/>

                        <p:dataTable id="results7" rendered="#{BingoReportClient.offus}" style="width:600px;" value="#{BingoReportClient.allVisaOffusRecordstotals}" var="missingOverlay" paginator="true" rows="5">

                            <f:facet name="header">
                                <h:outputText value="Visa Offus Search Results Totals"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transCount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Related Income"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.income}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.type}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminal}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM Name"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminalName}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Month"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transMonth}" />
                            </p:column>

                        </p:dataTable>

                        <p:spacer/>
                        <p:dataTable id="results8" rendered="#{BingoReportClient.offus}" style="width:600px;" value="#{BingoReportClient.allVisaOffusInternationalRecordstotals}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Visa International Search Results Totals"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Related Income"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.income}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Total Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.totalAmount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.type}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminal}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM Name"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.terminalName}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Month"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transMonth}" />
                            </p:column>
                        </p:dataTable>

                    </div>
                </p:panel>
            </div>
        </h:form>
    </h:body>
</html>