<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Visa Settlements</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />



        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:ajaxStatus onstart="statusDialog.show();" oncomplete="statusDialog.hide();"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Loading..."  resizable="false" draggable="false" closable="false"> 
                <h:graphicImage value="images/ajaxloadingbar.gif" />
            </p:dialog>
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel id="searchcre" header="Visa Settlements" style=" width: 620px; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid columns="3" >
                                <h:outputText value="*Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field "/>

                                <h:outputText value="*Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date To Field "/>
                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="1">
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printVisaexcel}"  id="printBtn" update=":form1:results,:form1:results2,:form1:results3,:form1:results4,:form1:growl1,:form1:searchcre"/>
                                </h:panelGrid>
                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink id="printreport"  type="submit"   actionListener="#{BingoReportClient.printVisa}" >
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" style="width:600px;" value="#{BingoReportClient.settmasterresult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Issuer Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Title"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.title}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.amount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                        </p:dataTable>
                        <p:separator />
                        <p:dataTable id="results2" style="width:600px;" value="#{BingoReportClient.settdetailresult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Acquirer Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Title"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.title}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Currency"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.pan}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.amount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                        </p:dataTable>
                        <p:separator />
                        <p:dataTable id="results3" style="width:600px;" value="#{BingoReportClient.setttimeresult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Time From Switch Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Currency"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.currency}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.amount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                        </p:dataTable>
                        <p:separator />
                        <p:dataTable id="results4" style="width:600px;" value="#{BingoReportClient.setttimeresult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Time From Switch Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Title"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.acq}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.currency}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.amount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Count"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.count}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
        </h:form>

    </h:body>
</html>