<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Matching Errors Data</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Matching Errors Data" >
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid id="searchcre" columns="3" >
                                <h:outputText value="Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field "/>


                                <h:outputText value="Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date From Field "/>


                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                                        <f:facet name="start">

                                        </f:facet>

                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printmatchingErrorsDataexcel}"  id="printBtn" update=":form1:results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results" fileName="MissingJournalExcel" />  
                                </h:commandLink>

                                <p:commandLink ajax="false" actionListener="#{BingoReportClient.printmatchingErrorsDatapdf}"  >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                </p:commandLink>

                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="MissingJournalCSV" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="MissingJournalXML" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" value="#{BingoReportClient.matchingErrorsDataList}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Loading Date" />
                                </f:facet>
                                <h:outputText value="#{missingOverlay.loadingDate}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM Id"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.atmApplicationId}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Transaction Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transactionType}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Currency"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.currency}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Transaction Status"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transactionStatus}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Response Code"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.responseCode}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Transaction Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transactionDate}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Transaction Sequence"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transactionSequence}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Card No"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.cardNo}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.amount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Settlement Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.settlementDate}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Notes Presented"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.notesPresented}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Customer Account Number"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.customerAccountNumber}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Error Code"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.errorCode}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Error Message"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.errorMessage}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Error Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.errorDate}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Transaction Data"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transactionData}" />
                            </p:column>


                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>
            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>
    </h:body>
</html>