<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Notes Presented</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
        <!-- JavaScript -->

        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Notes Presented" >
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid  id="searchcre" columns="3" >
                                <h:outputText value="*Date From" />
                                <p style="width: 20px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field ">

                                </p:calendar>

                                <h:outputText value="*Date To" />
                                <p style="width: 20px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date To Field ">

                                </p:calendar>

                                <h:outputText value="ATM Group" />
                                <p style="width: 20px" />
                                <h:selectOneMenu value="#{BingoReportClient.atmInt}" >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItems value="#{BingoReportClient.atmGroupList}" var="ms" itemLabel="#{ms.name}" itemValue="#{ms.id}" />
                                </h:selectOneMenu>

                                <h:outputText value="ATM ID" />
                                <p style="width: 20px" />
                                <p:autoComplete id="acMaxResults" maxResults="5"  value="#{BingoReportClient.rephistoryatmid}"
                                                completeMethod="#{BingoReportClient.complete}" />

                                <h:outputText value="Operator" />
                                <p style="width: 20px" />
                                <h:selectOneMenu value="#{BingoReportClient.procstatus}"  >
                                    <f:selectItem itemLabel="All" itemValue="3" />
                                    <f:selectItem itemLabel="Equal" itemValue="2" />
                                    <f:selectItem itemLabel="Not Equal" itemValue="1" />
                                </h:selectOneMenu>
                            </h:panelGrid>
                            <div align="right">
                                <h:panelGrid columns="3">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0" oncomplete="parent.dlgHide()" onstart="parent.dlgShow()" >
                                        <f:facet name="start">

                                        </f:facet>

                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printNotePresentedexcel}"  id="printBtn" update=":form1:results,results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                            <div align="left">

                                <h:panelGrid columns="4">
                                    <h:commandLink  >
                                        <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                        <p:dataExporter type="xls" target="results" fileName="NotesPresentedExcel" />  
                                    </h:commandLink>


                                    <h:commandLink target="_blank" type="submit"  actionListener="#{BingoReportClient.printNotePresented}" >
                                        <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    </h:commandLink>
                                    <h:commandLink  >
                                        <p:graphicImage url="../images/icons/csv.png"  title="NotesPresentedCSV"  />
                                        <p:dataExporter type="csv" target="results" fileName="NotesPresentedCSV" />  
                                    </h:commandLink>
                                    <h:commandLink  >
                                        <p:graphicImage url="../images/icons/xml.png"  title="NotesPresentedXML"  />
                                        <p:dataExporter type="xml" target="results" fileName="NotesPresentedXML" />  
                                    </h:commandLink>
                                </h:panelGrid>
                            </div>
                        </p:fieldset>


                        <p:dataTable id="results" style="width:95%;" value="#{BingoReportClient.printNotePresResult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.atmapplicationid}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Record Type"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.recordtype}" />
                            </p:column>
                            <p:column headerText="Trans Date">
                                <h:outputText value="#{missingOverlay.transactiondate}" >
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{BingoReportClient.timeZone}"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Card NO"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.cardno}" />
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Currency"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.currency}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.amount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Sequence"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.transactionseqeunce}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Notes Presented"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.notepres}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Notes Presented Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.notepresamount}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>