<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Statement Report</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Statement Report" >
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid id="searchcre" columns="3" >
                                <h:outputText value="*Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field ">

                                </p:calendar>

                                <h:outputText value="*Date To" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}" required="true" requiredMessage="Please Enter Date To Field ">

                                </p:calendar>

                                <h:outputText value="ATM Group" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.atmInt}" >
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItems value="#{BingoReportClient.atmGroupList}" var="ms" itemLabel="#{ms.name}" itemValue="#{ms.id}" />
                                </h:selectOneMenu>

                                <h:outputText value="ATM Name" />
                                <p style="width: 40px" />
                                <p:autoComplete id="acMaxResults" maxResults="5"  value="#{BingoReportClient.rephistoryatmid}"
                                                completeMethod="#{BingoReportClient.complete}" />

                                <h:outputText value="Type" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.network}" >
                                    <f:selectItem itemValue="All" itemLabel="All" />
                                    <f:selectItem itemValue="NETWORK" itemLabel="NETWORK" />
                                    <f:selectItem itemValue="REPLENISHMENT" itemLabel="REPLENISHMENT" />
                                </h:selectOneMenu>

                                <h:outputText value="Status" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.status}" >
                                    <f:selectItem itemValue="ALL" itemLabel="All" />
                                    <f:selectItem itemValue="PENDING" itemLabel="Pending" />
                                    <f:selectItem itemValue="VALIDATED" itemLabel="Validated" />
                                    <f:selectItem itemValue="EXECUTED" itemLabel="Executed" />
                                </h:selectOneMenu>

                            </h:panelGrid>
                            <div align="left" style="color:red; margin: 5px 0">
                                <b>  <h:outputText value="#{BingoReportClient.message}" id="message" /> </b>
                            </div>
                            <div align="right">
                                <h:panelGrid columns="3">
                                   
                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.printreport7excel}"  id="printBtn" update=":form1:results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">

                                <p:commandLink ajax="false" actionListener="#{BingoReportClient.printreport7exportexcel}"  >
                                    <p:graphicImage url="../images/icons/excel.png"  title="Export Excel"  />
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                </p:commandLink>
                                <p:commandLink ajax="false" actionListener="#{BingoReportClient.printreport7pdf}"  >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                </p:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="StatisticsByRemainingCashCSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="StatisticsByRemainingCashCSV" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="StatisticsByRemainingCashXML"  />
                                    <p:dataExporter type="xml" target="results" fileName="StatisticsByRemainingCashXML" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results"  value="#{BingoReportClient.printreport7result}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>

                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.atmid}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Debit.Acc.No"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.debitaccountnumber}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Debit.Currency"/>
                                </f:facet>
                                <h:outputText value="#{BingoReportClient.getCurrencyName(missingOverlay.debitcurrency)}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Debit.Amount"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.debitamount}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Debit.Value.Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.debitvaluedate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{BingoReportClient.timeZone}"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Credit.Value.Date"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.creditvaluedateto}">
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{BingoReportClient.timeZone}"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Debit.Their.Ref"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.debittheirref}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Credit.Acc.No"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.creditaccnumber}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Profit.Center.Dep"/>
                                </f:facet>
                                <h:outputText value="11100000" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Company"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.branch}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Indication"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.indication}" />
                            </p:column>

                        </p:dataTable>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>