<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Revenue</title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form>
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Revenue" style="height: 350px; width: 600px; text-align: left">
                    <div align="center" oncopy="return false;" onpaste="return false;">
                        <p:fieldset style="width:450px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid columns="3" >
                                <h:outputText value="*Date from" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}">
                                    <p:ajax event="blur" update="printBtn"  listener="#{BingoReportClient.disablePrint}"/>
                                </p:calendar>

                                <h:outputText value="*Date to" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss" value="#{BingoReportClient.toDate}">
                                    <p:ajax event="blur" update="printBtn"  listener="#{BingoReportClient.disablePrint}"/>
                                </p:calendar>

                                <h:outputText value="Network Group" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.netInt}"  valueChangeListener="#{BingoReportClient.networkChange}">
                                    
                                    <f:selectItem itemValue="0" itemLabel="All" />
                                    <f:selectItems itemLabelEscaped="true" value="#{BingoReportClient.netList}" var="net" itemLabel="#{net.groupName}" itemValue="#{net.groupId}" />
                                </h:selectOneMenu>

                                <h:outputText value="Type" />
                                <p style="width: 40px" />
                                <h:selectOneMenu value="#{BingoReportClient.typeInt}" >
                                    <f:selectItem itemLabel="Detailed" itemValue="1" />
                                    <f:selectItem itemLabel="Summery" itemValue="2"  />
                                </h:selectOneMenu>

                                <h:outputText  />
                                <p style="width: 40px" />
                                <h:selectOneRadio value="#{BingoReportClient.drawInt}" >
                                    <f:selectItem itemLabel="By Network" itemValue="1" />
                                    <f:selectItem itemLabel="By ATM" itemValue="2"  />
                                </h:selectOneRadio>

                                <h:outputText value="ATM ID" />
                                <p style="width: 40px" />
                                 <p:inputMask id="acMaxResults" value="#{BingoReportClient.atmno}" maxlength="2" mask="9?999999999999"  />
                                      
                                
                                
                            </h:panelGrid>
                            <div align="left" style="color:red; margin: 5px 0">
                                <b>  <h:outputText value="#{BingoReportClient.message}" id="message" /> </b>
                            </div>
                            <div align="right">
                                <h:panelGrid columns="2">
                                    <p:ajaxStatus style="width:16px;height:16px; margin: 0 0 0 0">
                                        <f:facet name="start">
                                            <h:graphicImage value="../images/ajaxloading.gif" />
                                        </f:facet>
                                        <f:facet name="complete">
                                            <h:outputText value="" />
                                        </f:facet>
                                    </p:ajaxStatus>
                                    <h:commandLink target="_blank" type="submit"   actionListener="#{BingoReportClient.printRevenue}" disabled="#{BingoReportClient.printCheck}" id="printBtn"   >
                                        <p:graphicImage url="../images/icons/print.gif"  title="Print"  />
                                    </h:commandLink>

                                </h:panelGrid>
                            </div>
                        </p:fieldset>
                    </div>
                </p:panel>
            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                 <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>