<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Statement Report </title>

        <link rel="stylesheet" type="text/css" media="screen" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/custom-theme/jquery-ui-1.8.1.custom.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/css3.css" />
        <!-- JavaScript -->


        <p:resources/>
        <style>
            .ui-datepicker{
                display:none;
            }
            body{
                background: none;
            }
        </style>

    </h:head>
    <h:body>
        <h:form id="form1">
            <p:growl id="growl1"  autoUpdate="true" />
            <div align="center">
                <p:panel header="Statment Report " style="width: 95%; text-align: left">
                    <div align="center">
                        <p:fieldset style="width:250px;line-height: 35px; margin-top: 25px">
                            <h:panelGrid id="searchcre" columns="3" >
                                <h:outputText value="*Date From" />
                                <p style="width: 40px" />
                                <p:calendar pattern="dd.MM.yyyy HH:mm:ss"  value="#{BingoReportClient.fromDate}" required="true" requiredMessage="Please Enter Date From Field ">

                                </p:calendar>

                                <h:outputText value="ATM Name" />
                                <p style="width: 40px" />
                                <p:autoComplete id="acMaxResults" style="width:100px"  maxResults="5"  value="#{BingoReportClient.rephistoryatmid}"
                                                completeMethod="#{BingoReportClient.complete}" />
                                
                            </h:panelGrid>
                            <div align="left" style="color:red; margin: 5px 0">
                                <b>  <h:outputText value="#{BingoReportClient.message}" id="message" /> </b>
                            </div>
                            <div align="right">
                                <h:panelGrid columns="3">

                                    <p:commandButton value="Search"  actionListener="#{BingoReportClient.searchstatmentreport}"  id="printBtn" update=":form1:results,:form1:searchcre"/>

                                </h:panelGrid>

                            </div>
                        </p:fieldset>

                        <div align="left">
                            <h:panelGrid columns="4">
                                <p:commandLink ajax="false" actionListener="#{BingoReportClient.printstatmentreport}"  >
                                    <p:graphicImage url="../images/icons/pdf.png"  title="Print"  />
                                    <p:fileDownload value="#{BingoReportClient.download}" />
                                </p:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/excel.png"   title="Export Excel"  />
                                    <p:dataExporter type="xls" target="results"  fileName="statmentExcel" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/csv.png"  title="Export CSV"  />
                                    <p:dataExporter type="csv" target="results" fileName="statmentcsv" />  
                                </h:commandLink>
                                <h:commandLink  >
                                    <p:graphicImage url="../images/icons/xml.png"  title="Export XML"  />
                                    <p:dataExporter type="xml" target="results" fileName="statmentxml" />  
                                </h:commandLink>
                            </h:panelGrid>
                        </div>
                        <p:dataTable id="results" style="width:100%;" value="#{BingoReportClient.statmentresult}" var="missingOverlay" paginator="true" rows="5">
                            <f:facet name="header">
                                <h:outputText value="Search Results"/>
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Date From"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.datefrom}">
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{BingoReportClient.timeZone}"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    
                                    <h:outputText value="Date To"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.dateto}">
                                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss"  timeZone="#{BingoReportClient.timeZone}"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="ATM ID"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.atmid}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Opening Balance"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.openingbalance}" />
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Closing Balance"/>
                                </f:facet>
                                <h:outputText value="#{missingOverlay.closingbalance}" />

                            </p:column>
                        </p:dataTable>
                    </div>
                </p:panel>

            </div>
            <p:idleMonitor timeout="900000" onidle="idleDialog.show()" >
                <p:ajax event="idle" listener="#{BingoReportClient.onIdle}" />
            </p:idleMonitor>


            <p:dialog header="Session Expired"      resizable="false" closable="false" draggable="false"
                      widgetVar="idleDialog" modal="true" width="300" styleClass="dialogMonitor" >
                <a href="../Login.xhtml" target="_parent">Click here to Relogin</a>
            </p:dialog>
        </h:form>

    </h:body>
</html>